/* Faq */
.faq {
    margin-bottom: 50px;
}
.faq dt {
    margin: 25px 0 10px;
    font-size: 16px;
    font-weight: bold;
}
.faq dd {
    margin: 0 0 10px;
}
.faq .asection {
    margin: 0 285px 25px 0;
    padding-top: 20px;
    border-top: 1px solid #AAAAAA;
}
.faq #booking {
    padding-top: 0;
    border-top: none;
}
.faq-contents {
    float: right;
    width: 255px;
    font-size: 14px;
    line-height: 18px;
    color: #333;
}
.faq-contents ul {
    margin: 0 0 15px;
    padding-top: 4px;
    border-bottom: 1px solid #AAA;
    padding-left: 1em;
    padding-bottom: 15px;
    list-style: disc;
    color: #ED1192;
}
.faq-contents li {
    margin: 0 0 5px;
}
.fc-fixed {
    position: fixed;
    top: 26px;
    width: 255px;
}