<script type="text/javascript">

$(function(){

	$('fieldset.buttons input').attr('disabled', 'disabled');


});
</script>
<ul>
<%
aa = AirlineAlliance.all()

aa.each do |a|
%>
<li><%= a.name%></li>
<% end %>

	<li>Заготовка 1</li>
	<li>Заготовка 2</li>
	<li>Заготовка 3</li>
</ul>

