<table cellspacing="0" cellpadding="0" width="916" style="font-size: 14px; line-height: 17px; font-family: Arial, sans-serif; color: #333333;">
<col width="320">
<col width="20">
<col width="190">
<col width="20">
<col width="190">
<col width="20">
<col width="156">
<%= render 'pnr/flights' %>
</table>

