a.a-button {
    display: inline-block;

    padding: .4em;

    text-align: center;
    text-decoration: none;

    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    color: #333;
    background-color: #8bb617;

    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    background-image: linear-gradient(top, #fff, #ccc);
    background-image: -moz-linear-gradient(top, #fff, #ccc);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
}

.hover a.a-button {
    color: #eee;
    background-color: #8bb617;

    border: 1px solid #ccc;

    background-image: linear-gradient(top, #9ed01a, #739615);
    background-image: -moz-linear-gradient(top, #9ed01a, #739615);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9ed01a), to(#739615));
}

a.a-button:hover {
    color: #eee;
    border: 1px solid #c52471;
    background-color: #dc3f8a;
    background-image: -moz-linear-gradient(top, #f062a5, #d92c7e);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f062a5), to(#d92c7e));
}

a.a-button:active {
    color: #fff;
    background-image: none;

    padding: .45em .35em .35em .45em;
}


