/* Кнопка сабмита */

.a-button {
    display: inline-block;

    padding: .4em;

    text-align: center;
    text-decoration: none;

    outline: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    color: #333;
    background-color: #d5d5d5;

    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    background-image: linear-gradient(top, #fff, #ededed, #c8c8c8, #ccc);
    background-image: -moz-linear-gradient(top, #fff, #ededed, #c8c8c8, #ccc);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
}

.a-button-pressed {
    background-color: #c9c9c9;

    background-image: linear-gradient(top, #b8b8b8, #c8c8c8, #ededed, #fff);
    background-image: -moz-linear-gradient(top, #b8b8b8, #c8c8c8, #ededed, #fff);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
}

.a-button-ready,
.hover .book .a-button {
    cursor: pointer;

    color: #eee;
    border: 1px solid #7b8e12;
    background-image: linear-gradient(top, #a0b914, #7b8e12);
    background-image: -moz-linear-gradient(top, #a0b914, #7b8e12);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a0b914), to(#7b8e12));
}

.a-button-ready:hover,
.offer .book .a-button:hover {
    color: #eee;
    border: 1px solid #c52471;
    background-color: #dc3f8a;
    background-image: -moz-linear-gradient(top, #f062a5, #d92c7e);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f062a5), to(#d92c7e));
}

.a-button-ready:active {
    padding: .45em .35em .35em .45em;

    background-image: -moz-linear-gradient(top, #d92c7e, #f062a5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d92c7e), to(#f062a5));

    color: #fff;
}


/* Кнопка сворачивания */

.b-expand {
    display: inline-block;

    position: relative;
    left: 0;
    top: 0;
    
    width: 11px;
    height: 6px;
    margin: 0 0 0 .2em;

    cursor: pointer;
    vertical-align: 1px;

    background: url(/img/arr-up-down.gif) no-repeat left bottom;
}

    .b-expand:hover {
        background-position: -11px bottom;
    }

    .b-expand-up {
        background-position: left top;
    }

    .b-expand-up:hover {
        background-position: -11px top;
    }

    .b-expand:active,
    .b-expand-up:active {
        left: 1px;
        top: 1px;
    }
