a.b-pseudo,
.b-pseudo a
{
    position: relative;
    top: -0.14em;

    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;

    border-bottom: 1px dotted;
}

a.b-pseudo u,
.b-pseudo a u
{
    position: relative;
    top: 0.14em;
}

a.b-pseudo i,
.b-pseudo a i
{
    position: absolute;
    left: -20px;

    top: 20%;
    width: 16px;
    height: 16px;
    background: url(/img/ico/info.gif) no-repeat 50%;
}

a.b-pseudo i.b,   /* before */
.b-pseudo a i.b
{
    left: -20px;
}

a.b-pseudo i.a,   /* after */
.b-pseudo a i.a
{
    right: -20px;
}

/* для IE */

a.b-pseudo,
.b-pseudo a
{
    /* hasLayout */
    _height: 0;
    zoom: 1;

    cursor: hand;
}
