a.tip-popup {
    font-size: 85%;

    position: absolute;
    overflow: hidden;
    z-index: 100;

    display: block;
    width: 20px;
    height: 20px;

    text-decoration: none;

    color: #555;
    background: rgba(15, 204, 22, .2);

    border-radius: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    /*
    box-shadow: 0 0 2px #000;
    -moz-box-shadow: 0 0 2px #000;
    -webkit-box-shadow: 0 0 2px #000;
    */
    -o-transition-property: width, height;
    -o-transition-duration: .1s;
    -moz-transition-property: width, height;
    -moz-transition-duration: .1s;
    -webkit-transition-property: width, height;
    -webkit-transition-duration: .1s;
}

a.tip-popup:hover,
a.tip-popup:focus {
    width: 220px;
    height: auto;
    padding: 1em .7em;
    z-index: 101;

    cursor: pointer;

    background-color: rgba(255, 255, 255, 0.9)!important;
    border-radius: 4px;
    box-shadow: 0 0 2px #000;
    -moz-box-shadow: 0 0 2px #000;
    -webkit-box-shadow: 0 0 2px #000;
}

a.tip-popup span {
    font-weight: bold;

    display: block;

    opacity: 0;
}

a.tip-popup:hover span,
a.tip-popup:focus span {
    opacity: 1;
}

a.tip-popup i {
    font-weight: bold;

    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;

    text-align: center;

    color: rgba(15, 204, 22, 1);
}

a.tip-popup:hover i,
a.tip-popup:focus i {
    display: none;
}



