/* Тултип с контекстной картой (BEGIN) */
.location-tip
{
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.location-tip div
{
    padding: 0!important;
    color: #fff!important;
    background: transparent!important;
}

.location-tip .x-tip-header
{
    padding: 5px!important;
    background: #fff!important;
    
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.location-tip .x-tip-header-text
{
    font: normal 75% Arial,a;
    color: #000;
}

.location-tip .x-tip-header-text u
{
    font-weight: normal;
    color: #000;
    cursor: pointer;
}

.location-tip .x-tip-header-text i
{
    padding: 0 2px;
    -moz-border-radius: 6px;
}

.location-tip .x-tip-header-text i.airport
{
    background: #fefefe;
}

.location-tip .x-tip-header-text i.city
{
    background: #fee800;
}

.location-tip img
{
    width: 250px;
    height: 180px;
}

.location-tip .x-tip-body
{
    padding: 0 5px 5px 5px!important;
    background: #fff!important;
    
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

.location-tip .x-panel-nofooter
{
    display: none;
}

.location-tip .x-tool-close
{
    line-height: 15px;
    margin: 0;
    padding: 0;

    text-align: center;

    color: #000!important;
}

.location-tip .x-tool-close:hover
{
    color: #fff!important;
    background: #5d5f61!important;
}
