config/database.yml
doc
log/*
log/**/*.xml
!log/**/.gitkeep
!log/xmls
!log/amadeus
!log/sirena
tmp
db/*.sqlite3
public/ext
public/system
.rake_tasks
.bundle
rerun.txt
*.swp
.idea
.com.*
config/*.sphinx.conf
db/sphinx
.DS_Store
