config/database.yml
config/mongoid.yml
log/*
log/**/*.xml
!log/**/.gitkeep
tmp
db/*.sqlite3
public/assets
public/system
.sass-cache/
.rake_tasks
.bundle
rerun.txt
*.swp
.idea
.powrc
.com.*
config/local.yml
config/local
db/sphinx
.DS_Store
tags
config/newrelic.yml
public/javascripts/all.js
