config/database.yml
doc
log/*
log/**/*.xml
!log/**/.gitkeep
!log/xmls
!log/amadeus
!log/sirena
tmp
db/*.sqlite3
public/ext
public/system
.rake_tasks
.bundle
rerun.txt
*.swp
.idea
.powrc
.com.*
config/local.yml
config/local
db/sphinx
.DS_Store
tags
config/initializers/hoptoad.rb
config/newrelic.yml
public/javascripts/all.js
