<div class="offer">
<% recommendation.variants.each_with_index do |variant, variant_index| %>
<div class="offer-variant<%= ' g-none' if variant_index > 0 %>" data-departures="<%= segments_departure variant %>" data-options='<%= variant.summary.to_json %>'>
    <%= render :partial => 'variant', :locals => {:variant => variant, :recommendation => recommendation} %>
</div>
<% end %>
</div>
