<% if @recommendations.present? %>
  <table border="0" style='width: 100%'><tr valign="top">
      <%= render :partial => 'recommendation', :collection => @recommendations %>
  </tr></table>
<% else %>
<% end %>

