<% if @recommendations.present? %>
    <div id="offers-collection" data-filters='<%= Recommendation.summary(@recommendations).to_json %>'>
        <%= render :partial => 'recommendation', :collection => @recommendations %>
    </div>
<% else %>
    <h2>Таких рейсов нет, попробуйте другие даты.</h2>
<% end %>
