<% if @recommendations.present? %>
<div id="offers-best" class="offers">

</div>
<div id="offers-best" class="offers">
	<%= render :partial => 'recommendation', :collection => @recommendations %>
</div>
<% else %>
    <h2>Таких рейсов нет, попробуйте другие даты.</h2>
<% end %>
