
<table>

    <colgroup>
        <col width="118">
        <col width="142">
        <col width="155">
        <col width="142">
        <col width="118">

    <thead>
        <tr>
            <th title="Из них тариф <%= recommendation.prices.map{|p| p.to_i.to_s }.join(' руб. и сборы ');%> руб.">
                <%= recommendation.price_total.to_i %>&nbsp;<s class="rur">р<s>уб.</s></s>
            <td colspan="3">
                <a href=# class="b-pseudo" title="Развернуть это предложение" onclick="return false"><u>Подробнее о&nbsp;перелёте</u></a>
            <td>
                <a href=# class="a-button">Купить</a>


                <% form_for PNRForm.new(:flight_codes => variant.flight_codes), :url => '/pnr_form/', :html => {:method => :post} do |fr| %>

                <% for f in variant.flight_codes %>
                <%= hidden_field_tag 'pnr_form[flight_codes][]', f %>
                <% end %>

                <input type="submit" value="Купить">
                <% end %>

    <tbody>

        <% variant.segments.each_with_index do |segment, segment_counter| %>
            <%= render :partial => 'segment', :locals => {:segment => segment, :variant => variant, :segment_counter => segment_counter} %>
        <% end %>


    <tfoot>
        <tr>
            <td>
            <td colspan="4">

</table>
