<%= link_to 'очистить', pricer_url %>
<%= render :partial => 'form' %>

<hr>

<% if @error_message %>
  <div style="color:red">
  <%= @error_message %>
  </div>
<% end %>
<% if @recommendations.present? %>
  <table border="0" style='width: 100%'><tr valign="top">
      <%= render :partial => 'recommendation', :collection => @recommendations %>
  </tr></table>
<% end %>
