/* Кнопка сабмита */

.a-button,
a.a-button {
    display: inline-block;

    padding: 0.4em;

    text-align: center;
    text-decoration: none;

    outline: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    color: #333;
    background-color: #d5d5d5;

    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    background-image: linear-gradient(top, #fff, #ededed, #c8c8c8, #ccc);
    background-image: -moz-linear-gradient(top, #fff, #ededed, #c8c8c8, #ccc);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#cccccc')";
}
input.a-button::-moz-focus-inner {
    border: none;
}

.a-button-pressed {
    background-color: #c9c9c9;

    background-image: linear-gradient(top, #b8b8b8, #c8c8c8, #ededed, #fff);
    background-image: -moz-linear-gradient(top, #b8b8b8, #c8c8c8, #ededed, #fff);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
}

.a-button-ready,
.hover .book .a-button {
    cursor: pointer;

    color: #FFF;
    border: 1px solid #7b8e12;
    background-color: #a0b914;
    background-image: linear-gradient(top, #a0b914, #7b8e12);
    background-image: -moz-linear-gradient(top, #a0b914, #7b8e12);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a0b914), to(#7b8e12));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#a0b914', endColorstr='#7b8e12')";
}

.a-button-ready:hover,
.offer .book .a-button:hover,
.offer .changed-price a.a-button:hover,
.booking .tds-submit a.a-button:hover,
#offers-diagram .selected a.a-button {
    color: #FFF;
    border: 1px solid #c52471;
    background-color: #ed1192;
    background-image: -moz-linear-gradient(top, #f21194, #e5108d);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f21194), to(#e5108d));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f21194', endColorstr='#e5108d')";
}

.a-button-ready:active {
    background-image: -moz-linear-gradient(top, #f21194, #e5108d);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f21194), to(#e5108d));
    color: #fff;
}
