%air_sellfromavailability{:xmlns => "http://xml.amadeus.com/ITAREQ_05_1_IA"}
  %itinerarydetails
    %origindestinationdetails
      %origin NCE
      %destination JFK
    %segmentinformation
      %travelproductinformation
        %flightdate
          %departuredate 150505
        %boardpointdetails
          %truelocationid NCE
        %offpointdetails
          %truelocationid CDG
        %companydetails
          %marketingcompany DL
        %flightidentification
          %flightnumber 83
          %bookingclass Y
        %itemnumber 22
      %relatedproductinformation
        %quantity 2
        %statuscode NN
    %segmentinformation
      %travelproductinformation
        %flightdate
          %departuredate 150505
        %boardpointdetails
          %truelocationid CDG
        %offpointdetails
          %truelocationid JFK
        %companydetails
          %marketingcompany DL
        %flightidentification
          %flightnumber 119
          %bookingclass E
        %itemnumber 22
      %relatedproductinformation
        %quantity 2
        %statuscode NN
