%pnrLocatorData
  %reservationInformation
    %controlNumber= number 
%overrideInformation
  %attributeDetails
    %attributeType RLA
%currencyOverride
  %firstRateDetail
    %currencyCode= 'RUB'

  
