%placementOption
  %selectionDetails
    %option QEQ
%targetDetails
  %targetOffice
    %sourceType
      %sourceQualifier1 3
    %originatorDetails
      %inHouseIdentification1 NYCP02001
  %queueNumber
    %queueDetails
      %number 3
  %categoryDetails
    %subQueueInfoDetails
      %identificationType C
      %itemNumber 0
%recordLocator
  %reservation
    %controlNumber= number