/* Описание агенства (BEGIN) */
    .b-intro
    {
        position: relative;
        z-index: 1;

        width: 100%;
        padding: 1em 0 1.1em 15px;
        background: #fff;
    }

    .b-intro h1
    {
        font: bold 160%/120% Arial,a;

        width: 610px;

        letter-spacing: -1px;
        color: #555;
    }

    .b-intro img
    {
        position: absolute;
        left: 630px;
        top: -39px;
        width: 206px;
        height: 206px;
    }

    .b-intro h1 i
    {
        font-weight: bold;
        color: #d93c86;
    }

    .b-intro h1 b
    {
        font-weight: bold;
        color: #a3bd0c;
    }

    .b-intro p
    {
        font: 70%/100% Arial,a;

        position: absolute;
        left: 840px;
        bottom: 0.6em;

        width: 120px;
    }

    .b-intro p a
    {
        color: #666;
    }

    .b-intro p a:hover
    {
        color: #f66;
    }
/* Описание агенства (END) */

/* Промо-блок (BEGIN) */
    .promo
    {
        clear: both;

        overflow: hidden;
        zoom: 1;

        margin: 0;
        padding: 0;
    }

    .promo ul
    {
        position: relative;
        z-index: 3;
        overflow: hidden;
    }

    .promo li
    {
        float: left;
        overflow: hidden;
        width: 240px;
        height: 150px;
        background-repeat: no-repeat;
        background-position: 50%;
    }

    .promo li.p1
    {
        background-image: url(/img/promo/pic-1.jpg);
    }

    .promo li.p2
    {
        background-image: url(/img/promo/pic-2.jpg);
    }

    .promo li.p3
    {
        background-image: url(/img/promo/pic-3.jpg);
    }

    .promo li.p4
    {
        background-image: url(/img/promo/pic-4.jpg);
    }

    .promo li.p5
    {
        background-image: url(/img/promo/pic-5.jpg);
    }

    .promo li.p6
    {
        background-image: url(/img/promo/pic-6.jpg);
    }

    .promo li.p7
    {
        background-image: url(/img/promo/pic-7.jpg);
    }

    .promo li.p8
    {
        background-image: url(/img/promo/pic-8.jpg);
    }

    .promo li a
    {
        font: bold 130%/100% Arial,a;
        display: block;

        float: left; 
        padding: 0.2em 0.5em 0 0.4em;
        
        outline: none;
        text-decoration: none;

        letter-spacing: -1px;
        color: #fff;
        background: rgba(50, 50, 50, 0.6);
    }

    .promo li.no-price a
    {
        padding: 0.2em 0.4em 0.4em 0.4em;
    }

    .promo li a:hover
    {
        background: rgba(50, 50, 50, 0.8);
    }

    .promo li a i
    {
        font: 60%/100% Arial,a;

        display: -moz-inline-box;
        display: inline-block;

        margin: 0.4em 0 0 0;
        padding: 0.2em 0.3em;
        letter-spacing: 0;

        background: #d93d87;
    }
/* Промо-блок (END) */

/* Вводный блок (BEGIN) */
    .b-start
    {
        width: 960px;
        height: auto;
        position: absolute;
        z-index: 9999;
        left: 0px;
        top: 0;
        overflow: auto;
        border: 0 solid #909090;
        -moz-box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.6);
        -moz-border-radius: 10px;
        border-radius: 10px;
        
        clear: both;

        zoom: 1;

        margin: 0;
        padding: 0;
        background: #fff;
    }

    .b-start .b-intro
    {
        width: 945px;
        padding: 1em 0 1em 15px;
        -moz-border-radius: 10px 10px 0 0;
        border-radius: 10px 10px 0 0;
        border-bottom: 1px #ddd solid;
        background: #eee;
    }

    .b-start ul
    {
        width: 340px;
        margin: 1em 0 0 0;

        float: left;
        overflow: hidden;
    }

    .b-start li
    {
        font-size: 80%;

        width: 305px;
        padding: 0 0 10px 15px;

        background-repeat: no-repeat;
        background-position: 50%;
        color: #333;
    }

    .b-start li p
    {
        margin: 0.4em 0;
    }

    .b-start li h3
    {
        font: bold 140% Arial,a;
        min-height: 48px;
        padding: 0 0 0 60px;
        background: none no-repeat top left;
    }

    .b-start li.p1 h3
    {
        background-image: url(/img/start/1264013999_clone-old.png);
    }

    .b-start li.p2 h3
    {
        background-image: url(/img/start/1264014034_search-filter.png);
    }

    .b-start li.p3 h3
    {
        background-image: url(/img/start/1264014073_speed_kmh.png);
    }

    .b-start li.p4 h3
    {
        background-image: url(/img/start/1264014018_starthere.png);
    }

    .b-start li.p5 h3
    {
        background-image: url(/img/start/1264013958_browser-go.png);
    }

    .b-start li.p6 h3
    {
        background-image: url(/img/start/1264014060_vcalendar.png);
    }

    .b-start li.p7 h3
    {
        background-image: url(/img/start/Tentacles_creature_48x48.png);
    }

    .b-start li.p8 h3
    {
    }

    .b-start li .b-pseudo
    {
        color: #333;
    }

    .b-start li .b-pseudo:hover
    {
        color: #000;
    }

    .b-start a.button
    {
        font: bold 140%/140% Arial,a;
        line-height: 1.1em;

        margin: 15px 0 0 0;
        padding: 10px 15px;

        display: inline-block;
        width: auto;
        xheight: 60px;
        
        outline: none;
        text-decoration: none;

        letter-spacing: -0.03em;

        border: 1px solid;

        color: #fff;
        background: #d93c86;
        border-color: #dd8fb4 #732449 #732449 #dd8fb4;
        -moz-border-radius: 8px;
        border-radius: 8px;

    }

    .b-start a.button:hover
    {
        color: #fff;
        background: #c00;
    }

/* Вводный блок (END) */
