/* ================== */

/* всплывающий список */

/* ================== */

.define-popup {
    display: none;

    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    overflow: hidden;
    zoom: 1;

    background: #3b3b3b;

    background-image: -moz-linear-gradient(top, #484848, #2d2d2d);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#484848), to(#2D2D2D), color-stop(.5,#3B3B3B));

    /*
    попробовать сделать закругления в IE через VML:
    behavior: url(/js/behavior/border-radius.htc);
    */

    border-radius: .4em;
    -moz-border-radius: .4em;
    -webkit-border-radius: .4em;

    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.45);
}

.define-popup dl {
    float: left;
    padding: 2px 0 4px 0;

    letter-spacing: -.02em;
}
.define-popup dt {
    padding: 4px 12px 4px 16px;

    white-space: nowrap;
    cursor: default;

    color: #f2cd1f;
}

.define-popup dd {
    font-size: 75%;

    color: #36d4f1;
}

/* список с разделителем */

.define-popup dl.separated {
    border-right: 1px solid #555;
}

/* пригашенное состояния */

.define-popup dl.fade {
    display: block;
    opacity: 0.2;
    filter: alpha(opacity=10);
}

/* ссылка в списке */
    
.define-popup dd a {
    display: block;
    position: relative;

    padding: 4px 12px 4px 16px;

    text-decoration: none;
    white-space: nowrap;

    color: #36d4f1;
}

/* галочка */

.define-popup dd a i {
    display: block;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -3px;

    width: 7px;
    height: 7px;

    background: transparent url(/img/ico/check2.png) no-repeat 0 -7px;
}

/* выбранное значение */

.define-popup dd a.checked {
}

.define-popup dd a.checked i {
    background-position: 0 0;
}

/* ховер */

.define-popup dd a:hover {
    color: #ddd;
    background-color: #dc3f8a;
}

.define-popup dd a:hover i {
    background-position: 0 -14px;
}

/* ховер над отмеченным */

.define-popup dd a.checked:hover {
    color: #fff;
}

.define-popup dd a.checked:hover i {
    background-position: 0 0;
}

/* значение по умолчанию */

.define-popup dd a.anyone {
    font-weight: bold;

    color: #fff;
}

.define-popup dd a.anyone:hover {
}

/* радио-режим: только одно отмеченное значение; галочки не нужны */

.define-popup-radio {

}

.define-popup-radio dd a i {
    display: none;
}

.define-popup-radio dd a.checked i {
    display: block;
}
    
.define-popup dd a.checked {
    olor: #fff;
}

/* Кнопка [Закрыть] */

.define-popup .a-button {
    font: bold 65% Arial,a;

    display: block;

    clear: both;

    margin: .6em .5em;
}

/* Кнопка [Закрыть], второй вариант */
/*
.define-popup dd.btn {
    font-size: 70%;
}

.define-popup dd.btn a {
    height: 22px;
    line-height: 22px;

    margin: 0 0 0 16px;
    padding: 0 .6em 0 .2em;

    text-align: center;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    color: #a8a8a8;
    background-color: #444;
}

.define-popup dd.btn a s {
    position: absolute;
    top: 0;
    left: -16px;

    border-style: solid;
    border-width: 22px 0 0 16px;
    border-color: #444 transparent transparent transparent;
}

.define-popup dd.btn a:hover {
    color: #fff;
    background-color: #dc3f8a;
}

.define-popup dd.btn a:hover s {
    border-color: #dc3f8a transparent transparent transparent;
}
*/
