/* ================ */

/* панель уточнений */

/* ================ */

.define {
    width: 100%;

    position: relative;
 
    letter-spacing: -.02em;
    
    color: #4b4b4b;
    border-collapse: collapsed;
}

.define th {
    font-weight: bold;

    width: 1%;
    padding: 0 0 15px 15px;

    text-align: right;

    color: #ed1192;
}

.define td {
    padding: 0 15px 15px 10px;
}

/* "Уточнить" */

.define#search-define
{
    background: #3e3e3e;
}

.define#search-define tr {
    font-size: 22px;

    border-top: none;
}

.define#search-define td {
    padding: 11px 0 10px 10px;

    vertical-align: top;

    color: #ccc;
}

.define#search-define th {
    padding-top: 11px;
    padding-bottom: 10px;

    text-align: left;
    vertical-align: top;
    line-height: 140%;    
}

.define#search-define td a {
    color: #ccc;
}

.define#search-define #search-submit
{
    padding: 10px 15px 10px 80px;

    color: #fff;
    background-color: #3e3e3e;
}


.define .group
{
    display: inline;
}

.define p {
    display: inline;
    position: relative;

    line-height: 140%;
}

.define a {
    color: #4b4b4b;
}

.define a:hover {
    color: #000;
}

.define thead a {
    color: #CCC;
    border-color: #CCC;
}
.define thead a:hover {
    color: #FFF;
}

.define b {

}

.define b a
{
    color: #ed1192;
    border: none;
}

.define b.left a
{
    margin-left: 0;
}

.define b a u
{
    color: #ed1192;
}

.define b a:hover u
{
    text-decoration: line-through;
}