.footer {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    border-top: #ddd 1px solid;
    background: #fff;
    font-size: 12px;
    line-height: 16px;
}

.f-info {
    position: absolute;
    top: 15px; left: 15px;
    width: 250px;
    color: #777;
}
.f-info .social {
    margin-top: 1em;
}
.f-info strong {
    font-weight: bold;
}
.f-info a {
    color: #777;
}

.f-links {
    position: absolute;
    top: 15px; left: 350px;
}
.f-links li {
    margin: 0 0 3px;
}
.f-links a {
    color: #3270a6;
}

.f-partners {
    position: absolute;
    top: 15px; left: 713px;
    width: 232px;
}

.footer a:hover {
    color: #ed1192;
}
