.fcontent {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    font-size: 12px;
    line-height: 16px;
}
.finfo {
    position: absolute;
    top: 15px; left: 0;
    width: 250px;
    color: #777;
}
.finfo .social {
    margin-top: 1em;
}
.finfo strong {
    font-weight: bold;
}
.finfo a {
    color: #777;
}
.flinks {
    position: absolute;
    top: 15px; left: 350px;
}
.flinks li {
    margin: 0 0 3px;
}
.fpartners {
    position: absolute;
    top: 15px; left: 728px;
    width: 232px;
}
#footer a:hover {
    color: #ed1192;
}
