/* Сброс (начало) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

i, b, u, s {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

/* remember to define focus styles! */

:focus {
    outline: 0;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

a:link, a:visited {
    outline: none;
    color: #333;
}

a:hover {
    color: #DC3F8A;
}

img {
    border: 0;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

/* Сброс (конец) */

html,
body 
{
    height: 100%;
}

body {
    font: 100% Arial,Helvetica,sans-serif;

    text-align: center;

    color: #000;
    /*background: url("/img/bg/bg1.jpg") no-repeat 50% 0% #004472;*/
    background: #0366a3;
}

body * {
    font-family: Arial,Helvetica,sans-serif;
    text-align: left;
}

::-moz-selection {
    background: #D93D87;
    color: #fff;
}

::selection {
    background: #D93D87;
    color: #fff;
}


/* классы-шоткаты */

.g-none
{
    display: none!important;
}

.g-hidden
{
    visibility: hidden!important;
}

.g-fixed
{
    position: fixed!important;
}

.g-middle
{
    vertical-align: middle!important;
}

/* утилиты */
.clear:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.wrap {
    overflow: hidden;
}
.wrap,
.clear {
    zoom: 1;
}
