/* Reset */
html, body {
	height: 100%;
}
html, body, td, th, form,
h1, h2, h3, h4, h5, h6, p,
ul, ol, li, dl, dt, dd, pre {
	margin: 0;
	padding: 0;
}
table {
	border: none;
    border-spacing: 0;	
	border-collapse: collapse;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
ul {
	list-style: none;
}
img	{
	border: none;
}
:focus {
    outline: 0;
}

/* Clear */
.clearfix:after {
	display: block;
	clear: both;
	overflow: hidden;
	height: 0;
	content: ' ';
	font-size: 0;
}
.wrap {
	overflow: hidden;
}
* html .wrap,
* html .clearfix,
*+html .wrap,
*+html .clearfix {
	zoom: 1;
}

/* Links */
a:link,
a:visited {
    outline: none;
    color: #3270A6;
}
a:hover {
    color: #ED1192;
}
.link {
    text-decoration: underline;
    color: #3270A6;
    cursor: pointer;
}
.link:hover {
    color: #ED1192;
}
.pseudo {
    position: relative;
    top: -0.14em;
    border-bottom: 1px dotted #333;
    text-decoration: none;
    cursor: pointer;
}
.pseudo em {
    position: relative;
    top: 0.14em;
    font-style: normal;
}
.pseudo:hover {
    color: #ED1192;
    border-color: #ED1192;
}

/* Text */
body,
input,
select,
textarea {
    font: 14px/1.357 Arial, Helvetica, sans-serif;
    color: #333;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
::-moz-selection {
    background: #D93D87;
    color: #fff;
}
::selection {
    background: #D93D87;
    color: #fff;
}

/* Shortcuts */
.latent {
    display: none;
}
.g-none {
    display: none!important;
}
.g-external {
    background: url('/img/ico/external-link.png') no-repeat scroll right center transparent;
    padding-right: 13px;
}

/* Сброс (начало) */
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}*/
/* Сброс (конец) */


/* Шрифты */
/*
.g-xxxl
{
    font-size: 214.286%;
}

.g-xxl
{
    font-size: 157.143%;
}

.g-xl
{
    font-size: 128.571%;
}

.g-l
{
    font-size: 114.286%;
}

.g-s
{
    font-size: 92.857%;
}

.g-xs
{
    font-size: 85.714%;
}

.g-xxs
{
    font-size: 78.571%;
}*/
