#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100%;
    height: 42px;
    background: #FFF;
}
.hcontent {
    position: relative;
    width: 960px;
    margin: 0 auto;
    font: 20px/22px bold Arial, sans-serif;
    letter-spacing: -0.025em;
    color: #777;
}
.ipad-safari .hcontent,
.iphone-safari .hcontent {
    width: 930px;
}
#header .shadow {
    position: absolute;
    top: 42px; left: 0;
    z-index: -1;
    width: 100%; height: 6px;
    background: url(/img/header/shadow.png) repeat-x;
}

#logo {
    position: absolute;
    top: 0; left: -10px;
    padding: 7px 10px 12px;
    cursor: pointer;
}

#header .tabs {
    displayL: inline;
    float: left;
    margin: 0 20px 0 133px;
}
#header .tabs li {
    position: relative;
    float: left;
}
#header .tabs li.active {
    background: #ED1192;
}
#header .tabs a {
    float: left;
    height: 22px;
    padding: 10px 20px;
    white-space: nowrap;
    text-decoration: none;
    color: #ED1192;
    outline: none;
   
}
#header .active a {
    color: #FFF;
    cursor: default;
}
#header .tabs .arrow {
    display: none;
    position: absolute;
    left: 50%; top: 42px;
    margin-left: -7px;
    width: 15px; height: 8px;
    background: url(/img/header/tab.png) no-repeat;
}
#header .tabs .arrow {
    display: block;
}

#header .phone {
    float: right;
    margin-top: 10px;
}
#header .phone strong {
    font-weight: normal;
    color: #2c2c2c;
}

#header .soon {
    float: left;
    margin-top: 11px;
    font-size: 14px;
    letter-spacing: -0.015em;
}
#header .soon strong {
    font-weight: normal;
    color: #ED1192;
}

/* Share icons */
#ya-share {
    display: inline;
    float: left;
    margin: 7px 0 0 65px;
    font-size: 14px;
    letter-spacing: -0.015em;
}
#ya-share .b-share {
    font-size: 100%;
    line-height: 18px;
}
#ya-share .b-share__text {
	position: relative;
}
#ya-share .b-share__handle:hover .b-share__text {
    color: #ED1192;
}
