/* Wrapper */

.l-wrapper {
    position: relative;
    width: 960px;
    min-height: 100%;
    margin: 0 auto;
    background: #e5e5e5;
}

.l-content {
    padding-top: 42px;
    padding-bottom: 230px;
}

/* Crop */

.l-crop {
    overflow: hidden;
}

.l-overlay {
    display: none;
}

.l-crop .l-canvas {
    position: relative;    
}

.l-crop .l-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    background: #e5e5e5;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

/* Footer */

.l-footer {
    position: absolute;
    bottom: 0;
    width: 960px;
    height: 210px;
    margin: 0 auto;
    background: #FFF;
}
