#promo {
    width: 960px;
    margin: 0 auto;
    color: #3e3e3e;
}
#promo .facebook {
    float: right;
    width: 240px;
    margin: 15px 0 0 0;
    background: #FFF;
}
#promo .description {
    margin-right: 255px;
    /*border-bottom: 1px solid #DDD;*/
    padding: 17px 15px 1px 255px;
    background: url(/img/promo/photo.jpg) no-repeat 0 100%;
    letter-spacing: -0.035em;
}
#promo .description h2 {
    margin: 0 0 3px;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    color: #ED1192;
}
#promo .description h5 {
    margin: 0 0 10px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
}
#promo .description p {
    margin: 0 0 14px;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    color: #777;
}
#promo .airlines {
    margin-right: 240px;
    padding-bottom: 20px;
    background: url(/img/promo/bgr.jpg) no-repeat;
}
#promo .airlines p {
    text-align: center;
    padding: 28px 0;
}
#promo .airlines h6 {
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    color: #777;
}