#promo {
    padding: 17px 15px 16px 350px;
    background: url(/img/promo/photo.jpg) no-repeat 20px 32% #e5e5e5;
    font-size: 87.5%;
    font-weight: bold;
    color: #666;
}
#promo h3 {
    margin: 0 0 8px;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.035em;
    color: #333;
}
#promo .airlines {
    color: #ED1192;
}
#promo .prices {
    color: #587a00;
}