
<div id="sidebar">
  <ul>
    <a href="/admin/tickets"><li class="header">Билеты</li></a>
  <ul>

  <ul>
    <a href="/admin/orders"><li class="header">Заказы</li></a>
  </ul>

  <ul>
    <a href="/admin/order_comments"><li class="header">Комментарии</li></a>
  </ul>

  <ul>
    <a href="/admin/payments"><li class="header">Платежи</li></a>
  <ul>
</div>

<h2>Ссылки</h2>
<p>
<a href="/">Главная</a><br>
<a href="http://team.eviterra.ru">Redmine</a><br>
<a href="https://www.google.com/a/eviterra.com">Почта</a>
</p>
