<h2>Ссылки</h2>
<p>
<a href="/">Главная</a><br>
<a href="http://team.eviterra.ru">Redmine</a><br>
<a href="https://www.google.com/a/eviterra.com">Почта</a>
</p>
<p>
<a href="<%= admin_commissions_url %>">Комиссии</a><br>
</p>
<p>
<a href="/admin/counters">Счетчики (альфа)</a><br>
</p>
