/* Menu */
.profile-menu {
    margin: 20px 0 30px;
    overflow: hidden;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}
.pm-item {
    margin-right: 30px;
    float: left;
}

/* Order */
.order {
    margin: 0 -14px 15px;
    background: #FFF;
}

/* Summary */
.order-summary {
    width: 100%;
}
.order-summary th {
    padding: 10px 0 0 14px;
    font-size: 11px;
    line-height: 13px;
    color: #777;
    text-transform: uppercase;
}
.order-summary td {
    padding: 6px 0 0 14px;
    line-height: 16px;
}
.order-summary .ors-right {
    padding-right: 14px;
    text-align: right;
}
.ors-route-raw {
    margin-top: 5px;
    font-size: 11px;
    line-height: 13px;
}

/* Controls */
.order-controls {
    margin: 14px 14px 0;
    padding-bottom: 10px;
    overflow: hidden;
    font-size: 12px;
    line-height: 14px;
}
.orc-show {
    float: left;
    margin-right: 25px;
    color: #777;
    text-decoration: underline;
}
.orc-pnr a {
    color: #777;
}

/* Passengers */
.ord-passengers {
    border-top: 1px solid #CCC;
    padding: 6px 0 14px;
}
.ord-passengers th {
    padding: 10px 0 0 14px;
    font-size: 11px;
    line-height: 13px;
    color: #777;
    text-transform: uppercase;
}
.ord-passengers td {
    padding: 6px 0 0 14px;
    line-height: 16px;
}

/* Flights */
.ord-flights {
    border-top: 1px solid #CCC;
    padding: 6px 0 14px;
}
.ord-flights th {
    padding: 10px 0 0 14px;
    font-size: 11px;
    line-height: 13px;
    color: #777;
    text-transform: uppercase;
}
.ord-flights td {
    padding: 6px 0 0 14px;
    line-height: 16px;
}

/* Debug */
.po-debug {
    background: #454752;
    color: #d9d9d9;
    font-size: smaller;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}