/* Header */
#profile-header {
    position: relative;
    background: url(/images/common/dark.jpg) #373941;
}
.prh-content {
    width: 960px;
    margin: 0 auto;
    padding: 24px 0;
    height: 22px;
}
.prh-search {
    margin-top: 2px;
    float: right;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #CECBA1;
    text-decoration: none;
}
.prh-name {
    font-weight: bold;
    font-size: 22px;
    letter-spacing: -0.03em;
    line-height: 22px;
    color: #FFF;
}
.prh-shadow {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 10px;
    background: url(/images/results/fshadow.png) repeat-x;
}

/* Tabs */
#profile-tabs {
    margin-bottom: 20px;
    /*background: url(/images/common/dark.jpg) #373941;*/
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.03em;
    color: #FFF;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#profile-tabs .wrap {
    width: 988px;
    margin: 0 auto;
}
.pt-item {
    float: left;
    height: 20px;
    margin-bottom: -1px;
    padding: 12px 14px 13px;
    cursor: pointer;
}
.pt-selected {
    background: url(/images/common/dgrey.png) #bfc4c8;
    color: #333;
    cursor: default;
}

/* Временно, пока нет других табов */
#profile-tabs {
    margin: 5px 0 -20px;
}
.pt-item {
    display: none;
}
.pt-selected {
    display: block;
    height: 30px;    
    font-size: 26px;
    line-height: 30px;
}




/* No orders */
.orders-empty {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    margin: -20px 0 0 -300px;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
}

/* Order */
.order {
    margin: 0 -14px 15px;
    background: #FFF;
}

/* Summary */
.order-summary {
    width: 100%;
}
.order-summary th {
    padding: 10px 0 0 14px;
    font-size: 11px;
    line-height: 13px;
    color: #777;
    text-transform: uppercase;
}
.order-summary td {
    padding: 6px 0 0 14px;
    line-height: 16px;
}
.order-summary .ors-right {
    padding-right: 14px;
    text-align: right;
}
.ors-route-raw {
    margin-top: 5px;
    font-size: 11px;
    line-height: 13px;
}

/* Controls */
.order-controls {
    padding: 14px 14px 10px;
    overflow: hidden;
    font-size: 12px;
    line-height: 14px;
}
.orc-show,
.orc-hide {
    float: left;
    margin-right: 25px;
    color: #777;
    text-decoration: underline;
    cursor: pointer;
}
.orc-hide {
    display: none;
}
.orc-links {
    margin: 0 -6px;
    padding: 4px 6px;
    color: #777;
}
.orc-link {
    margin-left: 5px;
    color: #777;
}

/* Details */
.order-details {
    display: none;
}

/* Passengers */
.ord-passengers {
    border-top: 1px solid #DDD;
    padding: 6px 0 14px;
}
.ord-passengers th {
    padding: 10px 0 0 14px;
    font-size: 11px;
    line-height: 13px;
    color: #777;
    text-transform: uppercase;
}
.ord-passengers td {
    padding: 6px 0 0 14px;
    line-height: 16px;
}
.ordp-ticket {
    margin-right: 5px;
    color: #777;
}

/* Flights */
.ord-flights {
    border-top: 1px solid #DDD;
    padding: 6px 0 20px;
}
.ord-flights table {
    width: 100%;
}
.ord-flights th {
    padding: 10px 0 0 14px;
    font-size: 11px;
    line-height: 13px;
    color: #777;
    text-transform: uppercase;
}
.ord-flights td {
    padding: 14px 0 0 14px;
    font-size: 13px;
    line-height: 16px;
}
.ordf-route {
    margin: 0 0 2px;
    font-weight: bold;
    font-size: 14px;    
}
.ordf-date {
    margin: 0 0 2px;
    font-weight: bold;
    font-size: 14px;
}
.ordf-time {
    margin: 2px 0;
    font-weight: bold;
    font-size: 16px;
}
.ordf-fare {
    margin: 0 0 2px;
    font-size: 14px;
}

/* Debug */
.order-debug {
    background: #454752;
    color: #d9d9d9;
    padding: 8px 14px;
}