/* Return to search */
#back2search {
    padding: 13px 0 14px;
    background: #3e3e3e;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.035em;
}
#back2search .bscontent {
    width: 960px;
    margin: 0 auto;
}
#back2search a {
    color: #CCC;
}

/* Article */
.article {
    width: 960px;
    margin: 15px auto;
    font-size: 14px;
    line-height: 19px;
    color: #333;
}
.article h2 {
    margin: 0 0 12px;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.035em;
}
.article h2 strong {
    color: #ED1192;
}
.article h4 {
    margin: 0 0 6px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.article p {
    margin: 0 0 12px;
}
.article strong {
    font-weight: bold;
}
.article ol,
.article ul {
    margin: 12px 0 12px 25px;
}
.article ol ul {
    margin-top: 4px;
    margin-bottom: 8px;
}
.article ul {
    list-style: disc;
}
.article li {
    margin: 0 0 8px;
}
.article ol ul li {
    margin: 0 0 4px;
}
.asection {
    margin: 0 0 25px;
}

.agreement ol {
    list-style-type: none;
    margin-left: 0;
}
.agreement li.asection {
    margin: 0 0 25px;
}
.agreement ol ol {
    list-style-type: none !important;
    list-style-type: decimal;
    margin-left: 3em;
}
.agreement ol {
    counter-reset: list1;
}
.agreement > ol > li {
    counter-increment: list1;
    margin-left: 0;
}
.agreement h3 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.035em;
    line-height: 24px;
}
.agreement ol > li h3:before {
    content: counter(list1) ". ";
}
.agreement ol ol {
    margin-left: 3em;
    list-style-type: none !important;
    list-style-type: decimal;
    counter-reset: list2;
}
.agreement ol ol > li:before {
    counter-increment: list2;
    content: counter(list1) "." counter(list2);
    position: absolute;
    width: 2.3em;
    margin-left: -3em;
    text-align: right;
}
.agreement ol ol ul {
    margin-left: 16px;
}
.agreement ol ol ol {
    margin-left: 3.5em;
    counter-reset: list3;
}
.agreement ol ol ol > li:before {
    counter-increment: list3;
    content: counter(list1) "." counter(list2) "." counter(list3);
    position: absolute;
    width: 2.8em;
    margin-left: -3.5em;
    text-align: right;
}

/* Faq */
.faq {
    margin-bottom: 30px;
}
.faq dt {
    margin: 15px 0 5px;
    font-weight: bold;
}
.faq dd {
    margin: 0 0 5px 0;
}
.faq .asection {
    margin: 0 285px 20px 0;
    padding-top: 15px;
    border-top: 1px solid #DDD;
}
.faq #service {
    padding-top: 0;
    border-top: none;
}
.faq-contents {
    float: right;
    width: 255px;
    font-size: 14px;
    line-height: 18px;
    color: #333;
}
.fc-fixed {
    position: fixed;
    top: 110px;
    width: 255px;
}
.fc-fixed ul {
    margin: 0 0 15px;
    border-bottom: 1px solid #DDD;
    padding-left: 1em;
    padding-bottom: 15px;
    list-style: disc;
    color: #ED1192;
}
.fc-fixed li {
    margin: 0 0 5px;
}

/* 3DSecure result */
.tds-result .success,
.tds-result .fail {
    font-size: 24px;
    line-height: 28px;
}
.tds-result .success strong {
    font-weight: bold;
    color: #447b00;
}
.tds-result .fail strong {
    font-weight: bold;
    color: #ea2535;
}
.tds-result a {
    color: #3081d1;
}
.tds-result .tip {
    margin: 10px 0 0;
}


