%html
  %body
    %form{:action => "/api/search.xml", :method => "GET", :target => "_blank"}
      from
      %input{:name => "from"}/
      %br/
      to
      %input{:name => "to"}/
      %br/
      date1
      %input{:name => "date1"}/
      %br/
      date2
      %input{:name => "date2"}/
      %br/
      %input{:type => "submit"}/
