/* Calendar */
.calendar {
    position: relative;
    width: 589px;
}

.calendar .viewport {
    position: relative;
    width: 588px;
    height: 316px;
    overflow: hidden;
    background: #acb6c3;
}

.calendar .dates {
    position: relative;
    width: 620px;
    height: 306px;
    overflow: auto;
}

.calendar .shadow {
    position: absolute;
    top: 305px; left: 0;
    width: 620px; height: 11px;
    background: url(/img/calendar/shadow.png) repeat-x;
}


/* Days of the week */

.calendar ul.week {
    width: 588px;
    height: 25px;
    border-bottom: 1px solid #c7ced6;
    background: #99a1ac;
    color: #4b4b4b;
    font-size: 13px;
}

.calendar .week li {
    float: left;
    width: 24px;
    padding: 5px 55px 5px 5px;
    text-align: center;
}

/* Calendar dates */
.calendar ul.month {
    display: inline;
    width: 588px;
    height: auto;
    overflow: visible;
}

.calendar .dates li {
    float: left;
    position: relative;
    width: 34px;
    height: 40px;
    border-bottom: 1px solid #c7ced6;
    padding: 5px 50px 5px 0;
    color: #4b4b4b;
    font: bold 95% Arial, sans-serif;
    text-align: center;
    cursor: pointer;
}

.calendar .dates .mtitle {
    position: absolute;
    visibility: hidden;
    margin: -1px 0 0 2px;
    font-size: 11px;
    font-weight: normal;
}

.calendar .dates .withmonth .mtitle,
.calendar .dates .selected .mtitle {
    visibility: inherit;
}

.calendar .odd li {
    background: #b6bec9;
}

.calendar .dates li.inactive {
    color: #9da5b0;
    cursor: default;
    border-color: #c7ced6;
    background: none;
}

.calendar .dayoff 
{
    color: #ce001a;
}

.calendar .inactive .dayoff 
{
    color: #b796a6;
}

.calendar .dates li.selected,
.calendar .dates li.hover {
    background: url(/img/date-arrows.png) no-repeat;
}

/* Highlighted date */

.calendar .dates .phover
{
    background-color: #b3a6bb;
    border-color: #ccc2d0;
}

.calendar .odd .phover {
    background-color: #bdacbf;
}

.calendar .dates li.hover 
{
    background-color: #c675a4;
    border-color: #d8a0c0;
}

.calendar .dates li.s0hover
{
    background-position: 64px 14px;
}

.calendar .dates li.s1hover
{
    background-position: 64px -106px;
}

/* Selected date */

.calendar .dates .period 
{
    background-color: #ba92b2;
    border-color: #d0b5ca;
}

.calendar .dates li.selected
{
    border-color: #e67bae;
    background-color: #DC3F8A;
    background-repeat: no-repeat;
    color: #fff;

    cursor: move;
}

.calendar .dates li.segment0 
{
    background-position: 64px -46px;
}

.calendar .dates li.segment1 
{
    background-position: 64px -166px;
}

.calendar .dates li.segment0.segment1 
{
    background-position: 64px -286px;
}

.calendar .dates li.segment1.s0hover
{
    background-position: 64px -226px;
}

.calendar .dates li.segment0.s1hover
{
    background-position: 64px -286px;
}

.calendar .selected .dayoff
{
    color: #fff;
}

/* Reset */

.calendar .reset 
{
    color: #A0A0A0;
    font-size: 70%;
    cursor: pointer;
}

.calendar .reset:hover 
{
    color: #FFF;
}

.calendar .reset .label 
{
    border-bottom: 1px dotted #A0A0A0;
}

.calendar .reset:hover .label 
{
    border-color: #FFF;
}

.calendar .reset-button
{
    position: absolute;
    top: 0;
    left: 0;
    
    display: none;

    width: 24px;
    height: 24px;
    
    background: url(/img/calendar/reset.png) no-repeat;
    
    cursor: pointer;
}

/* Drag */

.calendar .drag-origin
{
    position: absolute;
    top: 0;
    left: 0;
    
    display: none;
    
    width: 84px;
    height: 50px;
    
    background: url(/img/calendar/drag-origin.png) no-repeat;
}

.calendar .dates li.drag
{
    background-color: #c675a4;
    border-color: #d8a0c0;
}

/* Dragging overlay */

#calendar-drag-overlay 
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
    display: none;
    
    width: 92px;
    height: 58px;
    
    background: url(/img/calendar/drag-overlay.png) no-repeat;
}
