%overrideInformation
  %attributeDetails
    -# %attributeType NOP
    %attributeType ETK
    -# public and unifares
    %attributeType RP
    %attributeType RU
- if validating_carrier
  %validatingCarrier
    %carrierInformation
      %carrierCode= validating_carrier
