%overrideInformation
  %attributeDetails
    -# %attributeType NOP
    %attributeType ETK
  -# public and unifares
  %attributeDetails
    %attributeType RP
  - if unifares
    %attributeDetails
      %attributeType RU
- if validating_carrier
  %validatingCarrier
    %carrierInformation
      %carrierCode= validating_carrier
