%overrideInformation
  - request_options.each do |option|
    %attributeDetails
      %attributeType= option
  - if unifares
    %attributeDetails
      %attributeType RU
- if validating_carrier
  %validatingCarrier
    %carrierInformation
      %carrierCode= validating_carrier
