%recordLocator
  %reservation>
    %controlNumber= number
%propagatioAction
  %actionRequestCode NPR
%officeIdentification
  %officeDetail
    %originatorDetails
      %inHouseIdentification1= office_id
  %specificChanges
    %actionRequestCode TO
