%placementOption
  %selectionDetails
    %option QEQ
%targetDetails
  %targetOffice
    %sourceType
      %sourceQualifier1 3
    %originatorDetails
      %inHouseIdentification1 NYC1S211F
  %queueNumber
    %queueDetails
      %number 28
  %categoryDetails
    %subQueueInfoDetails
      %identificationType C
      %itemNumber 30
%recordLocator
  %reservation
    %controlNumber= number