%placementOption
  %selectionDetails
    %option QEQ
%targetDetails
  %targetOffice
    %sourceType
      %sourceQualifier1 3
    %originatorDetails
      %inHouseIdentification1= office_id
  %queueNumber
    %queueDetails
      %number= queue
  %categoryDetails
    %subQueueInfoDetails
      %identificationType C
      %itemNumber= category
%recordLocator
  %reservation
    %controlNumber= number