%userIdentifier
  %originIdentification
    %sourceOffice= office
  %originatorTypeCode U
  %originator WSEVIOAB
%dutyCode
  %dutyCodeDetails
    %referenceQualifier DUT
    %referenceIdentifier SU
%systemDetails
  %organizationDetails
    %organizationId NMC-RUSSIA
%passwordInfo
  %dataLength 8
  %dataType E
  %binaryData TUk4Vlg4N00=
