%userIdentifier
  %originIdentification
    %sourceOffice= office
  %originatorTypeCode U
  %originator WSEVIOAB
%dutyCode
  %dutyCodeDetails
    %referenceQualifier DUT
    %referenceIdentifier SU
%systemDetails
  %organizationDetails
    %organizationId NMC-RUSSIA
%passwordInfo
  %dataLength 7
  %dataType E
  %binaryData QU1BREVVUw==
