%userIdentifier
  %originIdentification
    %sourceOffice= office
  %originatorTypeCode U
  %originator WSEVIOAB
%dutyCode
  %dutyCodeDetails
    %referenceQualifier DUT
    %referenceIdentifier SU
%systemDetails
  %organizationDetails
    %organizationId= organization_id
%passwordInfo
  %dataLength= password_length
  %dataType E
  %binaryData= password
