%displayMode
  %attributeDetails
    %attributeType ALL
-# This PNR record locator is used for tracing purpose, no internal retrieve.
-if number
  %pnrLocatorData
    %reservationInformation
      %controlNumber= number

