<div class="footer">
<div class="f-info">
    <p><strong>&copy; 2010 ООО «Эвитерра Трэвел»</strong></p>
    <p>+7 495 660-35-20</p>
    <p><a href="mailto: hello@eviterra.com">hello@eviterra.com</a></p>
    <p class="social">Кстати, мы есть на <a href="http://ru-ru.facebook.com/pages/Eviterra/122120814484122">Фейсбуке</a> и&nbsp;в&nbsp;<a href="http://twitter.com/eviterra/">Твиттере</a></p>
</div>
<ul class="f-links">
    <li><a href="/about/">Подробнее о проекте</a></li>
    <li><a href="/agreement/">Условия использования</a></li>
    <li><a href="/contacts/">Контактная информация</a></li>
</ul>
<div class="f-logotypes">
    <a class="fl-alfa" href="http://www.alfabank.ru/"><img src="/img/footer/alfa.png" alt="Альфа-Банк"></a>
    <a class="fl-thawte" href="http://www.thawte.com/"><img src="/img/footer/thawte.png" alt="Thawte"></a>
    <a class="fl-amadeus" href="http://www.amadeus.net/"><img src="/img/footer/amadeus.png" alt="Amadeus"></a>
</div>
</div>
