<div id="page-footer">
<div class="pf-content">
    <div class="pf-copyright" style="display: none;">&copy; 2010&ndash;<%= Date.current.strftime('%Y') %> ООО «Эвитерра Трэвел»</div>
    <div class="pf-contacts">
        <p class="pfc-item">+7 495 660-35-20</p>
        <p class="pfc-item"><a href="/contacts/">Контактная информация</a></p>
        <p class="social"><div style="margin: 15px 0 0 0;"><a target="_blank" href="https://www.facebook.com/eviterra/"><div style="float: left; width: 16px; height: 16px; margin: 0 8px 0 0; background: url(/images/common/social-icons.gif);"></div></a> <a target="_blank" href="https://twitter.com/eviterra"><div style="float: left; width: 16px; height: 16px; margin: 0 8px 0 0; background: url(/images/common/social-icons.gif) -21px no-repeat;"></div></a> <a target="_blank" href="http://vk.com/eviterra"><div style="float: left; width: 16px; height: 16px; margin: 0 8px 0 0; background: url(/images/common/social-icons.gif) -42px no-repeat;"></div></a> <a target="_blank" href="https://plus.google.com/103322039453589743139"><div style="float: left; width: 16px; height: 16px; margin: 0 8px 0 0; background: url(/images/common/social-icons.gif) -63px no-repeat;"></div></a> <a target="_blank" href="http://friendfeed.com/eviterra"><div style="float: left; width: 16px; height: 16px; margin: 0 8px 0 0; background: url(/images/common/social-icons.gif) -84px no-repeat;"></div></a></div></p>
    </div>
    <ul class="pf-links">
        <li class="pfl-item"><a href="/about/">О проекте</a></li>
        <li class="pfl-item"><a href="/faq/">Вопросы и ответы</a></li>
        <li class="pfl-item" style="display: none;"><a href="/corporate/">Корпоративным клиентам</a></li>
        <li class="pfl-item"><a href="/agreement/">Условия использования</a></li>
    </ul>
    <div class="pf-partners">
        <p class="pfp-iata">Аккредитованный агент IATA<br>c 2011 года</p>
        <p class="pfp-other"><br></p>
    </div>
</div>
</div>
