<div id="page-footer">
<div class="pf-content">
    <div class="pf-copyright" style="display: none;">&copy; 2010&ndash;<%= Date.current.strftime('%Y') %> ООО «Эвитерра Трэвел»</div>
    <div class="pf-contacts">
        <p class="pfc-item">+7 495 660-35-20</p>
        <p class="pfc-item"><a href="/contacts/">Контактная информация</a></p>
        <p class="social"><div style="margin: 10px 0 0 0;">
                <a target="_blank" title="Фейсбук" href="https://www.facebook.com/eviterra/"><div class="social-icons" id="fb"></div></a>
                <a target="_blank" title="ВКонтакте" href="http://vk.com/eviterra"><div class="social-icons" id="vk"></div></a>
                <a target="_blank" title="Твиттер" href="https://twitter.com/eviterra"><div class="social-icons" id="tw"></div></a>
                <a target="_blank" title="Блог" href="https://blog.eviterra.com"><div class="social-icons" id="rss"></div></a>
        </div></p>
    </div>
    <ul class="pf-links">
        <li class="pfl-item"><a href="http://blog.eviterra.com/">Блог</a></li>
        <li class="pfl-item"><a href="/about/">О проекте</a></li>
        <li class="pfl-item"><a href="/faq/">Вопросы и ответы</a></li>
        <li class="pfl-item" style="display: none;"><a href="/corporate/">Корпоративным клиентам</a></li>
        <li class="pfl-item"><a href="/agreement/">Условия использования</a></li>
    </ul>
    <div class="pf-partners">
        <p class="appstore"><a target="_blank" href="https://itunes.apple.com/ru/app/eviterra/id569307779?mt=8&uo=4"><img alt "Available in App Store" src="images/common/appstore-available.png" /></a></p>
        <p class="pfp-iata">Аккредитованный агент IATA<br>c 2011 года</p>
        <p class="pfp-other"><br></p>
    </div>
</div>
</div>
