<div class="footer">
    <dl>
        <dt>Всё для путешествий
        <dd><a href="#">Лучшие предложения</a>
        <dd><a href="#">Безвизовые страны</a>
        <dd><a href="#">Города России</a>
        <dd><a href="#">События в Европе</a>
    </dl>

    <dl>
        <dt>Сервисы
        <dd><a href="#">Авиабилеты</a>
        <dd><a href="#">Отели</a>
        <dd><a href="#">Карта цен</a>
        <dd><a href="#">Статус рейса</a>
    </dl>

    <dl>
        <dt>О проекте
        <dd><a href="#">Как заказывать</a>
        <dd><a href="#">Как платить</a>
        <dd><a href="#">Обмен и возврат</a>
        <dd><a href="#">Блог разработчиков</a>
        <dd><a href="/about/us">О нас</a>
    </dl>
    <i>&copy;&nbsp;eviterra, 2010</i>
</div>
