
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
<meta name="viewport" content="width = 960">

<title>Eviterra / <%= title %> </title>
<link rel="icon" type="image/vnd.microsoft.icon" href="/img/favicon.ico"> 

<!-- [production] Все стили, импортируемые этими файлами, нужно объединить с сохранением порядка, а затем упаковать -->
<link rel="stylesheet" type="text/css" href="/css/main.css">

<%# не включать не в продакшне! некоторые вообще-то с ноутов работают %>
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->
<script type="text/javascript" src="/js/lib/jquery-1.4.2.min.js"></script>
