<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width = 960">

<title>Eviterra — <%= title %> </title>
<link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico"> 

<!-- [production] Все стили, импортируемые этими файлами, нужно объединить с сохранением порядка, а затем упаковать -->
<link rel="stylesheet" type="text/css" href="/css/main.css">

<%# не включать не в продакшне! некоторые вообще-то с ноутов работают %>
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> -->
<script type="text/javascript" src="/js/lib/jquery-1.4.2.min.js"></script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-19832395-2']);
_gaq.push(['_setDomainName', '.team.eviterra.ru']);
_gaq.push(['_trackPageview']);
(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
