<div id="header">
<div class="hcontent">
    <div id="logo" title="Кликните, чтобы сбросить условия и результаты поиска"><a href="/"><img src="/img/header/eviterra.png" alt="Eviterra"></a></div>
    <ul class="tabs">
        <li class="active"><a href="#" title="Простая покупка авиабилетов">Авиа</a><span class="arrow"></span></li>
    </ul>
    <div class="soon">Отели, авто и прочее — <strong>скоро</strong></div>
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
<script type="text/javascript">
new Ya.share({
	'element': 'ya_share1',
	'elementStyle': {
		'type': 'link',
		'linkIcon': true,
		'border': false,
		'quickServices': ['facebook', 'twitter', 'friendfeed', 'lj', 'vkontakte', 'odnoklassniki', 'yaru']
	},
	'popupStyle': {
		'copyPasteField': true
	}
 });
</script>
<span id="ya_share1" style="display: inline; position: relative; left: 65px; top: 6px; font-size: 80%; background: #fff; letter-spacing: -0.015em;"></span>
    <div class="phone">+7 495 <strong>660-35-20</strong></div>
</div>
<div class="shadow"></div>
<% unless Rails.env.production? %>
<div id="search-debug">
    <input type="checkbox" id="sdmode"> <label for="sdmode">Режим отладки</label>
</div>
<% end %>
</div>
