<div id="header">
<div class="hcontent">
    <div id="logo" title="Кликните, чтобы сбросить условия и результаты поиска"><img src="/img/header/eviterra.png" alt="Eviterra"></div>
    <ul class="tabs">
        <li class="active"><a href="#" title="Простая покупка авиабилетов">Авиа</a><span class="arrow"></span></li>
    </ul>
    <div class="soon">Отели, поезда, авто и страховки — <strong>скоро</strong></div>
    <div class="phone">+7 (495) <strong>660-35-20</strong></div>
</div>
<div class="shadow"></div>
<div id="search-debug">
    <input type="checkbox" id="sdmode"> <label for="sdmode">Режим отладки</label>
</div>
</div>
