<div id="header">
<div class="header-content">
    <div id="logo" title="Кликните, чтобы сбросить условия и результаты поиска"><a href="/"><img src="/img/header/eviterra.png" alt="Eviterra"></a></div>
    <ul class="header-tabs">
        <li class="active"><a href="#" title="Простая покупка авиабилетов">Авиабилеты</a><span class="arrow"></span></li>
    </ul>
    <div class="soon">Отели, авто и прочее — <strong>скоро</strong></div>
    <div id="ya-share"></div>
    <div class="phone">+7 495 <strong>660-35-20</strong></div>
</div>
<div class="hshadow"></div>
</div>
