<script type="text/javascript">
(function(w, d) {
    var https = d.location.protocol == 'https:', fs = d.getElementsByTagName('script')[0];
    var createScript = function(src) {
        var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = src;
        fs.parentNode.insertBefore(s, fs);
    };
    /*var c = 'yandex_metrika_callbacks';
    (w[c] = w[c] || []).push(function() {
        try { _yam = w.yaCounter5324671 = new Ya.Metrika({id: 5324671, enableAll: true, ut: 'noindex', defer: true, trackHash: true, webvisor: true}); } catch(e) {}
    });*/
    createScript((https ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js');
    //createScript((https ? 'https:' : 'http:') + '//mc.yandex.ru/metrika/watch.js');
})(window, document);
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter5324671 = new Ya.Metrika({id:5324671, enableAll: true, trackHash:true, ut:"noindex", webvisor:true});
        } catch(e) { }
    });
    
    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/5324671?ut=noindex" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Oh My Stats tracker -->
<script type="text/javascript">
//<![CDATA[
var _oms = window._oms || [];
_oms.push(["set_project_id", "qsxfvashjzioiwazcryxlgysgjuitwyfaasjvkiv"]);
(function() {
    var oms = document.createElement("script");
    oms.type = "text/javascript";
    oms.async = true;
    oms.src = "//ohmystats.com/oms.js";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(oms, s);
})();
//]]>
</script>

<div id="page-header">
<div class="ph-content">
    <div class="ph-logo">
        <a href="/" title="Кликните, чтобы сбросить условия и результаты поиска"><img src="/images/common/eviterra-bg.png" alt="Eviterra"></a>
    </div>
    <ul class="ph-tabs">
        <li class="active"><span class="link" title="Простая покупка авиабилетов">Авиабилеты</span></li>
        <li style="display: none;"><span class="link">Отели</span></li>
        <li style="display: none;"><span class="link">Аренда авто</span></li>
    </ul>
    <div class="ph-phone"><span class="code">+7 495</span> 660-35-20</div>
    
    <div class="ph-share" id="share-icons">
        <div class="phs-item" id="phs-facebook"><div class="fb-like" data-href="http://facebook.com/eviterra" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="arial"></div></div>
        <div class="phs-item" id="phs-twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="https://eviterra.com" data-via="eviterra">Tweet</a></div>
        <div class="phs-item" id="phs-google"><g:plusone size="medium" href="https://eviterra.com"></g:plusone></div>
        <div class="phs-item" id="phs-vk"><div id="vk-like"></div></div>
    </div>
    
</div>
</div>
<div class="ph-placeholder">
    <div id="fb-root"></div>
</div>
