<div id="page-header">
<div class="ph-content">
    <div class="ph-logo">
        <a href="/" title="Кликните, чтобы сбросить условия и результаты поиска"><img src="/images/common/eviterra.png" alt="Eviterra"></a>
    </div>
    <ul class="ph-tabs">
        <li class="active"><span class="link" title="Простая покупка авиабилетов">Авиабилеты</span></li>
        <li style="display: none;"><span class="link">Отели</span></li>
        <li style="display: none;"><span class="link">Аренда авто</span></li>
    </ul>
    <div class="ph-phone"><span class="code">+7 495</span> 660-35-20</div>
    
    <div class="ph-share" id="share-icons">
        <div class="phs-item"><div class="fb-like" data-href="http://facebook.com/eviterra" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="arial"></div></div>
        <div class="phs-item" style="position: relative; top: -1px;"><div id="vk_like"></div></div>
        <div class="phs-item"><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://eviterra.com" data-via="eviterra">Tweet</a></div>
        <div class="phs-item"><g:plusone size="medium" href="https://eviterra.com"></g:plusone></div>
    </div>
    
</div>
</div>
<div class="ph-placeholder"></div>
