<div id="page-header">
<div class="ph-content">
    <div class="ph-logo">
        <a href="/" title="Кликните, чтобы сбросить условия и результаты поиска"><img src="/images/common/eviterra.png" alt="Eviterra"></a>
    </div>
    <ul class="ph-tabs">
        <li class="active"><span class="link" title="Простая покупка авиабилетов">Авиабилеты</span></li>
        <li><span class="link">Отели</span></li>
        <li><span class="link">Аренда авто</span></li>
    </ul>
    <div class="ph-phone"><span class="code">+7 495</span> 660-35-20</div>
    <!--
    <div id="ya-share"></div>
    <div id="g-plus"><g:plusone size="small" count="false"></g:plusone></div>
    -->
</div>
</div>
<div class="ph-placeholder"></div>
