# Typus Roles Configuration File
#
# Use the README file as a reference to customize settings.
#
# Shortcuts:
#
# create: new, create
# read: index, show
# update: edit, update, position, toggle, relate, unrelate
# delete: destroy, trash
#
# all: everything

admin:
  Carrier: create, read, update, delete, decode_amadeus, decode_sirena, show_versions
  Airplane: create, read, update, delete, decode_amadeus, decode_sirena, show_versions
  Airport: create, read, update, delete, update_completer, decode_amadeus, decode_sirena, show_versions
  City: create, read, update, delete, update_completer, decode_amadeus, decode_sirena, show_versions
  Order: create, read, update, unblock, charge, ticket, reload_tickets, cancel, show_pnr, money_received, no_money_received, bulk_charge, bulk, pnr_raw, void, make_payable_by_card, show_versions, send_invoice, ticket_in_ticketing_office
  OrderComment: create, read, update, delete
  Notification: create, read, update, delete
  Ticket: create, read, update, ticket_raw, bulk_set_ticketed_date, bulk, new_refund, confirm_refund, show_versions, change_vat, delete_refund
  Country: create, read, update, delete, show_versions
  GeoTag: create, read, update, delete
  Region: create, read, update, delete
  HotOffer: read, delete
  Subscription: create, read, update, delete
  Destination: read, delete
  AirlineAlliance: create, read, update, delete
  Consolidator: create, read, update, delete
  GlobalDistributionSystem: create, read, update, delete
  FlightGroup: create, read, update, delete
  Commissions: read
  Counters: read
  Partner: create, read, update, delete, show_versions

  Payment: read, update, bulk, bulk_charge, show_versions, payment_raw, create,  charge, block, cancel
  PaytureCharge: create, read
  PaytureRefund: create, update, read
  CashCharge: create, update, read
  CashRefund: create, update, read
  PromoCode: create, update, read

hoteditor:
  HotOffer: read, delete
