# Typus Models Configuration File
#
# Use the README file as a reference to customize settings.


AirlineAlliance:
  fields:
    default: name, bonus_program_name
    list: name, bonus_program_name
    form: name, bonus_program_name
  relationships: carriers
  application: Base, 5

GlobalDistributionSystem:
  fields:
    default: name
    list: name
    form: name
  relationships: carriers
  application: Base, 5

Consolidator:
  fields:
    default: name, booking_office, ticketing_office
    list: name, booking_office, ticketing_office
    form: name, booking_office, ticketing_office
  relationships: carriers
  application: Base, 5

Carrier:
  fields:
    default: iata, ru_shortname, ru_longname, en_shortname, en_longname, country
    list: iata, ru_shortname, ru_longname, en_shortname, en_longname, country
    form: ru_shortname, ru_longname, en_shortname, en_longname, iata, iata_ru, country, bonus_program_name, alliance, gds, interlines, consolidator, color, font_color, comment
  order_by: en_shortname, ru_shortname
  relationships: country, alliance, gds, consolidator
  filters: country, gds, consolidator
  search: ru_shortname, ru_longname, en_shortname, en_longname, ^iata
  application: Base, 5

Airplane:
  fields:
    default: iata, name_ru, name_en, engine_type
    list: iata, name_ru, name_en, engine_type
    form: iata, iata_ru, icao, name_ru, name_en, engine_type
    options:
      selectors: engine_type

  order_by: name_ru
  relationships:
  filters: engine_type
  search: ^iata, name_ru, name_en
  application: Base, 5

Airport:
  fields:
    default: iata, name_ru, name_en, importance, city
    list: iata, name_ru, name_en, importance, city
    form: iata, iata_ru, name_en, name_ru, synonym_list, morpher_to, morpher_from, morpher_in, proper_to, proper_from, proper_in, domestic, icao, federal, international, runway_length, lat, lng, importance, city, disabled
    csv: iata, name_ru, city
  order_by: name_ru
  relationships: city, country, geo_tags
  filters:
  search: name_ru, name_en, ^iata, synonym_list
  actions:
    index: update_completer
  application: Geo, 4
  export: csv

City:
  fields:
    default: iata, name_ru, name_en, synonym_list, importance, country, region
    list: iata, name_ru, name_en, synonym_list, importance, country, region
    form: iata, iata_ru, name_ru, name_en, synonym_list, morpher_to, morpher_from, morpher_in, proper_to, proper_from, proper_in, lat, lng, importance, country, region, timezone, disabled, search_around
    csv: iata, name_ru
    options:
      selectors: timezone
  order_by: name_ru
  relationships: airports, country, geo_tags, region
  filters: country
  search: name_ru, name_en, ^iata, synonym_list
  actions:
    index: update_completer
  application: Geo, 4
  export: csv


OrderComment:
  fields:
    default: text, created_at, typus_user, assigned_to, status, priority
    list: order, text, created_at, typus_user, assigned_to, status, priority
    form: text, assigned_to, status, priority
    show: order, text, created_at, typus_user, assigned_to, status, priority
    options:
      selectors: status, priority
      date_formats:
        created_at: long
        updated_at: long
  options:
    #action_after_save: show
  actions:
    show: edit
  search: ^order_id, text
  filters: created_at, typus_user, assigned_to, status, priority
  relationships: order, typus_user
  order_by: -created_at
  application: Misc, 2

Subscription:
  fields:
    default: name, email, status, created_at, updated_at
    form: from_iata, to_iata, rt, email, status
    options:
      read_only: destination
      selectors: status
      date_formats:
        created_at: long
        updated_at: long
  options:
    default_action_on_item: show
  search: from_iata, to_iata, email,
  scopes: active, frozen, disabled
  filters: status, created_at
  application: Hot Offers, 3

HotOffer:
  fields:
    default: description, clickable_url, date1, date2, time_delta, price, price_variation_percent, created_at
    options:
      date_formats:
        created_at: long
      booleans:
        rt: ['roundtrip', 'oneway']
  order_by: -created_at
  filters: created_at, rt
  search: from_iata, to_iata, code
  scopes: actual
  application: Hot Offers, 3

Region:
  fields:
    default: name_ru, name_en, country
    list: name_ru, name_en, country, synonym_list
    form: name_ru, name_en, country, lat, lng, synonym_list, region_type, morpher_to, morpher_from, morpher_in, proper_to, proper_from, proper_in
    options:
      selectors: region_type
  order_by: name_ru
  relationships: cities, country
  filters: country
  search: name_ru, name_en, synonym_list
  application: Geo, 4

Country:
  fields:
    default: alpha2, name_ru, name_en, full_name_ru, continent, importance, synonym_list
    list: alpha2, name_ru, name_en, full_name_ru, continent, importance, synonym_list
    form: name_ru, name_en, full_name_ru, alpha2, alpha3, iso, continent, continent_part_ru, importance, synonym_list, lat, lng, morpher_to, morpher_from, morpher_in, proper_to, proper_from, proper_in, main_city_iatas_as_text
    options:
      selectors: continent
  order_by: name_ru
  relationships: carriers, airports, cities, geo_tags, regions
  filters:
  search:  name_en, name_ru, full_name_ru, synonym_list
  application: Geo, 4

GeoTag:
  fields:
    default: name, desc, importance, synonym_list, proper_to, proper_from, proper_in
    list: name, desc, importance, synonym_list, proper_to, proper_from, proper_in
    form: name, desc, importance, synonym_list, proper_to, proper_from, proper_in, lat, lng
  order_by:
  # relationships: geo_taggings
  filters:
  search: name, synonym_list
  application: Geo, 4

FlightGroup:
  fields:
    default: code, created_at
    list: code, source, created_at, url
    form: code, source
    options:
      selectors: source
  order_by: -created_at
  application: Misc, 2

Notification:
  fields:
    default: subject, comment, typus_user, created_at, sent_status
    list: subject, order, comment, typus_user, created_at, sent_status
    form: attach_pnr, lang, subject, comment, format, status
    show: order, typus_user, created_at, format, destination, attach_pnr, lang, subject, comment, sent_status
    options:
      read_only: order
      selectors: lang, status, format
      date_formats:
        created_at: long
        updated_at: long
        sent_at: long
      booleans:
        attach_pnr: ["да", "нет"]
  options:
    action_after_save: show
    default_action_on_item: show
  order_by: -notifications.created_at
  search: ^order_id, pnr_number, destination, comment
  filters: created_at, status
  relationships: order, typus_user
  application: Misc, 2

Partner:
  fields:
    default: token, password, enabled, hide_income, cookies_expiry_time, income_at_least
    list: token, password, enabled, hide_income, cookies_expiry_time, income_at_least
    form: token, password, enabled, hide_income, cookies_expiry_time, income_at_least
    show: token, password, enabled, hide_income, cookies_expiry_time, income_at_least
    options:
      booleans:
        enabled: ["да", "нет"]
        hide_income: ["да", "нет"]
  options:
    action_after_save: show
    default_action_on_item: show
  application: Misc, 2
