Payment: &PAYMENT_CONFIG
  fields:
    default: show_link, status_decorated, price, created_at, payment_info, error_explanation, control_links
    list: show_link, order, status_decorated, price, commission, earnings, created_at, charged_on, payment_info, error_explanation, control_links
    show: show_link, order, status_decorated, charge_link, external_gateway_link, price, commission, earnings, created_at, charged_on, name_in_card, pan_searchable, error_code, error_explanation, error_message
    new: type, price
    edit: type, price, commission, charged_on
    csv: type, price, charged_on
    options:
      date_formats:
        created_at: long
        charged_on: long
  #options:
  #  default_action_on_item: show
  scopes: secured, not_secured, payu, payture, cards, cash, charges, refunds, processing_too_long
  search: =ref, =their_ref, =id, name_in_card, pan
  relationships: order, refunds
  order_by: -created_at
  filters: created_at, charged_on, type, status
  application: Orders, 1
  options:
    start_year: 2011
    end_year: <%= (Date.today + 1.month).year %>
    export: csv

# Typus не умеет отображать таблицы для Single table inheritance
# пытаемся их спрятать по мере сил.
PayuCharge: &HIDDEN_SECTION
  <<: *PAYMENT_CONFIG
  application: Misc, 2
  options:
    hide_from_dashboard: yes

PayuRefund:
  <<: *HIDDEN_SECTION

PaytureCharge:
  <<: *HIDDEN_SECTION

PaytureRefund:
  <<: *HIDDEN_SECTION

CashCharge:
  <<: *HIDDEN_SECTION

CashRefund:
  <<: *HIDDEN_SECTION
