/* Предложение по перелёту и отелю (BEGIN) */
    .b-offers
    {
        float: left;
        width: 670px;
        min-height: 150px;
        overflow: hidden;
        position: relative;
    }

    .b-offer
    {
        clear: both;

        width: 655px;
        margin: 0 0 1.4em 15px;

        color: #333;
        background: #e7eff0 url(/img/bg/bg-offer.png);
        
        -moz-border-radius: 10px;
        border-radius: 10px;
    }

    /* Заголовок предложения (BEGIN) */
        .b-offer h2
        {
            overflow: hidden;
            zoom: 1;

            padding: 0.25em 0 0.25em;

            background: #454545;
            
            -moz-border-radius: 10px 10px 0 0;
     	   	border-radius: 10px 10px 0 0;
        }

        .b-offer h2 p
        {
            float: left;
        }

        .b-offer h2 p.note
        {
            font: normal 55% Arial,a;

            margin: 1em 0 0 1.2em;
            /*
            letter-spacing: -1px;
            */
            color: #a9a9a9;
        }

        .b-offer h2 p.action
        {
            float: right;

            margin: 0.4em 0 0 0;
        }

        .b-offer h2 p.action a
        {
            font: bold 100% Arial,a;
            display: block;

            float: left;
            
            line-height: 1.5em;
            height: 1.5em;
            margin: 0 0.7em 0 0;
            padding: 0 6px;
            
            outline: none;
            text-decoration: none;
            letter-spacing: -0.03em;

            border: 1px solid;
        }

        .b-offer h2 p.action a.remember
        {
            color: #5d5f61;
            background: #ced3d7;
            border-color: #f3f4f5 #818486 #818486 #f3f4f5;
        }

        .b-offer h2 p.action a.select
        {
            color: #fff;
            background: #e64893;
            border-color: #dd8fb4 #732449 #732449 #dd8fb4;
        }

        .b-offer h2 p.action a:active
        {
            color: #fff;
            border-color: #34485a #9fb3c5 #9fb3c5 #34485a;
            background: #6990b5;
        }
    /* Заголовок предложения (END) */


    /* Футер предложения (BEGIN) */
        .b-offer .invoice
        {
            font: normal 70% Arial,a;
            
            margin: 1.2em 0 0 0;
            padding: 0.5em 15px;

            color: #7e7d78;
            background: #e4e0cf;
            border-top: #dfcc7d 1px solid;
            
            -moz-border-radius: 0 0 10px 10px;
            border-radius: 0 0 10px 10px;
        }

        .b-offer .invoice span
        {
            color: #515151;
        }

        .b-offer .invoice span b
        {
            cursor: help;
        }

        .b-offer .invoice span.none
        {
            color: #7e7d78;
        }

        .b-offer .invoice span .none,
        .b-offer .invoice span.none i
        {
            display: none;
        }

        .b-offer .invoice span.none .none
        {
            display: inherit;
        }

        .b-offer .invoice span.rules
        {
            float: right;
        }

        .b-offer .invoice a
        {
            color: #7e7d78;
        }
    /* Футер предложения (END) */

    .b-offer div
    {
        clear: both;
        position: relative;

        padding: 0 0 0 165px;
        width: 500px;
    }

    .b-offer dl
    {
    }

    .b-offer dt
    {
        font-size: 85%;
        margin: 0 0 0.4em 0;
        color: #333;
    }

    .b-offer dt u
    {
        font-weight: bold;
        margin: 0 0.5em 0 0;
        color: #6f7c26;
    }

    .b-offer dt b
    {
        font-weight: bold;

        color: #515151;
    }

    .b-offer dt i
    {
        margin: 0 0 0 0.2em;
    }

    .b-offer dd
    {
        font-size: 75%;

        margin: 0 0 0.2em 0;
        padding: 0 0 0 3em;
        text-indent: -3em;
    }

    .b-offer dd b
    {
        font-weight: bold;
        margin: 0 0.4em 0 0;
    }

    /* Блок перелётов (BEGIN) */
        .b-offer .flights
        {
            margin: 10px 0 0 0;
            min-height: 78px;
            height: auto!important;
            height: 78px;
        }

        .b-offer .flights dt u.return
        {
            color: #c46f26;
        }

        .b-offer .flights dd.change
        {
            text-indent: 0;
            line-height: 130%;
            color: #333;

            cursor: pointer;

            background: url(/img/ico/man.gif) no-repeat 1.8em 0.2em;
        }
    /* Блок перелётов (END) */

    /* Блок отеля (BEGIN) */
        .b-offer .hotel
        {
            margin: 10px 0 0 0;
            min-height: 100px;
            height: auto!important;
            height: 100px;
        }

        /* Заголовок отеля (BEGIN) */
            .b-offer .hotel h3
            {
                font-weight: bold;
                font-size: 85%;

                margin: 0 0 0.4em 0;

                color: #d83c86;
            }

            .b-offer .hotel h3 i
            {
                font-weight: bold;

                color: #515151;
            }

            .b-offer .hotel h3 s
            {
                font-weight: bold;

                color: #d83c86;
            }

            .b-offer .hotel h3 s.b-stars {
                margin: 0 0 1px 0.4em;

                vertical-align: bottom;
            }
        /* Заголовок отеля (END) */

        .b-offer .hotel p.desc
        {
            font-size: 75%;

            width: 235px;
            margin: 0 15px 0 0;
        }

        .b-offer .hotel p br
        {
            font-size: inherit;

            line-height: 20%;
        }

        .b-offer .hotel p.desc b
        {
            font-weight: bold;

            color: #515151;
        }

        .b-offer .hotel dl
        {
        }

        .b-offer .hotel dt
        {
            font: bold 75% Arial, s;

            margin: 0;

            color: #333;
        }


        /* Выбор номера (BEGIN) */
            .b-room
            {
            }

            .b-room dt
            {
                margin: 0 0 0.4em 0;
            }

            .b-room dt b
            {
                color: #515151;
            }

            .b-room dd
            {
                margin: 0;
                padding: 0 20px 0 0;

                text-indent: 0;
            }

            .b-room dd a
            {
                position: relative;
                left: -5px;

                display: -moz-inline-box;
                display: inline-block;

                width: 150px;
                height: 21px;
                line-height: 21px;
                padding: 0 0 0 5px;

                text-decoration: none;

                color: #515151;
            }

            .b-room dd a b
            {
                font-size: 140%;

                position: absolute;
                left: -8px;

                margin: 0;

                color: #333;
            }

            .b-offer dd a i
            {
                display: none;

                position: absolute;
                top: 0;
                right: -8px;

                border-style: solid;
                border-color: transparent transparent transparent #aec4d6;
                border-width: 11px 0 10px 8px;
            }


            .b-room dd a:hover
            {
            }

            .b-room dd a:active
            {
            }

            .b-room dd a:hover
            {
                background: #e4e0cf;
            }

            .b-room dd a:hover i
            {
                display: block;
                border-color: transparent transparent transparent #e4e0cf;
            }

            .b-offer .c0 .c0:hover i,
            .b-offer .c1 .c1:hover i,
            .b-offer .c2 .c2:hover i,
            .b-offer .c3 .c3:hover i,
            .b-offer .c4 .c4:hover i
            {
                border-color: transparent transparent transparent #aec4d6;
            }

            .b-offer .c0 .c0,
            .b-offer .c1 .c1,
            .b-offer .c2 .c2,
            .b-offer .c3 .c3,
            .b-offer .c4 .c4
            {
                color: #515151!important;
                cursor: default;

                background: #aec4d6;
            }

            .b-offer .c0 .c0 i,
            .b-offer .c1 .c1 i,
            .b-offer .c2 .c2 i,
            .b-offer .c3 .c3 i,
            .b-offer .c4 .c4 i
            {
                display: block;
            }

            .b-room dd small
            {
                font-size: 85%;
                float: right;

                padding: 5px 0 0 0;
                height: 15px;

                color: #909090;
            }

            .b-offer .b-room dt
            {
                font-weight: normal;
                margin: 0 0 0.4em 0;
            }
        /* Выбор номера (END) */
    /* Блок отеля (END) */

    /* Доп. информация (BEGIN) */
        .b-offer a.details
        {
            font-size: 75%;
            color: #6990b5;
        }

        .b-offer a.details:hover
        {
        }

        .b-offer a.details:active
        {
            color: red;
        }

        .b-offer div.details
        {
            clear: both;
            display: none;
            overflow: hidden;
            zoom: 1;
            padding: 0;
            margin: 0.6em 0 0 0;
        }

        .b-offer div.details dd
        {
            padding: 0;
            text-indent: 0;
        }
    /* Доп. информация (BEGIN) */

    /* Доп. информация о рейсах (BEGIN) */
        .b-offer .flights div.details dt
        {
            font-size: 75%;
            margin: 0.6em 0 0.6em 0;
        }

        .b-offer .flights div.details dt s
        {
            background: #ffffdb;
            margin: 0 0 2px 0;
        }

        .b-offer .flights div.details dt a
        {
            font-size: 90%;
            color: #909090;
        }

        .b-offer .flights div.details dt a u
        {
            font-weight: normal;
            margin: 0;
            color: #909090;
        }

    /* Доп. информация о рейсах (END) */

    /* Кнопка покупки (BEGIN) */
        .b-offer a.buy
        {
            font: bold 70% arial,s;
            color: #e54892;

            margin: 0.4em 0 0 0;
            display: -moz-inline-box;
            display: inline-block;
        }

        .b-offer a.buy:hover
        {
        }

        .b-offer a.buy:active
        {
            color: red;
        }
    /* Кнопка покупки (END) */

    /* Показываем страну для поиска по метке (BEGIN) */
    .b-offer i.country
    {
        display: none;
    }
    .b-offer-geo_tag i.country,
    .b-offer-geo_tag i.country *
    {
        display: inherit;
        color: #909090;
    }
    /* Показываем страну для поиска по метке (END) */


/* Предложение по перелёту и отелю (END) */
