/* Заголовок списка результатов (статистика, сортировка) (BEGIN) */

    .b-offers-header
    {
        width: 640px;

        font-size: 80%;

        float: left;
        overflow: hidden;
        zoom: 1;

        padding: 0.4em 0;
        margin: 0 0 0 15px;
    }

    .b-offers-header dl
    {
        float: left;
        color: #333;
    }

    .b-offers-header dl dt
    {
        font-weight: bold;
    }

    .b-offers-header dl dd i
    {
        cursor: help;
    }


    .b-offers-header dl.filters
    {
        margin: 0.6em 0;
    }

    .b-offers-header dl.filters dt,
    .b-offers-header dl.filters dd
    {
        float: left;
    }

    .b-offers-header ul
    {
        float: right;
    }

    .b-offers-header ul li
    {
        float: left;
        margin: 0 0 0 1em;
    }

    .b-offers-header ul li a
    {
        color: #6990b5;
        position: relative;
    }

    .b-offers-header ul li a b
    {
        position: absolute;
        bottom: -1.2em;
        left: 40%;

        border: none;
        font: 100% tahoma,s;
        display: none;
    }

    .b-offers-header ul li a:hover
    {
        color: #000;
    }

    .b-offers-header ul li a:active
    {
        color: red;
    }

    .b-offers-header .c0 .c0, .b-offers-header .c0 .c0 b,
    .b-offers-header .c1 .c1, .b-offers-header .c1 .c1 b,
    .b-offers-header .c2 .c2, .b-offers-header .c2 .c2 b,
    .b-offers-header .c3 .c3, .b-offers-header .c3 .c3 b,
    .b-offers-header .c4 .c4, .b-offers-header .c4 .c4 b
    {
        cursor: default;
        border: none;
        color: #555;
        display: inherit;
    }

/* Заголовок списка результатов (статистика, сортировка) (END) */
