div.b-photo
{
    font-size: 70%;

    position: absolute;
    z-index: 2;

    width: 150px;
    height: 120px;
    padding: 0;

    color: #515151;

    background: rgb(228, 224, 207) none no-repeat 150px 5px;
}

.b-photo ul
{
    width: 150px;
    height: 290px;
    overflow: hidden;
}

.b-photo li
{
    width: 140px;
    height: 90px;
    overflow: hidden;

    margin: 5px;
}

.b-photo li img
{
    display: block;

    width: 140px;
    height: 90px;

    cursor: pointer;
    opacity: 1;
}

.b-photo li.current
{

}

.b-photo li.current img
{
    opacity: 0.4;
}


.b-photo li.active img,
.b-photo li.active:hover img
{
}

.b-photo li:hover img
{
}

.b-photo .more
{
    display: none;
    width: 150px;
    text-align: center;
}

.b-photo .more a
{
    color: #515151;
    cursor: ponter; 
}

.b-photo .more s
{
    font-size: 90%;
}

/* Кнопка закрывания (BEGIN) */
    .b-photo .close
    {
        font: normal 22px Arial,a;
        display: block;

        position: absolute;
        top: 10px;
        right: 15px;

        width: 20px;
        height: 20px;
        line-height: 20px;

        margin: 0;
        padding: 0;

        text-align: center;
        text-decoration: none;

        color: #fff;
        background: rgba(150, 150, 150, 0.5);
    }

    .b-photo .close:hover
    {
        background: #6890b7;
    }
/* Кнопка закрывания (END) */

/* Кнопки прокрутки (BEGIN) */
    .b-photo .scroll
    {
        position: absolute;
        left: 0;

        display: block;
        width: 150px;
        height: 25px;

        cursor: pointer;

        background: rgb(228, 224, 207);
    }

    .b-photo-collapsed .scroll
    {
        display: none;
    }
    
    .b-photo .scroll-t
    {
        top: -25px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-topright: 10px;
    }

    .b-photo .scroll-b
    {
        bottom: -25px;
        -moz-border-radius-bottomleft: 10px;
        -moz-border-radius-bottomright: 10px;
    }

    .b-photo .scroll i
    {
        position: absolute;

        left: 68px;

        display: block;

        border-style: solid;
    }

    .b-photo .scroll-t i
    {
        top: 11px;
        border-color: transparent transparent #e64893 transparent;
        border-width: 0 7px 5px;
    }

    .b-photo .scroll-b i
    {
        top: 8px;
        border-color: #e64893 transparent transparent transparent;
        border-width: 5px 7px 0;
    }

    .b-photo .scroll:hover
    {
    }

    .b-photo .scroll-t:hover i
    {
        border-color: transparent transparent #6890b7 transparent;
    }

    .b-photo .scroll-b:hover i
    {
        border-color: #6890b7 transparent transparent transparent;
    }

    .b-photo .scroll-t:active i
    {
        top: 12px;
    }

    .b-photo .scroll-b:active i
    {
        top: 9px;
    }

/* Кнопки прокрутки (END) */


/* Свёрнутая панель фото (BEGIN) */
    div.b-photo-collapsed
    {
        width: 150px;
        height: 120px;

        overflow: hidden;

        background: transparent none;
    }

    .b-photo-collapsed ul
    {
        height: 100px;
    }

    .b-photo-collapsed ul:hover
    {
        background: rgb(228, 224, 207);
    }

    .b-photo-collapsed .more
    {
        display: block;
    }

    .b-photo-collapsed .more a:hover
    {
        color: #000;
    }

    .b-photo-collapsed .close
    {
        display: none;
    }

    .b-photo-collapsed li img,
    .b-photo-collapsed li.current img
    {
        opacity: 1;
    }
/* Свёрнутая панель фото (END) */


.b-photo .photo
{
    position: absolute;
    display: block;
    left: 150px;
    top: 5px;
}

