/* Выделение формы бронирования */

.active-booking {
    position: relative;
    z-index: 3;
}

.active-booking .offer-variant tr.book,
.active-booking .offer-variant th.book .a-button {
    display: none;
}

.active-booking .offer-variant .summary .variants p,
.active-booking .offer-variant .summary .variants a {
    color: #CCC;
    cursor: default;
    text-decoration: none;
    cursor: default;
}
.active-booking .cost-tip {
	display: none;
}

.l-crop .offer-variant th.book .a-button,
.l-crop .offer-variant tr.book .a-button,
.l-crop .offer-variant tr.book .sum {
    visibility: hidden;
}

/* Предварительное бронирование */
.booking {
    border-top: 1px solid #D0D0D0;
}
.booking form {
    position: relative;
}
.booking-state {
    padding: 15px;
}
.booking-state h4 {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;    
}
.booking-state .progress {
    width: 128px;
    height: 15px;
    margin: 1px auto 10px;    
    background: url(/img/offers/progress.gif) 100% 2px no-repeat;
}
.booking-state p {
    margin: 6px 0 0;
    text-align: center;
} 

/* Изменение цены */
.diff-price {
    border-top: 1px solid #D0D0D0;
    padding: 15px;
}
.diff-price h5 {
    font-size: 100%;
    margin: 0 0 8px;
}
.diff-price strong {
    font-weight: bold;
}
.offer .diff-price a.a-button {
    float: none;
}

.booking .loading {
    padding-right: 28px;
    background: transparent url(/img/loader/loader-white.gif) no-repeat 100% 1px;
    background-image: url(data:image/gif;base64,R0lGODlhEAAQAPIAAP///+0RkvnG5PFOru0RkvNsu/WKyfaZ0CH+GkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAAKAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQACgABACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkEAAoAAgAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkEAAoAAwAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkEAAoABAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQACgAFACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQACgAGACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAAKAAcALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==);
}

.booking .result {
    padding: 15px;
}

.booking .success,
.booking .fail {
    font-size: 125%;
    line-height: 120%;
}

.booking .success strong {
    font-weight: bold;
    color: #447b00;
}

.booking .fail strong {
    font-weight: bold;
    color: #ea2535;
}

.booking .result a {
    color: #3081d1;
}

.booking .result .tip {
    margin: 10px 0 0;
    font-size: 75%;
    line-height: 125%;
}


/* Кнопки прекращения бронирования */

.offer a.stop-booking {
    position: absolute;
    right: 15px;
    margin-top: 15px;
    font-size: 12px;
    font-weight: normal;
    color: #333;
}
.offer a.stop-booking:hover {
    color: #ED1192;
}
.book-s a.stop-booking,
.booking .result a.stop-booking {
    position: static;
    right: 0;
    margin: 0;
    font-size: 100%;
}
.booking .result a.stop-booking {
    float: right;
}

/* Разметка страницы бронирования на шаги */

.booking h3 {
    font: bold 22px Arial, sans-serif;

    margin: 15px 15px 8px;

    color: #333;
}

.booking .section {
    margin: 0 0 2px;
    padding: 15px 0;

    background: #fff8ce;
}

.booking .ready {
    background: #e5ffd2;
}

/* Текстовые поля - общие свойства */

    .booking .text {
        padding: 3px 4px;

        color: #aaa;
        border: 1px solid #909090;
        background: #f8f8f8;

        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
    }

    .booking select.text {
        padding: 2px 3px;
    }

    .mac-chrome .booking select.text {
        padding: 3px 3px;
    }

    .booking .text:hover {
        z-index: 2;
        -webkit-transition: border-color linear 0.2s;

        background: #fff;
    }

    .booking .text:focus {
        z-index: 3;
        color: #333;
        background: #fff;
        outline: none;
    }

    .booking .text-value {
        color: #333;
        border: 1px solid #4eb700;
        background: #fff;
    }

    .booking .text-value:focus {
        border: 1px solid #909090;
    }

    .booking .text-invalid {
        border: 1px solid red;
    }

    .booking .text-upper .text-value {
        text-transform: uppercase;
    }

    .booking .text-disabled,
    .booking .text-disabled:hover,
    .booking .text-disabled:focus {
        cursor: not-allowed;
        
        color: transparent;
        border: 1px solid #aaa;
        background: transparent;
    }


/* Подписи к полям */
.booking td.sub {
    padding-top: 5px;
    font-size: 12px;
    line-height: 15px;
    color: #777;
}
.booking td.sub p {
    display: none;
    margin: 3px 0 0 0;
}
.booking label.label-disabled {
    cursor: not-allowed;
    color: #aaa;
}

/* Прочее - общие свойства */
.booking fieldset legend {
    display: none;
}
.booking .b-pseudo {
    color: inherit;
}
.booking .a-button {
    margin: 0 0 0 .25em;
    padding: 4px 10px;
    font-weight: bold;
    color: #777;
}
.booking .a-button-ready {
    color: #FFF;
}

.booking .tip-popup {
    margin: 4px 0 0 -10px;
    background: rgba(204, 15, 22, .3);
}

.booking .tip-popup i {
    color: red;
}

/* Предупреждение о неправильной раскладке */

.booking .language-warning {
    display: none;
    position: absolute;
    z-index: 3;
    width: 413px;
    margin-top: 3px;
    padding: 10px 15px;
    background: #ffc4c4;
    
    font-size: 12px;
    line-height: 16px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;    

    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}


/******* БЛОК 2: ДАННЫЕ ПАССАЖИРОВ *******/

.booking .book-p {
    padding-top: 10px;
    padding-right:  12px;
}

/* таблица */

.book-p table td {
    padding: 0 0 0 15px;
    vertical-align: top;
}

.book-p table tr.label td {
    padding-top: 6px;
}

/* метки */

.book-p label.bold {
    font-weight: bold;
    line-height: 160%;
    color: #333;
}
.book-p label {
    cursor: pointer;
}
.book-p label:hover {
    color: #000;
}

/* радиокнопки с подписями */

.book-p label.bp-sex-label {
    float: left;
    display: inline-block;

    margin: 0 .5em;

    height: 32px;
    line-height: 32px;

    cursor: default;
}

.book-p label.bp-sex {
    font-weight: normal;

    position: relative;
    
    float: left;
    display: inline-block;

    width: 30px;
    margin: 0;
    padding: 3px 4px;
    overflow: hidden;

    text-align: center;
    white-space: nowrap;

    color: #555;
    background: #fff;

    border: 1px solid #ccc;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
}

.book-p label.bp-sex-m {
    border-right: none;

    border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    -o-border-radius: 6px 0 0 6px;
}

.book-p label.bp-sex-f {
    border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    -o-border-radius: 0 6px 6px 0;
}

.book-p label.bp-sex:hover {
    color: #000;

    border-color: #bbb;
}

.book-p label.bp-sex-pressed,
.book-p label.bp-sex-pressed:hover {
    font-weight: bold;
    
    cursor: default;

    text-transform: uppercase;
    vertical-align: .2em;

    color: green;
}

.book-p label.bp-sex input {
    position: absolute;
    top: -30px;
}

.book-p label.bp-sex-invalid {
    border: 1px dashed red;
}


/* чекбоксы */

.book-p input.bonus {
    vertical-align: middle;
}

/* списки выбора */

.book-p select {
    width: 214px;
}

/* конкретные поля */

.book-p input.text {
    width: 204px;
}

.book-p input.text-dd {
    position: relative;

    width: 62px;

    border-right-color: #aaa;

    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
}

.book-p input.text-mm {
    position: relative;

    width: 62px;
    margin-left: -1px;

    border-left-color: #aaa;
    border-right-color: #aaa;

    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
}

.book-p input.text-yyyy {
    position: relative;

    width: 62px;
    margin-left: -1px;

    border-left-color: #aaa;

    border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
}

.book-p input.input-bonus {
    width: 177px;
}

.book-p select.select-bonus {
    width: 187px;
}

/******* БЛОК 3: БАНКОВСКАЯ КАРТОЧКА *******/

.payments {
    position: relative;
    margin: 0 175px 15px 15px;
    font-size: 75%;
    line-height: 133.333%;
    color: #777;
}
.payments a {
    color: #777;
}
.payments .alfa {
    position: absolute;
    top: 0; left: 504px;
}
.payments .thawte {
    position: absolute;
    top: 1px; left: 539px;
}

.bankcard {
    margin: 0 15px;
    height: 194px;
}

.bankcard li {
    position: relative;
    width: 318px;
    height: 192px;
    padding: 1px 0;
    background: url(/img/booking/cardbgr.png) no-repeat;
}

.bankcard li.bc-front {
    float: left;
}

.bankcard li.bc-back {
    float: right;
}

/* логотипы Виза и МастерКард */

.bankcard .bc-type {
    padding: 0;
    margin: 9px 0 0;

    height: 54px;
    line-height: 54px;
    text-align: center;

    color: #777;
}

    .bankcard .bc-type i {
        display: inline-block;

        height: 54px;

        padding: 0;
        margin: 0;
        
        vertical-align: top;
    }

    .bankcard .bc-type i.bc-visa {
        width: 92px;

        background: url(/img/booking/visa.png);
    }

    .bankcard .bc-type i.bc-master {
        width: 89px;

        background: url(/img/booking/mastercard.png);
    }
    
    .bankcard .bc-type b {
        font-size: 14px;
        
        padding: 0 10px;
    }

    .bankcard .bc-type-visa i.bc-master,
    .bankcard .bc-type-master i.bc-visa,
    .bankcard .bc-type-visa b,
    .bankcard .bc-type-master b
    {
        display: none;
    }

    .bankcard .bc-type-none
    {
        opacity: 0.5;
    }

.bankcard label {
    display: block;
    margin: 0 0 3px;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: -0.03em;
    color: #333;
}

.bankcard .text {
    width: 52px;
    padding: 1px 4px;

    background: #e8e8e8;
}

.bankcard .text-value {
    background: #FFF;
}

.bankcard .text-value {
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}


/* Лицевая сторона */
.bankcard .bc-num {
    position: absolute;
    top: 35%;
    left: 11px;
}
.bankcard .bc-num .text {
    position: absolute;
    top: 0;
    width: 55px;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: -0.04em;
}
.bankcard .bc-num-fields {
    position: relative;
}
.bankcard #bc-num1 {
    left: 0;
}
.bankcard #bc-num2 {
    left: 77px;
}
.bankcard #bc-num3 {
    left: 154px;
}
.bankcard #bc-num4 {
    left: 231px;
}
.bankcard .bankcardname {
    position: absolute;
    bottom: 11px;
    left: 11px;
}
.bankcard .bankcardname .text {
    width: 170px;
    padding: 2px 2px;
    letter-spacing: -0.03em;
}
.bankcard .bc-exp {
    position: absolute;
    bottom: 11px;
    right: 11px;
}
.bankcard .bc-exp i {
    font: normal 140% Courier,monospace;
}
.bankcard .bc-exp .text {
    width: 30px;
    padding: 2px 4px;
}

    /* оборотная сторона */

    .bankcard .magneticstrip
    {
        height: 42px;
        margin: 15px 0 0 0;

        background: #2b2b2b;
    }

    .bankcard .bccvv {
        position: absolute;

        top: 35%;
        right: 11px;

        white-space: nowrap;
    }

    .bankcard .bccvv label.cvv {
        text-align: right;
        letter-spacing: 0;
    }

    .bankcard .bccvv label.num4 {
        display: inline;
        margin: 0 8px 0 0;
        font-weight: bold;
        font-size: 22px;
        letter-spacing: -0.04em;
    }
    
    .bankcard .bccvv .empty {
        color: #A8A8A8;
    }

    .bankcard .bccvv label.novalue {
        color: #777;
    }

    .bankcard .bccvv .text {
        width: 2em;
        font-weight: bold;
        font-size: 22px;
        letter-spacing: -0.04em;
        text-shadow: none;
    }

    .bankcard .bankcardbankname {
        position: absolute;

        bottom: 10px;
        left: 10px;
    }

    .bankcard .bankcardbankname .text {
        width: 286px;

        padding: 2px 4px;

        text-shadow: none;
    }

/* раскладка цены */

.book-bc table.bc-bill {
    width: 645px;
    margin: 1em 0 0 12px;
}

    .book-bc .bc-bill th {
        font: bold 87.5% Arial,a;
        
        padding-bottom: 1px;

        vertical-align: middle;
        white-space: nowrap;

        color: #333;
    }

    .book-bc .bc-bill th i {
        font: bold 70px/40px Arial,a;

        display: inline-block;
        overflow: hidden;

        margin: 0 12px;

        color: #6e6e6e;
    }

    .book-bc .bc-bill td {
        white-space: nowrap;
    }

    .book-bc .bc-bill td u {
        margin: 0 0.25em 0 0;
        font: bold 162.5%/100% Arial, sans-serif;
        letter-spacing: -0.045em;
        color: #ed1192;
    }

    .book-bc .bc-bill td b {
        font: bold 200%/100% Arial, sans-serif;
        margin: 0 0.25em 0 0;
        letter-spacing: -0.045em;        
        color: #6F7C26;
    }

    .book-bc .bc-bill td i {
        font-size: 85.714%;
        font-size: 78.571%;

        color: #6e6e6e;
    }

    .book-bc .bc-bill tfoot td {
        padding: .5em 0 0 0;

        white-space: normal;

        color: #777;
    }


/******* БЛОК 4: КОНТАКТЫ *******/

.booking .book-c table td {
    padding-left: 15px;
    vertical-align: top;
}

.booking .book-c .text {
    width: 303px;
}

#booking-contacts-email {
    width: 304px;
}


/******* БЛОК 5: САБМИТ *******/


.booking .book-s {
    overflow: hidden;
    zoom: 1;
    padding: 30px 15px 15px;
}

.booking .disclaimer {
    margin: 20px 0 0;
    color: #777;
}

.book-s .control {
    text-align: center;
}
.book-s .control table {
    margin: 0 auto;
}
.book-s .control td {
    width: 250px;
    vertical-align: middle;
}
.book-s .control td.g-xl {
    font-weight: bold;
    text-align: right;
}
.book-s .control td.g-xxs {
    padding-top: 2px;
    color: #777;
}
.book-s .control th {
    padding: 0 15px 2px;
    vertical-align: middle;
}
.book-s .control .a-button {
    margin: 0;
}
.book-s .sending .cancel,
.book-s .control .loading {
    display: none;
}
.book-s .sending .loading {
    display: block;
    height: 16px;
    background-position: 0 0;
}

/* список причин */

.book-s .blocker {
    position: relative;

    width: 380px;
    
    margin: 22px auto 0;
    padding: 14px 20px 12px;

    color: #333;
    background: #ffc4c4;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
}

    .book-s .blocker s {
        display: block;
        position: absolute;
        left: 194px;
        top: -15px;

        width: 0;
        height: 0;

        border-style: solid;
        border-color: transparent transparent #ffc4c4;
        border-width: 0 16px 16px;
    }

    .book-s .blocker h6 {
        font-weight: bold;
        font-size: 100%;
        margin: 0 0 .4em;
    }

    .book-s .blocker ul {
        margin-left: 1.2em;
    }

    .book-s .blocker li {
        list-style: disc;
        margin: 0 0 0.2em 0;
    }
    
    .book-s .blocker li:first-letter {
        text-transform: uppercase;
    }

.book-s .notice {
    clear: both;
    color: #333;    
}

.booking .book-retry {
    padding-bottom: 0;
}
.book-retry .disclaimer {
    display: none;
}

/* Ошибки заполнения */
.booking .formError {
    display: none;
}

/* Правила тарифов и всплывающие подсказки */
.farerules {
    display: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #eee;
    color: #000;
}
.b-hint {
    cursor: pointer;
    font-weight: bold;
    color: #477db3;
    text-decoration: underline;
}
.farerules {
    position: fixed;
    top: 50%; left: 50%;
    width: 654px;
    padding: 18px 20px 20px;
    margin: -200px 0 0 -347px;
    font-size: 14px;
    line-height: 19px;    
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35); 
}
.farerules .close {
    float: right;
    position: relative;
    top: -12px; left: 14px;
    width: 18px; height: 18px;
    background: url(/img/booking/close.png) no-repeat;
    cursor: pointer;
}
.farerules h3 {
    margin: 0 0 12px;
    font-size: 26px;
    line-height: 1;
}
.farerules .fgroup {
    margin: 12px 0 0;
}
.fgheader {
    margin: 0 0 5px;
}
.fgheader h5 {
    display: inline;
    margin-right: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}
.fgheader .clofs {
    display: inline;
    font-size: 12px;
    color: #777;
}
.farerules pre {
    max-height: 130px;
    overflow: auto;
    border: 1px solid #999;
    border-color: #757575 #999 #B0B0B0;
    padding: 3px 8px;
    background: #fff;
    font-size: 12px;
}

