/* Фильтры предложений */

#offers-filter {
    position: relative;
    top: -3px;
    line-height: 137.5%;
    letter-spacing: -0.014em;
}

#offers-filter th {
    width: 70px;
    padding: 0 0 12px 15px;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
    color: #ed1192;
}

#offers-filter td {
    padding: 0 15px 12px 10px;
    vertical-align: top;
    color: #333;
}

#offers-reset-filters {
    color: #ED1192;
}

#offers-filter .flight {
    display: inline;
}

#offers-filter .pseudo:hover {
    color: #000;
}

#offers-filter .dropdown {
    margin-top: -6px;
    line-height: 118.75%;
}

#layovers-filter {
    background: #f5eec9;
    position: relative;
    left: -5px;
    padding: 0 5px 2px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#layovers-filter .dropdown {
    margin-left: -11px;
}
.mac-safari #layovers-filter .dropdown,
.mac-chrome #layovers-filter .dropdown {
    margin-top: -8px;
}
