/* Filters */
#offers-filter {
    position: relative;
    background: #FFF;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.014em;
}
#offers-filter th {
    width: 105px;
    padding: 0 0 12px 15px;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
    color: #ed1192;
}
#offers-filter td {
    width: 180px;
    padding: 0 15px 12px 15px;
    vertical-align: top;
    color: #333;
}
#offers-filter .reset-filters {
    color: #ED1192;
}

/* Fixed filters */
#offers-filter-content.fixed {
    position: fixed;
    z-index: 10;
    width: 960px;
    background: #FFF;
}
#offers-filter-content .of-collapsed {
    display: none;
    padding: 0 15px;
    height: 30px;
}
#offers-filter-content .shadow {
    display: none;
    position: absolute;
    bottom: -6px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 6px;
    background: url(/img/header/shadow.png) repeat-x;    
}
#offers-filter-content .expand-filters {
    font-weight: bold;
    color: #ED1192;
}
#offers-filter .of-collapsed .reset-filters {
    float: right;
}
#offers-filter-content .collapse-container {
    vertical-align: bottom;
    padding-bottom: 14px;
    font-weight: normal;
}
#offers-filter-content .collapse-filters {
    display: none;
    font-size: 11px;
    cursor: pointer;
}
#offers-filter-content.fixed .collapse-filters {
    display: inline;
}
#offers-filter-content.fixed .shadow {
    display: block;
}

/* Filters group */
#offers-filter h5 {
    margin: 0 0 3px;
    font-weight: bold;
}
#offers-filter .filter {
    display: block;
    margin: 0 0 3px;
}
#offers-filter .dropdown {
    margin-top: -6px;
    font-size: 16px;
    line-height: 19px;
}

/* Layovers */
#offers-filter #layovers-filter {
    margin-bottom: 0;
}
#layovers-filter .control {
    display: none;
}
#layovers-filter .values {
    position: absolute;
    height: 0;
    overflow: hidden;
}
#layovers-filter .vlist {
    position: relative;
    left: -3px;
    overflow: hidden;
    zoom: 1;
}
#layovers-filter .vlist dt {
    display: none;
}
#layovers-filter .vlist dd {
    display: inline;
    float: left;
    clear: left;
    margin: 0 3px 3px;
    white-space: nowrap;
    text-decoration: underline;
    cursor: pointer;
}
#layovers-filter .vlist dd.selected {
    margin: 0 0 3px;
    padding: 0 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;    
    background: #ED1192;
    color: #FFF;
    text-decoration: none;
}
