/* Список предложений */

#offers.latent
{
    display: none;
}

#offers-list 
{
    width: 675px;
    margin: 15px;    
}

#offers-list .improper
{
    display: none;
}

#offers-list h3.recomendation 
{
    font-size: 125%;
    font-weight: bold;
    
    margin: 0 0 8px;

    line-height: 100%;
    letter-spacing: -0.035em;
}

/* Предложение */
.offer
{
    font-size: 81.25%;
    
    margin: 0 0 10px;

    line-height: 1.23;

    color: #333;
    border-bottom: 1px solid #d0d0d0;
    background: #fff;
}

.offer td
{
    vertical-align: top;
}

/* Заголовок предложения */

.offer-head
{
    width: 100%;
    
    border-bottom: 1px solid #e5e5e5;
}

    /* Стоимость */

    .offer-head .cost 
    {
        width: 5px;
        padding: 8px 10px 7px;
    }

    .offer-head .cost dl
    {
        font-weight: bold;
        
        width: 98px;
    }    
    
    .offer-head .cost dt
    {
        font-size: 30px;
    
        line-height: 28px;
        letter-spacing: -1px;
    
        color: #cb388f;
    }

    .offer-head .cost dd
    {
        font-size: 14px;
    
        line-height: 14px;
    
        color: #828282;
    }
    
    .offer-head .cost .digit 
    {
        margin-left: 0.2em;
    }

    /* Кнопка */

    .offer-head td.booking
    {
        padding: 7px 14px 7px 0;
    }

    .offer a.a-button
    {
        font-size: 16px;
        font-weight: bold;
    
        float: left;
    
        padding: 3px 6px;
    }
    
    .offer a.a-button:active 
    {
        padding: 3px 6px;
    }

    /* Варианты */

    .offer-head .variants
    {
        width: 75%;
        padding: 12px 10px 11px 28px;
    
        color: #2C2C2C;
        border-bottom: 1px solid #dbe1d9;
        border-left: 1px solid #dbe1d9;
        background: #f4faf2;
    }

    .offer-head .variants h6
    {
        font-size: 107.7%;
        
        position: relative;
        left: -20px;
        
        margin-bottom: 3px;
        padding-left: 20px;
        
        background: url(/img/offers/i-variants.png) no-repeat 0 1px;
    }
    
    .offer-head strong
    {
        font-weight: bold;
    }


/* Обзор предложения */
.offer-summary
{
    width: 100%;
    margin: 5px 0 0;
}

.offer-summary td
{
    padding: 8px 10px 8px 0;
}

.offer-summary p.note
{
    font-size: 84.62%;
    
    color: #777777;
    
    line-height: 118.18%;
}

.offer-summary .ret td
{
    border-top: 1px solid #D6D6D6;
}

.offer-summary td.common
{
    vertical-align: middle;
}

    /* Авиакомпания */

    .offer-summary .carrier 
    {
        font-size: 84.62%;
        
        width: 98px;
        padding-left: 10px;
        
        line-height: 118.18%;
    }

    .offer-summary .ret .carrier
    {
        border-top-color: #FFF;
    }
    
    .offer-summary .carrier p
    {    
        margin: 0 0 3px;
        
        text-align: center;
    }

    /* Вылет и прилет */

    .offer-summary .dpt,
    .offer-summary .arv
    {
        width: 130px;
    }
    
    .offer-summary h5
    {
        font-size: 123%;
        font-weight: bold;
        
        margin: 0 0 2px;
    
        line-height: 1;
    
        color: #6F7C26;
    }
    
    .offer-summary .direction
    {
        font-size: 81.25%;
        font-weight: normal;
        
        position: relative;
        top: -2px;
        
        visibility: hidden;
        
        color: #777;
    }
    
    .hover .offer-summary .direction
    {
        visibility: inherit;    
    }
    
    .offer-summary .ret h5
    {
        color: #C46F26;
    }
    
    .offer-summary .dpt p,
    .offer-summary .arv p
    {
        margin: 0 0 2px;
    
        line-height: 107.7%;
    }    

    /* Полет */
    
    .offer-summary .fly
    {
        width: 25%;
        padding-right: 20px;
    }

    .offer-summary .fly h6,
    .offer-summary .fly p
    {
        text-align: center;
    }
    
    .offer-summary .fly h6
    {
        font-size: 84.62%;
        
        line-height: 118.18%;
    }
    
    .offer-summary .fly .parts
    {
        height: 20px;
        
        text-align: center;
        
        cursor: default;
    }
    
    .offer-summary .fly .flight,
    .offer-summary .fly .change 
    {
        display: inline-block;

        margin: 0 4px;
     
        cursor: help;
    }

    .offer-summary .fly .flight
    {
        width: 15px;
        height: 15px;

        background: url(/img/offers/planes.png) no-repeat;
    }

    .offer-summary .ret .flight 
    {
        background-position: 0 -15px;
    }

    .offer-summary .fly .change 
    {
        width: 16px;
        height: 16px;

        background: url(/img/offers/i-waiting.png) no-repeat;
    }

    /* Пересадки */

    .offer-summary .changes
    {
        font-size: 84.62%;
    
        width: 90px;
        padding-left: 10px;
        
        line-height: 118.18%;
    }

/* Правила тарифа */

.offer-rules
{
    font-size: 84.62%;

    float: right;
    
    margin-top: 1px;
    padding-right: 10px;
    
    color: #777;
}

.offer-rules a
{
    font-weight: bold;
    
    color: #1F64BE;
}

/* Показать подробности */

.offer-toggle
{
    margin: 0 200px 10px 118px;
}

.offer-toggle .collapse
{
    display: none;
}

.offer-toggle .b-pseudo
{
    color: #1F64BE;
}

.offer-toggle .b-pseudo u
{
    font-weight: bold;
}

/* Подробности */

.offer-details
{
    display: none;

    border-top: 1px solid #d0d0d0;
    background: #f7f7f7;
}

.offer-details h4
{
    font-size: 16px;
    font-weight: bold;
    
    margin: 6px 0 8px 118px;
    padding: 4px 0 0;

    color: #777;
}

.offer-details .direction
{
    color: #6F7C26;
}

.offer-details .ret .direction
{
    color: #C46F26;
}

    /* Рейс */

    .offer-details .flight
    {
        margin: 0 0 8px 32px;
    }
    
    .offer-details .point
    {
        float: left;
        
        width: 50%;
    }

        /* Время */
        
        .offer-details .point .time
        {
            font-size: 11px;
            
            float: left;
            
            width: 70px;
            padding-bottom: 8px;
            padding-left: 14px;
            
            line-height: 13px;
        }
        
        .offer-details .point .time h5
        {
            font-size: 22px;
            font-weight: bold;
            
            margin: 0 0 2px;
            
            line-height: 22px;
            
            color: #777;
        }
        
        .offer-details .arv .time h5,
        .offer-details .dpt .time h5
        {
            color: #6F7C26;
        }
        
        .offer-details .ret .arv .time h5,
        .offer-details .ret .dpt .time h5
        {
            color: #C46F26;
        }
    
        /* Информация */

        .offer-details .point .info
        {
            font-size: 92.3%;
            line-height: 133.33%;
            
            margin: 0 10px 0 86px;
        }
        
        .offer-details .point .info h6
        {
            font-size: 116.667%;
            font-weight: bold;
            
            margin: 0 0 3px;
        }
        
        .offer-details .warnings
        {
            clear: left;
            
            margin: 4px 0 0 -22px;
            
            color: #777;    
            
            line-height: 108.33%;
        }

        .offer-details .warnings li
        {
            padding: 2px 0 2px 22px;

            background: url(/img/offers/warnings.png) no-repeat -20px 0;
        }

        .offer-details li.diffad
        {
            background-position: 0 -50px;
        }

        .offer-details li.schange
        {
            background-position: 0 -100px;
        }

        .offer-details li.lchange
        {
            background-position: 0 -150px;
        }

        .offer-details li.ndarv
        {
            background-position: 0 -200px;
        }

    /* Сумма и кнопка */
    
    .offer-details .booking
    {
        margin: 12px 0 0;
        padding: 12px 0;

        border-top: 1px solid #d0d0d0;
        background: #fff;
    }

    .offer-details .booking .a-button
    {
        margin: 0 12px 0 118px;
    }
    
    .offer-details .booking .sum
    {
        float: left;
    }

    .offer-details .booking .sum dt
    {
        font-size: 107.7%;
        line-height: 107.14%;
        
        margin: 0 0 2px;
        
        color: #000;
    }

    .offer-details .booking .sum strong
    {
        font-weight: bold;
    }

    .offer-details .booking .sum dd
    {
        font-size: 92.3%;
    
        color: #777;
    }
