/* Предложение по перелёту и отелю (BEGIN) */
    
    #offers.latent
    {
        display: none;
    }
    
    #offers-list 
    {
        width: 675px;
        margin: 15px;    
    }
    
    .offers
    {
        overflow: hidden;
    }

    .offers table
    {
        font: normal 100% Arial,a;

        width: 100%;
        margin-bottom: 1.4em;

        color: #333;
        border-bottom: 1px solid #d0d0d0;
        background: #fff;
    }

    /* Заголовок предложения */

    .offers thead
    {
        color: 2b2b2b;
    }

    .offers thead th,
    .offers thead td
    {
        overflow: hidden;

        padding: 6px 4px 4px 6px;

        vertical-align: middle;
    }

    .offers thead th
    {
        font: bold 22px Arial,s;

        padding-left: 12px;

        letter-spacing: -1px;

        color: #cb388f;
    }

    .offers thead th s
    {
        font-weight: bold;

        color: #4a4a4a;
    }

    .offers thead td .b-pseudo {
        letter-spacing: -.02em;

        color: #1f64be;
    }

    .offers thead td .b-pseudo u {
        font: bold 80% Arial,a;
    }

    .offers thead .a-button
    {
        font: bold 100% Arial,a;

        float: right;

        padding: 3px 6px;
    }

    .offers thead .a-button:active
    {
        padding: 4px 5px 2px 7px;
    }

    .offers table.hover thead .a-button
    {
        float: right;

        padding: 3px 6px;
    }

    /* Тело предложения */

    .offers tbody td
    {
        overflow: hidden;

        padding: 8px 2px 4px 6px;

        vertical-align: top;

        border-top: 1px solid #d6d6d6;
    }

    .offers tbody td.dpt {
    }

    .offers tbody td.arv {
    }

    .offers tbody td.dpt * {
        text-align: right;
    }

    .offers .extra {
        font-size: 70%;

        padding-left: 12px;

        color: #2b2b2b;
    }

    .offers .extra p {
        margin: 4px 0 0 0;
        padding: 27px 0 0 0;

        background: url(/img/system/airlines/default.gif) no-repeat;
    }

    .offers .extra-info {
        padding: 8px 6px 2px 12px;
    }

    .offers tbody td.dpt .direction {
        font: 12px Arial, sans-serif;
        
        visibility: hidden;
        float: left;
        
        width: 60px;
        margin: 1px 0 0 -6px;
        padding: 1px 0;
        
        text-align: center;
        
        color: #FFF;
    }
    
    .offers table.hover tbody td.dpt .direction {
        visibility: visible;
    }

    .offers tbody .ow .direction {
        background: #717c09;
    }

    .offers tbody .rt .direction {
        background: #c27006;
    }

    .offers tbody h3 {
        font: bold 100% Arial,a;
    }

    .offers tbody tr.ow h3 {
        color: #6f7c26;
    }

    .offers tbody tr.rt h3 {
        color: #c46f26;
    }

    .offers tbody h4 {
        font: normal 80% Arial,a;

        color: #2b2b2b;
    }

    .offers tbody h5 {
        font: normal 70% Arial,a;

        color: #2b2b2b;
    }

    .offers tbody h5.light {
        color: #777;
    }

    /* Перелёты и пересадки */

    .offers tbody td.fly {
        padding-top: 10px;

        text-align: center;
        
        cursor: default;
    }

    .offers tbody td.fly * {
        text-align: center;
    }

    .offers tbody td.fly a {
        display: inline-block;

        width: 15px;
        height: 15px;
        margin: 0 4px;

        background: url(/img/offers/planes.png) no-repeat 0 0;
    }

    .offers tbody td.fly a:hover,
    .offers tbody td.fly a.change:hover {
        background-color: yellow;
        cursor: help;
    }

    .offers tbody td.fly a.change {
        width: 16px;
        height: 16px;

        background: url(/img/offers/i-waiting.png) no-repeat;
    }

    .offers .ow td.fly a {
        background: url(/img/offers/planes.png) no-repeat 0 0;
    }

    .offers .rt td.fly a {
        background: url(/img/offers/planes.png) no-repeat 0 -15px;
    }


    /* Футер предложения */

    .offers tfoot td {
        font-size: 80%;

        padding: 6px;
    }

    .offers tfoot tr.info {
        background: #cae4bc;
        border-bottom: 1px solid #b5cda9;
    }

    .offers tfoot .info th {
        background: url(/img/offers/i-bulb.png) no-repeat right center;
    }

    .offers tfoot .info td {
    }

    .offers tfoot .info dl {
    }

    .offers tfoot .info dl dt {
        font-weight: bold;
    }




