.b-loader 
{
	font-size: 87.5%;
	position: relative;
	margin: 25px 320px 25px 160px;
}

.b-loader .progress 
{
	position: absolute;
	top: 3px; left: -144px;
}

.b-loader h3 
{
	font: bold 150%/100% Arial;
	margin: 0 0 15px;
}

.b-loader .phones
{
	overflow: hidden;
	margin: 15px 0 0;
}

	.b-loader .phones dt
	{
		font-size: 22px;
		line-height: 24px;
		font-weight: bold;
		float: left;
		clear: left;
		width: 190px;
		margin: 0 0 6px;
	}

	.b-loader .phones strong
	{
		color: #d5398b;
	}
	
	.b-loader .phones dd
	{
		float: left;
		margin-top: 5px;
	}	