#offers-loading
{
    font-size: 87.5%;

    position: relative;

    width: 400px;
    margin: 15px;
    padding: 10px 15px 14px 260px;
    
    background: url(/img/offers/progress-photo.jpg) no-repeat 0 40% #FFF;
}

#offers-loading h3 
{
    font-size: 171.429%;
    font-weight: bold;

    margin: 0 0 10px;
    
    line-height: 108.333%;
}

#offers-loading .phones
{
    font-size: 85.714%;
    
    margin: 10px 0 15px;
}

    #offers-loading .phones li
    {
        margin: 0 0 3px;
    }

    #offers-loading .phones strong
    {
        font-size: 125%;
        font-weight: bold;
        
        color: #ed1192;
    }
 