/* Блок с тенью */
.offers-message {
    margin: 0 15px 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);       
}
.om-photo {
    height: 120px;
    padding: 38px 15px 0 0;
    font-size: 15px;
    line-height: 18px;
    color: #777;
}
.om-photo a,
.om-photo strong {
    color: #ed1192;
}
.om-text {
    border-top: 1px solid #ebebeb;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    padding: 19px 15px 17px;
    background: #f0f0f0;
    color: #333;
}
.om-text h3 {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
}

/* Поиск */
#offers-loading .om-photo {
    padding-left: 587px;
    background: url(/img/offers/photo-search.jpg) no-repeat 50% 50%;
}
#offers-loading .progress {
    position: relative;
    width: 128px;
    height: 15px;
    margin: 0 auto 12px;
    background: url(/img/offers/progress.gif) no-repeat;
}
#offers-loading .timer {
    position: absolute;
    top: 1px; left: 140px;
    font-size: 16px;
    line-height: 15px;
    color: #777;
}
#offers-loading h3 {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
}

/* Нет результатов */
#offers-empty .om-photo,
.offers-improper .om-photo {
    padding-left: 587px;
    background: url(/img/offers/photo-empty.jpg) no-repeat 50% 50%;    
}
#offers-empty .om-text p,
.offers-improper .om-text p {
    margin: 6px 0 0;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
}
.offers-improper {
    margin: 0;
}

