/* Results */
#results.ready {
    background: #fff;
}
.rcontent {
    width: 960px;
    margin: 0 auto;    
}

/* Fixed header */
#results.ready #results-header {
    background: #FFF;
}
#results-header.fixed {
    position: fixed;
    left: 0; top: 0;
    z-index: 10;
    width: 100%;
}
#results-header .shadow {
    display: none;
    position: absolute;
    left: 0; z-index: -1;
    width: 100%; height: 6px;
    background: url(/img/header/shadow.png) repeat-x;
}
#results-header.fixed .shadow {
    display: block;
}

/* Title */
#results-title {
    padding: 15px 0;
    font: bold 28px/28px Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
}
#results-title:first-letter {
    text-transform: uppercase;
}


/* Tabs */
#rtabs {
    width: 990px;
    margin: 0 auto;
}
#rtabs ul {
    float: left;
}
#rtabs li {
    float: left;
    padding: 8px 15px;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.035em;
}
#rtabs .link {
    text-decoration: underline;
    color: #ed1192;
}
#rtabs .selected {
    position: relative;
    z-index: 1;
    background: #e7ecee;    
}
#rtabs .selected .link {
    text-decoration: none;
    color: #4b4b4b;
    cursor: default;
}

/* Offers */
#offers {
    padding: 15px 0;
    background: #E7ECEE;
}
#offers-context {
    float: right;
    width: 240px;
}
#offers-all,
#offers-matrix,
#offers-featured {
    width: 705px;
}
#offers .improper,
#offers .processing {
    display: none;
}

.offers-title {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.035em;
    color: #4B4B4B;
}
.featured-tip {
    margin-top: 20px;
}
.featured-tip strong {
    color: #ED1192;
}
.featured-tip .up {
    cursor: pointer;
}
.featured-tip .link {
    color: #333;
}
.featured-tip .link:hover {
    color: #ED1192;
}

/* Соседние города */
.offers-nearby {
    color: #4b4b4b;
}
.offers-nearby .cities {
    margin: 10px 0;
}
.offers-nearby strong {
    font-weight: bold;
    color: #ED1192;    
}
.offers-nearby .city,
.rmtext .city {
    text-decoration: underline;
    cursor: pointer;
}

/* Сортировка */
.offers-sort {
    margin: 0 0 14px;
}
.offers-sort .offers-title {
    margin: 0 0 4px;
}
.offers-sort p {
    color: #4B4B4B;
}
.offers-sort a {
    color: #4B4B4B;
}
.offers-sort a:hover {
    color: #000;
}
.offers-sort a.sortedby,
.offers-sort a.sortedby u {
    text-decoration: none;
    color: #4B4B4B;
    cursor: text;
}
