/* Вкладки списка результатов */
#offers-tabs {
    position: relative;
    overflow: hidden;
    zoom: 1;
}
#offers-tabs ul {
    display: inline;
    float: left;
}
#offers-tabs ul.secondary {
    margin-left: 45px;
}
#offers-tabs li {
    float: left;
    padding: 8px 15px;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.03em;
}
#offers-tabs #offers-tabs-featured {
    border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
}
#offers-tabs li a {
    text-decoration: underline;
    color: #ed1192;
}
#offers-tabs ul.secondary a {
    color: #777;
    text-decoration: none;
}
#offers-tabs li.active {
    position: relative;
    z-index: 1;
    background: #e7ecee;    
}
#offers-tabs li.active a {
    text-decoration: none;
    color: #333;
    cursor: default;
}
