#offers-title
{
    margin: 15px;
}

#offers-title h1 {
    font: bold 190%/100% Arial, sans-serif;
   
    letter-spacing: -1px;
    
    color: #333;
}

#offers-title h1:first-letter
{
    text-transform: uppercase;
}
