#search-fields {
    position: relative;
    padding: 6px 15px 15px;
    color: #c8c8c8;
    background: #2c2c2c;
    zoom: 1;
}
#search-fields table {
    border-collapse: collapse;
    border-spacing: 0;
}
#search-fields table td {
    padding: 0;
    vertical-align: top;
}

/* верхние подписи к полям ввода */
#search-fields h6 {
    height: 28px;
    font: 18px/27px Arial, sans-serif;
    letter-spacing: -0.01em;
    white-space: nowrap;
}
#search-fields .segment1 .highlight {
    color: #9ab300;
}
#search-fields.smode-rt .segment1 .to .highlight {
    color: #cc8000;
}
#search-fields .loader {
    display: none;
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 5px 0 0 8px;
    background: transparent url(/img/loader/loader-dots.gif) no-repeat;
    background-image: url(data:image/gif;base64,R0lGODlhEAAQAPIAACwsLO0RklglQ7oXd+0RkqEaaYkeXX0gVyH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==);    
}

/* вкладки-переключалки */
#search-mode {
    position: relative;
    left: 15px;
    float: right;
    width: 150px;
    padding-top: 3px;
    font-size: 14px;
    line-height: 16px;
}
#search-mode li {
    padding: 4px 10px;
    cursor: pointer;
}
#search-mode li:hover {
    background: #3E3E3E;
}
.smode-ow #search-mode li.ow,
.smode-rt #search-mode li.rt {
    background: #ed1192;
    color: #FFF;
    cursor: default;
}

/* Поля ввода */
#search-fields .autocomplete {
    float: left; /* иначе в IE появляется вертикальный отступ в 1px */
}
#search-fields .from .autocomplete {
    /*width: 422px;*/
    width: 342px;
}
#search-fields .to .autocomplete {
    /*width: 438px;*/
    width: 358px;
}

/* Кнопка туда-сюда-обратно */
#search-fields .sicon {
    display: block;
    width: 26px;
    height: 26px;
    margin: 36px 8px 6px;
    background: url(/img/search/retmode.png) no-repeat;
    cursor: pointer;
}
#search-fields.smode-ow .segment1 .sicon {
    background-position: 0 -30px;
}
