#search-fields {
    position: relative;
    padding: 6px 0 5px 15px;
    color: #c8c8c8;
    background: #2c2c2c;
    zoom: 1;
}
#search-fields table {
    width: 945px;
    border-collapse: collapse;
    border-spacing: 0;
}
#search-fields table td {
    padding: 0 0 10px;
    vertical-align: top;
}
#search-fields td.search-mode {
    padding-bottom: 0;
} 

/* верхние подписи к полям ввода */
#search-fields h6 {
    height: 28px;
    font: 18px/27px Arial, sans-serif;
    letter-spacing: -0.01em;
    white-space: nowrap;
}
#search-fields .segment1 .highlight {
    color: #9ab300;
}
#search-fields .segment2 .highlight,
#search-fields.rtmode .segment1 .from .highlight {
    color: #cc8000;
}
#search-fields .loader {
    display: none;
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 5px 0 0 8px;
    background: transparent url(/img/loader/loader-dots.gif) no-repeat;
    background-image: url(data:image/gif;base64,R0lGODlhEAAQAPIAACwsLO0RklglQ7oXd+0RkqEaaYkeXX0gVyH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==);    
}

/* Режим поиска */
#search-mode {
    width: 155px;
    margin-left: 20px;
    padding-top: 3px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}
#search-mode li {
    padding: 4px 10px;
    cursor: pointer;
}
#search-mode li:hover {
    background: #3E3E3E;
}
#search-fields.owmode .owtab,
#search-fields.rtmode .rttab,
#search-fields.dwmode .mwtab,
#search-fields.twmode .mwtab {
    background: #ed1192;
    color: #FFF;
    cursor: default;
}

/* Переключение третьего перелёта */
#search-fields .toggle-segment {
    padding: 40px 0 0 30px;
    font-size: 14px;
    line-height: 16px;    
}
#search-fields.twmode .add-segment,
#search-fields.dwmode .remove-segment {
    display: none;
}

/* Поля ввода */
#search-fields .autocomplete {
    float: left; /* иначе в IE появляется вертикальный отступ в 1px */
}
#search-fields .from .autocomplete {
    /*width: 422px;*/
    width: 342px;
}
#search-fields .to .autocomplete {
    /*width: 438px;*/
    width: 358px;
}

/* Кнопка туда-сюда-обратно */
#search-fields .sicon {
    display: block;
    width: 26px;
    height: 26px;
    margin: 36px 8px 6px;
    background: url(/img/search/mode.png) no-repeat;
    cursor: pointer;
}
#search-fields .segment1 .sicon {
    background-position: 0 -30px;
}
#search-fields .segment2 .sicon {
    background-position: 0 -60px;
}
#search-fields .segment3 .sicon {
    background-position: 0 -90px;
}
#search-fields.rtmode .segment1 .sicon {
    background-position: 0 0;
}
