/* Фон */
#search {
    background: #343434;
}
#search .scontent {
    width: 960px;
    margin: 0 auto;
}

/* Селекты и кнопка */
#search-define {
    background: #3e3e3e;
    font-size: 22px;
}
#search-define .scontent {
    width: 990px;
}
#search-define th {
    width: 90px;
    padding: 16px 0 15px 15px;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
    color: #fff;
}
#search-define td {
    padding: 16px 0 15px 10px;
    vertical-align: top;
    color: #ccc;
}
#search-define td a {
    color: #ccc;
}
#search-define #search-submit {
    width: 130px;
    padding: 15px 15px 15px 80px;
    color: #fff;
    background-color: #3e3e3e;
}

/* Лоадер */
#search-submit .progress {
    display: none;
    position: absolute;
    margin: 10px 0 0 -30px;
    width: 16px;
    height: 16px;
    background: transparent url(/img/search/btnprogress.gif) no-repeat;    
}
#search-submit.validating .progress {
    display: block;
}

/* Кнопка */
#search-submit a.b-submit {
    display: block;
    top: 0;
    color: #fff;
}
#search-submit a {
    color: #FFF;
}
#search-submit.disabled a {
    color: #CCC;
}
a.b-submit {
    padding: 6px 35px;
    border: 1px solid #d0dc8a;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #8a9f13;
    background-image: linear-gradient(top, #a0b914, #7b8e12);
        background-image: -moz-linear-gradient(top, #a0b914, #7b8e12);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#a0b914), to(#7b8e12));
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#a0b914', endColorstr='#7b8e12')";    
    font: bold 22px/22px Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    color: #fff;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
a.b-submit:hover {
    border: 1px solid #c52471;
    background: #dc3f8a;
        background-image: -moz-linear-gradient(top, #f062a5, #d92c7e);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f062a5), to(#d92c7e));
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f062a5', endColorstr='#d92c7e')";        
}
.disabled a.b-submit,
.disabled a.b-submit:hover {
    border-color: #999;
    background: #666;
    -ms-filter: "";
    cursor: default;
}

/* Сообщение о нехватке данных */
#search-submit .message {
    display: none;
    position: absolute;
    margin: -8px 0 0 -245px;
    z-index: 5;
    width: 200px;
    padding: 10px 15px;
    border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
    background: #fff8ce;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
        -o-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    line-height: 16px;
    color: #333;
}
#search-submit.validating .message {
    visibility: hidden;
}
#search-submit .ssm-arrow {
    position: absolute;
    top: 50%; left: 229px;
    margin-top: -8px;
    border: 8px solid transparent;
    border-right: 0;
    border-color: transparent #fff8ce;
}
