#search-panel {
    position: relative;
    padding: 10px 0 15px;
    overflow: hidden;
    color: #c8c8c8;
}
.win-msie6 #search-panel,
.win-msie7 #search-panel {
    zoom: 1;
}
#search-where {
    position: relative;
    float: left;
    display: inline;
    width: 320px;
    margin: 0 15px 0 15px;
}
#search-when {
    position: relative;
    float: left;
    width: 595px;
}

/* Заголовки */
#search-panel h2 {
    display: none;
    font-size: 100%;
    font-weight: normal;
    height: 23px;
    color: #c9c8c8;
    line-height: 1.2;
}
#search-panel h2 b {
    color: #6b6b6b;
}
#search-panel h2 .spacer {
	margin: 0 3px;
}

/* Карта */
#where-map {
    position: relative;
    z-index: 1;
    width: 320px;
    height: 339px;
    overflow: hidden;
    background: #f6f1e6;
}

/* Чекбокс для режима отладки */
#search-debug {
    position: relative;
    top: -1px;
    font-size: 11px;
    margin-left: 15px;
    opacity: 0.2;
}
#search-debug input {
    margin: 0 3px 0 0;
}
#search-debug:hover {
    opacity: 1;
}
