<% if admin_user %>
<div id="search-debug">
    Amadeus: <%= debug_service_env(:amadeus)%> <br>
    Сирена:  <%= debug_service_env(:sirena) %> <br>
    Payture: <%= debug_service_env(:payture) %><br>
</div>
<% end %>
