
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">

<title>Eviterra / <%= @title %> </title>
<link rel="favicon icon" type="image/x-icon" href="/favicon.ico">

<!-- [production] Все стили, импортируемые этими файлами, нужно объединить с сохранением порядка, а затем упаковать -->
<link rel="stylesheet" type="text/css" href="css/main.css">

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
