<div class="header">
    <s class="logo"></s>
    <ul id="search.mode" class="tabs head-tabs">
        <li><a href="#" onclick="return {v: 'avia'}" title="Простая покупка авиабилетов" class="active">Авиа</a>
        <li><a href="#" onclick="return {v: 'train'}" title="Обычные и электронные билеты на поезда">Поезда</a>
        <li><a href="#" onclick="return {v: 'hotel'}" title="Бронирование номеров в гостинице или хостеле">Отели</a>
        <li><a href="#" onclick="return {v: 'rent'}" title="Прокат бензиновых вонючек: автомобилей, мотоциклов и тук-туков">Авто</a>
    </ul>
</div>

<div id="search-debug">
    <input type="checkbox" id="sdmode"> <label for="sdmode">Режим отладки</label>
</div>