<div id="offers" class="clear g-none">

    <!-- Человекочитаемая строка запроса -->
    <div id="offers-title">
        <h1></h1>
    </div>

    <!-- Панель ожидания результатов -->
    <div id="offers-loading" class="g-none">
        <h3 class="g-xxl">Минуточку, мы&nbsp;ищем для&nbsp;вас лучшие предложения</h3>
        <h4 title="Идёт поиск…"><i class="g-l" title="Время поиска"></i></h4>

        <p class="g-xxs">Вы всегда можете посоветоваться и&nbsp;сделать заказ по&nbsp;телефону или по&nbsp;почте
        <ul class="g-xxs">
            <li><b class="g-l">+7&nbsp;(495)&nbsp;660-35-20</b>&nbsp;&mdash;&nbsp;в&nbsp;Москве</li>
            <li><b class="g-l"><span class="g-hidden">+</span>8&nbsp;(800)&nbsp;123-45-67</b>&nbsp;&mdash;&nbsp;в&nbsp;других городах (звонок бесплатный)</li>
        </ul>

        <p class="g-xxs"><a href="mailto:ticket@eviterra.ru" class="b-pseudo g-l"><u>ticket@eviterra.ru</u></a>
    </div>

    <!-- Результаты поиска -->
    <div id="offers-results" class="g-none">
    
        <!-- Фильтр результатов -->
        <table id="offers-filter" class="define b-pseudo">
            <tr>
                <th>Уточнить</th>
                <td>
                    
                    <p onclick="return {name: 'dpt_time_0', title: 'время вылета', accusative: 'допустимое время вылета', anyone: 'любое', either: true, brackets: true}"><a href="#"><u>время</u></a><b></b></p>
                    и
                    <p onclick="return {name: 'dpt_airport_0', title: 'аэропорт вылета', accusative: 'подходящие аэропорты вылета', anyone: 'любой', either: true, brackets: true}"><a href="#"><u>аэропорт</u></a><b></b></p>
                    вылета туда,
                    <p onclick="return {name: 'arv_time_0', title: 'время прилёта', accusative: 'допустимое время прибытия', anyone: 'любое', either: true, brackets: true}"><a href="#"><u>время</u></a><b></b></p>
                    и
                    <p onclick="return {name: 'arv_airport_0', title: 'аэропорт прилёта', accusative: 'подходящие аэропорты прибытия', anyone: 'любой', either: true, brackets: true}"><a href="#"><u>аэропорт</u></a><b></b></p>
                    прилёта туда,
                    
                    <p onclick="return {name: 'dpt_time_1', title: 'время вылета', accusative: 'допустимое время вылета', anyone: 'любое', either: true, brackets: true}"><a href="#"><u>время</u></a><b></b></p>
                    и
                    <p onclick="return {name: 'dpt_airport_1', title: 'аэропорт вылета', accusative: 'подходящие аэропорты вылета', anyone: 'любой', either: true, brackets: true}"><a href="#"><u>аэропорт</u></a><b></b></p>
                    вылета обратно,
                    <p onclick="return {name: 'arv_time_1', title: 'время прилёта', accusative: 'допустимое время прибытия', anyone: 'любое', either: true, brackets: true}"><a href="#"><u>время</u></a><b></b></p>
                    и
                    <p onclick="return {name: 'arv_airport_1', title: 'аэропорт прилёта', accusative: 'подходящие аэропорты прибытия', anyone: 'любой', either: true, brackets: true}"><a href="#"><u>аэропорт</u></a><b></b></p>
                    прилёта обратно,
                    
                    <p onclick="return {name: 'planes', title: 'самолёт', accusative: 'приемлемые типы самолётов', anyone: 'любой', either: true, brackets: true}"><a href="#"><u>самолёт</u></a><b></b></p>,
    
                    <p onclick="return {name: 'airlines', title: 'авиакомпанию', accusative: 'подходящие авиакомпании', either: true, brackets: true}"><a href="#"><u>авиакомпанию</u></a><b></b></p>
                    
                    <a href="#" class="g-none" id="offers-reset-filters"><u>все варианты</u></a>
                    
                </td>
            </tr>
        </table>

        <!-- Вкладки списка результатов -->
        <div id="offers-tabs">
            <ul>
                <li class="active"><a href="#" onclick="return {v: 'best'}">Наши предложения</a><span class="arrow"></span></li>
                <li><a href="#" onclick="return {v: 'matrix'}">Матрица цен</a><span class="arrow"></span></li>
                <li id="offers-tab-all"><a href="#" onclick="return {v: 'all'}">Всего 250 вариантов</a><span class="arrow"></span></li>
            </ul>
            <ul class="secondary">
                <li><a href="#" onclick="return {v: 'nearest'}">Соседние города</a><span class="arrow"></span></li>
                <li><a href="#" onclick="return {v: 'train'}">На поезде</a><span class="arrow"></span></li>
            </ul>
        </div>

        <!-- Правая панель -->
        <div class="media" style="background: #D6D6D6; height: 400px;"></div>
        
        <!-- Список результатов -->
        <div id="offers-list">

        <div id="offers-best" class="g-none">
            <h3 class="recomendation">Самый выгодный вариант</h3>
            
            <%#<!-- статическая вёрстка -->
            <div class="offer">
                <table class="offer-variant">
                    <colgroup>
                        <col width="118">
                        <col width="85">
                        <col width="55">
                        <col width="83">
                        <col width="83">
                        <col width="140">
                        <col width="111">
                    </colgroup>
                    <thead>
                        <tr>
                            <td class="cost">
                                <dl><dt>16<span class="digit">346</span></dt><dd>рублей</dd></dl>                        
                            </td>
                            <td class="booking">
                                <a href="#" class="a-button" target="booking" title="Мы предложим вам самостоятельно выписать себе билеты. Приготовьте, пожалуйста, (загран)паспорт или иные подходящие документы, по которым вы полетите.">Купить</a>
                            </td>
                            <td class="variants" colspan="5">
                                <h6>Другие варианты вылета по такой же цене:</h6>
                                <p class="b-pseudo"><strong>Из Москвы</strong> — в <a href="#"><u>16:40</u></a> и в <a href="#"><u>18:35</u></a>, <strong>из Ниццы</strong> — в <a href="#"><u>10:45</u></a> и в <a href="#"><u>12:38</u></a></p>
                            </td>
                        </tr>
                    </thead>
                    <tbody class="summary">
                        <tr>
                            <td class="carrier">
                                <p><img src="/img/system/airlines/default.gif" alt=""></p>
                                <p>LOT Polish Airlines</p>
                            </td>
                            <td class="dpt" colspan="2">
                                <h5>09:55<span class="direction"> — туда</span></h5>
                                <p>Москва, Шереметьево</p>
                                <p class="note">Терминал F</p>
                            </td>
                            <td class="fly" colspan="2">
                                <div class="parts">
                                    <div class="flight" title="Перелёт Москва — Варшава"></div>
                                    <div class="change" title="Пересадка в Варшаве"></div>
                                    <div class="flight" title="Перелёт Варшава — Ницца"></div>
                                </div>
                                <h6>6 часов 35 минут в пути</h6>
                                <p class="note">пересадка 2 часа 5 минут</p>
                            </td>
                            <td class="arv">
                                <h5>14:30</h5>
                                <p>Ницца, Кот Д'Азур<p>
                                <p class="note">Терминал 1</p>
                            </td>
                            <td class="changes">
                                <p>1 пересадка в Варшаве</p>
                            </td>
                        </tr>
                        <tr class="ret">
                            <td class="carrier">
                                <p><img src="/img/system/airlines/default.gif" alt=""></p>
                                <p>Swiss</p>
                            </td>
                            <td class="dpt" colspan="2">
                                <h5>07:00<span class="direction"> — обратно</span></h5>
                                <p>Ницца, Кот Д'Азур<p>
                                <p class="note">Терминал 1</p>
                            </td>
                            <td class="fly" colspan="2">
                                <div class="parts">
                                    <div class="flight" title="Перелёт Ницца — Цюрих"></div>
                                    <div class="change" title="Пересадка в Цюрихе"></div>
                                    <div class="flight" title="Перелёт Цюрих — Москва"></div>
                                </div>
                                <h6>8 часов 50 минут в пути</h6>
                                <p class="note">пересадка 4 часа 10 минут</p>
                            </td>
                            <td class="arv">
                                <h5>17:50</h5>
                                <p>Москва, Домодедово<p>
                            </td>
                            <td class="changes">
                                <p>1 пересадка в Цюрихе</p>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="toggle" colspan="4">
                                <span class="b-pseudo expand"><u>Подробнее о перелёте</u></span>
                                <span class="b-pseudo collapse"><u>Скрыть подробности</u></span>
                            </td>
                            <td class="rules" colspan="2">
                                <a href="#">Правила тарифа</a> (VRUAFL) 
                            </td>
                        </tr>
                    </tbody>
                    <tbody class="details">
                        <tr>
                            <td></td>
                            <th colspan="6"><strong class="direction">Перелёт туда</strong> с одной пересадкой в Варшаве</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="point arv" colspan="3">
                                <div class="time">
                                    <h5>09:55</h5>
                                    <p>23 августа<br>понедельник</p>
                                    <p>МСК</p>
                                </div>
                                <h6>Вылет из Москвы</h6>
                                <p>Аэропорт Шереметьево, терминал F</p>
                                <p>Рейс LO 1323 Москва — Варшава</p>
                                <p>Выполняется LOT Polish Airlines</p>
                                <p>Самолёт Airbus A320</p>
                                <p>2 часа в пути</p>
                            </td>
                            <td></td>
                            <td class="point" colspan="2">
                                <div class="time">
                                    <h5>12:55</h5>
                                    <p>CEST</p>
                                </div>
                                <h6>Прилёт в Варшаву</h6>
                                <p>Аэропорт Рузине, терминал 1</p>
                                <p>2 часа 5 минут между рейсами</p>
                                <ul class="warnings">
                                    <li>Разные терминалы прилёта и вылета</li>
                                    <li>Разница во времени с Москвой — минус 2 часа</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="point" colspan="3">
                                <div class="time">
                                    <h5>14:00</h5>
                                    <p>МСК</p>
                                </div>
                                <h6>Вылет из Варшавы</h6>
                                <p>Аэропорт Рузине, терминал 2</p>
                                <p>Рейс AF 145 Прага — Ницца</p>
                                <p>Выполняется Air France</p>
                                <p>Самолёт Airbus A320</p>
                                <p>2 часа 30 минут в пути</p>
                            </td>
                            <td></td>
                            <td class="point dpt" colspan="2">
                                <div class="time">
                                    <h5>14:30</h5>
                                    <p>CET</p>
                                </div>
                                <h6>Прилёт в Ниццу</h6>
                                <p>Аэропорт Кот Д'Азур, терминал 1</p>
                                <p class="timezone">Разница во времени с Москвой — минус 2 часа</p>
                            </td>
                        </tr>
                        <tr class="booking">
                            <td></td>
                            <td colspan="6">
                                <a href="#" class="a-button" target="booking" title="Мы предложим вам самостоятельно выписать себе билеты. Приготовьте, пожалуйста, (загран)паспорт или иные подходящие документы, по которым вы полетите.">Купить</a>
                                <dl class="sum">
                                    <dt>Итого <strong>16346 рублей</strong> за всех со всеми налогами и сборами</dt>
                                    <dd>Тариф — 13080 рублей, налоги и сборы — 3266 рублей</dd>
                                </dl>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- статическая вёрстка - конец -->%>
        </div>
        
        <div id="offers-matrix">
            <h3 class="offers-title">По датам перелёта</h3>
            <div class="offer">
                <table class="offer-prices">
                <colgroup>
                    <col width="120">
                    <col width="*" span="7">
                </colgroup>
                <tr>
                    <th class="direction"><h6>Туда</h6><h6 class="ret">Обратно</h6></th>
                    <th><h6>14 сентября</h6><p>вторник</p></th>
                    <th><h6>15 сентября</h6><p>среда</p></th>
                    <th><h6>16 сентября</h6><p>четверг</p></th>
                    <th class="current"><h6>17 сентября</h6><p>пятница</p></th>
                    <th><h6>18 сентября</h6><p>суббота</p></th>
                    <th><h6>19 сентября</h6><p>воскресенье</p></th>
                    <th class="last"><h6>20 сентября</h6><p>понедельник</p></th>
                </tr>
                <tr>
                    <th class="ret"><h6>18 сентября</h6><p>суббота</p></th>
                    <td>25<span class="digit">548</span></td>
                    <td>25<span class="digit">548</span></td>
                    <td>25<span class="digit">130</span></td>
                    <td>25<span class="digit">800</span></td>
                    <td>24<span class="digit">972</span></td>
                    <td>25<span class="digit">120</span></td>
                    <td class="last">25<span class="digit">548</span></td>
                </tr>
                <tr class="current">
                    <th class="ret"><h6>19 сентября</h6><p>воскресенье</p></th>
                    <td>25<span class="digit">130</span></td>
                    <td>25<span class="digit">800</span></td>
                    <td>24<span class="digit">972</span></td>
                    <td class="selected">25<span class="digit">548</span></td>
                    <td>25<span class="digit">548</span></td>
                    <td>25<span class="digit">120</span></td>
                    <td class="last">25<span class="digit">548</span></td>
                </tr>
                <tr>
                    <th class="ret"><h6>20 сентября</h6><p>понедельник</p></th>
                    <td>25<span class="digit">548</span></td>
                    <td>25<span class="digit">548</span></td>
                    <td>25<span class="digit">130</span></td>
                    <td>25<span class="digit">800</span></td>
                    <td>24<span class="digit">972</span></td>
                    <td>25<span class="digit">120</span></td>
                    <td class="last">25<span class="digit">548</span></td>
                </tr>                
                </table>
                <br>
            </div>
        </div>
        
        <div id="offers-all" class="offers g-none">
            <div class="offers-sort">
                <h3 class="offers-title">Все варианты, отсортированные <span id="offers-sortedby">по цене</span></h3>
                <p>
                    можно 
                    <a href="#" class="sortedby" onclick="return 'price'"><u>по цене</u></a>,
                    <a href="#" class="b-pseudo" onclick="return 'duration'"><u>по времени в пути</u></a>,
                    <a href="#" class="b-pseudo" onclick="return 'departures'"><u>по времени вылета</u></a>
                    или&nbsp;<a href="#" class="b-pseudo" onclick="return 'airline'"><u>по авиакомпании</u></a>

            </div>
            <div id="offers-collection"></div>
        </div>
        
        </div>
        <!-- /Список результатов -->
    
    </div>

</div>