<div id="offers" class="clear g-none">

    <!-- Человекочитаемая строка запроса -->
    <div id="offers-title">
        <h1></h1>
    </div>

    <!-- Панель ожидания результатов -->
    <div id="offers-loading" class="g-none">
        <h3 class="g-xxl">Минуточку, мы&nbsp;ищем для&nbsp;вас лучшие предложения</h3>
        <h4 title="Идёт поиск…"><i class="g-l" title="Время поиска"></i></h4>

        <p class="g-xxs">Вы всегда можете посоветоваться и&nbsp;сделать заказ по&nbsp;телефону или по&nbsp;почте
        <ul class="g-xxs">
            <li><b class="g-l">+7&nbsp;(495)&nbsp;660-35-20</b>&nbsp;&mdash;&nbsp;в&nbsp;Москве</li>
            <li><b class="g-l"><span class="g-hidden">+</span>8&nbsp;(800)&nbsp;123-45-67</b>&nbsp;&mdash;&nbsp;в&nbsp;других городах (звонок бесплатный)</li>
        </ul>

        <p class="g-xxs"><a href="mailto:ticket@eviterra.ru" class="b-pseudo g-l"><u>ticket@eviterra.ru</u></a>
    </div>

    <!-- Ничего не найдено -->
    <div id="offers-empty" class="g-none">
        <h3 class="g-xl">Таких рейсов нет, попробуйте другие даты.</h3>
    </div>    

    <!-- Результаты поиска -->
    <div id="offers-results" class="g-none">
    
        <!-- Фильтр результатов -->
        <table id="offers-filter" class="define b-pseudo">
        <tr>
            <th>Уточнить</th>
            <td>
                <div class="flight">
                    <p onclick="return {name: 'dpt_time_0', title: 'время вылета', accusative: 'допустимое время вылета', anyone: 'любое', either: true, brackets: true}"><a href="#"><u>время</u></a><b></b></p>
                    <span class="conjunction">и</span>
                    <p onclick="return {name: 'dpt_airport_0', title: 'аэропорт вылета', accusative: 'подходящие аэропорты вылета', anyone: 'любой', either: true, brackets: true}"><a href="#"><u>аэропорт</u></a><b></b></p>
                    вылета <span class="city" data-key="dpt_city_0">туда</span>,
                </div>
                <div class="flight">
                    <p onclick="return {name: 'arv_time_0', title: 'время прилёта', accusative: 'допустимое время прибытия', anyone: 'любое', either: true, brackets: true}"><a href="#"><u>время</u></a><b></b></p>
                    <span class="conjunction">и</span>
                    <p onclick="return {name: 'arv_airport_0', title: 'аэропорт прилёта', accusative: 'подходящие аэропорты прибытия', anyone: 'любой', either: true, brackets: true}"><a href="#"><u>аэропорт</u></a><b></b></p>
                    прилёта <span class="city" data-key="arv_city_0">туда</span>,
                </div>
                <div class="flight">
                    <p onclick="return {name: 'dpt_time_1', title: 'время вылета', accusative: 'допустимое время вылета', anyone: 'любое', either: true, brackets: true}"><a href="#"><u>время</u></a><b></b></p>
                    <span class="conjunction">и</span>
                    <p onclick="return {name: 'dpt_airport_1', title: 'аэропорт вылета', accusative: 'подходящие аэропорты вылета', anyone: 'любой', either: true, brackets: true}"><a href="#"><u>аэропорт</u></a><b></b></p>
                    вылета <span class="city" data-key="dpt_city_1">обратно</span>,
                </div>
                <div class="flight">
                    <p onclick="return {name: 'arv_time_1', title: 'время прилёта', accusative: 'допустимое время прибытия', anyone: 'любое', either: true, brackets: true}"><a href="#"><u>время</u></a><b></b></p>
                    <span class="conjunction">и</span>
                    <p onclick="return {name: 'arv_airport_1', title: 'аэропорт прилёта', accusative: 'подходящие аэропорты прибытия', anyone: 'любой', either: true, brackets: true}"><a href="#"><u>аэропорт</u></a><b></b></p>
                    прилёта <span class="city" data-key="arv_city_1">обратно</span>,
                </div>
                <p onclick="return {name: 'cities', title: 'город пересадки', accusative: 'города, подходящие для пересадки', anyone: 'любой', either: true, brackets: true}"><a href="#"><u>город пересадки</u></a><b></b></p><span class="comma">,</span>
                <p onclick="return {name: 'planes', title: 'самолёт', accusative: 'приемлемые типы самолётов', anyone: 'любой', either: true, brackets: true}"><a href="#"><u>самолёт</u></a><b></b></p><span class="comma">,</span>
                <p onclick="return {name: 'airlines', title: 'авиакомпанию', accusative: 'подходящие авиакомпании', either: true, brackets: true}"><a href="#"><u>авиакомпанию</u></a><b></b></p>
                <a href="#" class="g-none" id="offers-reset-filters"><u>все варианты</u></a>
            </td>
        </tr>
        </table>

        <!-- Вкладки списка результатов -->
        <div id="offers-tabs">
            <ul>
                <li class="active"><a href="#" onclick="return {v: 'best'}">Наши предложения</a><span class="arrow"></span></li>
                <li><a href="#" onclick="return {v: 'matrix'}">Матрица цен</a><span class="arrow"></span></li>
                <li id="offers-tab-all"><a href="#" onclick="return {v: 'all'}">Всего 250 вариантов</a><span class="arrow"></span></li>
            </ul>
            <ul class="secondary">
                <li><a href="#" onclick="return {v: 'nearest'}">Соседние города</a><span class="arrow"></span></li>
                <li><a href="#" onclick="return {v: 'train'}">На поезде</a><span class="arrow"></span></li>
            </ul>
        </div>

        <!-- Правая панель -->
        <div class="media" style="background: #D6D6D6; height: 400px;"></div>
        
        <!-- Список результатов -->
        <div id="offers-list">

        <div id="offers-best" class="g-none">
        </div>
        
        <div id="offers-matrix">
            <h3 class="offers-title">По датам перелёта</h3>
            <div class="offer">
                <table class="offer-prices">
                <colgroup>
                    <col width="120">
                    <col width="*" span="7">
                </colgroup>
                <tr>
                    <th class="direction"><h6>Туда</h6><h6 class="ret">Обратно</h6></th>
                    <th><h6>14 сентября</h6><p>вторник</p></th>
                    <th><h6>15 сентября</h6><p>среда</p></th>
                    <th><h6>16 сентября</h6><p>четверг</p></th>
                    <th class="current"><h6>17 сентября</h6><p>пятница</p></th>
                    <th><h6>18 сентября</h6><p>суббота</p></th>
                    <th><h6>19 сентября</h6><p>воскресенье</p></th>
                    <th class="last"><h6>20 сентября</h6><p>понедельник</p></th>
                </tr>
                <tr>
                    <th class="ret"><h6>18 сентября</h6><p>суббота</p></th>
                    <td>25<span class="digit">548</span></td>
                    <td>25<span class="digit">548</span></td>
                    <td>25<span class="digit">130</span></td>
                    <td>25<span class="digit">800</span></td>
                    <td>24<span class="digit">972</span></td>
                    <td>25<span class="digit">120</span></td>
                    <td class="last">25<span class="digit">548</span></td>
                </tr>
                <tr class="current">
                    <th class="ret"><h6>19 сентября</h6><p>воскресенье</p></th>
                    <td>25<span class="digit">130</span></td>
                    <td>25<span class="digit">800</span></td>
                    <td>24<span class="digit">972</span></td>
                    <td class="selected">25<span class="digit">548</span></td>
                    <td>25<span class="digit">548</span></td>
                    <td>25<span class="digit">120</span></td>
                    <td class="last">25<span class="digit">548</span></td>
                </tr>
                <tr>
                    <th class="ret"><h6>20 сентября</h6><p>понедельник</p></th>
                    <td>25<span class="digit">548</span></td>
                    <td>25<span class="digit">548</span></td>
                    <td>25<span class="digit">130</span></td>
                    <td>25<span class="digit">800</span></td>
                    <td>24<span class="digit">972</span></td>
                    <td>25<span class="digit">120</span></td>
                    <td class="last">25<span class="digit">548</span></td>
                </tr>                
                </table>
                <br>
            </div>
        </div>
        
        <div id="offers-all" class="offers g-none">
            <div class="offers-sort">
                <h3 class="offers-title">Все варианты, отсортированные <span id="offers-sortedby">по цене</span></h3>
                <p>
                    можно 
                    <a href="#" class="sortedby" onclick="return 'price'"><u>по цене</u></a>,
                    <a href="#" class="b-pseudo" onclick="return 'duration'"><u>по времени в пути</u></a>,
                    <a href="#" class="b-pseudo" onclick="return 'departures'"><u>по времени вылета</u></a>
                    или&nbsp;<a href="#" class="b-pseudo" onclick="return 'airline'"><u>по авиакомпании</u></a>

            </div>
            <div id="offers-collection"></div>
        </div>
        
        </div>
        <!-- /Список результатов -->
    
    </div>
    
</div>