<div id="offers" class="clear g-none">

    <!-- Человекочитаемая строка запроса -->
    <div id="offers-title">
        <h1></h1>
    </div>

    <!-- Панель ожидания результатов -->
    <div id="offers-loading" class="g-none">
        <h3 class="g-xxl">Минуточку, мы&nbsp;ищем для&nbsp;вас лучшие предложения</h3>
        <h4 title="Идёт поиск…"><i class="g-l" title="Время поиска"></i></h4>

        <p class="g-xxs">Вы всегда можете посоветоваться и&nbsp;сделать заказ по&nbsp;телефону или по&nbsp;почте
        <ul class="g-xxs">
            <li><b class="g-l">+7&nbsp;(495)&nbsp;660-35-20</b>&nbsp;&mdash;&nbsp;в&nbsp;Москве</li>
            <li><b class="g-l"><span class="g-hidden">+</span>8&nbsp;(800)&nbsp;123-45-67</b>&nbsp;&mdash;&nbsp;в&nbsp;других городах (звонок бесплатный)</li>
        </ul>

        <p class="g-xxs"><a href="mailto:ticket@eviterra.ru" class="b-pseudo g-l"><u>ticket@eviterra.ru</u></a>
    </div>

    <!-- Ничего не найдено -->
    <div id="offers-empty" class="g-none">
        <h3 class="g-xl">Таких рейсов нет, попробуйте другие даты.</h3>
    </div>    

    <!-- Результаты поиска -->
    <div id="offers-results" class="g-none">
    
        <!-- Фильтр результатов -->
        <table id="offers-filter">
        <tr>
            <th>Уточнить</th>
            <td>
                <div class="filters">
                <div class="flight">
                    <div class="filter" data-name="dpt_time_0"><span class="control pseudo"><em>время</em></span><span class="values"></span><div class="dropdown"><dl><dt>время вылета</dt><dd class="empty">любое</dd></dl></div></div> 
                    <span class="conjunction">и</span>
                    <div class="filter" data-name="dpt_airport_0"><span class="control pseudo"><em>аэропорт</em></span><span class="values"></span><div class="dropdown"><dl><dt>аэропорт вылета</dt><dd class="empty">любой</dd></dl></div></div> 
                    вылета <span class="city" data-location="dpt_0">туда</span>,
                </div>
                <div class="flight">
                    <div class="filter" data-name="arv_time_0"><span class="control pseudo"><em>время</em></span><span class="values"></span><div class="dropdown"><dl><dt>время прилёта</dt><dd class="empty">любое</dd></dl></div></div>
                    <span class="conjunction">и</span>
                    <div class="filter" data-name="arv_city_0"><span class="control pseudo"><em>город</em></span><span class="values"></span><div class="dropdown"><dl><dt>город прилёта</dt><dd class="empty">любой</dd></dl></div></div>
                    <div class="filter" data-name="arv_airport_0"><span class="control pseudo"><em>аэропорт</em></span><span class="values"></span><div class="dropdown"><dl><dt>аэропорт прилёта</dt><dd class="empty">любой</dd></dl></div></div>
                    прилёта <span class="city" data-location="arv_0">туда</span>,
                </div>
                <div class="flight">
                    <div class="filter" data-name="dpt_time_1"><span class="control pseudo"><em>время</em></span><span class="values"></span><div class="dropdown"><dl><dt>время вылета</dt><dd class="empty">любое</dd></dl></div></div>
                    <span class="conjunction">и</span>
                    <div class="filter" data-name="dpt_city_1"><span class="control pseudo"><em>город</em></span><span class="values"></span><div class="dropdown"><dl><dt>город вылета</dt><dd class="empty">любой</dd></dl></div></div>
                    <div class="filter" data-name="dpt_airport_1"><span class="control pseudo"><em>аэропорт</em></span><span class="values"></span><div class="dropdown"><dl><dt>аэропорт вылета</dt><dd class="empty">любой</dd></dl></div></div>
                    вылета <span class="city" data-location="dpt_1">туда</span>,
                </div>
                <div class="flight">
                    <div class="filter" data-name="arv_time_1"><span class="control pseudo"><em>время</em></span><span class="values"></span><div class="dropdown"><dl><dt>время прилёта</dt><dd class="empty">любое</dd></dl></div></div>
                    <span class="conjunction">и</span>
                    <div class="filter" data-name="arv_airport_1"><span class="control pseudo"><em>аэропорт</em></span><span class="values"></span><div class="dropdown"><dl><dt>аэропорт прилёта</dt><dd class="empty">любой</dd></dl></div></div>
                    прилёта <span class="city" data-location="arv_1">туда</span>,
                </div>
                <div class="filter" data-name="cities"><span class="control pseudo"><em>город пересадки</em></span><span class="values"></span><div class="dropdown"><dl><dt>город пересадки</dt><dd class="empty">любой</dd></dl></div></div><span class="comma">,</span>
                <div class="filter" data-name="planes"><span class="control pseudo"><em>самолёт</em></span><span class="values"></span><div class="dropdown"><dl><dt>самолёт</dt><dd class="empty">любой</dd></dl></div></div><span class="comma">,</span>
                <div class="filter" data-name="airlines"><span class="control pseudo"><em>авиакомпанию</em></span><span class="values"></span><div class="dropdown"><dl><dt>авиакомпания</dt><dd class="empty">любая</dd></dl></div></div>
                <a href="#" class="g-none" id="offers-reset-filters"><u>все варианты</u></a>
                </div>
            </td>
        </tr>
        </table>

        <!-- Вкладки списка результатов -->
        <div id="offers-tabs">
            <ul>
                <li class="active"><a href="#" onclick="return {v: 'featured'}">Наши предложения</a><span class="arrow"></span></li>
                <li><a href="#" onclick="return {v: 'matrix'}">&plusmn; 3 дня</a><span class="arrow"></span></li>
                <li id="offers-tab-all"><a href="#" onclick="return {v: 'all'}">Всего 250 вариантов</a><span class="arrow"></span></li>
            </ul>
            <ul class="secondary">
                <li><a href="#" onclick="return {v: 'nearest'}">Соседние города</a><span class="arrow"></span></li>
                <li><a href="#" onclick="return {v: 'train'}">На поезде</a><span class="arrow"></span></li>
            </ul>
        </div>

        <!-- Правая панель -->
        <div class="media" style="background: #D6D6D6; height: 400px;"></div>
        
        <!-- Список результатов -->
        <div id="offers-list">

        <div id="offers-featured" class="g-none"></div>
        
        <div id="offers-matrix" class="g-none">
            <h3 class="offers-title">По датам перелёта</h3>
            <div class="offer">
                <table class="offer-prices">
                <colgroup>
                    <col width="120">
                    <col width="*" span="7">
                </colgroup>
                <tr>
                    <th class="direction"><h6>Туда</h6><h6 class="ret">Обратно</h6></th>
                    <th><h6>14 сентября</h6><p>вторник</p></th>
                    <th><h6>15 сентября</h6><p>среда</p></th>
                    <th><h6>16 сентября</h6><p>четверг</p></th>
                    <th class="current"><h6>17 сентября</h6><p>пятница</p></th>
                    <th><h6>18 сентября</h6><p>суббота</p></th>
                    <th><h6>19 сентября</h6><p>воскресенье</p></th>
                    <th class="last"><h6>20 сентября</h6><p>понедельник</p></th>
                </tr>
                <tr>
                    <th class="ret"><h6>18 сентября</h6><p>суббота</p></th>
                    <td>25<span class="digit">548</span></td>
                    <td>25<span class="digit">548</span></td>
                    <td>25<span class="digit">130</span></td>
                    <td>25<span class="digit">800</span></td>
                    <td>24<span class="digit">972</span></td>
                    <td>25<span class="digit">120</span></td>
                    <td class="last">25<span class="digit">548</span></td>
                </tr>
                <tr class="current">
                    <th class="ret"><h6>19 сентября</h6><p>воскресенье</p></th>
                    <td>25<span class="digit">130</span></td>
                    <td>25<span class="digit">800</span></td>
                    <td>24<span class="digit">972</span></td>
                    <td class="selected">25<span class="digit">548</span></td>
                    <td>25<span class="digit">548</span></td>
                    <td>25<span class="digit">120</span></td>
                    <td class="last">25<span class="digit">548</span></td>
                </tr>
                <tr>
                    <th class="ret"><h6>20 сентября</h6><p>понедельник</p></th>
                    <td>25<span class="digit">548</span></td>
                    <td>25<span class="digit">548</span></td>
                    <td>25<span class="digit">130</span></td>
                    <td>25<span class="digit">800</span></td>
                    <td>24<span class="digit">972</span></td>
                    <td>25<span class="digit">120</span></td>
                    <td class="last">25<span class="digit">548</span></td>
                </tr>                
                </table>
                <br>
            </div>
        </div>
        
        <div id="offers-all" class="offers g-none">
            <div class="offers-sort">
                <h3 class="offers-title">Все варианты, отсортированные <span id="offers-sortedby">по цене</span></h3>
                <p>
                    можно 
                    <a href="#" class="sortedby" onclick="return 'price'"><u>по цене</u></a>,
                    <a href="#" class="b-pseudo" onclick="return 'duration'"><u>по времени в пути</u></a>,
                    <a href="#" class="b-pseudo" onclick="return 'departures'"><u>по времени вылета</u></a>
                    или&nbsp;<a href="#" class="b-pseudo" onclick="return 'airline'"><u>по авиакомпании</u></a>

            </div>
            <div class="offers-improper g-none">
                <h3 class="g-xl">Таких рейсов нет, попробуйте другие варианты уточнения.</h3>
            </div>
            <div id="offers-collection"></div>
        </div>
        
        </div>
        <!-- /Список результатов -->
    
    </div>
    
</div>