<div id="offers" class="clear g-none">

    <!-- Человекочитаемая строка запроса -->
    <div id="offers-title">
        <h1></h1>
    </div>

    <!-- Панель ожидания результатов -->
    <div id="offers-loading" class="offers-message g-none">
        <div class="om-photo">
            <p>Вы всегда можете проконсультироваться по&nbsp;всем вопросам или&nbsp;сделать заказ по&nbsp;телефону <strong>+7 (495) 660-35-20</strong> или&nbsp;по&nbsp;почте <a href="mailto:ticket@eviterra.ru">ticket@eviterra.ru</a></p>
        </div>
        <div class="om-text">
            <div class="progress"><span class="timer">1.2</span></div>
            <h3>Ищем для вас лучшие предложения</h3>
        </div>
    </div>

    <!-- Ничего не найдено -->
    <div id="offers-empty" class="offers-message g-none">
        <div class="om-photo">
            <p>Вы всегда можете проконсультироваться по&nbsp;всем вопросам или&nbsp;сделать заказ по&nbsp;телефону <strong>+7 (495) 660-35-20</strong> или&nbsp;по&nbsp;почте <a href="mailto:ticket@eviterra.ru">ticket@eviterra.ru</a></p>
        </div>
        <div class="om-text">
            <h3>Мы не смогли ничего найти :(</h3>
            <p>Попробуйте упростить маршрут или поискать другие даты</p>
        </div>
    </div>    

    <!-- Результаты поиска -->
    <div id="offers-results" class="g-none">
    
        <!-- Фильтр результатов -->
        <table id="offers-filter">
        <tr>
            <th>Уточнить</th>
            <td>
                <div class="filters">
                <div class="filter" id="layovers-filter" data-name="layovers"><span class="control">количество пересадок</span><span class="values"></span><div class="dropdown"><dl><dt>количество пересадок</dt><dd class="empty">всё равно</dd></dl></div></div>
                <div class="flight">
                    <div class="filter" data-name="dpt_time_0"><span class="control">время</span><span class="values"></span><div class="dropdown"><dl><dt>время вылета</dt><dd class="empty">любое</dd></dl></div></div> 
                    <span class="conjunction">и&nbsp;</span><div class="filter" data-name="dpt_airport_0"><span class="control">аэропорт</span><span class="values"></span><div class="dropdown"><dl><dt>аэропорт вылета</dt><dd class="empty">любой</dd></dl></div></div> 
                    вылета <span class="city" data-location="dpt_0">туда</span>,
                </div>
                <div class="flight">
                    <div class="filter" data-name="arv_time_0"><span class="control">время</span><span class="values"></span><div class="dropdown"><dl><dt>время прилёта</dt><dd class="empty">любое</dd></dl></div></div>
                    <span class="conjunction">и&nbsp;</span><div class="filter" data-name="arv_city_0"><span class="control">город</span><span class="values"></span><div class="dropdown"><dl><dt>город прилёта</dt><dd class="empty">любой</dd></dl></div></div><div class="filter" data-name="arv_airport_0"><span class="control">аэропорт</span><span class="values"></span><div class="dropdown"><dl><dt>аэропорт прилёта</dt><dd class="empty">любой</dd></dl></div></div>
                    прилёта <span class="city" data-location="arv_0">туда</span>,
                </div>
                <div class="flight">
                    <div class="filter" data-name="dpt_time_1"><span class="control">время</span><span class="values"></span><div class="dropdown"><dl><dt>время вылета</dt><dd class="empty">любое</dd></dl></div></div>
                    <span class="conjunction">и&nbsp;</span><div class="filter" data-name="dpt_city_1"><span class="control">город</span><span class="values"></span><div class="dropdown"><dl><dt>город вылета</dt><dd class="empty">любой</dd></dl></div></div><div class="filter" data-name="dpt_airport_1"><span class="control">аэропорт</span><span class="values"></span><div class="dropdown"><dl><dt>аэропорт вылета</dt><dd class="empty">любой</dd></dl></div></div>
                    вылета <span class="city" data-location="dpt_1">туда</span>,
                </div>
                <div class="flight">
                    <div class="filter" data-name="arv_time_1"><span class="control">время</span><span class="values"></span><div class="dropdown"><dl><dt>время прилёта</dt><dd class="empty">любое</dd></dl></div></div>
                    <span class="conjunction">и&nbsp;</span><div class="filter" data-name="arv_airport_1"><span class="control">аэропорт</span><span class="values"></span><div class="dropdown"><dl><dt>аэропорт прилёта</dt><dd class="empty">любой</dd></dl></div></div>
                    прилёта <span class="city" data-location="arv_1">туда</span>,
                </div>
                <div class="filter" data-name="cities"><span class="control">город пересадки</span><span class="values"></span><div class="dropdown"><dl><dt>город пересадки</dt><dd class="empty">любой</dd></dl></div></div><span class="comma">,</span>
                <div class="filter" data-name="planes"><span class="control">самолёт</span><span class="values"></span><div class="dropdown"><dl><dt>самолёт</dt><dd class="empty">любой</dd></dl></div></div><span class="comma">,</span>
                <div class="filter" data-name="airlines"><span class="control">авиакомпанию</span><span class="values"></span><div class="dropdown"><dl><dt>авиакомпания</dt><dd class="empty">любая</dd></dl></div></div> &nbsp;
                <a href="#" class="g-none" id="offers-reset-filters">все&nbsp;варианты</a>
                </div>
            </td>
        </tr>
        </table>

        <!-- Вкладки списка результатов -->
        <div id="offers-tabs">
            <ul>
                <li class="active"><a href="#" onclick="return {v: 'featured'}">Наши предложения</a></li>
                <li id="offers-tab-matrix"><a href="#" onclick="return {v: 'matrix'}">&plusmn; 3 дня</a></li>
                <li id="offers-tab-all"><a href="#" onclick="return {v: 'all'}">Всего 250 вариантов</a></li>
            </ul>
        </div>

        <!-- Правая панель -->
        <!-- <div class="media" style="background: #D6D6D6; height: 400px;"></div> -->
        
        <!-- Список результатов -->
        <div id="offers-list">
        <div id="offers-featured" class="g-none"></div>
        <div id="offers-matrix" class="g-none">
            <div class="offer">
                <table class="offer-prices">
                <col width="120">
                <col width="*" span="7">
                <tr>
                    <th class="direction"><h6>Туда</h6><h6 class="ret">Обратно</h6></th>
                    <th class="first"></th><th></th><th></th><th></th><th></th><th></th><th class="last"></th>
                </tr>
                <tr class="diffret"><th class="ret"></th><td></td><td></td><td></td><td></td><td></td><td></td><td class="last"></td></tr>
                <tr class="diffret"><th class="ret"></th><td></td><td></td><td></td><td></td><td></td><td></td><td class="last"></td></tr>
                <tr class="diffret"><th class="ret"></th><td></td><td></td><td></td><td></td><td></td><td></td><td class="last"></td></tr>
                <tr><th class="ret"></th><td></td><td></td><td></td><td></td><td></td><td></td><td class="last"></td></tr>
                <tr class="diffret"><th class="ret"></th><td></td><td></td><td></td><td></td><td></td><td></td><td class="last"></td></tr>
                <tr class="diffret"><th class="ret"></th><td></td><td></td><td></td><td></td><td></td><td></td><td class="last"></td></tr>
                <tr class="diffret"><th class="ret"></th><td></td><td></td><td></td><td></td><td></td><td></td><td class="last"></td></tr>
                </table>
                <div id="offers-mcollection"></div>
            </div>
        </div>
        <div id="offers-all" class="offers g-none">
            <div class="offers-sort">
                <h3 class="offers-title">Все варианты, отсортированные <span id="offers-sortedby">по цене</span></h3>
                <p>можно 
                    <a href="#" class="sortedby" onclick="return 'price'">по цене</a>,
                    <a href="#" onclick="return 'duration'">по времени в пути</a>,
                    <a href="#" onclick="return 'departures'">по времени вылета</a>
                    или&nbsp;<a href="#" onclick="return 'airline'">по авиакомпании</a>
                </p>
            </div>
            <div class="offers-improper g-none">
                <h3 class="g-xl">Таких рейсов нет, попробуйте другие варианты уточнения.</h3>
            </div>
            <div id="offers-pcollection"></div>
        </div>
        </div>
        <!-- /Список результатов -->
    
    </div>
    
</div>