<div id="offers" class="clear g-none latent">

    <!-- Заглушка во время поиска -->
    <div id="offers-progress" class="g-none">
        <img class="loading" src="/img/ajax-loader.gif" alt="Поиск…">
        <h3>Ищем для вас лучшие предложения</h3>
        <p>Вы всегда можете позвонить нам — вас проконсультируют и помогут по всем вопросам</p>
        <dl class="phones">
            <dt>8 (495) <strong>123-45-67</strong></dt><dd>Москва</dd>
            <dt>8 (800) <strong>123-45-67</strong></dt><dd>Другие города (звонок бесплатный)</dd>
        </dl>
    </div>
    
    <!-- Результаты поиска -->
    <div id="offers-results" class="g-none">

        <!-- Вкладки списка результатов -->
        <div id="offers-tabs">
            <ul>
                <li class="active"><a href="#" onclick="return {v: 'best'}">Наши предложения</a></li>
                <li><a href="#" onclick="return {v: 'prices'}">Матрица цен</a></li>
                <li id="offers-tab-all"><a href="#" onclick="return {v: 'all'}">Все 250 вариантов</a></li>
            </ul>
            <ul class="secondary">
                <li><a href="#" onclick="return {v: 'nearest'}">Соседние города</a></li>
                <li><a href="#" onclick="return {v: 'train'}">На поезде</a></li>
            </ul>
        </div>

        <!-- Правая панель -->
        <ul id="offers-media" class="media">
            <li>
                <dl class="media-tip">
                    <dt>Вы знаете?&hellip;
                    <dd>
                        <p>&hellip;что в <a href="#" class="b-pseudo"><u>некоторых странах</u></a> можно прямо в аэропорту получить транзитную визу, если у вас шесть и более часов между рейсами
                </dl>

            <li>
                <dl class="media-promo">
                    <dt>Город дня &mdash; Прага
                    <dd>
                        <h3>Чё там ваще</h3>
                        <p>Прага является столицей и крупнейшим городом Чешской республики. Она расположена на реке Влтаве в центральной Богемии. В ней проживает примерно <s>до хуя чехов</s> 1.2 миллиона человек. Её называли «городом ста шпилей» и «золотым градом». Билеты в Прагу стоят у нас от 12000 рублей.
                        <h3>Чё дают</h3>
                        <p>Пива и пиздюлей
                </dl>
        </ul>
        
        <!-- Список результатов -->
        <div id="offers-list">
        <div id="offers-best" class="offers">
            
            <h3 class="recomendation">Самый выгодный вариант</h3>
            <table>
                <colgroup>
                    <col width="118">
                    <col width="142">
                    <col width="155">
                    <col width="142">
                    <col width="118">
                <thead>
                    <tr>
                        <th>
                            16&nbsp;346&nbsp;<s class="rur">р<s>уб.</s></s>
                        <td colspan="3">
                            <a href=# class="b-pseudo" title="Развернуть это предложение"><u>Подробнее о&nbsp;перелёте</u></a>
                        <td>
                            <a href=# class="a-button" target="booking" title="Мы предложим вам самостоятельно выписать себе билеты. Приготовьте, пожалуйста, (загран)паспорт или иные подходящие документы, по которым вы полетите.">Полететь</a>
                <tbody>
                    <tr class="ow">
                        <td rowspan=2 class="extra">
                            <p>KLM Royal Dutch
                        <td class="dpt">
                            <div class="direction">туда</div>
                            <h3>12:00</h3>
                            <h4>Шереметьево</h4>
                            <h5 class="light">Терминал F</h5>
                        <td class="fly">
                            <h5>11 часов 20 минут в пути</h5>
                            <h5 class="light">пересадка 2 часа 5 минут</h5>
        
                            <a href=# title="Перелёт Москва-Амстердам"></a>
                            <a href=# title="Пересадка в Амстердаме" class="change"></a>
                            <a href=# title="Перелёт Амстердам-Париж"></a>
                        <td class="arv">
                            <h3>16:00</h3>
                            <h4>Шарль де Голль Интернэшнл</h4>
                        <td rowspan=2 class="extra extra-info">
                            С пересадкой в Амстердаме
                    <tr class="rt">
                        <td class="dpt">
                            <div class="direction">обратно</div>
                            <h3>19:40</h3>
                            <h4>Шарль де Голль Интернэшнл</h4>
                        <td class="fly">
                            <h5>15 часов 20 минут в пути</h5>
                            <a href=# title="Перелёт Париж-Москва"></a>
                        <td class="arv">
                            <h3>23:15</h3>
                            <h4>Шереметьево</h4>
                            <h5>Терминал D</h5>
                <tfoot>
                    <tr class="info">
                        <th>
                        <td colspan="4">
                            <dl>
                                <dt>Кстати! Можно выбрать другое время вылета по той же цене.
                                <dd class="b-pseudo">Из Москвы &mdash; в <a href=#><u>14:00</u></a>, <a href=#><u>15:30</u></a>, <a href=#><u>16:20</u></a>. Из Парижа &mdash; в <a href=#><u>11:00</u></a> и в <a href=#><u>17:30</u></a>.
                            </dl>
            </table>

            <h3 class="recomendation">Самый быстрый вариант</h3>
            <table>
                <colgroup>
                    <col width="118">
                    <col width="142">
                    <col width="155">
                    <col width="142">
                    <col width="118">
                <thead>
                    <tr>
                        <th>
                            16&nbsp;346&nbsp;<s class="rur">р<s>уб.</s></s>
                        <td colspan="3">
                            <a href=# class="b-pseudo" title="Развернуть это предложение"><u>Подробнее о&nbsp;перелёте</u></a>
                        <td>
                            <a href=# class="a-button" target="booking" title="Мы предложим вам самостоятельно выписать себе билеты. Приготовьте, пожалуйста, (загран)паспорт или иные подходящие документы, по которым вы полетите.">Полететь</a>
                <tbody>
                    <tr class="ow">
                        <td rowspan=2 class="extra">
                            <p>KLM Royal Dutch
                        <td class="dpt">
                            <h3>12:00</h3>
                            <h4>Шереметьево</h4>
                            <h5 class="light">Терминал F</h5>
                        <td class="fly">
                            <h5>11 часов 20 минут в пути</h5>
                            <h5 class="light">пересадка 2 часа 5 минут</h5>
        
                            <a href=# title="Перелёт Москва-Амстердам"></a>
                            <a href=# title="Пересадка в Амстердаме" class="change"></a>
                            <a href=# title="Перелёт Амстердам-Париж"></a>
                        <td class="arv">
                            <h3>16:00</h3>
                            <h4>Шарль де Голль Интернэшнл</h4>
                        <td rowspan=2 class="extra extra-info">
                            С пересадкой в Амстердаме
                    <tr class="rt">
                        <td class="dpt">
                            <h3>19:40</h3>
                            <h4>Шарль де Голль Интернэшнл</h4>
                        <td class="fly">
                            <h5>15 часов 20 минут в пути</h5>
                            <a href=# title="Перелёт Париж-Москва"></a>
                        <td class="arv">
                            <h3>23:15</h3>
                            <h4>Шереметьево</h4>
                            <h5>Терминал D</h5>
            </table>
            
        </div>
        <div id="offers-all" class="offers g-none">

        </div>
        </div>
    
    </div>

</div>