<div id="offers" class="clear g-none">

    <!-- Человекочитаемая строка запроса -->
    <div id="offers-title">
        <h1></h1>
    </div>

    <!-- Панель ожидания результатов -->
    <div id="offers-loading" class="g-none">
        <h3 class="g-xxl">Минуточку, мы&nbsp;ищем для&nbsp;вас лучшие предложения</h3>
        <h4 title="Идёт поиск…"><i class="g-l" title="Время поиска"></i></h4>
        <p class="g-xxs">Вы всегда можете посоветоваться и&nbsp;сделать заказ по&nbsp;телефону <b>+7&nbsp;(495)&nbsp;660-35-20</b> или&nbsp;по&nbsp;почте <a href="mailto:ticket@eviterra.ru">ticket@eviterra.ru</a>
    </div>

    <!-- Ничего не найдено -->
    <div id="offers-empty" class="g-none">
        <h3 class="g-xl">Таких рейсов нет, попробуйте другие даты.</h3>
    </div>    

    <!-- Результаты поиска -->
    <div id="offers-results" class="g-none">
    
        <!-- Фильтр результатов -->
        <table id="offers-filter">
        <tr>
            <th>Уточнить</th>
            <td>
                <div class="filters">
                <div class="flight">
                    <div class="filter" data-name="dpt_time_0"><span class="control">время</span><span class="values"></span><div class="dropdown"><dl><dt>время вылета</dt><dd class="empty">любое</dd></dl></div></div> 
                    <span class="conjunction">и&nbsp;</span><div class="filter" data-name="dpt_airport_0"><span class="control">аэропорт</span><span class="values"></span><div class="dropdown"><dl><dt>аэропорт вылета</dt><dd class="empty">любой</dd></dl></div></div> 
                    вылета <span class="city" data-location="dpt_0">туда</span>,
                </div>
                <div class="flight">
                    <div class="filter" data-name="arv_time_0"><span class="control">время</span><span class="values"></span><div class="dropdown"><dl><dt>время прилёта</dt><dd class="empty">любое</dd></dl></div></div>
                    <span class="conjunction">и&nbsp;</span><div class="filter" data-name="arv_city_0"><span class="control">город</span><span class="values"></span><div class="dropdown"><dl><dt>город прилёта</dt><dd class="empty">любой</dd></dl></div></div><div class="filter" data-name="arv_airport_0"><span class="control">аэропорт</span><span class="values"></span><div class="dropdown"><dl><dt>аэропорт прилёта</dt><dd class="empty">любой</dd></dl></div></div>
                    прилёта <span class="city" data-location="arv_0">туда</span>,
                </div>
                <div class="flight">
                    <div class="filter" data-name="dpt_time_1"><span class="control">время</span><span class="values"></span><div class="dropdown"><dl><dt>время вылета</dt><dd class="empty">любое</dd></dl></div></div>
                    <span class="conjunction">и&nbsp;</span><div class="filter" data-name="dpt_city_1"><span class="control">город</span><span class="values"></span><div class="dropdown"><dl><dt>город вылета</dt><dd class="empty">любой</dd></dl></div></div><div class="filter" data-name="dpt_airport_1"><span class="control">аэропорт</span><span class="values"></span><div class="dropdown"><dl><dt>аэропорт вылета</dt><dd class="empty">любой</dd></dl></div></div>
                    вылета <span class="city" data-location="dpt_1">туда</span>,
                </div>
                <div class="flight">
                    <div class="filter" data-name="arv_time_1"><span class="control">время</span><span class="values"></span><div class="dropdown"><dl><dt>время прилёта</dt><dd class="empty">любое</dd></dl></div></div>
                    <span class="conjunction">и&nbsp;</span><div class="filter" data-name="arv_airport_1"><span class="control">аэропорт</span><span class="values"></span><div class="dropdown"><dl><dt>аэропорт прилёта</dt><dd class="empty">любой</dd></dl></div></div>
                    прилёта <span class="city" data-location="arv_1">туда</span>,
                </div>
                <div class="filter" data-name="cities"><span class="control">город пересадки</span><span class="values"></span><div class="dropdown"><dl><dt>город пересадки</dt><dd class="empty">любой</dd></dl></div></div><span class="comma">,</span>
                <div class="filter" data-name="planes"><span class="control">самолёт</span><span class="values"></span><div class="dropdown"><dl><dt>самолёт</dt><dd class="empty">любой</dd></dl></div></div><span class="comma">,</span>
                <div class="filter" data-name="airlines"><span class="control">авиакомпанию</span><span class="values"></span><div class="dropdown"><dl><dt>авиакомпания</dt><dd class="empty">любая</dd></dl></div></div>
                <a href="#" class="g-none" id="offers-reset-filters"><u>все варианты</u></a>
                </div>
            </td>
        </tr>
        </table>

        <!-- Вкладки списка результатов -->
        <div id="offers-tabs">
            <ul>
                <li class="active"><a href="#" onclick="return {v: 'featured'}">Наши предложения</a><span class="arrow"></span></li>
                <li><a href="#" onclick="return {v: 'matrix'}">&plusmn; 3 дня</a><span class="arrow"></span></li>
                <li id="offers-tab-all"><a href="#" onclick="return {v: 'all'}">Всего 250 вариантов</a><span class="arrow"></span></li>
            </ul>
            <ul class="secondary">
                <li><a href="#" onclick="return {v: 'nearest'}">Соседние города</a><span class="arrow"></span></li>
                <li><a href="#" onclick="return {v: 'train'}">На поезде</a><span class="arrow"></span></li>
            </ul>
        </div>

        <!-- Правая панель -->
        <div class="media" style="background: #D6D6D6; height: 400px;"></div>
        
        <!-- Список результатов -->
        <div id="offers-list">

        <div id="offers-featured" class="g-none"></div>
        
        <div id="offers-matrix" class="g-none">
            <h3 class="offers-title">По датам перелёта</h3>
            <div class="offer">
                <table class="offer-prices">
                <colgroup>
                    <col width="120">
                    <col width="*" span="7">
                </colgroup>
                <tr>
                    <th class="direction"><h6>Туда</h6><h6 class="ret">Обратно</h6></th>
                    <th></th><th></th><th></th><th></th><th></th><th></th><th class="last"></th>
                </tr>
                <tr><th class="ret"></th><td></td><td></td><td></td><td></td><td></td><td></td><td class="last"></td></tr>
                <tr><th class="ret"></th><td></td><td></td><td></td><td></td><td></td><td></td><td class="last"></td></tr>
                <tr><th class="ret"></th><td></td><td></td><td></td><td></td><td></td><td></td><td class="last"></td></tr>
                <tr><th class="ret"></th><td></td><td></td><td></td><td></td><td></td><td></td><td class="last"></td></tr>
                <tr><th class="ret"></th><td></td><td></td><td></td><td></td><td></td><td></td><td class="last"></td></tr>
                <tr><th class="ret"></th><td></td><td></td><td></td><td></td><td></td><td></td><td class="last"></td></tr>
                <tr><th class="ret"></th><td></td><td></td><td></td><td></td><td></td><td></td><td class="last"></td></tr>
                </table>
                <div id="offers-mcollection"></div>
            </div>
        </div>
        
        <div id="offers-all" class="offers g-none">
            <div class="offers-sort">
                <h3 class="offers-title">Все варианты, отсортированные <span id="offers-sortedby">по цене</span></h3>
                <p>
                    можно 
                    <a href="#" class="sortedby" onclick="return 'price'">по цене</a>,
                    <a href="#" onclick="return 'duration'">по времени в пути</a>,
                    <a href="#" onclick="return 'departures'">по времени вылета</a>
                    или&nbsp;<a href="#" onclick="return 'airline'">по авиакомпании</a>

            </div>
            <div class="offers-improper g-none">
                <h3 class="g-xl">Таких рейсов нет, попробуйте другие варианты уточнения.</h3>
            </div>
            <div id="offers-pcollection"></div>
        </div>
        
        </div>
        <!-- /Список результатов -->
    
    </div>
    
</div>