<div id="results" class="latent">
    
    <!-- Заголовок и фильтры -->
    <div id="results-header">
    <div class="rh-content">
        <h1 class="results-title"></h1>
        <div id="results-filters">
            <div class="rf-control">
                <span class="link rfreset latent">Все варианты</span>
                <span class="link rfshow">Уточнить</span> количество пересадок, время, аэропорты и прочее
            </div>
            <table class="rf-content">
            <tr>
                <th>
                    <div class="rfleft">
                        <span class="rf-stroke"></span>
                        <span class="bar">
                            <span class="rftitle">Уточнить</span>
                            <span class="link rfreset latent">Все&nbsp;варианты</span>
                        </span>
                    </div>
                </th>
                <td rowspan="2">
                    <h5><span class="bar">Пересадки</span></h5>
                    <div class="filters">
                        <div class="filter" id="layovers-filter" data-name="layovers"><span class="control">количество и длительность пересадок</span><span class="values"></span><div class="dropdown"><dl><dt>количество пересадок</dt><dd class="empty">всё равно</dd></dl></div></div>
                        <div class="filter" data-name="cities"><span class="control">город пересадки</span><span class="values">…</span><div class="dropdown"><dl><dt>город пересадки</dt><dd class="empty">любой</dd></dl></div></div>
                    </div>
                </td>
                <td rowspan="2">
                    <h5><span class="bar">Время</span></h5>
                    <div class="filters">
                        <div class="filter" data-name="dpt_time_0" data-location="dpt_0"><span class="control">вылет</span><span class="values">…</span><div class="dropdown"><dl><dt>время вылета</dt><dd class="empty">любое</dd></dl></div></div>
                        <div class="filter" data-name="arv_time_0" data-location="arv_0"><span class="control">прилёт</span><span class="values">…</span><div class="dropdown"><dl><dt>время прилёта</dt><dd class="empty">любое</dd></dl></div></div>
                        <div class="filter" data-name="dpt_time_1" data-location="dpt_1"><span class="control">вылет</span><span class="values">…</span><div class="dropdown"><dl><dt>время вылета</dt><dd class="empty">любое</dd></dl></div></div>
                        <div class="filter" data-name="arv_time_1" data-location="arv_1"><span class="control">прилёт</span><span class="values">…</span><div class="dropdown"><dl><dt>время прилёта</dt><dd class="empty">любое</dd></dl></div></div>
                        <div class="filter" data-name="dpt_time_2" data-location="dpt_2"><span class="control">вылет</span><span class="values">…</span><div class="dropdown"><dl><dt>время вылета</dt><dd class="empty">любое</dd></dl></div></div>
                        <div class="filter" data-name="arv_time_2" data-location="arv_2"><span class="control">прилёт</span><span class="values">…</span><div class="dropdown"><dl><dt>время прилёта</dt><dd class="empty">любое</dd></dl></div></div>
                    </div>
                </td>
                <td rowspan="2">
                    <h5><span class="bar">Аэропорты</span></h5>
                    <div class="filters">
                        <div class="filter" data-name="dpt_city_0" data-location="dpt_0"><span class="control">вылет</span><span class="values">…</span><div class="dropdown"><dl><dt>город вылета</dt><dd class="empty">любой</dd></dl></div></div>
                        <div class="filter" data-name="dpt_airport_0" data-location="dpt_0"><span class="control">вылет</span><span class="values">…</span><div class="dropdown"><dl><dt>аэропорт вылета</dt><dd class="empty">любой</dd></dl></div></div>
                        <div class="filter" data-name="arv_city_0" data-location="arv_0"><span class="control">прилёт</span><span class="values">…</span><div class="dropdown"><dl><dt>город прилёта</dt><dd class="empty">любой</dd></dl></div></div>
                        <div class="filter" data-name="arv_airport_0" data-location="arv_0"><span class="control">прилёт</span><span class="values">…</span><div class="dropdown"><dl><dt>аэропорт прилёта</dt><dd class="empty">любой</dd></dl></div></div>
                        <div class="filter" data-name="dpt_city_1" data-location="dpt_1"><span class="control">вылет</span><span class="values">…</span><div class="dropdown"><dl><dt>город вылета</dt><dd class="empty">любой</dd></dl></div></div>
                        <div class="filter" data-name="dpt_airport_1" data-location="dpt_1"><span class="control">вылет</span><span class="values">…</span><div class="dropdown"><dl><dt>аэропорт вылета</dt><dd class="empty">любой</dd></dl></div></div>
                        <div class="filter" data-name="arv_city_1" data-location="arv_1"><span class="control">прилёт</span><span class="values">…</span><div class="dropdown"><dl><dt>город прилёта</dt><dd class="empty">любой</dd></dl></div></div>
                        <div class="filter" data-name="arv_airport_1" data-location="arv_1"><span class="control">прилёт</span><span class="values">…</span><div class="dropdown"><dl><dt>аэропорт прилёта</dt><dd class="empty">любой</dd></dl></div></div>
                        <div class="filter" data-name="dpt_city_2" data-location="dpt_2"><span class="control">вылет</span><span class="values">…</span><div class="dropdown"><dl><dt>город вылета</dt><dd class="empty">любой</dd></dl></div></div>
                        <div class="filter" data-name="dpt_airport_2" data-location="dpt_2"><span class="control">вылет</span><span class="values">…</span><div class="dropdown"><dl><dt>аэропорт вылета</dt><dd class="empty">любой</dd></dl></div></div>
                        <div class="filter" data-name="arv_city_2" data-location="arv_2"><span class="control">прилёт</span><span class="values">…</span><div class="dropdown"><dl><dt>город прилёта</dt><dd class="empty">любой</dd></dl></div></div>
                        <div class="filter" data-name="arv_airport_2" data-location="arv_2"><span class="control">прилёт</span><span class="values">…</span><div class="dropdown"><dl><dt>аэропорт прилёта</dt><dd class="empty">любой</dd></dl></div></div>
                    </div>
                </td>
                <td rowspan="2">
                    <h5><span class="bar">Другие детали</span></h5>
                    <div class="filters">
                        <div class="filter" data-name="carriers"><span class="control">авиакомпания</span><span class="values">…</span><div class="dropdown"><dl><dt>авиакомпания</dt><dd class="empty">любая</dd></dl></div></div>                
                        <div class="filter" data-name="alliance"><span class="control">альянс</span><span class="values">…</span><div class="dropdown"><dl><dt>альянс</dt><dd class="empty">любой</dd></dl></div></div>
                        <div class="filter" data-name="planes"><span class="control">самолёт</span><span class="values">…</span><div class="dropdown"><dl><dt>самолёт</dt><dd class="empty">любой</dd></dl></div></div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="rfhide-cell">
                    <span class="rfhide">Свернуть &uarr;</span>
                </th>
            </tr>
            </table>
            <div class="rf-overlay"></div>
        </div>
        <div class="hshadow"></div>
    </div>
    <div class="rh-clone">
        <h1 class="results-title"></h1>
        <div class="hshadow"></div>
    </div>
    </div>

    <!-- Панель ожидания результатов -->
    <div id="results-loading" class="rmessage rcontent latent">
    <noindex>
    <div class="rmphoto">
        <p>Вы всегда можете проконсультироваться по&nbsp;всем вопросам или&nbsp;сделать заказ по&nbsp;телефону <strong><nobr>+7 495 660-35-20</nobr></strong> или&nbsp;по&nbsp;почте <a href="mailto:ticket@eviterra.com">ticket@eviterra.com</a></p>
    </div>
    <div class="rmtext">
        <div class="progress"><span class="timer">0.0</span></div>
        <h3>Ищем для вас лучшие предложения</h3>
    </div>
    </noindex>
    </div>

    <!-- Ничего не найдено -->
    <div id="results-empty" class="rcontent rmessage latent">
    <noindex>
        <div class="rmphoto">
            <p>Вы всегда можете проконсультироваться по&nbsp;всем вопросам или&nbsp;сделать заказ по&nbsp;телефону <strong><nobr>+7 495 660-35-20</nobr></strong> или&nbsp;по&nbsp;почте <a href="mailto:ticket@eviterra.com">ticket@eviterra.com</a></p>
        </div>
        <div class="rmtext">
            <h3>Мы не смогли ничего найти. Возможные причины:</h3>
            <ul class="re-reasons">
                <li>Нет перелётов именно в выбранные дни. Попробуйте указать другие даты.</li>
                <li>Возможно, у нас не представлены авиакомпании, выполняющие рейсы на этом направлении. Мы постоянно подключаем новые, попробуйте проверить искомое направление позже.</li>
                <li>На этом маршруте не существует постоянного авиасообщения. Попробуйте выбрать <span class="re-cities">другой город</span>.</li>
            </ul>
        </div>
    </noindex>
    </div>

    <!-- Вкладки -->
    <div id="rtabs" class="wrap" style="display: none;">
    <noindex>
    <ul class="primary">
        <li id="rtab-featured" class="selected"><span class="link" data-tab="featured">Мы рекомендуем</span></li>
        <li id="rtab-all"><span class="link" data-tab="all">Всего 42 варианта</span></li>
        <li id="rtab-diagram"><span class="link" data-tab="diagram">Наглядно</span></li>
        <li id="rtab-matrix"><span class="link" data-tab="matrix">&plusmn; 3 дня</span></li>
    </ul>
    </noindex>
    </div>
    <div id="offers" style="display: none;">
    <div class="rcontent clearfix">
        
        <!-- Правая колонка -->
        <div id="offers-context">
            <div class="offers-nearby"></div>
        </div>
    
        <!-- Рекомендации -->
        <div id="offers-featured" class="latent"></div>
        
        <!-- Все варианты -->
        <div id="offers-all" class="latent">
            <div class="offers-sort">
                <h3 class="offers-title">Все варианты, отсортированные <span id="offers-sortedby">по цене</span></h3>
                <p class="sort-items">можно 
                    <span class="link sortedby" data-sort="price">по&nbsp;цене</span>,
                    <span class="link" data-sort="duration">по&nbsp;времени в&nbsp;пути</span>,
                    <span class="link" data-sort="departures">по&nbsp;времени вылета</span>
                    или&nbsp;<span class="link" data-sort="carrier">по&nbsp;авиакомпании</span>
                </p>
            </div>
            <div class="offers-improper rmessage latent">
                <div class="rmphoto"><br></div>
                <div class="rmtext">
                <noindex>
                    <h3>Таких вариантов нет</h3>
                    <p>Нужно сбросить один или <span class="link rfreset">все фильтры</span></p>
                </noindex>
                </div>
            </div>
            <div id="offers-pcollection"></div>
        </div>
        
        <!-- Диаграмма -->
        <div id="offers-diagram" class="latent">
            <div class="odheader">
                <table class="odhsegments"><tr><td></td></tr></table>
            </div>
            <div class="odcontent"></div>
            <div class="offer latent"></div>
        </div>

        <!-- Матрица цен -->
        <div id="offers-matrix" class="latent">
            <h3 class="imprecise offers-title latent">Мы не смогли ничего найти в&nbsp;выбранные дни, но есть предложения на&nbsp;другие&nbsp;даты</h3>
            <div class="offer">
                <table class="offer-prices">
                <col width="115">
                <col width="80" span="7">
                <tr>
                    <th class="direction"><h6 class="segment1">Туда</h6><h6 class="segment2">Обратно</h6></th>
                    <th class="first"></th><th></th><th></th><th></th><th></th><th></th><th class="last"></th>
                </tr>
                <tr class="diffret"><th class="ret"></th><td></td><td></td><td></td><td></td><td></td><td></td><td class="last"></td></tr>
                <tr class="diffret"><th class="ret"></th><td></td><td></td><td></td><td></td><td></td><td></td><td class="last"></td></tr>
                <tr class="diffret"><th class="ret"></th><td></td><td></td><td></td><td></td><td></td><td></td><td class="last"></td></tr>
                <tr><th class="ret"></th><td></td><td></td><td></td><td></td><td></td><td></td><td class="last"></td></tr>
                <tr class="diffret"><th class="ret"></th><td></td><td></td><td></td><td></td><td></td><td></td><td class="last"></td></tr>
                <tr class="diffret"><th class="ret"></th><td></td><td></td><td></td><td></td><td></td><td></td><td class="last"></td></tr>
                <tr class="diffret"><th class="ret"></th><td></td><td></td><td></td><td></td><td></td><td></td><td class="last"></td></tr>
                </table>
                <div id="offers-mcollection"></div>
            </div>
        </div>        
        
        </div>
    </div>
    
</div>
