<div id="results-header">
<div class="rh-wrapper">
    <table class="rh-content">
    <tr>
        <td class="rh-left"><h3 class="rh-summary"></h3></td>
        <td class="rh-right">
            <div id="results-button">
                <div class="rb-side rb-disabled"><div class="rb-side">Найти&nbsp;билеты</div></div>
                <div class="rb-side rb-enabled"><div class="rb-side"><div class="rb-active">Найти&nbsp;билеты</div></div></div>
            </div>
            <div class="rh-edit"><span class="rhe-link">Новый&nbsp;поиск</span></div>
            <div class="rh-select"><span class="rhs-link">Все&nbsp;варианты перелета</span></div>            
        </td>
    </tr>
    </table>
    <div id="results-filters">
        <div class="rf-group" data-id="time">
            <div class="rfg-control">Время вылета и прилета<span class="rfg-counter"></span></div>
            <div class="rfg-content"></div>
        </div>
        <div class="rf-group" data-id="locations">
            <div class="rfg-control">Города и аэропорты<span class="rfg-counter"></span></div>
            <div class="rfg-content"></div>
        </div>
        <div class="rf-group" data-id="carriers">
            <div class="rfg-control">Авиакомпании и самолеты<span class="rfg-counter"></span></div>
            <div class="rfg-content"></div>
        </div>
        <div class="rf-group" data-id="layovers">
            <div class="rfg-control">Пересадки<span class="rfg-counter"></span></div>
            <div class="rfg-content"></div>
        </div>                        
    </div>
    <div class="rh-shadow"></div>
</div>
</div>

<div id="results-message">
<div class="rm-half"></div>
<div class="rm-content">
    <div id="rm-loading">
        <h3 class="rm-title"><span class="rmt-text">Ищем для вас лучшие предложения</span></h3>
        <h6 class="rml-progress">Это займет от пяти до тридцати секунд</h6>
        <ul class="rml-features">
            <li>Поиск осуществляется по предложениям около 500 авиакомпаний</li>
            <li style="display: none;">Средняя цена на этом направлении — 14800 рублей за билет на одного человека.</li>
            <li>Цены будут показаны в рублях</li>
            <li>Можно будет сразу оплатить банковской картой Visa или MasterCard</li>
        </ul>
        <div class="rml-advice">
            <p><strong class="rmla-prefix">Совет:</strong> чем раньше от&nbsp;момента вылета вы&nbsp;покупаете авиабилеты, тем&nbsp;они, как&nbsp;правило, дешевле.</p>
        </div>
        <p class="appstore" style="margin-top: 15px;"><a target="_blank" href="https://itunes.apple.com/ru/app/eviterra/id569307779?mt=8&uo=4"><img alt "Available in App Store" src="images/common/appstore-available.png" /></a></p>
    </div>
    <div id="rm-empty">
        <h3 class="rm-title">Мы не смогли ничего найти :-(</h3>
        <h6 class="rme-title">Возможные причины:</h6>
        <ul class="rme-reasons">
            <li>Нет перелетов именно в выбранные дни. Попробуйте указать другие даты</li>
            <li>У нас не представлены авиакомпании, выполняющие рейсы на этом направлении. Мы постоянно подключаем новые, попробуйте проверить искомое направление позже</li>
            <li>На этом маршруте не существует регулярного авиасообщения. Попробуйте выбрать другой город</li>
        </ul>
    </div>
</div>
</div>

<div id="results-content">

    <div id="results-tabs">
    <div id="rf-placeholder"></div>
    <ul class="rt-content wrap">
        <li class="rt-item" data-tab="cheap">Дешевые</li>
        <li class="rt-item" data-tab="optimal">Оптимальные</li>
        <li class="rt-item" data-tab="nonstop">Прямые</li>
        <li class="rt-item" data-tab="all">Все</li>
        <li class="rt-item rt-matrix" data-tab="matrix">± 3 дня</li>
    </ul>
    </div>

    <div class="o-book" id="ob-template">
        <div class="ob-button">
            <div class="obb-title">Купить</div>
            <div class="obb-side obb-left"><div class="obb-side obb-right"></div></div>
        </div>
        <div class="od-control od-show">Показать подробности</div>
        <div class="od-control od-hide">Скрыть подробности</div>
        <div class="ob-state"></div>
        <div class="ob-line"></div>
    </div>
    
    <div id="ost-template">
    <ul class="os-title wrap">
        <li class="ost-item ost-name"><span class="ostn-text">{0}</span></li>
        <li class="ost-item ost-dpt">Вылет</li>
        <li class="ost-item ost-duration">В пути</li>
        <li class="ost-item ost-arv">Прибытие</li>
    </ul>
    </div>
    
    <div id="results-cheap" class="offers-list"></div>
    <div id="results-optimal" class="offers-list"></div>
    <div id="results-nonstop" class="offers-list"></div>    
    <div id="results-all" class="offers-list"></div>
    <div id="results-matrix" class="offers-list">
        <div class="offer">
        <div class="rm-prices">
        <table class="rmp-table">
            <tr><td class="rmpt-rt" style="background: none;"></td><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr>
            <tr class="rmpt-rt"><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr class="rmpt-rt"><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr class="rmpt-rt"><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><th class="rmpt-rt"></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr class="rmpt-rt"><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr class="rmpt-rt"><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr class="rmpt-rt"><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        </table>
        </div>
        </div>
    </div>
    
    <div class="rc-placeholder"></div>
    
</div>
