<!-- Форма поиска -->
<div id="search">

<!-- Откуда и куда -->
<div id="search-fields" class="rtmode">
<ul id="search-mode">
    <li class="rttab" data-mode="rt" title="Билет до пункта назначения и обратно. Самый популярный вариант путешествия." class="active">туда и обратно</li>
    <li class="owtab" data-mode="ow" title="Билет только до пункта назначения, в одну сторону.">только туда</li>
    <li class="mwtab" data-mode="mw" title="Транзит через несколько городов. Остановки на желаемый срок.">сложный маршрут</li>
</ul>
<table>
<tr class="segment1">
    <td class="from">
        <h6><label for="search-s1-from"><span class="highlight">Откуда</span></label><span class="loader"></span></h6>
        <div class="autocomplete-box">
            <input type="text" id="search-s1-from" class="autocomplete" tabindex="1"
             value="<%= nearest_city.try(:name) || 'Москва' %>"
             onclick="return <%= h nearest_city.to_json %>"
             title="Город или аэропорт вылета &mdash; по-русски, по-английски или IATA-кодом">
        </div>
    </td>
    <td>
        <div class="sicon"></div>
    </td>
    <td class="to">
        <h6><label for="search-s1-to"><span data-key="to">Куда</span>, <span data-key="dates">когда</span>, <span data-key="people_count">сколько человек</span></label><span class="loader"></span></h6>
        <div class="autocomplete-box">
            <input type="text" id="search-s1-to" class="autocomplete" tabindex="2" value="" title="Город, страна или IATA-код">
        </div>   
    </td>
</tr>
<tr class="segment2 g-none">
    <td class="from">
        <h6><label for="search-s2-from">Откуда</label><span class="loader"></span></h6>
        <div class="autocomplete-box">
            <input disabled="disabled" type="text" id="search-s2-from" class="autocomplete" tabindex="3" value="" title="Город или аэропорт вылета &mdash; по-русски, по-английски или IATA-кодом">
        </div>
    </td>
    <td>
        <div class="sicon"></div>
    </td>
    <td class="to">
        <h6><label for="search-s2-to"><span data-key="to">Куда</span>, <span data-key="dates">когда</span></label><span class="loader"></span></h6>
        <div class="autocomplete-box">
            <input disabled="disabled" type="text" id="search-s2-to" class="autocomplete" tabindex="4" value="" title="Город, страна или IATA-код">
        </div>   
    </td>
</tr>
<tr class="segment3 g-none">
    <td class="from">
        <h6><label for="search-s3-from">Откуда</label><span class="loader"></span></h6>
        <div class="autocomplete-box">
            <input disabled="disabled" type="text" id="search-s3-from" class="autocomplete" tabindex="5" value="" title="Город или аэропорт вылета &mdash; по-русски, по-английски или IATA-кодом">
        </div>
    </td>
    <td>
        <div class="sicon"></div>
    </td>
    <td class="to">
        <h6><label for="search-s3-to"><span data-key="to">Куда</span>, <span data-key="dates">когда</span></label><span class="loader"></span></h6>
        <div class="autocomplete-box">
            <input disabled="disabled" type="text" id="search-s3-to" class="autocomplete" tabindex="6" value="" title="Город, страна или IATA-код">
        </div>   
    </td>
</tr>
</table>
</div>

<!-- Карта и календарь -->
<div id="search-panel">
<div id="search-where" class="wt0">
    <h2>Карта</h2>
    <div id="where-map" class="map wp0">
        <div id="bingmap" style="position: relative; width: 320px; height: 316px;"></div>
    </div>
</div>
<div id="search-when" onselectstart="return false;">
    <div class="calendar" id="search-calendar">
        <h2>Выберите даты</h2>
        <div class="scroller">
            <div class="scrollbar"><div class="overlay"></div></div>
            <div class="preview"></div>
            <ul class="timeline"></ul>
            <div class="before"></div>
            <div class="after"></div>
        </div>
        <div class="scrollfw">
            <div class="arrow"></div>
        </div>
        <div class="scrollbw">
            <div class="arrow"></div>
        </div>
        <div class="viewport">
            <ul class="week"><li>пн</li><li>вт</li><li>ср</li><li>чт</li><li>пт</li><li class="dayoff">сб</li><li class="dayoff">вс</li></ul>
            <div class="dates rtmode"></div>
            <div class="shadow"></div>
        </div>
    </div>
</div>
</div>

<!-- Количество пассажиров, класс и кнопка поиска-->
<table id="search-define">
<tr>
    <th>Выбрать</th>
    <td>
        <div class="filters">

        <div class="filter persons" data-name="persons">
            <span class="control">количество пассажиров</span><span class="values"></span>
            <div class="dropdown">
                <div class="wrap">
                <dl class="pg-adults" data-group="adults">
                    <dt>взрослые</dt>
                    <dd data-value="1" class="one">один</dd>
                    <dd data-value="2">двое</dd>
                    <dd data-value="3">трое</dd>
                    <dd data-value="4">четверо</dd>
                    <dd data-value="5">пятеро</dd>
                    <dd data-value="6">шестеро</dd>
                </dl>
                <dl class="pg-children" data-group="children">
                    <dt>дети <em class="age">от 2 до 11 лет</em></dt>
                    <dd class="empty selected">нет</dd>
                    <dd data-value="1">один</dd>
                    <dd data-value="2">двое</dd>
                    <dd data-value="3">трое</dd>
                    <dd data-value="4">четверо</dd>
                    <dd data-value="5">пятеро</dd>
                </dl>
                <dl class="pg-infants" data-group="infants">
                    <dt>младенцы</dt>
                    <dd class="empty selected">нет</dd>
                    <dd data-value="1">один</dd>
                    <dd data-value="2">двое</dd>
                    <dd data-value="3">трое</dd>
                    <dd data-value="4">четверо</dd>
                    <dd data-value="5">пятеро</dd>
                </dl>
                </div>
                <div class="excess">Общее количество пассажиров не может быть больше 6</div>
                <div class="a-button a-button-ready">Готово</div>
            </div>
        </div>

        <div class="filter" data-name="cabin">
            и&nbsp;<span class="control">класс</span><span class="values"></span>
            <div class="dropdown">
            <dl>
                <dt>класс</dt>
                <dd class="empty selected">любой</dd>
                <dd data-value="Y">эконом</dd>
                <dd data-value="C">бизнес</dd>
                <dd data-value="F">первый</dd>
            </dl>
            </div>
        </div>
        
        <% unless Rails.env.production? %>
        <span id="search-debug">
            <input type="checkbox" id="sdmode"> <label for="sdmode">Режим отладки</label>
        </span>
        <% end %>
        
        </div>
    </td>
    <td id="search-submit" class="disabled">
        <div class="progress"></div>
        <div class="message">
            <div class="ssm-arrow"></div>
            <div class="ssm-content">Введите, пожалуйста, пункт назначения</div>
        </div>
        <a href="#" class="b-submit">Искать</a>
    </td>
</tr>
</table>

</div>
