<!-- Форма поиска -->

<div class="form">
    <table>
        <tr class="labels">
            <td>
                <label for="search-from" accesskey="1"><i class="label-from">Откуда</i><s id="search-from-loader"></s></label>
            </td>
            
            <td>
            </td>
            
            <td>
                <label for="search-to" accesskey="2" id="search-to-label"><i data-key="to">Куда</i>, <i data-key="dates">когда</i>, <i>сколько человек</i><s id="search-to-loader"></s></label>
            </td>

            <td>
                <ul id="search.ret.tabs" class="tabs return-tabs">
                    <li><a href="#" onclick="return {v: 'rt'}" title="Билет до пункта назначения и обратно. Самый популярный вариант путешествия." class="active">туда и обратно</a>
                    <li><a href="#" onclick="return {v: 'ow'}" title="Билет только до пункта назначения, в одну сторону.">только туда</a>
                    <!--
                    <li><a href="#" onclick="return {v: 'mw'}" title="Транзит через несколько городов. Остановки на желаемый срок. Впишите в поле ввода города и даты. ">сложный маршрут</a>
                    -->
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <!-- Откуда -->
                <div class="autocomplete-box">
                    <input type="text" 
                     id="search-from"
                     class="autocomplete from"
                     tabindex="1"
                     value="<%= nearest_city.try(:name) || 'Москва' %>"
                     onclick="return <%=h nearest_city.to_json %>"
                     title="Город или аэропорт вылета &mdash; по-русски, по-английски или IATA-кодом"
                    >
                </div>
            </td>

            <td>
                <!-- Замкнутость маршрута -->
                <a 
                    id="search.ret.button"
                    class="button button-rt" 
                    title="Искать билеты &laquo;туда и обратно&raquo;. Нажмите, чтобы изменить"
                    onclick="return [{v: 'rt', cls: 'rt', t: 'Искать билеты &laquo;туда и обратно&raquo;. Нажмите, чтобы изменить'},{v: 'ow', cls: 'ow', t: 'Билеты только &laquo;туда&raquo;'}/*,{v: 'mw', cls: 'mw', t: 'Сложный маршрут'}*/]"
                ></a>
            </td>

            <td colspan="2">
                <!-- Куда, когда и с кем -->
                <div class="autocomplete-box">
                    <input type="text" 
                     id="search-to"
                     class="autocomplete to"
                     tabindex="2"
                     value=""
                     title="Город или страна.<!--Когда улететь и когда вернуться. Сколько человек полетит.&#10; Пишите, как вам удобно &mdash; мы поймём.-->"
                    >
                </div>
            </td>
        </tr>
        <tr class="subs">
            <td>
                <a href="#" id="search-from-reset" class="b-pseudo" title="Отредактировать это поле"><u>изменить</u></a>
            </td>
            
            <td>
            </td>
            
            <td colspan="2">
                <i>например,&nbsp;</i>
                <a href="#" id="search-to-example" class="b-pseudo pseudo-example"><s title="Показать другой пример"></s><u title="Нажмите, чтобы подставить" onclick="return ['Стамбул', 'Франция']">Стамбул</u></a>
            </td>
        </tr>

    </table>
</div>


<!-- Панель поиска -->

<div id="search-panel">
    <div class="search-blocks">

        <!-- Куда -->
        <div id="search-where" class="wt0">
            <h2>
                Нужны идеи? Есть карта:
                <!-- и <a href="#" class="b-pseudo"><u>список</u></a>-->
            </h2>
            <div id="where-map" class="map wp0">
                <div id="bingmap" style="position: relative; width: 317px; height: 316px;"></div>
            </div>
            <a id="where.map.reset" class="b-pseudo panel-reset" href="#"><i></i><u>сбросить</u></a><a id="where.map.large" class="b-pseudo panel-reset" href="#"><u>большая карта</u></a>
        </div>
        
        <!-- Когда -->
        <div id="search-when" onselectstart="return false;">
            <div class="calendar" id="search-calendar">
                <h2>Выберите даты</h2>
                <div class="scroller">
                    <div class="scrollbar"><div class="overlay"></div></div>
                    <div class="preview"></div>
                    <ul class="timeline"></ul>
                    <div class="before"></div>
                    <div class="after"></div>
                </div>
                <div class="scrollfw">
                    <div class="arrow"></div>
                </div>
                <div class="scrollbw">
                    <div class="arrow"></div>
                </div>
                <div class="viewport">
                    <ul class="week">
                        <li>пн</li>
                        <li>вт</li>
                        <li>ср</li>
                        <li>чт</li>
                        <li>пт</li>
                        <li class="dayoff">сб</li>
                        <li class="dayoff">вс</li>
                    </ul>
                    <div class="dates"></div>
                    <div class="shadow"></div>
                </div>
            </div>
            <a href="#" class="b-pseudo panel-reset"><i></i><u>сбросить</u></a>
        </div>

    </div>
    <a href="#" class="panel-switch" title="Скрыть карту и календарь"><i><u>свернуть</u><i></i></i></a>
</div>


<!-- Панель уточнений -->
<table id="search-define">
<tr>
    <th>Выбрать</th>
    <td>
    	<div class="filters">
    	количество

        <div class="filter persons" data-name="persons">
            <span class="control pseudo"><em>пассажиров</em></span><span class="values"></span> и
            <div class="dropdown">
                <div class="wrap">
                <dl class="pg-adults" data-group="adults">
                    <dt>взрослые</dt>
                    <dd data-value="1">один</dd>
                    <dd data-value="2">двое</dd>
                    <dd data-value="3">трое</dd>
                    <dd data-value="4">четверо</dd>
                    <dd data-value="5">пятеро</dd>
                    <dd data-value="6">шестеро</dd>
                    <dd data-value="7">семеро</dd>
                    <dd data-value="8">восьмеро</dd>
                </dl>
                <dl class="pg-children" data-group="children">
                    <dt>дети <em class="age">от 2 до 12 лет</em></dt>
                    <dd class="empty selected">нет</dd>
                    <dd data-value="1">один</dd>
                    <dd data-value="2">двое</dd>
                    <dd data-value="3">трое</dd>
                    <dd data-value="4">четверо</dd>
                    <dd data-value="5">пятеро</dd>
                    <dd data-value="6">шестеро</dd>
                    <dd data-value="7">семеро</dd>
                </dl>
                <dl class="pg-infants" data-group="infants">
                    <dt>младенцы</dt>
                    <dd class="empty selected">нет</dd>
                    <dd data-value="1">один</dd>
                    <dd data-value="2">двое</dd>
                    <dd data-value="3">трое</dd>
                    <dd data-value="4">четверо</dd>
                    <dd data-value="5">пятеро</dd>
                    <dd data-value="6">шестеро</dd>
                    <dd data-value="7">семеро</dd>
                </dl>
                </div>
                <div class="excess">Общее количество пассажиров не может быть больше 8</div>
                <div class="a-button a-button-ready">Готово</div>
            </div>
        </div>

        <div class="filter" data-name="changes">
            <span class="control pseudo"><em>пересадок</em></span><span class="values"></span>,
            <div class="dropdown">
            <dl>
                <dt>пересадки</dt>
                <dd class="empty selected">всё равно</dd>
                <dd data-value="1">ни одной</dd>
                <dd data-value="2">можно с одной</dd>
            </dl>
            </div>
        </div>
        
        <div class="filter" data-name="cabin">
            <span class="control pseudo"><em>класс</em></span><span class="values"></span>
            <div class="dropdown">
            <dl>
                <dt>класс</dt>
                <dd class="empty selected">любой</dd>
                <dd data-value="Y">эконом</dd>
                <dd data-value="C">бизнес</dd>
                <dd data-value="F">первый</dd>
            </dl>
            </div>
        </div>
        
        </div>
    </td>
    <td id="search-submit" class="disabled">
        <a href="#" class="b-submit">Искать</a>
    </td>
</tr>
</table>
