/* Filter container */
.filters {
    position: relative;
}

/* Filter */
.filter {
    display: inline;
}
.filter .control {
    white-space: nowrap;
    text-decoration: underline;
    cursor: pointer;
}
.filter .value {
    color: #ed1192;
    cursor: pointer;    
}
.filter .value:hover {
    text-decoration: line-through;
}
.filter .preserved .value:hover {
    text-decoration: none;
}

/* Dropdown */
.dropdown {
    display: none;
    position: absolute;
    top: 0; left: 0;
    z-index: 50;
    margin: -6px 0 0 -16px;
    background: #3b3b3b;
    background-image: -moz-linear-gradient(top, #484848, #2d2d2d);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#484848), to(#2D2D2D), color-stop(0.5, #3B3B3B));
    border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.45);    
}

.dropdown dl {
    float: left;
    padding: 2px 0 6px;
}
.dropdown dt,
.dropdown dd {
    padding: 4px 16px;
    white-space: nowrap;
    cursor: default;
}
.dropdown dt {
    color: #f2cd1f;
}
.dropdown dd {
    color: #36d4f1;
}
.dropdown dd:hover,
.dropdown dd.selected:hover {
    color: #eee;
    background-color: #ed1192;
    background-color: rgba(237, 17, 146, 0.5);
    cursor: pointer;
}
.dropdown dd.selected,
.dropdown dd.selected.empty:hover {
    background-color: #ed1192;
    color: #FFF;
}
.dropdown dd.empty {
    font-weight: bold;
    color: #FFF;
}

/* Big and small filters */
#search-define .dropdown dd {
    font-size: 72.727%;
    line-height: 118.75%;
}
#offers-filter .dropdown dd {
    font-size: 75%;
    line-height: 125%;
    padding: 4px 16px 3px;    
}

/* Persons dropdown */
.persons em.age {
    position: relative;
    left: 3px; top: -2px;
    font-size: 50%;
}
.persons .wrap {
    width: 467px;
    padding: 2px 0;
}
.persons dl {
    width: 156px;
    margin-left: -1px;
    padding: 0;
}
.persons dl.pg-children,
.persons dl.pg-infants {
    border-left: 1px solid #555;
}
.persons dd.disabled {
    opacity: 0.3;
}
.persons .a-button {
    display: block;
    font: bold 65%/100% Arial,a;
    margin: 0.6em;
}
.persons .excess {
    margin: 12px 16px;
    font-size: 75%;
    color: #FFF;
}
