/* ...
*= require daterangepicker/ui.daterangepicker
*= require daterangepicker/jquery-ui-1.7.3.custom
*= require ./custom_pagination
*/

ul.additional_actions {
  float: right
}

ul.additional_actions li {
  display: inline;
  margin: 0 0.5em 0 0;
}

div#ui-datepicker-div {display: none;}

pre {font-family: Monaco, monospace; line-height: 1.2}
a:visited {color: gray }

dt small {font-size: 0.85em; font-weight: normal; margin: 0 0 0 0.5em;}