#live {
    background: #CCC;
    padding: 12px 0;
}
#live h5 {
    float: left;
    font-weight: bold;
    color: #ED1192;
}
.live-content {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}
.live-stator {
    position: relative;
    width: 775px;
    height: 19px;
    margin-left: 185px;
    overflow: hidden;
}
.live-slider {
    position: absolute;
    top: 0; left: 0;
    white-space: nowrap;
}
.live-slider ul,
.live-slider li {
    display: inline;
}
.live-slider li {
    padding: 0 8px;
}
.live-slider a {
    color: #333;
    text-decoration: none;
}
.live-slider a:hover {
    text-decoration: underline;
}
.live-left,
.live-right {
    position: absolute;
    top: 0; left: 0;
    width: 25px;
    height: 20px;
    background: url(/img/search/live.png) no-repeat;
}
.live-right {
    left: 750px;
    background-position: 100% 0;
}