<div style="width: 916px; font-size: 13px; line-height: 16px; font-family: Arial, sans-serif; color: #333333;">
    <div>По вопросам возврата и обмена авиабилетов обращайтесь по по&nbsp;электронному адресу <a style="color: #333333; text-decoration: none;" href="mailto:operator@eviterra.com" target="_blank">operator@eviterra.com</a> с&nbsp;указанием номера бронирования. Если вы&nbsp;хотите вернуть или обменять билет на&nbsp;рейс, вылетающий менее чем через 24&nbsp;часа, необходимо обратиться напрямую в&nbsp;авиакомпанию, выписавшую билет. Обмен в&nbsp;этом случае произведет сама авиакомпания. При возврате билета авиакомпания снимет места на&nbsp;рейсе, после чего нужно написать нам для расчета и&nbsp;получения возврата средств.</div>
    <div style="font-size: 10px; line-height: 10px;"><br></div>
    <div>For refund and exchange issues please contact <a style="color: #333333; text-decoration: none;" href="mailto:operator@eviterra.com" target="_blank">operator@eviterra.com</a> and refer to&nbsp;your booking number. If you want to exchange or return a ticket to a flight leaving less than in 24 hours, you need to address to the airline issued your ticket. In this case the airline will execute the exchange. When returning the ticket, the airline will cancel the seats. After that you need to contact us for calculation and refund.</div>
</div>
<br>
<table cellspacing="0" cellpadding="0" width="916" style="font-weight: bold; font-size: 16px; line-height: 20px; font-family: Arial, sans-serif; color: #F90A6F;">
<tr>
    <td align="center">
        Желаем приятного полета с <a href="https://www.eviterra.com/" style="text-decoration: none; color: #F90A6F;">eviterra.com</a><br>
        Have a nice flight with <a href="https://www.eviterra.com/" style="text-decoration: none; color: #F90A6F;">eviterra.com</a>
    </td>
</tr>
</table>
<br><br>
<% unless @lang %>
<div style="width: 916px; font-size: 13px; line-height: 15px; font-family: Arial, sans-serif; color: #777777;">
С правилами тарифа авиакомпании был ознакомлен на сайте в момент создания заказа и бронирования.
</div>
<br>
<% end %>