<td class="pad_null" colspan="3">
    <div><font family="Arial" size="2" style="font-size: 13px; line-height: 16px;"><strong><% unless @lang %>Номер брони<br><%end%>PNR</strong></font></div>
    <div><font size="5" family="Arial" color="#ED1192" style="font-size: 30px; line-height: 30px; color: #ED1192;"><strong><%= @pnr.number %></strong></font></div>
    <% if @pnr.additional_number %>
      <div><font size="2" family="Arial" style="font-size: 13px; line-height: 16px;"><% unless @lang %>Номер подтверждения / <%end%> &mdash; <%= @pnr.additional_number %></font></div>
    <% end %>
</td>
