<br><br><br>
<% unless @lang %>
<div style="width: 916px; font-size: 13px; line-height: 15px; font-family: Arial, sans-serif; color: #777777;">
С правилами тарифа авиакомпании был ознакомлен на сайте в момент создания заказа и бронирования.
</div>
<% end %>