<tbody valign="top">
<tr>
    <td class="pad_null"><img src="https://eviterra.com/img/booking/eviterra.png" alt="eviterra" width="210" height="30"></td>
    <td class="pad_null" colspan="2">
     
    </td>
</tr>
</tbody>

<tbody valign="top">
<tr>
    <td class="pad_null">
        <font family="Arial" size="2">+7 (495) 660-35-20<br>
        <a href="http://www.eviterra.com/" target="_blank" style="color: #ed1192;"><font color="#ed1192">www.eviterra.com</font></a><br>
        <a href="mailto:ticket@eviterra.com" target="_blank" style="color: #ed1192;"><font color="#ed1192">ticket@eviterra.com</font></a>
        </font>
    </td>
</tr>
</tbody>

