<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Eviterra — ваш электронный билет</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">     
    <style type="text/css">
        html, body {margin: 0; padding: 0;}
        #canvas {width: 940px; margin: 0 auto; padding: 40px 0 10px;}
        #term {margin: 50px 0;}
    </style>
    <style type="text/css" media="print">
        #canvas {padding: 0;}
        #term {display: none;}
    </style>
</head>
<body>
<div id="canvas">

<%= render 'ticket' %>

<div id="term">Терминал: <pre><%=h @pnr.raw %></pre></div>
</div>
<script type="text/javascript">
//document.print();
</script>
</body>
</html>