
/* модификация .l-canvas*/

.booking {
    padding-top: 15px;

    letter-spacing: -0.03em;
}


.booking #search-transcript {
    margin: 0 15px 0;
}

.booking #search-transcript h5 {
    font-size: 81.25%;

    margin: .3em 0 0 0;

    letter-spacing: -0.01em;

    color: #777;
}

.booking #search-transcript h5 a {
    color: #777;
}

.booking #search-transcript h5 a:hover {
    color: #000;
}

/* Разметка страницы бронирования на шаги */

dl.booking {
    width: 675px;
    margin: 0 15px;
    padding: 0;

    overflow: hidden;
    zoom: 1;
}

dl.booking dt {
    font: bold 18px Arial,s;

    margin: 1em 0 0 0;

    color: #333;
}

dl.booking dt b {
    font: bold 22px/34px Arial,s;

    display: inline-block;

    padding: 0 .5em;
    margin: 0 .4em 0 0;

    color: #fff;
    background: #cb388f;
}


dl.booking dd {
    padding: 10px;
}

    .booking-variant {
        background: #fff;
    }

    .booking-persons {
        background: #e5ffd2;
    }

    .booking-payment {
        background: #fff8d2;
    }

    .booking-contacts {
        background: #fff8d2;
    }

    .booking-book {
        background: #fff;
    }

/* Данные пассажиров */

.booking-persons form {
    
}

.booking-persons form input.text {
    font-size: 22px;

    padding: 6px;
    height: 1%;

    letter-spacing: -.02em;

    color: #4b4b4b;
    color: #aaa;
    border: 1px solid #909090;
    background: #fff;
}

.booking-persons form input.name {
    width: 200px;
}

.booking-persons form ul {
    font-size: 81.25%;

    display: inline-block;

    vertical-align: middle;

    width: 200px;
}

.booking-persons form ul li {
}

.booking-persons form ul .sex {
    adding: 0;
}


/*

.autocomplete-hover {
    border-color: #db3f89;
}

.autocomplete-focus {
    color: #333;
    border: 1px solid #db3f89;
    background: #fff;
}

/*






/* тариф 

.book dd.body .tarif ul {
    font-size: 80%;

    margin: .2em 0 0 15px;

    list-style: circle;
}

.book dd.body .tarif pre {
    font: normal 80% Courier,monospace;

    height: 18em;
    margin: .5em 0;
    padding: 5px;
    overflow: scroll;

    color: #333;
    background: #fff;
    border: 1px solid #777; 
}

.book dd.body .more {
    display: inline-block;
    margin: .5em 0 0 0;

    color: #1f64be;
}

.book dd.body .more u {
    font: bold 80% Arial,s;
}

.book dd.body .more s
{
    width: 11px;
    height: 6px;
    position: absolute;
    right: -16px;
    top: 55%;
    border: 0;
    background: url(/img/arr-up-down.gif) no-repeat -58px bottom;
}

.book dd.body .more:hover s
{
    background-position: 0 bottom;
}

.book dd.body .more-collapsed s
{
    background-position: -58px top;
}

.book dd.body .more-collapsed:hover s
{
    background-position: left top;
}

тариф */