
/* модификация .l-canvas*/

.booking {
    padding-top: 15px;
}


.booking #search-transcript {
    margin-top: 0;
}









.book {
    clear: both;
    overflow: hidden;
    zoom: 1;
}

.book dt {
    font: bold 22px Arial,s;

    padding: 1em 0 .2em;
    margin: 0 15px .5em 15px;

    color: #333;
    border-bottom: 2px solid;
}

.book dt b {
    padding: 6px;
    margin: 0 .4em 0 0;

    color: #fff;
    background: #333;
    border-radius-topleft: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-radius-topleft: 10px;
}

.book dd {
}

.book dd.body {
    float: right;
    overflow: hidden;

    width: 689px;
    padding: 0 15px;

    border-left: 1px solid #777;
}

.book dd.body h1 {
    font: bold 100% Arial,s;

    color: #333;
}

.book dd.body .tarif {
    color: #333;
}

.book dd.body .tarif ul {
    font-size: 80%;

    margin: .2em 0 0 15px;

    list-style: circle;
}

.book dd.body .tarif pre {
    font: normal 80% Courier,monospace;

    height: 18em;
    margin: .5em 0;
    padding: 5px;
    overflow: scroll;

    color: #333;
    background: #fff;
    border: 1px solid #777; 
}

.book dd.body .more {
    display: inline-block;
    margin: .5em 0 0 0;

    color: #1f64be;
}

.book dd.body .more u {
    font: bold 80% Arial,s;
}

.book dd.body .more s
{
    width: 11px;
    height: 6px;
    position: absolute;
    right: -16px;
    top: 55%;
    border: 0;
    background: url(/img/arr-up-down.gif) no-repeat -58px bottom;
}

.book dd.body .more:hover s
{
    background-position: 0 bottom;
}

.book dd.body .more-collapsed s
{
    background-position: -58px top;
}

.book dd.body .more-collapsed:hover s
{
    background-position: left top;
}

