/* Выделение формы бронирования */
.active-booking {
    position: relative;
    z-index: 3;
}

.active-booking .offer-variant tr.book,
.active-booking .offer-variant th.book .a-button {
    display: none;
}

.active-booking .offer-variant .summary .variants p,
.active-booking .offer-variant .summary .variants a {
    color: #CCC;
    cursor: default;
    text-decoration: none;
    cursor: default;
}
.active-booking .cost-tip {
	display: none;
}

.cropped .offer-variant th.book .a-button,
.cropped .offer-variant tr.book .a-button,
.cropped .offer-variant tr.book .sum {
    visibility: hidden;
}
.cropped #results-filters {
    display: none;
}
.cropped #stop-booking-panel {
    display: block;
}

/* Предварительное бронирование */
.booking {
    padding-top: 1px;
}
.booking .g-xl  {
    font-size: 20px;
}
.booking form {
    position: relative;
}
.booking-state {
    padding: 15px;
}
.booking-state h4 {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;    
}
.booking-state .progress {
    width: 128px;
    height: 15px;
    margin: 1px auto 10px;    
    background: url(/img/offers/progress.gif) 100% 2px no-repeat;
}
.booking-state p {
    margin: 6px 0 0;
    text-align: center;
} 

/* Изменение цены */
.diff-price {
    border-top: 1px solid #D0D0D0;
    padding: 15px;
}
.diff-price h5 {
    font-size: 100%;
    margin: 0 0 8px;
}
.diff-price strong {
    font-weight: bold;
}
.offer .diff-price a.a-button {
    float: none;
    border-color: #7b8e12;
    margin-right: 2px;
    padding: 3px 10px;
    font-weight: bold;
}

/* Лоадер */
.booking .loading {
    padding-right: 28px;
    background: transparent url(/img/loader/loader-white.gif) no-repeat 100% 1px;
    background-image: url(data:image/gif;base64,R0lGODlhEAAQAPIAAP///+0RkvnG5PFOru0RkvNsu/WKyfaZ0CH+GkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAAKAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQACgABACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkEAAoAAgAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkEAAoAAwAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkEAAoABAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQACgAFACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQACgAGACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAAKAAcALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==);
}

/* Оставшиеся места */
.booking .availability {
    display: inline;
    float: right;
    position: relative;
    top: -5px;
    width: 233px;
    margin-right: 15px;
    font-size: 13px;
    line-height: 15px;
}
.booking .availability strong {
    color: #ED1192;
}

/* Результат бронирования */
.booking .result {
    padding: 15px;
}
.booking .success,
.booking .fail {
    font-size: 125%;
    line-height: 120%;
}
.booking .success strong {
    font-weight: bold;
    color: #447b00;
}
.booking .fail strong {
    font-weight: bold;
    color: #ea2535;
}
.booking .result a {
    color: #3081d1;
}
.booking .result .tip {
    margin: 10px 0 0;
    font-size: 75%;
    line-height: 125%;
}
.booking .result .b-hint {
    font-weight: normal;
}
.booking .tds-form {
    position: absolute;
    height: 0;
    overflow: hidden;
}
.booking .tds-submit {
    margin-top: 8px;
}
.booking .tds-submit a.a-button {
    float: none;
    border-color: #7b8e12;
    margin-right: 2px;
    padding: 3px 10px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}
.booking .result .tds-submit a.stop-booking {
    position: relative;
    top: 8px;
}

/* Кнопки прекращения бронирования */
.offer a.stop-booking {
    position: absolute;
    right: 15px;
    margin-top: 15px;
    font-size: 12px;
    font-weight: normal;
    color: #333;
}
.offer a.stop-booking:hover {
    color: #ED1192;
}
.book-s a.stop-booking,
.booking .result a.stop-booking {
    position: static;
    right: 0;
    margin: 0;
    font-size: 100%;
}
.booking .result a.stop-booking {
    float: right;
}
.stop-booking-panel {
    height: 30px;
    background: #FFF;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.014em;
}
.stop-booking-panel .link {
    color: #333;
}
.stop-booking-panel .link:hover {
    color: #ED1192;
}

/* Разметка страницы бронирования на шаги */
.booking h3 {
    font: bold 22px/26px Arial, sans-serif;
    margin: 15px 15px 8px;
    color: #333;
}
.booking .section {
    margin: 0 0 2px;
    padding: 5px 0 15px;
    background: #fff8ce;
}
.booking .ready {
    background: #e5ffd2;
}

/* Поля */
.booking td {
    vertical-align: top;
}
.booking .blabel {
    margin: 8px 0 4px;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}
.booking .bfield {
    padding: 3px 5px;
    border: 1px solid #909090;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #FFF;        
    font-size: 20px;
    line-height: 25px;
    color: #333;
}
.booking input.bfield {
    height: 25px;
}
.booking .bfield:focus {
    outline: none;
}
.booking .valid {
    border-color: #4eb700;
}
.booking .invalid {
    border-color: #F02020;
}
.booking .bfield:disabled {
    border-color: #CCC;
    background: #f0f0f0;
    background: rgba(248, 248, 248, 0.5);
    color: #CCC;
}
.booking .placeholder {
    position: absolute;
    margin: 4px 6px;
    font-size: 20px;
    line-height: 25px;    
    color: #C0C0C0;
}
.booking .disabled .placeholder {
    visibility: hidden;
}

/* Подсказки */
.bdescription {
    margin-top: 5px;
    font-size: 12px;
    line-height: 15px;
    color: #777;
}
.bdescription .htext {
    display: none;
}
.bdescription label {
    color: #333;
}

/* Данные пассажира */
.booking-person {
    padding: 7px 0 15px;
}
.booking-person td {
    padding-left: 15px;
}
.booking-person input.bfield {
    width: 202px;
}
.booking-person select.bfield {
    width: 214px;
    padding: 2px;
}
.mac.chrome .booking-person select.bfield,
.mac.safari .booking-person select.bfield {
    height: 32px;
}

/* Даты */
.booking-person .date-item {
    float: left;
    margin-right: -1px;
}
.booking-person input.date-day,
.booking-person input.date-month {
    width: 50px;
}
.booking-person .date-day {
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.booking-person .date-month {
    -moz-border-radius: 0;
    border-radius: 0;
}
.booking-person input.date-year {
    width: 80px;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;    
}

/* Пол */
.bp-sex {
    position: relative;
    overflow: hidden;
}
.bp-sex-m,
.bp-sex-f {
    float: left;
    display: inline-block;
    position: relative;    
    width: 50px;
    padding: 3px 5px;
    border: 1px solid #909090;    
    background: #f8f8f8;
    text-align: center;
    font-size: 20px;
    line-height: 25px;    
    color: #909090;
    cursor: pointer;
}
.bp-sex-m {
    margin-right: -1px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.bp-sex-f {
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.bp-sex-m:hover,
.bp-sex-f:hover,
.bp-sex .focus {
    z-index: 2;
    background: #FFF;
}
.bp-sex .selected {
    position: relative;
    z-index: 3;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    background: #f8f8f8;    
    font-weight: bold;
    color: green;
    cursor: default;    
} 
.bp-sex-radio {
    position: absolute;
    top: -30px;
}

/* Чекбоксы */
.booking-person .checkbox {
    position: relative;
    margin-left: 18px;
}
.booking-person .checkbox input {
    position: absolute;
    top: 1px;
    left: -18px;
    margin: 0;
    padding: 0;
}

/* Бонусная программа */
.bp-bonus input.bfield {
    width: 175px;
}
.bp-bonus select.bfield {
    width: 187px;
}

/* Данные карты */
.bc-sides {
    margin: 0 15px;
    height: 194px;
}
.bc-front,
.bc-back {
    position: relative;
    width: 318px;
    height: 192px;
    padding: 1px 0;
    background: url(/img/booking/cardbgr.png) no-repeat;
}
.bc-front {
    float: left;
}
.bc-back {
    float: right;
}
.booking-card .blabel {
    margin-bottom: 3px;
    font-size: 13px;
    line-height: 16px;
}
.booking-card .bfield {
    background: #F8F8F8;
}

/* Информация о платежах */
.bc-payments {
    position: relative;
    margin: 8px 175px 15px 15px;
    font-size: 12px;
    line-height: 16px;
    color: #777;
}
.bc-payments .alfa {
    position: absolute;
    top: 0; left: 504px;
}
.bc-payments .thawte {
    position: absolute;
    top: 1px; left: 539px;
}
.booking .bc-payments a {
    color: #777;
}

/* Тип карты */
.bc-type {
    padding: 0;
    margin: 10px 0 0;
    height: 54px;
    line-height: 54px;
    text-align: center;
    color: #777;
}
.bc-visa,
.bc-master,
.bc-type-or {
    vertical-align: middle;
}
.bc-type-or {
    padding: 0 10px;
    font-size: 14px;
}

/* Номер карты */
.bc-number {
    position: absolute;
    top: 65px;
    left: 11px;
}
.bcn-fields {
    position: relative;
}
.bcn-fields .bfield {
    position: absolute;
    top: 0;
    width: 63px;
}
#bc-num1 {
    left: 0;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;    
}
#bc-num2 {
    left: 74px;
    -moz-border-radius: 0;
    border-radius: 0;
}
#bc-num3 {
    left: 148px;
    -moz-border-radius: 0;
    border-radius: 0;
}
#bc-num4 {
    left: 222px;
    width: 62px;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;    
}

/* Имя на карте */
.bc-name {
    position: absolute;
    bottom: 11px;
    left: 11px;
}
.bc-name .bfield {
    width: 170px;
    height: 23px;
    padding: 2px 5px;
    font-size: 18px;
    line-height: 23px;
}

/* Срок действия */
.bc-exp {
    position: absolute;
    bottom: 11px;
    right: 11px;
}
.bc-exp .bfield {
    width: 40px;
    height: 23px;
    padding: 2px 5px;
    font-size: 18px;
    line-height: 23px;
}
.bc-exp .date-item {
    float: left;
}
.bc-exp .placeholder {
    margin: 4px 6px;
    font-size: 18px;
    line-height: 23px;   
}
.bc-exp .date-month {
    margin-right: -1px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.bc-exp .date-year {
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;    
}

/* Полоса */
.bc-stripe {
    height: 42px;
    margin: 15px 0 0 0;
    background: #2b2b2b;
}

/* Код */
.bc-cvv {
    position: absolute;
    top: 65px;
    right: 11px;
    text-align: right;
}
.bc-cvv .bfield {
    width: 45px;
}
#bc-num-sample {
    display: inline;
    margin: 0 8px 0 0;
    font-size: 22px;
    line-height: 25px;
}
#bc-num-sample .empty {
    color: #A8A8A8;
}

/* Раскладка цены */
.bc-bill {
    width: 645px;
    margin: 1em 0 0 12px;
}
.bc-bill th {
    font: bold 14px/17px Arial, sans-serif;
    padding-bottom: 1px;
    vertical-align: middle;
    white-space: nowrap;
    color: #333;
}
.bc-bill .sign {
    font: bold 70px/40px Arial, sans-serif;
    display: inline-block;
    overflow: hidden;
    margin: 0 12px;
    color: #6e6e6e;
}
.bc-bill td {
    white-space: nowrap;
    vertical-align: baseline;
}
.bc-bill .prices strong {
    margin: 0 3px 0 0;
    font: bold 162.5%/100% Arial, sans-serif;
    letter-spacing: -0.045em;
    color: #ed1192;
}
.bc-bill .prices-total strong {
    margin: 0 4px 0 0;
    font: bold 200%/100% Arial, sans-serif;
    letter-spacing: -0.045em;        
    color: #6F7C26;
}
.bc-bill .prices em {
    font-style: normal;
    font-size: 12px;
    color: #6e6e6e;
}
.bc-bill-hints td {
    padding: 6px 0 0 0;
    font-size: 12px;
    line-height: 15px;
    white-space: normal;
    color: #777;
}

/* Данные покупателя */
.booking-contacts td {
    padding-left: 15px;
    vertical-align: top;
}
#booking-contacts-email {
    width: 304px;
}
#booking-contacts-phone {
    width: 303px;
}









/* Сброс стилей (временно) */
.booking .b-pseudo a {
    color: #333;
    text-decoration: none;
}
.booking a:hover {
    color: #ED1192;
}

/* Прочее - общие свойства */
.booking .b-pseudo {
    color: inherit;
}
.booking .a-button {
    margin: 0 0 0 .25em;
    padding: 4px 10px;
    font-weight: bold;
    color: #777;
}
.booking .a-button-ready {
    color: #FFF;
}

.booking .tip-popup {
    margin: 4px 0 0 -10px;
    background: rgba(204, 15, 22, 0.3);
}

.booking .tip-popup i {
    color: red;
}



/* Предупреждение о неправильной раскладке или символах */

.booking .language-warning,
.booking .nameorder-warning,
.booking .symbols-warning {
    display: none;
    position: absolute;
    z-index: 3;
    width: 413px;
    margin-top: 3px;
    padding: 10px 15px;
    background: #ffc4c4;
    
    font-size: 12px;
    line-height: 16px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;    

    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.booking .nameorder-warning .link {
    color: #333;
}
.booking .nameorder-warning .link:hover {
    color: #ED1192;
}

/******* БЛОК 5: САБМИТ *******/


.booking .book-s {
    overflow: hidden;
    zoom: 1;
    padding: 30px 15px 15px;
}

.booking .disclaimer {
    margin: 20px 0 0;
    color: #777;
}

.book-s .control {
    text-align: center;
}
.book-s .control table {
    margin: 0 auto;
}
.book-s .control td {
    width: 250px;
    vertical-align: middle;
}
.book-s .control td.g-xl {
    font-weight: bold;
    text-align: right;
}
.book-s .control td.g-xxs {
    color: #777;
    font-size: 13px;
}
.book-s .control th {
    padding: 0 15px 2px;
    vertical-align: middle;
}
.book-s .control .a-button {
    margin: 0;
}
.book-s .sending .cancel,
.book-s .control .loading {
    display: none;
}
.book-s .sending .loading {
    display: block;
    height: 16px;
    background-position: 0 0;
}

/* список причин */

.book-s .blocker {
    position: relative;

    width: 380px;
    
    margin: 22px auto 0;
    padding: 14px 20px 12px;

    color: #333;
    background: #ffc4c4;
    
    font-size: 13px;
    line-height: 16px;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
}

    .book-s .blocker s {
        display: block;
        position: absolute;
        left: 194px;
        top: -15px;

        width: 0;
        height: 0;

        border-style: solid;
        border-color: transparent transparent #ffc4c4;
        border-width: 0 16px 16px;
    }

    .book-s .blocker h6 {
        font-weight: bold;
        font-size: 100%;
        margin: 0 0 .4em;
    }

    .book-s .blocker ul {
        margin-left: 1.2em;
    }

    .book-s .blocker li {
        list-style: disc;
        margin: 0 0 0.2em 0;
    }
    
    .book-s .blocker li:first-letter {
        text-transform: uppercase;
    }

.book-s .notice {
    clear: both;
    color: #333;    
}

.booking .book-retry {
    padding-bottom: 0;
}
.book-retry .disclaimer {
    display: none;
}

/* Правила тарифов и всплывающие подсказки */
.farerules {
    display: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #FFF;
    color: #000;
}
.booking .hint {
    color: #777;
}
.farerules {
    position: absolute;
    top: 0; left: 119px;
    width: 654px;
    padding: 18px 20px 20px;
    font-size: 14px;
    line-height: 19px;    
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35); 
}
.farerules .close {
    float: right;
    position: relative;
    top: -12px; left: 14px;
    width: 18px; height: 18px;
    background: url(/img/booking/close.png) no-repeat;
    cursor: pointer;
}
.farerules h3 {
    margin: 0 0 12px;
    font-size: 26px;
    line-height: 1;
}
.farerules .fgroup {
    margin: 12px 0 0;
}
.fgtranslate {
    float: right;
    margin-top: 2px;
    font-size: 12px;
}
.fgrus {
    padding: 0 55px 2px 0;
    background: url(/img/booking/google.png) no-repeat 100% 1px;
}
.fgheader {
    margin: 0 200px 5px 0;
}
.fgheader h5 {
    display: inline;
    margin-right: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}
.fgheader .clofs {
    display: inline;
    font-size: 12px;
    color: #777;
}
.farerules pre {
    max-height: 130px;
    overflow: auto;
    border: 1px solid #999;
    border-color: #757575 #999 #B0B0B0;
    padding: 3px 8px;
    background: #fff;
    font-size: 12px;
}

