#header {
    position: absolute;
    z-index: 4;
}
#booking {
    padding: 42px 0 125px;
}
.bh-static {
    position: static;
    background: none;
    z-index: 3;
}
.bh-static .hshadow {
    display: none;
}
.booking-body {
    display: none;
    padding: 10px 0 30px;
}
.rmessage {
    margin-top: 10px;
}
a.stop-booking {
    color: #333;
}
span.stop-booking {
    visibility: hidden;
}
.offer .controls {
    display: none;
}
