#header {
    position: absolute;
    z-index: 4;
}
#booking {
    padding: 42px 0 125px;
}
.bh-static {
    position: static;
    background: none;
    z-index: 3;
}
.bh-static .hshadow {
    display: none;
}
.bh-title .stop-booking {
    font-weight: normal;
    font-size: 14px;
    vertical-align: 3px;
}
.booking-body {
    display: none;
    padding: 0 0 30px;
}
a.stop-booking {
    color: #333;
}
span.stop-booking {
    visibility: hidden;
}
.offer .controls {
    display: none;
}
