<table cellpadding=6 cellspacing=0,5>
<tr><th>Row</th> <th align=left colspan=2>Column :Availability :Position</th> </tr>
<% view_hash.each do |row_number, seats| %>
        <tr>
            <td align=right> <b><%= row_number %></b> </td>
            <% seats.each do |seat| %>
                <td><b><%=seat[0]%></b> <%=seat[1..-1]%></td>
            <% end %>
        </tr>
<%end%>
</table>