<dd class="booking-contacts">
    <table>
        <tr>
            <td>
                <input type="text" 
                 id="booking-contacts-email"
                 name="contacts[email]"
                 class="text g-xl"
                 value="Адрес электронной почты"
                 onclick="return {defaultValue: 'Адрес электронной почты'}"
                 title=""
                >
            <td>
                <input type="text" 
                 id="booking-contacts-phone"
                 name="contacts[phone]"
                 class="text g-xl"
                 value="Номер телефона"
                 onclick="return {defaultValue: 'Номер телефона'}"
                 title=""
                >
        <tr>
            <td>
                <label
                 for="booking-contacts-email"
                 class="g-xxs sub"
                >на&nbsp;этот адрес будет выслан электронный билет&nbsp;<u class="b-expand" title="и чтобы узнать вас в следующий раз&hellip;"></u><u class="g-none">&hellip;</u></label>
            <td>
                <label
                 for="booking-contacts-phone"
                 class="g-xxs sub"
                 >для чего он нужен?&nbsp;<u class="b-expand" title="для связи в экстренных случаях, а именно&hellip;"></u><u class="g-none">&hellip;</u></label>
    </table>
</dd>
