<div class="result" data-type="fail">
    <p class="fail"><strong>Упс…</strong> Не удалось забронировать этот вариант.</p>
    <p class="tip">Так иногда бывает, потому что авиакомпания не&nbsp;может подтвердить наличие мест на&nbsp;этот рейс по&nbsp;этому тарифу. К&nbsp;сожалению, от&nbsp;нас это не&nbsp;зависит. Выберите <span class="link stop-booking" style="float: none;">другой вариант</span>.</p>
</div>

