<div class="bf-result bfr-fail" data-type="fail">
    <h5 class="bfr-title">Что-то пошло не так. Скорее всего, банк отклонил попытку платежа по вашей карте.</h5>
    <p class="bfr-content"><strong>Это могло произойти по одной из нескольких причин:</strong> вы неверно ввели данные карты, либо на счете карты нет достаточной суммы, либо банк запретил для вашей карты транзакции в интернете или установил лимит на такие транзакции.</p>
    <p class="bfr-content"><strong>Что можно сделать:</strong> еще раз проверить, правильно ли введены данные, использовать другую карту или связаться с банком, выдавшим карту (обычно телефон банка указан на карте и работает круглосуточно).</p>
    <p class="bfr-content">Если вы абсолютно уверены, что отказ произошел не по вышеуказнным причинам и это у нас что-то не работает, свяжитесь с нами по электронной почте <a href="mailto:support@eviterra.com">support@eviterra.com</a>.</p>
    <p class="bfr-content"><span class="link bfr-back">Попробовать ещё раз</span></p>
</div>
