<div class="bf-result bfr-fail" data-type="fail">
    <h5 class="bfr-title">Не удалось забронировать этот вариант.</h5>
    <p class="bfr-content">Так иногда бывает, потому что авиакомпания не&nbsp;может подтвердить наличие мест на&nbsp;этот рейс по&nbsp;этому тарифу. К&nbsp;сожалению, от&nbsp;нас это не&nbsp;зависит. Выберите <span class="link bfr-cancel">другой вариант</span>.</p>
</div>

