<div class="result" data-type="fail">
    <p class="fail"><strong>Упс…</strong> Что-то пошло не так. <%= errors.blank? ? 'Скорее всего, банк отклонил попытку платежа по вашей карте' : errors.join(', ') %>.</p>
    <p class="tip">Попробуйте проверить, правильно ли введены данные, или используйте другую карту. Если это невозможно, узнайте <a href="#">какими ещё способами</a> можно купить у нас билет.</p>
    <p class="tip">
        <a class="stop-booking" href="#">Вернуться к выбору вариантов</a>
        <a class="retry" href="#">Вернуться к вводу данных</a>
    </p>
</div>