<div class="bf-result bfr-fail" data-type="forbidden">
    <h5 class="bfr-title">В связи с плановыми техническими работами мы не можем оформить вашу покупку прямо сейчас.</h5>
    <p class="bfr-content">Пожалуйста, не закрывайте страницу и нажмите на кнопку «Купить» через 10 минут. Приносим извинения за задержку.</p>
</div>