<div class="result" data-type="fail">
    <p class="fail"><strong>Упс…</strong> В связи с плановыми техническими работами мы не можем оформить вашу покупку прямо сейчас. Пожалуйста. не закрывайте страницу и нажмите на кнопку “Купить” через 10 минут. Приносим извинения за задержку.</p>
</div>