<div class="bf-card">
<div class="bfst-tip bfc-tip">
    <p style="margin: 0 0 12px">Данные вашей банковской карты обрабатываются платежным центром <a target="_blank" class="bfc-link" href="http://www.alfabank.ru/">Альфа-Банка</a> и защищены 256-битным шифрованием, обеспеченным компанией <a class="bfc-link" target="_blank" href="http://www.digicert.com/">DigiCert</a>.</p>
    <p>CVV или CVC&nbsp;&mdash; трехзначный код на&nbsp;обратной стороне карты. Как правило, находится на полосе для подписи после четырех последних цифр номера. Карта без этого кода не&nbsp;подходит для оплаты услуг через интернет.</p>
</div>
<div class="bfc-side">
<div class="bfcs-inner">
    <div class="bfc-type">
        <img class="bfct-visa" src="/images/booking/visa.png" alt="Visa"><span class="bfct-or">&nbsp;или&nbsp;</span><img class="bfct-mastercard" src="/images/booking/mastercard.png" alt="MasterCard">
    </div>
    <div class="bfc-number">
        <h6 class="bf-label"><label for="bfcn-part1">Номер карты</label> <span class="bfl-tip">(16&nbsp;цифр)</span></h6>
        <div class="bfcn-parts wrap">
            <input type="text" pattern="[0-9]*" size="4" name="card[number1]" maxlength="4" id="bfcn-part1" class="bf-field bfc-field -metrika-nokeys">
            <input type="text" pattern="[0-9]*" size="4" name="card[number2]" maxlength="4" id="bfcn-part2" class="bf-field bfc-field -metrika-nokeys"> 
            <input type="text" pattern="[0-9]*" size="4" name="card[number3]" maxlength="4" id="bfcn-part3" class="bf-field bfc-field -metrika-nokeys">
            <input type="text" pattern="[0-9]*" size="4" name="card[number4]" maxlength="4" id="bfcn-part4" class="bf-field bfc-field -metrika-nokeys">
        </div>
    </div>
    <div class="bfc-name">
        <h6 class="bf-label"><label for="bfc-name" title="Имя и фамилия латинскими буквами, как на карте">Имя на&nbsp;карте</label></h6>    
        <%= f.text_field :name, :id => 'bfc-name', :class => "bf-field bfc-field -metrika-nokeys" %>
        <div class="bwarning language-warning latent">Пожалуйста, переключитесь на&nbsp;английскую раскладку клавиатуры. Имя нужно вводить латинскими буквами</div>
    </div>
    <div class="bfc-expiration">
        <h6 class="bf-label"><label for="bc-exp-month" title="На карте обозначен как &laquo;VALID THRU&raquo;">Срок действия</label></h6>
        <div class="bfc-date">
            <div class="bfcd-item"><label class="bf-placeholder" for="bc-exp-month">ММ</label><input type="text" pattern="[0-9]*" size="2" name="card[month]" maxlength="2" id="bc-exp-month" class="bf-field bfc-field bfcd-month -metrika-nokeys"></div>
            <div class="bfcd-item"><label class="bf-placeholder" for="bc-exp-year">ГГ</label><input type="text" pattern="[0-9]*" size="2" name="card[year_short]" maxlength="2" id="bc-exp-year" class="bf-field bfc-field bfcd-year -metrika-nokeys"></div>
        </div>        
    </div>
</div>
</div>
<div class="bfc-side">
<div class="bfcs-inner">
    <div class="bfc-stripe">&nbsp;</div>
    <div class="bfc-cvv">
        <h6 class="bf-label"><label for="bc-cvv" id="bc-cvv-label">CVV</label>&nbsp;<span class="bfl-tip">(3&nbsp;цифры)</span></h6>
        <input type="text" pattern="[0-9]*" size="3" name="card[verification_value]" maxlength="3" id="bc-cvv" class="bf-field bfc-field -metrika-nokeys">
        <div id="bfcn-sample" title="Последние четыре цифры номера карты"><span class="bfcn-empty">####</span></div>
    </div>
</div>
</div>
<div class="bfc-warning">Если счет вашей карты — не в рублях, то сумма будет списана в валюте вашего счета по внутреннему курсу банка, выпустившего вашу карту.</div>
</div>
