
<% if person_form_counter > 0 %>
    <h2><%= person_form_counter + 1 %>-й пассажир</h2>
<% end  %>

<dd class="booking-persons state-validating">
    <table>
        <tr>
            <td>
                <input type="text" 
                 id="booking-person-1-fname"
                 name="fname"
                 class="text g-xl"
                 value="Имя"
                 onclick="return {defaultValue: 'Имя'}"
                 title=""
                >

            <td>
                <input type="text" 
                 id="booking-person-1-lname"
                 name="lname"
                 class="text g-xl"
                 value="Фамилия"
                 onclick="return {defaultValue: 'Фамилия'}"
                 title=""
                >

            <td>
                <ul class="radio g-xxs">
                    <li><input type=radio id="booking-person-1-sex-m" name="sex"><label for="booking-person-1-sex-m">мужской</label>
                    <li><input type=radio id="booking-person-1-sex-f" name="sex"><label for="booking-person-1-sex-f">женский</label>
                </ul>

        <tr>
            <td colspan="3">
                <label 
                 for="booking-person-1-fname"
                 class="g-xxs sub">
                    латинскими буквами, как в загранпаспорте или банковской карточке&nbsp;<u class="b-expand" title="Как написать имя&hellip;"></u>
                    <u class="b-expand-body">
                        Имя и&nbsp;фамилия в авиабилете пишутся латинскими буквами.
                        <br/>
                        Написание должно быть точно таким, как в&nbsp;документе, по&nbsp;которому будет выполняться полёт.
                        <br/>
                        Дефисы и&nbsp;другие знаки нужно пропустить&nbsp;&mdash;&nbsp;разрешены только буквы.
                    </u>
                </label>

        <tr>
            <td>
                <label 
                 for="booking-person-1-nationality"
                 class="bold g-s"
                 title="Гражданство пассажира"
                >Гражданство</label>

            <td>
                <label
                 for="booking-person-1-birth-d"
                 class="bold g-s"
                 title="Дата рождения пассажира в формате дд/мм/гггг"
                >Дата рождения</label>
            <td>

        <tr>
            <td>
                <select
                 id="booking-person-1-nationality"
                 class="text text-noempty g-xl"
                 name=""
                >
                    <option value="RU">Россия

                    <optgroup class="" label="&mdash;&mdash;&mdash;&mdash;">
                        <option value="">Азербайджан
                        <option value="">Армения
                        <option value="">Белоруссия
                        <option value="">Грузия
                        <option value="">Казахстан
                        <option value="">Киргизия
                        <option value="">Латвия
                        <option value="">Литва
                        <option value="">Молдавия
                        <option value="">Таджикистан
                        <option value="">Туркмения
                        <option value="">Узбекистан
                        <option value="">Украина
                        <option value="">Эстония
                    </optgroup>

                    <optgroup class="" label="&mdash;&mdash;&mdash;&mdash;">
                        <option value="">Австралия - Австралийс<option value="">Австрия — Австрийская <option value="">Азербайджан — Азербайд<option value="">Азорские острова — авт<option value="">Аландские острова — ав<option value="">Албания — Республика А<option value="">Алжир — Алжирская Наро<option value="">Американское Самоа — з<option value="">Ангилья — заморская те<option value="">Ангола — Республика Ан<option value="">Андорра — Княжество Ан<option value="">Антигуа и Барбуда     <option value="">Нидерландские Антильск<option value="">Макао (Макао) — Специа<option value="">Аргентина — Аргентинск<option value="">Армения — Республика А<option value="">Аруба — автономная тер<option value="">Афганистан — Исламская<option value="">Багамы — Содружество Б<option value="">Бангладеш — Народная Р<option value="">Барбадос              <option value="">Бахрейн — Королевство <option value="">Белиз                 <option value="">Белоруссия — Республик<option value="">Бельгия — Королевство <option value="">Бенин — Республика Бен<option value="">Бермуды — заморская те<option value="">Болгария — Республика <option value="">Боливия — Многонациона<option value="">Босния и Герцеговина (<option value="">Ботсвана — Республика <option value="">Бразилия — Федеративна<option value="">Британская территория <option value="">Бруней — Государство Б<option value="">Буркина Фасо (бывшая В<option value="">Бурунди — Республика Б<option value="">Бутан — Королевство Бу<option value="">Вануату — Республика В<option value="">Ватикан — Ватикан     <option value="">Великобритания — Соеди<option value="">Венгрия — Венгерская Р<option value="">Венесуэла — Боливариан<option value="">Британские Виргинские <option value="">Американские Виргински<option value="">Восточный Тимор — Демо<option value="">Вьетнам — Социалистиче<option value="">Габон — Габонская Респ<option value="">Гавайи — заморский шта<option value="">Гаити — Республика Гаи<option value="">Гайана — Кооперативная<option value="">Гамбия — Республика Га<option value="">Гана — Республика Гана<option value="">Гваделупа — заморский <option value="">Гватемала — Республика<option value="">Гвинея — Гвинейская Ре<option value="">Гвинея-Бисау — Республ<option value="">Германия — Федеративна<option value="">Гернси — коронная земл<option value="">Гибралтар — заморская <option value="">Гондурас — Республика <option value="">Гонконг (Сянган) — Спе<option value="">Гренада               <option value="">Гренландия — зависимая<option value="">Греция — Греческая Рес<option value="">Грузия                <option value="">Гуам — заморское владе<option value="">Дания — Королевство Да<option value="">Джерси — коронная земл<option value="">Джибути — Республика Д<option value="">Доминика — Содружество<option value="">Доминиканская Республи<option value="">Египет — Арабская Респ<option value="">Замбия — Республика За<option value="">Зимбабве — Республика <option value="">Израиль — Государство <option value="">Индия — Республика Инд<option value="">Индонезия — Республика<option value="">Иордания — Иорданское <option value="">Ирак — Республика Ирак<option value="">Иран — Исламская Респу<option value="">Ирландия              <option value="">Исландия — Республика <option value="">Испания — Королевство <option value="">Италия — Итальянская Р<option value="">Йемен — Йеменская Респ<option value="">Кабо-Верде — Республик<option value="">Казахстан — Республика<option value="">Каймановы острова — Ка<option value="">Камбоджа — Королевство<option value="">Камерун — Республика К<option value="">Канада                <option value="">Катар — Государство Ка<option value="">Кения — Республика Кен<option value="">Кипр — Республика Кипр<option value="">Киргизия — Киргизская <option value="">Кирибати — Республика <option value="">Китай — Китайская Наро<option value="">Китайская Республика —<option value="">Кокосовые острова — Те<option value="">Колумбия — Республика <option value="">Коморы — Союз Коморски<option value="">Республика Конго, такж<option value="">ДР Конго — Демократиче<option value="">КНДР — Корейская Народ<option value="">Республика Корея — Рес<option value="">Республика Косово — Ре<option value="">Коста-Рика — Республик<option value="">Кот-д’Ивуар — Республи<option value="">Куба — Республика Куба<option value="">Кувейт — Государство К<option value="">Острова Кука — самоупр<option value="">Лаос — Лаосская Народн<option value="">Латвия — Латвийская Ре<option value="">Лесото — Королевство Л<option value="">Либерия — Республика Л<option value="">Ливан — Ливанская Респ<option value="">Ливия — Великая Социал<option value="">Литва — Литовская Респ<option value="">Лихтенштейн — Княжеств<option value="">Люксембург — Великое Г<option value="">Маврикий — Республика <option value="">Мавритания — Исламская<option value="">Мадагаскар — Республик<option value="">Мадейра — автономный р<option value="">Майотта — заморская те<option value="">Республика Македония —<option value="">Малави — Республика Ма<option value="">Малайзия — Малайзия   <option value="">Мали — Республика Мали<option value="">Мальдивы — Мальдивская<option value="">Мальта — Республика Ма<option value="">Марокко — Королевство <option value="">Мартиника — заморский <option value="">Маршалловы Острова — Р<option value="">Мексика — Мексиканские<option value="">Федеративные Штаты Мик<option value="">Мозамбик — Республика <option value="">Молдавия — Республика <option value="">Монако — Княжество Мон<option value="">Монголия — Монголия   <option value="">Монтсеррат — заморская<option value="">Мьянма — Союз Мьянма (<option value="">Остров Мэн — коронная <option value="">Нагорно-Карабахская Ре<option value="">Намибия — Республика Н<option value="">Науру — Республика Нау<option value="">Непал — Федеративная Д<option value="">Нигер — Республика Ниг<option value="">Нигерия — Федеративная<option value="">Нидерланды — Королевст<option value="">Никарагуа — Республика<option value="">Ниуэ — самоуправляющее<option value="">Новая Зеландия        <option value="">Новая Каледония — замо<option value="">Норвегия — Королевство<option value="">Остров Норфолк — внешн<option value="">ОАЭ — Объединённые Ара<option value="">Оман — Султанат Оман  <option value="">Пакистан — Исламская Р<option value="">Палау — Республика Пал<option value="">Палестина — Палестинск<option value="">Панама — Республика Па<option value="">Папуа — Новая Гвинея —<option value="">Парагвай — Республика <option value="">Перу — Республика Перу<option value="">Острова Питкэрн — замо<option value="">Польша — Республика По<option value="">Португалия — Португаль<option value="">Приднестровская Молдав<option value="">Пуэрто-Рико — Содружес<option value="">Реюньон — заморский ре<option value="">Остров Рождества — вне<option value="">Россия — Российская Фе<option value="">Руанда — Республика Ру<option value="">Румыния               <option value="">Сальвадор — Республика<option value="">Самоа — Независимое Го<option value="">Сан-Марино — Республик<option value="">Сан-Томе и Принсипи — <option value="">Сахарская Арабская Дем<option value="">Саудовская Аравия — Ко<option value="">Свазиленд — Королевств<option value="">Остров Святой Елены — <option value="">Северные Марианские ос<option value="">Турецкая Республика Се<option value="">Сейшельские Острова — <option value="">Сенегал — Республика С<option value="">Сен-Пьер и Микелон — з<option value="">Сент-Винсент и Гренади<option value="">Сент-Китс и Невис — Фе<option value="">Сент-Люсия            <option value="">Сербия — Республика Се<option value="">Силенд - самоуправляем<option value="">Сингапур — Республика <option value="">Сирия — Сирийская Араб<option value="">Словакия — Словацкая Р<option value="">Словения — Республика <option value="">США — Соединённые Штат<option value="">Соломоновы Острова    <option value="">Сомали — Сомалийская Р<option value="">Сомалиленд — Республик<option value="">Судан — Республика Суд<option value="">Суринам — Республика С<option value="">Сьерра-Леоне — Республ<option value="">Таджикистан — Республи<option value="">Таиланд — Королевство <option value="">Танзания — Объединенна<option value="">Тёркс и Кайкос — Остро<option value="">Того — Тоголезская Рес<option value="">Токелау — ранее Токела<option value="">Тонга — Королевство То<option value="">Тринидад и Тобаго — Ре<option value="">Тувалу                <option value="">Тунис — Тунисская Респ<option value="">Туркмения — Туркменист<option value="">Турция — Турецкая Респ<option value="">Уганда — Республика Уг<option value="">Узбекистан — Республик<option value="">Украина               <option value="">Уоллис и Футуна — Терр<option value="">Уругвай — Восточная Ре<option value="">Фарерские острова — за<option value="">Фиджи — Республика Ост<option value="">Филиппины — Республика<option value="">Финляндия — Финляндска<option value="">Фолклендские острова —<option value="">Франция — Французская <option value="">Французская Гвиана — з<option value="">Французская Полинезия <option value="">Французские Южные и Ан<option value="">Хорватия — Республика <option value="">ЦАР — Центральноафрика<option value="">Чад — Республика Чад  <option value="">Черногория — Республик<option value="">Чехия — Чешская Респуб<option value="">Чили — Республика Чили<option value="">Швейцария — Швейцарска<option value="">Швеция — Королевство Ш<option value="">Шпицберген — территори<option value="">Шри-Ланка — Демократич<option value="">Эквадор — Республика Э<option value="">Экваториальная Гвинея <option value="">Эритрея — Государство <option value="">Эстония — Эстонская Ре<option value="">Эфиопия — Федеративная<option value="">Южная Георгия и Южные <option value="">Южная Осетия — государ<option value="">ЮАР — Южно-Африканская Республика<option value="">Ямайка<option value="">Япония
                    </optgroup>
                </select>

            <td>
                <input type="text" 
                 id="booking-person-1-birth-d"
                 name="birth"
                 class="text text-dd g-xl"
                 value="день"
                 maxlength="2"
                 onclick="return {defaultValue: 'день'}"
                ><input type="text" 
                 id="booking-person-1-birth-m"
                 name="birth"
                 class="text text-mm g-xl"
                 value="месяц"
                 maxlength="10"
                 onclick="return {defaultValue: 'месяц'}"
                ><input type="text" 
                 id="booking-person-1-birth-y"
                 name="birth"
                 class="text text-yyyy g-xl"
                 value="год"
                 maxlength="4"
                 onclick="return {defaultValue: 'год'}"
                >

            <td>

        <tr>
            <td>
            <td>
                <label
                 for="booking-person-1-expires-d"
                 class="bold g-s"
                 title="Срок действия документа, который будет предъявлен при посадке. Если у документа срока действия нет, то поставьте отметку справа от поля."
                >Срок действия документа</label>
            <td>

        <tr>
            <td>
                <input type="text"  
                 id="booking-person-1-passport"
                 name="passport"
                 class="text g-xl"
                 value="Номер документа"
                 maxlength="20"
                 onclick="return {defaultValue: 'Номер документа'}"
                >
            <td>
                <input type="text" 
                 id="booking-person-1-expires-d"
                 name="birth"
                 class="text text-dd g-xl"
                 value="день"
                 maxlength="2"
                 onclick="return {defaultValue: 'день'}"
                ><input type="text" 
                 id="booking-person-1-expires-m"
                 name="birth"
                 class="text text-mm g-xl"
                 value="месяц"
                 maxlength="10"
                 onclick="return {defaultValue: 'месяц'}"
                ><input type="text" 
                 id="booking-person-1-expires-y"
                 name="birth"
                 class="text text-yyyy g-xl"
                 value="год"
                 maxlength="4"
                 onclick="return {defaultValue: 'год'}"
                >
            <td class="noexp">
                <input type="checkbox"  
                 id="booking-person-1-noexpiration"
                 name="noexpiration"
                 class="g-middle"
                ><label 
                 for="booking-person-1-noexpiration"
                 class="g-xxs"
                 title="Срока действия нет, например, у российского гражданского паспорта и свидетельства о рождении. Однако, у загранпаспорта срок действия есть, и его надо указать."
                 >у&nbsp;этого документа нет срока действия</label>


        <tr>
            <td colspan="2">
                <label for="booking-person-1-passport" class="sub g-xxs">например, загранпаспорта&nbsp;<u class="b-expand" title="Подробнее о документах&hellip;"></u><u class="g-none">&hellip;</u></label>
            <td>

        <tr>
            <td>
                <input type="checkbox"  
                 id="booking-person-1-bonus"
                 name="bonus"
                 class="g-middle"
                ><label 
                 for="booking-person-1-bonus"
                 class="g-xxs"
                 title="Карта участника программы премирования пассажиров (мильной программы или программы для&nbsp;часто летающих пассажиров, англ. frequent flyer program)"
                 >у&nbsp;пассажира есть бонусная карта</label>

                 <!-- http://ru.wikipedia.org/wiki/Бонусные_программы_авиакомпаний -->

            <td>
                <select
                 id="booking-person-1-bonuscard"
                 class="text text-noempty g-xl g-hidden"
                 name="bonuscard"
                >
                    <option value="">Аэрофлот Бонус
                    <option value="">Бонусявый Бонус
                    <option value="">Бонюсючий Бонус
                </select>

            <td>
                <input type="text"  
                 id="booking-person-1-bonuscardnumber"
                 name="passport"
                 class="text text-bonus g-xl g-hidden"
                 value="Номер карты"
                 maxlength="20"
                 onclick="return {defaultValue: 'Номер карты'}"
                >

    </table>
</dd>