<div class="booking-social">
<ul>
    <li><a href="http://www.google.com/calendar/event?action=TEMPLATE&<%= order_event_params(@order) %>" target="_blank">Добавить поездку в Гугл-календарь</a></li>
    <li><a href="http://twitter.com/home?status=<%= order_summary(@order) %>" target="_blank">ПОделиться с друзьями в Твиттере</a></li>
</ul>
</div>