<div class="result">
    <p class="success"><strong>Всё отлично!</strong> Ваш билет оплачен, забронирован и выслан на ваш электронный адрес. Если хотите, можете <a target="_blank" href="<%= pnr_path %>">распечатать</a> ваш билет.</p>
    <p class="tip">
        <a class="stop-booking" href="#">вернуться к выбору вариантов</a>
        <a href="#">Что делать, если на почту ничего не пришло?</a>
    </p>
</div>