<div class="success">
    <p><strong>Всё отлично!</strong> Ваш билет оплачен, забронирован и выслан на ваш электронный адрес. Если хотите, можете <a href="<%= pnr_path %>">распечатать</a> ваш билет.</p>
    <p class="tip">Что делать, если на почту ничего не пришло?</p>
</div>