<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <%= render 'shared/head_common', {:title => 'Покупка билета'} %>

    <!-- [production] Все нижеследующие скрипты объединить в таком же порядке и упаковать -->
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>
    <script type="text/javascript" src="/js/booking/onready.js"></script>
</head>

<body>

    <div class="l-page">
        <div class="l-header">
            <%= render 'shared/header' %>
        </div>

        <div class="l-canvas booking">

            <div id="search-transcript">
                <h1>из Москвы в Париж и обратно с 8 по 15 сентября вдвоём с ребёнком</h1>
                <a href=#>Вернуться к&nbsp;результатам поиска</a> или <a href=#>поискать что-нибудь заново</a>
            </div>

        
        </div>
        
        <div class="l-canvas-bottom"></div>
    </div>

    <div class="l-footer">
        <%= render 'shared/footer' %>
    </div>

<!--
    <div class="l-head">
        <div class="b-head">
            <s class="b-logo"></s>
        </div>
    </div>

    <div class="l-body">
        <dl class="book">

            <dt><b>1</b>Что покупаем

            <dd class="info">
                После проверки подтвердите выбор, и мы "придержим" этот билет на некоторое время, чтобы вы гарантированно смогли его купить.

            <dd class="body">

                <h1>Из Москвы в Париж и обратно с 24 по 30 августа, три билета на двоих взрослых с одним ребёнком:</h1>

                <div id="offers" class="offers">
                    <table>
                        <colgroup>
                            <col width="118">
                            <col width="142">
                            <col width="155">
                            <col width="142">
                            <col width="118">
                        <thead>
                            <tr>
                                <th colspan="5">
                                    16&nbsp;<sup>350&nbsp;<s class="rur">р<s>уб.</s></s></sup> <i>=</i> 6&nbsp;<sup>250&nbsp;<s class="rur">р<s>уб.</s></s></sup>&nbsp;<i>×&nbsp;двое&nbsp;взрослых +</i> 3&nbsp;<sup>850&nbsp;<s class="rur">р<s>уб.</s></s></sup> <i>за&nbsp;ребёнка</i>
                                    <br/>
                                    <p>
                                        6<sup>250&nbsp;<s class="rur">р<s>уб.</s></s></sup>&nbsp; <i>=</i> 5<sup>150&nbsp;<s class="rur">р<s>уб.</s></s></sup>&nbsp;<i>взрослый тариф +</i> 1<sup>100&nbsp;<s class="rur">р<s>уб.</s></s></sup> <i>сборы</i>
                                    <p>
                                        3<sup>850&nbsp;<s class="rur">р<s>уб.</s></s></sup> <i>=</i> 2<sup>750&nbsp;<s class="rur">р<s>уб.</s></s></sup>&nbsp;<i>детский тариф +</i> 1<sup>100&nbsp;<s class="rur">р<s>уб.</s></s></sup> <i>сборы</i>
                        <tbody>
                            <tr class="ow">
                                <td rowspan=2 class="extra g-middle">
                                    <p>KLM Royal Dutch
                                <td class="dpt">
                                    <h3>12:00</h3>
                                    <h4>Москва, Шереметьево</h4>
                                    <h5 class="light">Терминал F</h5>
                                <td class="fly">
                                    <h5>11 часов 20 минут в пути</h5>
                                    <h5 class="light">пересадка 2 часа 5 минут</h5>

                                    <a href=# title="Перелёт Москва-Амстердам"></a>
                                    <a href=# title="Пересадка в Амстердаме" class="change"></a>
                                    <a href=# title="Перелёт Амстердам-Париж"></a>
                                <td class="arv">
                                    <h3>16:00</h3>
                                    <h4>Париж, Шарль де Голль Интернэшнл</h4>
                                <td rowspan=2 class="extra extra-info g-middle">
                                    С пересадкой в Амстердаме
                            <tr class="rt">
                                <td class="dpt">
                                    <h3>19:40</h3>
                                    <h4>Париж, Шарль де Голль Интернэшнл</h4>
                                <td class="fly">
                                    <h5>15 часов 20 минут в пути</h5>
                                    <a href=# title="Перелёт Париж-Москва"></a>
                                <td class="arv">
                                    <h3>23:15</h3>
                                    <h4>Москва, Шереметьево</h4>
                                    <h5>Терминал D</h5>
                    </table>
                </div>

                <div class="tarif">
                    <h1>Важно</h1>
                    <ul>
                        <li>Эти билеты невозвратные.
                        <li>Максимальный вес бесплатного багажа - 20 Кг.
                        <li>Перенести дату вылета можно за сутки до вылета или ранее.
                        <li>Стоимость переноса - 20% от стоимости тарифа (5&nbsp;150&nbsp;<s class="rur">р<s>уб.</s></s>).
                    </ul>
                    
                    <a href="#" class="b-pseudo more more-collapsed-" title="Посмотреть полное описание тарифа"><u>текст тарифа полностью</u><s></s></a>

                    <pre class="g-none-">
0.  APPLICATION AND OTHER CONDITIONS
RULE - 021/0921
UNLESS OTHERWISE SPECIFIED
ECONOMY NORMAL FARE WITHIN EUROPE VIA MSQ
 APPLICATION
   AREA
     THESE FARES APPLY
     WITHIN EUROPE
     VIA MSQ.
   CLASS OF SERVICE
     THESE FARES APPLY FOR ECONOMY CLASS SERVICE.
   TYPES OF TRANSPORTATION
     FARES GOVERNED BY THIS RULE CAN BE USED TO CREATE
     ONE-WAY/ROUND-TRIP JOURNEYS.
   FARES ONLY APPLY IF PURCHASED BEFORE DEPARTURE

5.  ADVANCE RES/TICKETING
UNLESS OTHERWISE SPECIFIED
  RESERVATIONS ARE REQUIRED FOR ALL SECTORS.
  TICKETING MUST BE COMPLETED WITHIN 7 DAYS AFTER
  RESERVATIONS ARE MADE OR AT LEAST 3 DAYS BEFORE DEPARTURE
  WHICHEVER IS EARLIER.
  OR - RESERVATIONS FOR ALL SECTORS AND TICKETING MUST BE
       COMPLETED AT THE SAME TIME.

8.  STOPOVERS
FOR TOWP FARES
  1 STOPOVER PERMITTED ON THE PRICING UNIT IN MSQ AT
      EUR 40.00.
     CHILD/INFANT DISCOUNTS APPLY.

16. PENALTIES
FOR TOWP FARES
  CANCELLATIONS
    BEFORE DEPARTURE
      CHARGE EUR 55.00 FOR CANCEL/NO-SHOW/REFUND.
         NOTE -
          FULL REFUND PERMITTED BEFORE DEPARTURE IN CASE OF
          REJECTION OF VISA. EMBASSY STATEMENT REQUIRED.
    AFTER DEPARTURE
      TICKET IS NON-REFUNDABLE.
         NOTE -
          REFUND OF UNUSED FEES AND TAXES PERMITTED.
          ---
          WHEN COMBINING ON A HALF ROUND TRIP BASIS THE
          PENALTY CONDITIONS OF MORE RESTRICTED RULE APPLY.
          ---
          REFUND CAN ONLY BE MADE THROUGH ISSUING OFFICE.
          ---
          PERIOD OF VALIDITY FOR SPECIAL FARE WILL BE MAX
          STAY OF THE FARE FROM THE DATE ON THE FIRST
          FLIGHT COUPON.
  CHANGES
    ANY TIME
      CHARGE EUR 40.00.
         NOTE -
          REBOOKING/REISSUE MUST BE MADE BEFORE DEPARTURE
          OF THE FLIGHT BEING CHANGED PROVIDED THAT ALL
          THE CONDITIONS OF THE FARE ARE MET.
          ---
          AFTER DEPARTURE FROM THE POINT OF ORIGIN
          NO ADVANCE PURCHASE CONDITIONS APPLY.
                    </pre>

                </div>

            <dd class="action hover">
                <a href=# class="a-button" target="booking" title="Нажмите, если проверили">Всё правильно. Забронируйте на 15 минут, и я выпишу билеты</a>

        </dl>


        <dl class="book">
            <dt><b>2</b>Кто полетит

            <dd class="info sand">
                <p>Для выписки билета нужно ввести данные документа, который будет предъявлен при посадке (например, загранпаспорт).
                <p>&nbsp;
                <p>Постарайтесь ввести данные поскорее. Если не уложитесь в 15 минут, то мы попробуем продлить бронирование, хотя остаётся риск, что билет будет куплен другими пассажирами (<a href=# class="b-pseudo"><u>откуда такие правила?</u></a>).

                <p class="sand">Осталось 12 минут до большого взрыва
            <dd class="body">
                <h1>Выписать билет</h1>
                <form>
                    <fieldset>
                        <legend>Первый пассажир</legend>
                        <input type="text" id="lname_1" value="Фамилия"/>
                        <input type="text" id="fname_1" value="Имя"/>
                        <label for="lname_1">латинскими буквами, как в загранпаспорте</label>

                        <br/>
                        <label for="nationality_1">гражданство</label>
                        <select id="nationality_1">
                            <option>гражданство
                            <option>Россия
                            <option>Украина
                            <option>Всякие чурки
                        </select>
                    
                    
                    </fieldset>

                </form>
                


            <dd class="action hover">
                <a href=# class="a-button" target="booking" title="Нажмите, если проверили">Всё правильно. Забронируйте ещё на 15 минут, и я оплачу билеты</a>
        </dl>


        <dl class="book">
            <dt><b>3</b>Купить

            <dd class="info">
                <p>Не прячьте ваши денежки по банкам и углам.
                <p>&nbsp;
                <p>Платите как хотите:
            <dd class="body">

                <h1>Карточкой</h1>
                    <br/><br/><br/>

                <h1>Наликом</h1>
                    <br/><br/><br/>

                <h1>Натурой</h1>
                    <br/><br/><br/>

            <dd class="action hover">
                <a href=# class="a-button" target="booking" title="Нажмите, если готовы">Я готов заплатить за эти билет(ы)</a>

        </dl>



    </div>
-->

</body>
</html>
