<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
	<meta charset="utf-8">
    <title>Eviterra — покупка авиабилета</title>
    <meta name="description" content="Eviterra.com — простой, удобный и красивый способ найти и купить авиабилет. Поиск, выбор рейса и бронирование онлайн. Цены на авиабилеты. +7 495 660-35-20">
    <meta name="keywords" content="авиабилет, авиакасса, авиабилеты купить, бронирование, выбрать рейс, авиарейс, перелет, дешевые авиабилеты, цены на билеты, онлайн бронирование, эвитерра, eviterra, спецпредложения, авиакомпании, расписание рейсов, маршрут, агентство, турагентство, путешествия">
	<meta name="viewport" content="user-scalable=no, width=320">
    <meta name="format-detection" content="telephone=no">	
    <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= stylesheet_link_tag 'common/hint', 'iphone/layout', 'booking/sections', 'iphone/booking' %>
    <%= javascript_include_tag 'common/jquery-1.7.1.min.js', 'common/common', 'local/ru', 'common/hint', 'booking/iphone', 'booking/validation', 'booking/form', 'booking/names' %> 
</head>
<body>

<div id="page-header">
<div class="ph-content">
    <div class="ph-logo"><img src="/images/common/eviterra-bg.png" alt="Eviterra"></div>
    <div class="ph-phone"><a class="php-link" href="tel:+74956603520"><span class="php-code">+7 495</span> 660-35-20</a></div>
</div>
</div>

<div id="results-header">
    <h3 class="rh-summary"></h3>
</div>

<div id="booking" class="b-processing">
    <div class="b-content offer"></div>
    <div class="b-loading">
        <h3 class="bl-title"><span class="bl-progress">Проверяем доступность мест</span></h3>
        <p class="bl-tip">Это займет от пяти до двадцати секунд</p>
    </div>
</div>

<div id="page-footer" style="display: none;"></div>

<div id="hint">
    <div class="h-close"></div>
    <div class="h-content"></div>
</div>

<script type="text/javascript">
$(function() {
    search.dates = {csnow: new Date('<%= Time.now.to_formatted_s(:rfc822) %>')};
    results.data = $.parseJSON('<%= raw @search.details.to_json %>');    
    results.updateTitles();
    booking.form.iphoneLayout = true;
    booking.init();
    booking.restore();
    window.scrollTo(0, 1);    
});
</script>

</body>
</html>
