<div class="result" data-type="fail">
    <p class="fail"><strong>Упс…</strong> Что-то пошло не так. Скорее всего, банк отклонил попытку платежа по вашей карте.</p>
    <p class="tip">Попробуйте проверить, правильно ли введены данные, или используйте другую карту. Если вы абсолютно уверены, что необходимая сумма есть на&nbsp;вашей карте и ее данные были введены верно, то свяжитесь с&nbsp;нами по&nbsp;электронной почте <a href="mailto:support@eviterra.com">support@eviterra.com</a>.</p>
</div>