
/* Календарь (begin) */
    .calendar
    {
        position: relative;

        width: 588px;
        height: 306px;
    }

    .calendar .viewport
    {
        position: relative;

        width: 588px;
        height: 306px;

        overflow: hidden;
        background: #abb3c2;
    }

    .calendar ul
    {
        width: 588px;
        height: auto;

        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
    }

    .calendar ul li
    {
        font: bold 95% Arial,s;
        float: left;
        overflow: hidden;
        text-align: left;

        width: 74px;
        height: 45px;

        margin: 0;
        padding: 2px 4px;

        color: #4b4b4b;
        border: 1px solid transparent;
        border-color: #cdd1db #cdd1db transparent transparent;

        text-align: right;
        letter-spacing: -1px;

        background-repeat: no-repeat;
        background-position: 40px 6px;
        cursor: pointer;
    }

    .calendar ul li u
    {
        font: bold 100% Arial,s;

        color: #333;
        letter-spacing: -1px;
    }

    .calendar ul li p
    {
        font: normal 10px Arial,s;
        position: relative;
        height: 18px;
        margin: 0 0 0 12px;

        text-align: left;
        letter-spacing: 0;
        color: gray;
    }

    .calendar ul li p i
    {
        position: absolute;
        left: -12px;
        top: 2px;
        display: block;
        width: 8px;
        height: 8px;
        overflow: hidden;
        background: url(/img/ico/ico-planes.png) no-repeat 0 0;
    }

    .calendar ul li p.r i
    {
        background: url(/img/ico/ico-planes.png) no-repeat -8px 0;
    }

    .calendar ul li.hl p
    {
        font-weight: bold;
        color: #db3f89;
    }

    .calendar ul li.holyday
    {
        color: #9c1b1b!important;
    }

    .calendar ul li.san
    {
        border-right-color: transparent;
    }

    .calendar ul li.weather6
    {
        background: #c5539c url(/img/temp/6.png) no-repeat 26px 14px;
    }

    .calendar ul li.weather7
    {
        background: #c5539c url(/img/temp/7.png) no-repeat 26px 14px;
    }

    .calendar ul li.month-odd
    {
        background-color: #ffffc2;
    }

    .calendar ul li.sel
    {
        color: #fff;
        background-color: #c5539c;
        border-color: #e67bae #c9589f transparent transparent;
        cursor: default;
    }

    .calendar ul li.adj
    {
        border-top-color: #c9589f;
    }

    .calendar ul li.bound
    {
        background-color: #db3f89;
        cursor: pointer;
    }

    .calendar ul li.bound p,
    .calendar ul li.bound u
    {
        color: #fff;
    }

    .calendar ul li.bound p i
    {
        background: url(/img/ico/ico-planes.png) no-repeat -16px 0;
    }

    .calendar ul li.bound p.r i
    {
        background: url(/img/ico/ico-planes.png) no-repeat -24px 0;
    }

    .calendar ul li.start
    {
        background: #c5539c url(/img/arrow-dpt.gif) no-repeat 64px 14px;
    }

    .calendar ul li.end
    {
        background: #c5539c url(/img/arrow-ret.gif) no-repeat 64px 14px;
    }

    .calendar ul li.start-end
    {
        background-image: url(/img/arrow-both.gif);

        border-top-color: #db3f89;
        border-right-color: #db3f89;
    }

    .calendar ul li.hover,
    .calendar ul li:hover
    {
        border-color: #e67bae;
    }

    .calendar ul li.reset
    {
        border-color: #cdd1db #cdd1db transparent transparent;
        cursor: default;
    }

    .calendar ul li sup
    {
        font: small-caps 70% Arial,s;
        color: #666;
        letter-spacing: 0px;
        margin: 0 0.4em 0 0;
    }

    .calendar ul li.bound sup
    {
        color: #fff;
    }

    .calendar ul li.dis,
    .calendar ul li.dis sup,
    .calendar ul li.dis u
    {
        color: #a6acba;
        cursor: default;
    }
/* Календарь (end) */

