/* Calendar */
.calendar 
{
    position: relative;
    width: 589px;
}

.calendar .viewport 
{
    position: relative;
    width: 588px;
    height: 332px;
    overflow: hidden;
    background: #acb6c3;
}

.calendar .dates 
{
    position: relative;
    width: 620px;
    height: 306px;
    overflow: auto;
}

/* Scroller */

.calendar .scroller 
{
    position: absolute;
    top: 0;
    left: 175px;
    
    height: 23px;
    
    background: #555;
}

    /* Scroller monthes */

    .calendar .scroller dl.timeline {
        font-size: 13px;
        position: absolute;
        top: 0;
        left: 0;
        width: 420px;
        overflow: visible;
        cursor: default;
    }

    .calendar .scroller dt
    {
		position: relative;

        float: left;
        overflow: hidden;
        
        height: 16px;
        margin-right: -1px;
        padding: 3px 0;

        color: #E8E8E8;
        border: 1px solid #707070;
        border-bottom: none;
        
        cursor: pointer;
    }

    .calendar .scroller dt .label
    {
        position: absolute;
        z-index: 1;
        
        text-align: center;
    }

    .calendar .scroller dd
    {
        font-weight: bold;

        float: left;
        
        padding-top: 4px;
        padding-left: 10px;
        
        color: #777;
    }
    
    .calendar .scroller .overlay
    {
        position: absolute;
        top: 0;
        z-index: 1;

        width: 50px;
        height: 22px;

        background: #343434;
        opacity: 0.4;
        filter: alpha(opacity=40);
        cursor: default;
    }

    /* Scrollbar */
    
    .calendar .scrollbar 
    {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        
        height: 23px;
        
        background: #99a1ac;
    }

    /* Scroll buttons */
    
    .calendar .scrollfw,
    .calendar .scrollbw 
    {
        position: absolute;
        left: 568px;
        width: 11px;
        height: 6px;
        border: 5px solid #343434;
        background: url(/img/arr-up-down.gif) no-repeat;
        cursor: pointer;
    }
    
    .calendar .scrollbw 
    {
        top: 7px;
        background-position: -11px 0;
    }
    
    .calendar .scrollfw 
    {
        top: 355px;
        background-position: -11px 100%;
    }

/* Days of the week */

.calendar ul.week 
{
    width: 588px;
    height: 25px;
    border-bottom: 1px solid #c7ced6;
    background: #99a1ac;
    color: #4b4b4b;
    font-size: 13px;
}

.calendar .week li 
{
    float: left;
    width: 24px;
    padding: 5px 55px 5px 5px;
    text-align: center;
}

/* Calendar dates */
.calendar ul.month 
{
    display: inline;
    width: 588px;
    height: auto;
    overflow: visible;
}

.calendar .dates li 
{
    float: left;
    position: relative;
    width: 34px;
    height: 40px;
    border-bottom: 1px solid #c7ced6;
    padding: 5px 50px 5px 0;
    color: #4b4b4b;
    font: bold 95% Arial, sans-serif;
    text-align: center;
    cursor: pointer;
}

.calendar .odd li {
    background: #b6bec9;
}

.calendar .dates li.hl 
{
    background: #b2a4bb;
    border-color: #cbc2d0;
}
.calendar .odd li.hl 
{
    background: #bbabc0;
}

.calendar li.there.hl 
{
    background-color: #bf86ac;
    border-color: #d3adc6;
}
.calendar .odd li.there.hl 
{
    background-color: #c58bb0;
}


.calendar .dates li.inactive {
    color: #9da5b0;
    cursor: default;
    border-color: #c7ced6;
    background: none;
}

.calendar .dayoff 
{
    color: #ce001a;
}

.calendar .inactive .dayoff 
{
    color: #b796a6;
}

.calendar .dates .there 
{
    background: #c675a4;
    border-color: #d8a0c0;
}
.calendar .odd .there 
{
    background: #ca79a7;
}

.calendar .dates li.dpt,
.calendar .dates li.ret,
.calendar .dates li.dpthover,
.calendar .dates li.rethover {
    background: url(/img/date-arrows.png) no-repeat;
}

.calendar .dates li.dpthover,
.calendar .dates li.rethover 
{
    background-color: #ba92b2;
    border-color: #d0b5ca;
}

.calendar .dates li.there.dpthover,
.calendar .dates li.there.rethover 
{
    background-color: #cb699e;
    border-color: #db98bc;
}

.calendar .dates li.dpthover
{
    background-position: 64px 14px;
}

.calendar .dates li.rethover
{
    background-position: 64px -106px;
}

.calendar .dates .month li.dpt,
.calendar .dates .month li.ret 
{
    border-color: #e67bae;
    background-color: #DC3F8A;
    background-repeat: no-repeat;
    color: #fff;
    cursor: default;
}

.calendar .dates li.dpt 
{
    background-position: 64px -46px;
}

.calendar .dates li.ret 
{
    background-position: 64px -166px;
}

.calendar .dates li.dpt.rethover
{
    background-position: 64px -226px;
}

.calendar .dates li.dpt.ret
{
    background-position: 64px -286px;
}


.calendar .dpt .dayoff,
.calendar .ret .dayoff 
{
    color: #fff;
}

/* Reset */
.calendar .reset 
{
    color: #A0A0A0;
    font-size: 70%;
    cursor: pointer;
}

.calendar .reset:hover 
{
    color: #FFF;
}

.calendar .reset .label 
{
    border-bottom: 1px dotted #A0A0A0;
}

.calendar .reset:hover .label 
{
    border-color: #FFF;
}
