/* Кнопки прокрутки (begin) */
    .calendar-pager
    {
        position: absolute;

        top: -18px;
        right: 0;

        display: block;
        width: 20px;
        height: 18px;

        cursor: pointer;
    }

    .calendar-pager i
    {
        position: absolute;
        top: 7px;
        left: 5px;

        display: block;
        width: 11px;
        height: 6px;
        background: url(/img/arr-up-down.gif) no-repeat -11px top;
    }

    .calendar-pager:active i
    {
        top: 8px;
    }

    /* Вверх-вниз (begin) */
        .calendar-pager-up
        {

        }

        .calendar-pager-up i
        {
            background-position: -11px top;
        }

        .calendar-pager-up:hover
        {
            /*
            background: #ffe155;
            */
        }

        .calendar-pager-up:hover i
        {
            background-position:    left top;
        }

        /* ---- вниз ---- */

        .calendar-pager-down
        {
            top: auto;
            bottom: -18px;
        }

        .calendar-pager-down i
        {
            background-position: -11px bottom;
        }

        .calendar-pager-down:hover
        {
            /*
            background: #ffe055;
            */
        }

        .calendar-pager-down:hover i
        {
            background-position: left bottom;
        }
    /* Вверх-вниз (end) */

    /*
    .calendar-pager-disabled:hover
    {
        background: transparent;
        cursor: default;
    }

    .calendar-pager-disabled i
    {
        top: 7px;
        background-position: -58px top;
    }
    */
/* Кнопки прокрутки (end) */
