/* Calendar */
.calendar {
	position: relative;
	width: 589px;
}
.calendar .viewport {
	width: 588px; height: 332px;
	overflow: hidden;
	background: #b1bbc9;
}
.calendar .dates {
	width: 620px; height: 306px;
	overflow: auto;
}

/* Calendar controls */
.calendar .scroller {
	position: absolute;
	left: 150px; top: 1px;
	font-size: 11px;
}
.calendar .scroller li {
	float: left;
	padding: 2px 0;
	background: #666;
	text-align: center;
	color: #FFF;
	margin-left: 1px;
}
.calendar .scrollfw,
.calendar .scrollbw {
	position: absolute;
	left: 568px;
	width: 11px; height: 6px;
	border: 5px solid #343434;
	background: url(/img/arr-up-down.gif) no-repeat;
	cursor: pointer;
}
.calendar .scrollbw {
	top: 7px;
	background-position: -11px 0;
}
.calendar .scrollfw {
	top: 355px;
	background-position: -11px 100%;
}
.calendar .scrollbar {
	position: absolute;
	top: 0; left: 10px;
	width: 30px; height: 15px;
	border: 1px solid #FFF;
	display: none;
}

/* Days of the week */
.calendar ul.week {
	width: 588px; height: 25px;
	border-bottom: 1px solid #c7ced6;
	background: #99a1ac;
	color: #4b4b4b;
	font-size: 13px;
}
.calendar .week li {
	float: left;
	width: 24px;
	padding: 5px 55px 5px 5px;
	text-align: center;
}

/* Calendar dates */
.calendar ul.month {
	width: 588px; height: auto;
	overflow: visible; 
}
.calendar .dates li {
	float: left;
	position: relative;
	width: 34px; height: 40px;
	border-bottom: 1px solid #c7ced6;
	padding: 5px 50px 5px 0;
	color: #4b4b4b;
	font: bold 95% Arial, sans-serif;
	text-align: center;
	cursor: pointer;
}
.calendar .dates li.hl {
	background: #b6a1be;
	border-color: #cfb9cc;
}
.calendar .dates li.hover,
.calendar .dates li:hover {
	background: #bd7dae;
	border-color: #da9cbe;
}
.calendar .dates li.past {
	color: #a3abb7;
	cursor: default;
	border-color: #c7ced6;
	background: none;
}
.calendar .dayoff {
	color: #ce001a;
}
.calendar .past .dayoff {
	color: #a08590;
}
.calendar .dates .there {
	background: #bb87b2;
	border-color: #d7a4c2;
}
.calendar .dates li.dpt,
.calendar .dates li.ret {
	border-color: #e67bae;
	background-color: #c5539c;
	background-repeat: no-repeat;
	background-position: 64px 14px;
	color: #fff;
	cursor: default;
}
.calendar .dates li.dpt {
	background-image: url(/img/arrow-dpt.gif);
}
.calendar .dates li.ret {
	background-image: url(/img/arrow-ret.gif);
}
.calendar .dpt .dayoff,
.calendar .ret .dayoff {
	color: #fff;
}

/* Reset */
.calendar .reset {
	color: #A0A0A0;
	font-size: 70%;
	cursor: pointer;
}
.calendar .reset:hover {
	color: #FFF;
}
.calendar .reset .label {
	border-bottom: 1px dotted #A0A0A0;
}
.calendar .reset:hover .label {
	border-color: #FFF;
}
