.map-tabs
{
    font-size: 85%;

    position: absolute;   
    right: 0;
    top: -1.5em;

    overflow: hidden;
    zoom: 1;

    height: auto!important;
    margin: 0;
}

.map-tabs li
{
    float: left;

    margin: 0;
}

.map-tabs li a
{
    font-weight: bold;

    display: block;

    padding: 0 0.5em;

    line-height: 1.5em;
    text-decoration: none;

    color: #c9c8c8;
}

.map-tabs li a:hover
{
    color: #fff;
}

.wt0 .wt0, .wt0 .wt0:hover,
.wt1 .wt1, .wt1 .wt1:hover,
.wt2 .wt2, .wt2 .wt2:hover,
.wt3 .wt3, .wt3 .wt3:hover,
.wt3 .wt4, .wt3 .wt4:hover 
{
    cursor: default;

    color: #c9c8c8;
    background: #617384;
}

.wp0, .wp1, .wp2, .wp3, .wp4
{
    display: none;
}

.wt0 .wp0,
.wt1 .wp1,
.wt2 .wp2,
.wt3 .wp3,
.wt3 .wp4
{
    display: block;
}
