
<h2>Горячие пирошки</h2>

<% @hot_offers.group_by(&:price_variation_percent).each do |price_variation_percent, hot_offers| %>
  <h2 id="<%= price_variation_percent %>"><%= price_variation_percent %></h2>
  <% hot_offers.each do |hot_offer| %>
    <%= render 'hot_offer', :hot_offer => hot_offer%>
  <% end %>
  <hr>
<% end %>
