<p>-- </p>
<p>Спасибо что вы с нами,<br>
Команда Eviterra.com</p>

<p><%= link_to 'facebook.com/eviterra', 'http://facebook.com/eviterra' %><br>
<%= link_to 'twitter.com/eviterra', 'http://twitter.com/eviterra' %><br>
<%= link_to 'vk.com/eviterra', 'http://vk.com/eviterra' %></p>