<p>Добро пожаловать на Эвитерру!</p>

<p>Для вашего удобства история ваших заказов сохраняется в личном кабинете. Кроме того, из личного кабинета можно распечатать маршрутную квитанцию на русском или английском языке для предстоящего полета.</p>

<p>А осенью в личном кабинете появится возможность управлять подписками на интересующие вас направления и хранить необходимые для покупки билетов данные (свои и пассажиров, вместе с которыми вы часто летаете).</p>

<p>Ваш личный кабинет уже создан, вам осталось только придумать пароль. Для этого перейдите, пожалуйста, по ссылке ниже.</p>

<p><%= link_to 'Завершить регистрацию', profile_confirm_url(:confirmation_token => @resource.confirmation_token) %></p>

<%= render :partial => 'signature' %>
