<h3>Спасибо, что вы с нами!</h3>
 
<p>На Эвитерре появились личные кабинеты покупателей. В личном кабинете можно посмотреть историю заказов и распечатать маршрутную квитанцию для предстоящего полета.</p>
 
<p>А уже осенью мы планируем добавить возможность управлять подписками на интересующие вас направления и хранить необходимые для покупки билетов данные (свои и пассажиров, вместе с которыми вы часто летаете).</p>
 
<p>Поскольку вы уже покупали билеты у нас, мы создали для вас личный кабинет. Вам осталось только придумать пароль. Для этого перейдите, пожалуйста, по ссылке ниже.</p>

<p><%= link_to 'Завершить регистрацию', profile_confirm_url(:confirmation_token => @resource.confirmation_token) %></p>

<%= render :partial => 'signature' %>
