<h3>Здравствуйте!</h3>

<p>Кто-то (возможно, вы) попытался изменить пароль от личного кабинета на Эвитерре. Для изменения пароля перейдите по ссылке ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если вы не пытались сменить пароль, просто проигнорируйте это письмо.</p>

<p>Ваш пароль останется прежним, пока вы не перейдете по ссылке и не измените его.</p>

<%= render :partial => 'signature' %>
