/* Message */
.b-message {
    position: relative;
    height: 100%;
    margin-top: -106px;
}
.bm-content {
    position: absolute;
    top: 50%;
    left: 50%;
}
.bm-title {
    margin: 0 0 5px;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.03em;
}

/* Loading */
#booking-loading .bm-content {
    width: 400px;
    margin: 0 0 0 -200px;
    text-align: center;
}
.bmt-progress {
    padding-right: 28px;
    background: url(/images/booking/progress-g.gif) no-repeat 100% 7px;
}

/* Fail */
#booking-fail {
    display: none;
}
