/* Disclaimer */
#booking-disclaimer {
    display: none;
}
.b-disclaimer {
    margin: 0 0 20px;
    padding: 16px 20px;
    background: #EDEDE3;
}
.b-disclaimer h5 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}
.b-disclaimer p {
    margin: 8px 0 0;
} 

/* Booking */
#booking {
    display: block;
}
.b-content {
    display: none;
}
.b-loading {
    display: block;
}

/* Subscription */
#booking-subscription {
    display: none;
    margin-left: 0;
}

/* Button template */
#obb-template {
    display: none;
}
.b-header #obb-template {
    display: block;
}