/* Изменение цены */
.bf-newprice {
    display: none;
    padding: 18px 20px;
}
.bfnp-title,
.bfnp-content {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.03em;
}
.bfnp-title {
    font-weight: bold;
    color: #bf2a1d;
}
.bfnp-content {
    margin: 5px 0;
}
.bfnp-tip {
    font-size: 14px;
    line-height: 16px;
}
.bf-newprice-top {
    background: #EDEDE3;
    padding: 14px 14px;
}

/* Основной блок */
#booking {
    display: none;
    padding: 22px 0;
}
#booking.b-processing {
    position: relative;
    min-height: 100%;
    margin-top: -106px;
    padding: 0;
}
.b-content {
    width: 988px;
    margin: 0 auto;
}
.ob-preview {
    position: relative;
    margin-left: 16px;
}
#booking .ob-preview {
    margin-left: 0;
}
#booking .ob-line {
    display: none;
}
.b-loading {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    margin: 20px 0 0 -200px;
    text-align: center;
}
.bl-title {
    margin: 0 0 5px;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.03em;
}
.bl-progress {
    padding-right: 28px;
    background: url(/images/booking/progress-g.gif) no-repeat 100% 7px;
}

/* Заголовок */
.b-header {
    padding: 8px;
    background: #FFF;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;    
    letter-spacing: -0.03em;
}
.bh-text {
    margin: 0 300px;
    padding: 8px 0;
    text-align: center;
    font-weight: bold;
}

/* Подробности */
.b-details {
    background: #F8F8F6;
}

/* Форма */
#booking-form {
    border-top: 1px solid #E8E8E8;
    background: #edede3;
}

/* Нижняя часть */
.bf-footer {
    position: relative;
    margin: 25px 20px 0 315px;
    padding-bottom: 30px;
}
.bff-price,
.bff-passengers {
    position: absolute;
    top: 12px;
    left: -300px;
    width: 260px;
}
.bffp-content {
    float: right;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}
.bffp-sum {
    color: #f90a6f;
}
.bffp-tip {
    color: #606060;
}
.bffp-wd {
    display: none;
}
.bffp-details {
    margin: 10px 0 0;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #777;
}
.bffpd-item {
    margin: 0 0 3px;
}
.bffp-hint {
    margin: 10px 0 0;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #777;
}
.bffp-progress {
    font-size: 16px;
    margin-top: 2px;
    padding-left: 26px;
    background: url(/images/booking/progress-b.gif) no-repeat 0 2px;    
}

/* Кнопка отправки */
.bff-submit {
    position: relative;
    left: -28px;
    margin: 0 0 15px;
    height: 48px;
}
.bf-button {
    float: left;
    position: relative;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.bfb-side {
    height: 56px;
    background: url(/images/booking/submit.png) no-repeat;
}
.bfb-left {
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    padding-right: 8px;
    background-position: 100% 0;
}
.bfb-right {
    margin-right: 22px;
}
.bfb-title {
    position: relative;
    z-index: 1;
    padding: 10px 27px 10px 28px;
    border-radius: 24px;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFF;
    text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0;
    cursor: pointer;
}
.bfb-disabled .bfb-left {
    background-position: 100% -60px;
}
.bfb-disabled .bfb-right {
    background-position: 0 -60px;
}
.bfb-disabled .bfb-title {
    /*color: #b8b39c; для жёлтого фона */
    color: #b8b8a5;
    text-shadow: none;
    cursor: default;
}
.bff-cancel,
.bff-progress {
    float: left;
    margin: 15px 0 0 15px;
    font-size: 15px;
    line-height: 18px;
}
.bff-progress {
    display: none;
    padding-right: 26px;
    background: url(/images/booking/progress-b.gif) no-repeat 100% 1px;
}

/* Проверка полей и соглашение */
.bff-required {
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 18px;
}
.bffr-wrong {
    margin: 0 0 10px;
    color: #F02020;
}
.bffr-link {
    cursor: pointer;
}
.bffr-link:hover {
    background: none;
    text-decoration: underline;
    color: #f90a6f;
}
.bff-disclaimer {
    font-size: 14px;
    line-height: 16px;
    color: #777;
}
.bffd-link {
    color: #777;
}

/* Результат бронирования */
.bf-result {
    padding: 18px 20px 20px;
    background: #edede3;
}
.bfr-title {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.03em;    
}
.bfr-content {
    margin: 8px 0 0;
    font-size: 14px;
    line-height: 17px;
}
.bfr-pnr {
    font-weight: bold;
    color: #f90a6f;
}
.bfnp-data {
    display: none;
}

/* Успешное бронирование */
.bfr-success {
    padding: 0;
}
.bfrs-message {
    float: left;
    width: 552px;
    margin: 18px 0 0 20px;
}
.bfrsm-text {
    margin: 0 0 12px;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.03em;    
}
.bfrsm-hint {
    position: relative;
    top: -2px;
    left: 3px;
    font-size: 12px;
    color: #777;
}
.bfrs-addition {
    margin-left: 592px;
    margin-bottom: -200px;
    padding: 18px 20px 220px;
    background: #e2e2e2;    
}
.bfrs-title {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.03em;        
}
.bfrsa-item,
.bfrsi-item {
    margin: 3px 0 0; 
}
.bfrs-insurance {
    margin: 20px 0 0;
}
.bfrsi-item {
    margin-right: 150px;
}
.bfrsi-link {
    float: right;
    width: 140px;
    padding: 8px 0 40px;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.03em;    
    background: url(/images/booking/insurance.png) no-repeat 54% 54px #FFF;
    text-decoration: underline;
    cursor: pointer;
}

/* Кнопки */
.bfr-controls {
    height: 36px;
    margin: 15px 0 0;
    line-height: 38px;
}
.bf-result .ob-button {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.03em;
}
.bf-result .obb-side {
    background-image: url(/images/booking/continue.png);
}

/* 3DSecure */
.bfrt-form {
    position: absolute;
    height: 0;
    overflow: hidden;
}

/* Ошибка бронирования */
.bfr-fail .bfr-title {
    color: #bf2a1d;
}

/* Бронирование в корпоративном режиме */
.booking-corporate {
    padding: 13px 15px;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
}
.booking-corporate strong {
    font-weight: normal;
    color: #ED1192;
}


.booking-form .success strong {
    font-weight: bold;
    color: #447b00;
}

/* Правила тарифов */
.bf-farerules {
    display: none;
    background: #FFF;
}
.bff-content {
    padding: 16px 20px 20px;
}
.bff-close {
    float: right;
    position: relative;
    top: 18px; left: -18px;
    width: 18px; height: 18px;
    background: url(/img/booking/close.png) no-repeat;
    cursor: pointer;
}
.bff-title {
    margin: 0 0 12px;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.03em;
}
.bff-group {
    margin: 12px 0 0;
}
.bffg-translate {
    float: right;
    font-size: 12px;
}
.bffg-title {
    margin: 0 200px 8px 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;    
}
.bffg-content {
    max-height: 200px;
    overflow: auto;
    border: 1px solid #B0B0B0;
    padding: 3px 8px;
    background: #fff;
    font-size: 12px;
}
