/* Предварительное бронирование */
.prebooking .offer-variant th.book .a-button,
.prebooking .offer-variant tr.book .a-button,
.prebooking .offer-variant tr.book {
    display: none;
}
.prebooking-state {
    display: none;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
}
.prebooking-state h4 {
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}
.prebooking-state p {
    margin: 6px 0 0;
}
.prebooking-state .progress {
    margin: 0;
    padding: 25px 0 0;
    background: url(/img/offers/progress.gif) 50% 2px no-repeat;
}
.prebooking-state .link {
    color: #333;
}
.prebooking .prebooking-state {
    display: block;
}
.prebooking .cost-tip {
    display: inline;
}

/* Бронирование в корпоративном режиме */
.booking-corporate {
    font-size: 18px;
    line-height: 22px;
    text-align: left;
}
.booking-corporate strong {
    font-weight: bold;
    color: #ED1192;
}

/* Изменение цены */
.changed-price {
    text-align: left;
}
.changed-price h5 {
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 8px;
}
.changed-price strong {
    font-weight: bold;
}
.changed-price .cancel:hover {
    color: #ED1192;
}
.offer .changed-price a.a-button {
    float: none;
    border-color: #7b8e12;
    margin-right: 2px;
    padding: 3px 10px;
    font-weight: bold;
}

/* Форма бронирования */
#booking {
    background: #E7ECEE;
}
.booking-body {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 15px 0 40px;
}
.booking-frame {
    width: 675px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 0 0 1px;
    background: #fff;
    font-size: 16px;
    line-height: 19px;
    color: #333;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#booking .cost-tip {
    display: inline;
}

/* Подсказки */
.booking-form .hint {
    color: #777;
}

/* Шапка */
.booking-header {
    position: fixed;
    left: 0; top: 0;
    z-index: 5;
    width: 100%;
    background: #FFF;
}
.bh-title {
    width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    font-weight: bold;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -1px;
}
.bh-title:first-letter {
    text-transform: uppercase;
}
.bh-content {
    width: 960px;
    height: 30px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.014em;
}

/* Прячем и дизейблим лишние элементы */
#booking .offer-variant .summary .variants p,
#booking .offer-variant .summary .variants .link {
    color: #CCC;
    cursor: default;
    text-decoration: none;
    cursor: default;
}
#booking .offer-variant th.book .a-button,
#booking .offer-variant tr.book .a-button,
#booking .offer-variant tr.book {
    display: none;
}
#booking .offer-variant .toggle .link {
    background: transparent;
    text-decoration: none;
    color: #CCC;
    cursor: default;
}

/* Оставшиеся места */
.booking-form .availability {
    display: inline;
    float: right;
    position: relative;
    top: -5px;
    width: 233px;
    margin-right: 15px;
    font-size: 13px;
    line-height: 15px;
}
.booking-form .availability strong {
    color: #ED1192;
}

/* Результат бронирования */
.booking-form .result {
    margin: 12px 15px;
}
.booking-form .success,
.booking-form .fail {
    font-size: 125%;
    line-height: 120%;
}
.booking-form .success strong {
    font-weight: bold;
    color: #447b00;
}
.booking-form .fail strong {
    font-weight: bold;
    color: #ea2535;
}
.booking-form .result .tip {
    margin: 10px 0 0;
    font-size: 75%;
    line-height: 125%;
}
.booking-form .result .hint {
    color: #333;
}
.booking-form .tds-form {
    position: absolute;
    height: 0;
    overflow: hidden;
}
.booking-form .tds-submit {
    margin-top: 8px;
}
.booking-form .tds-submit a.a-button {
    float: none;
    border-color: #7b8e12;
    margin-right: 2px;
    margin-left: 0;
    padding: 3px 10px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #333;
}
.booking-form .tds-submit a.a-button:hover {
    color: #FFF;
}
.booking-form .result .tds-submit a.stop-booking {
    position: relative;
    top: 8px;
}

/* Кнопки прекращения бронирования */
.stop-booking {
    color: #333;
}
.stop-booking:hover {
    color: #ED1192;
}
.booking-form .result .stop-booking {
    float: right;
}

/* Кнопки */
.booking-form .a-button {
    margin: 0 0 0 .25em;
    padding: 4px 10px;
    font-weight: bold;
    color: #777;
}
.booking-form .a-button-ready {
    color: #FFF;
}

/* Кнопка отправки */
.booking-submit {
    margin: 30px 15px 25px;
}
.booking-submit.sending {
    margin-bottom: 30px;
}
.booking-submit table {
    margin: 0 auto;
}
.booking-form .bs-left {
    width: 250px;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    vertical-align: middle;
}
.booking-form .bs-right {
    width: 250px;
    color: #777;
    font-size: 13px;
    vertical-align: middle;
}
.bs-button {
    padding: 0 15px 2px;
    text-align: center;
    vertical-align: middle;
}
.booking-submit .a-button {
    margin: 0;
    font-size: 20px;
}
.booking-submit .loading,
.booking-form .sending .cancel {
    display: none;
}
.booking-form .sending .loading {
    display: block;
    height: 16px;
    background-position: 0 0;
}
.booking-form .sending .bs-left,
.booking-form .sending .bs-right {
    width: 200px;
}
.booking-form .sending .bs-left {
    visibility: hidden;
}

/* Лоадер */
.booking-form .loading {
    padding-right: 28px;
    background: transparent url(/img/loader/loader-white.gif) no-repeat 100% 1px;
    background-image: url(data:image/gif;base64,R0lGODlhEAAQAPIAAP///+0RkvnG5PFOru0RkvNsu/WKyfaZ0CH+GkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAAKAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQACgABACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkEAAoAAgAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkEAAoAAwAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkEAAoABAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQACgAFACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQACgAGACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAAKAAcALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==);
}

/* Список ошибок */
.booking-errors {
    position: relative;
    top: 5px;
    width: 380px;
    margin: 17px auto 0;
    padding: 14px 20px 12px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #ffc4c4;
    font-size: 13px;
    line-height: 16px;
    color: #333;
}
.be-triangle {
    display: block;
    position: absolute;
    top: -15px;
    left: 194px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #ffc4c4;
    border-width: 0 16px 16px;
}
.booking-errors h6 {
    font-weight: bold;
    font-size: 100%;
    margin: 0 0 5px;
}
.be-list {
    margin-left: 1.2em;
    list-style: disc;
}
.be-list li {
    margin: 3px 0 0;
}
.be-list .link {
    color: #333333;
}
.be-list .link:hover {
    color: #ED1192;
}

/* Предупреждение */
.booking-disclaimer {
    margin: 12px 15px;
    font-size: 16px;
    line-height: 19px;
    color: #777;
}
.booking-disclaimer a {
    color: #333;
}
.booking-disclaimer a:hover {
    color: #ED1192;
}

/* Правила тарифов */
.farerules {
    display: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #FFF;
    color: #000;
}
.farerules {
    position: absolute;
    top: 0; left: 119px;
    width: 654px;
    padding: 18px 20px 20px;
    font-size: 14px;
    line-height: 19px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}
.farerules .close {
    float: right;
    position: relative;
    top: -12px; left: 14px;
    width: 18px; height: 18px;
    background: url(/img/booking/close.png) no-repeat;
    cursor: pointer;
}
.farerules h3 {
    margin: 0 0 12px;
    font-weight: bold;
    font-size: 26px;
    line-height: 1;
    color: #333;
}
.farerules .fgroup {
    margin: 12px 0 0;
}
.fgtranslate {
    float: right;
    margin-top: 2px;
    font-size: 12px;
}
.fgrus {
    padding: 0 55px 2px 0;
    background: url(/img/booking/google.png) no-repeat 100% 1px;
}
.fgheader {
    margin: 0 200px 5px 0;
}
.fgheader h5 {
    display: inline;
    margin-right: 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}
.fgheader .clofs {
    display: inline;
    font-size: 12px;
    color: #777;
}
.farerules pre {
    max-height: 130px;
    overflow: auto;
    border: 1px solid #999;
    border-color: #757575 #999 #B0B0B0;
    padding: 3px 8px;
    background: #fff;
    font-size: 12px;
}

/* Ссылки для добавления в социальные сети */
.booking-social {
    margin: 15px 0 15px;
    padding: 12px 15px 0;
    border-top: 1px solid #ddd;
}
.booking-form .booking-social h3 {
    margin: 0 0 10px;
    line-height: 22px;
}
.booking-form .booking-social li {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 17px;
}
.booking-form .booking-social a {
    padding: 5px 0 5px 32px;
    background: url(/img/booking/social.png) no-repeat;
    color: #777;
}
.booking-form .booking-social a:hover {
    color: #ED1192;
}
