/* Section */
.bf-section {
    padding: 15px 20px 18px;
    background: #fbf4cb;
}
.bfs-title {
    position: relative;
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 22px;
}
.bfst-text {
    position: relative;
    z-index: 1;
    display: inline;
    padding-right: 10px;
    background: #fbf4cb;
    font-weight: bold;
    letter-spacing: -0.03em;
}
.bfst-line {
    position: absolute;
    top: 12px;
    left: 0;
    width: 850px;
    height: 0;
    border-top: 1px solid #dcd6b2;
}
.bfst-tip {
    position: absolute;
    top: 4px;
    left: 680px;
    z-index: 1;
    width: 260px;
    padding-left: 10px;
    background: #fbf4cb;
    font-size: 12px;
    line-height: 15px;
    color: #777;
}

/* Warning */
.bf-warning {
    display: none;
    position: absolute;
    z-index: 3;
    width: 312px;
    padding: 10px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background: #ffc4c4;
    font-size: 14px;
    line-height: 16px;
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

    background: #fdfbea;    
    border: 1px solid #debf14;    
}
.bfw-tip {
    margin: 5px 0 0;
    font-size: 12px;
    line-height: 14px;
    color: #777;    
}

/* Field */
.bf-label {
    margin: 0 0 6px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}
.bfl-tip {
    font-weight: normal;
}
.bf-field {
    height: 22px;
    margin: 0;
    padding: 3px 5px;
    border: 1px solid #ebe2b2;
    background: #FFF;    
    font-size: 16px;
    line-height: 22px;
}
.bf-field:focus {
    outline: none;
}

/* Placeholder */
.bf-placeholder {
    display: none;
    position: absolute;
    margin: 7px 6px;
    font-size: 12px;
    line-height: 16px;
    color: #B0B0B0;
}
.bf-disabled .bf-placeholder {
    visibility: hidden;
}

/* Select */
.bf-select {
    position: relative;
}
.bf-select-arrow {
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 100%;
    width: 32px;
    margin-left: -33px;
    background: url(/images/booking/select.png) no-repeat 100% 0;
}
.bf-select-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    padding: none;
    opacity: 0;
}

/* Checkbox */
.bf-checkbox {
    position: relative;
    margin-left: 18px;
}
.bf-checkbox input {
    position: absolute;
    top: -1px;
    left: -18px;
    margin: 0;
    padding: 0;
}

/* Contacts */
.bfc-control {
    float: left;
    margin-right: 10px;
}
#bfc-email {
    width: 332px;
}
#bfc-phone {
    width: 185px;
}

/* Persons */
.bf-persons {
    padding-right: 0;
}
.bf-persons .bf-label {
    margin: 0 0 8px;
}
.bf-persons .bfs-title {
    position: relative;
    margin-right: 20px;
}
.bfp-order {
    position: relative;
    top: -5px;
    width: 664px;
    margin-bottom: 5px;
    line-height: 16px;
}
.bfp-hint {
    position: absolute;
    top: 0;
    margin-left: -10px;
    padding: 0 10px;
    background: #fbf4cb;    
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    color: #777;
}
#bfph-passport {
    left: 690px;
    left: 665px;
}
#bfph-expiration {
    left: 830px;
    left: 805px;
}
.bfph-link {
    text-decoration: underline;
    cursor: pointer;
}
.bfp-control {
    padding-right: 10px;
}
.bfp-spacer {
    height: 20px;
}

/* Add/remove person */
.bfp-add {
    margin: 14px 0 0;
    text-align: center;
    color: #777;
}
.bfpa-link:before {
    content: '+';
    position: absolute;
    margin: 0.1em 0 0 -1em;
    color: #777;
    font-weight: bold;
}
.bfp-remove {
    width: 15px;
    padding-top: 3px;
    text-align: right;
    font-size: 20px;
}
.bfpr-link {
    color: #777;
    cursor: pointer;
}

/* Person fields */
.bfp-fname {
    width: 125px;
}
.bfp-lname {
    width: 185px;
    width: 160px; 
}
.bfp-nationality .bf-field {
    width: 107px;
}
.bfp-passport {
    width: 118px;
}

/* Person sex */
.bfp-sex {
    float: left;
}
.bfp-sex-m,
.bfp-sex-f {
    float: left;
    position: relative;
    width: 22px;
    height: 22px;
    overflow: hidden;
    padding: 3px 5px;
    border: 1px solid #ebe2b2;
    background: #FFF;
    text-align: center;
    font-size: 12px;
    line-height: 23px;
    color: #AAA;
    cursor: pointer;
}
.bfp-sex-m {
    margin-right: -1px;
}
.bfp-sex-radio {
    position: absolute;
    top: -30px;
    left: 0;
}
.bfp-sex label.bfp-sex-m:hover,
.bfp-sex label.bfp-sex-f:hover, 
.bfp-sex label.bfp-sex-hover {
    z-index: 2;
    border-color: #debf14;
    font-size: 16px;
    line-height: 22px;
}
.bfp-sex label.bfp-sex-selected,
.bfp-sex label.bfp-sex-selected:hover {
    z-index: 1;
    border-color: #81aa00;
    font-size: 16px;
    line-height: 22px;
    color: #333;
    cursor: default;
}

/* Person dates */
.bfp-date {
    float: left;
    border: 1px solid #ebe2b2;   
}
.bfpd-item {
    float: left;
}
.bfpd-day,
.bfpd-month {
    width: 22px;
    margin: 0; 
    border-width: 0 1px 0 0;
}
.bfpd-year {
    width: 42px;
    border: none;
}

/* Person options */
.bfp-option {
    padding: 8px 10px 0 0;
    font-size: 12px;
    line-height: 14px;
    color: #777;
}

/* Person bonus */
.bfpb-control {
    float: left;
    padding: 6px 10px 0 0;
}
.bfp-bonus-fields .bf-field {
    height: 16px;
    font-size: 12px;
    line-height: 16px;
}
.bfp-bonus-fields .bfp-control {
    padding-top: 5px;
}
.bfp-bonus-type .bf-field {
    width: 170px;
    width: 160px;    
}
.bfp-bonus-type .bf-select-arrow {
    background: url(/images/booking/select.png) no-repeat 100% -30px;
}
.bfp-bonus-number {
    width: 140px;
    width: 125px;    
}
.bfpb-placeholder {
    margin: 4px 7px;
    font-size: 12px;
    line-height: 16px;    
}

/* Payment type */
.bfp-type {
    width: 664px;
    margin: 0 0 20px;
    font-size: 14px;
    line-height: 16px;    
}
.bfpt-item {
    position: relative;
    float: left;
    width: 240px;
    padding-right: 20px;
}
.bfpt-title {
    margin: 0 0 2px 20px;
    font-weight: bold;
}
.bfpt-tip {
    margin-left: 20px;
    font-size: 11px;
    line-height: 13px;
    color: #777;
}
.bfpt-radio {
    position: absolute;
    top: 2px;
    left: 0;
    margin: 0;
}
.bfpt-label {
    cursor: pointer;
}

/* Card section */
.bf-card {
    position: relative;
    height: 254px;
}
.bfc-tip {
    background: none;
}
.bfc-link {
    color: #777;
}
.bfc-link:hover {
    color: #f90a6f;
}
.bf-card .bf-label {
    margin: 0 0 5px;
}

/* Card sides */
.bfc-side {
    position: relative;
    float: left;
    margin-right: 14px;
    border-radius: 10px;
    background: #b3b3b3;
    background-image: -o-linear-gradient(top, #D1D1D1 0%, #B3B3B3 100%);
    background-image: -moz-linear-gradient(top, #D1D1D1 0%, #B3B3B3 100%);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D1D1D1), to(#B3B3B3));
    background-image: -webkit-linear-gradient(top, #D1D1D1 0%, #B3B3B3 100%);
    background-image: -ms-linear-gradient(top, #D1D1D1 0%, #B3B3B3 100%);    
    background-image: linear-gradient(top, #D1D1D1 0%, #B3B3B3 100%);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.bfcs-inner {
    width: 323px;
    height: 206px;
    margin: 1px;
    border-radius: 9px;
    background: url(/images/booking/card.png) repeat-x #cecece;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
    -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
}

/* Card type */
.bfc-type {
    padding: 18px 0 0;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #777;
}
.bfct-visa,
.bfct-mastercard {
    vertical-align: middle;
}
.bfct-or {
    padding: 0 10px;
    font-size: 14px;
    vertical-align: middle;
}

/* Card fields */
.bfc-field {
    border-color: #C0C0C0;    
}

/* Card number */
.bfc-number {
    position: absolute;
    left: 10px;
    top: 76px;
}
.bfcn-parts {
    border: 1px solid #C0C0C0;
}
.bfcn-parts .bf-field {
    float: left;
    width: 65px;
    height: 29px;
    border-width: 0 1px 0 0;
    padding: 2px 5px;
    font-size: 24px;
    line-height: 29px;
}
.bfcn-parts #bfcn-part4 {
    border: none;
}
.bfc-name {
    position: absolute;
    left: 10px;
    top: 147px;    
}
#bfc-name {
    width: 180px;
}

/* Card expiration */
.bfc-expiration {
    position: absolute;
    top: 147px;
    right: 10px;
}
.bfc-date {
    float: right;
    border: 1px solid #C0C0C0;   
}
.bfcd-item {
    float: left;
}
.bfcd-month {
    width: 30px;
    margin: 0; 
    border-width: 0 1px 0 0;
}
.bfcd-year {
    width: 30px;
    border: none;
}

/* Card back */
.bfc-stripe {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #333;    
}
.bfc-cvv {
    position: absolute;
    top: 65px;
    left: 5px;
    width: 285px;
    padding: 11px 15px 14px;
    border-radius: 3px;
    background: #e5e5e5;
    text-align: right;
}
#bc-cvv,
#bfcn-sample {
    float: right;
    font-size: 24px;
    line-height: 29px;
}
#bc-cvv {
    width: 50px;
    height: 29px;
    padding: 2px 6px;
}
#bfcn-sample {
    padding: 3px 10px 0 0;
    color: #8E8E8E;
}
.bfcn-empty {
    color: #CCC;
}
.bfc-warning {
    clear: left;
    width: 664px;
    padding: 14px 0 0;
    line-height: 16px;
}

/* Cash section */
.bf-cash {
    height: 254px;
}
.bfc-deadline {
    width: 664px;
    margin: 0 0 10px;
    font-size: 16px;
    line-height: 18px;
}
.bfc-delivery {
    margin: 15px 0;
}
.bfc-delivery-item {
    margin: 0 0 3px 20px;
    position: relative;
}
.bfcd-radio {
    left: -20px;
    margin: 0;
    position: absolute;
    top: 4px;
}
.bfca-content {
    position: relative;
}
#bc-address {
    width: 654px;
    height: 66px;
    padding-right: 3px;
    min-height: 66px;
    resize: none;
}
.bfc-contacts {
    width: 664px;
}
.bfcc-text {
    margin: 10px 0 0;
}

/* Highlighting */
.bf-focus {
    border: 1px solid #debf14;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.22);
    -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.22);
}
.bfp-sex {
    border: none;
}
.bf-valid {
    border-color: #4eb700;
}
.bf-error {
    border-color: #F02020;
}
.bf-disabled {
    border-color: #fbf4cb;
    background: #fdfbea;
    color: #dcd6b2;
}
.bf-valid .bf-field {
    border-color: #cee3a6;
}
.bf-error .bf-field {
    border-color: #eac6bf;
}

/* Ready sections */
.bfs-ready,
.bfs-ready .bfst-text,
.bfs-ready .bfst-tip,
.bfs-ready .bfp-hint {
    background-color: #d8e5a2;
}
.bfs-ready .bfst-line {
    border-color: #c2ce91;
}
.bfs-ready .bf-disabled {
    border-color: #d8e5a2;
    background: #ecf2d1;
}
.bfs-ready .bfp-sex-m,
.bfs-ready .bfp-sex-f {
    border-color: #c2ce92;
}

