<div style="font-size: 14px; line-height: 17px; font-family: Arial, sans-serif; color: #333333;">
    <div style="font-weight: bold; font-size: 32px; line-height: 30px; color: #F90A6F;">
        <img src="https://eviterra.com/images/booking/eviterra.png" alt="eviterra.com" width="210" height="30"><br>
    </div><br>
    <div style="font-size: 15px; line-height: 21px;">
        +7 495 660-35-20<br>
        <a style="color: #333333;" href="http://www.eviterra.com/" target="_blank">www.eviterra.com</a><br>
        <a style="color: #333333;" href="mailto:operator@eviterra.com" target="_blank">operator@eviterra.com</a>
    </div>
</div>
