/* Header */
#page-header {
    position: absolute;
    top: 0; left: 0;
    z-index: 15;
    width: 100%; height: 33px;
    border-bottom: 3px solid #929292;
    background: #f2f2f2;
}
.ipad #page-header {
    position: absolute;
    min-width: 1024px;
}
.ph-content {
    position: relative;
    width: 960px;
    margin: 0 auto;
}
.ph-placeholder {
    height: 36px;
}
#page-header.fixed {
    position: fixed;
}

/* Logo */
.ph-logo {
    position: absolute;
    top: 0; left: -900px;
    width: 1000px; height: 33px;
    border-bottom: 3px solid #961f51;
    background: #f90a6f;
    text-align: right;
}

/* Header tabs */
.ph-tabs {
    float: left;
    display: inline;
    margin-left: 100px;
    border-bottom: 3px solid #8e8e8e;
    background: #eaeaea;
    font-size: 13px;
    line-height: 15px;
    cursor: pointer;
}
.ph-tabs li {
    position: relative;
    float: left;
    border-right: 1px solid #dedede;
}
.ph-tabs .link {
    display: block;
    height: 23px;
    padding: 10px 15px 0;
    color: #555;
    text-decoration: none;
}
.ph-tabs .link:hover {
    color: #f90a6f;
}
.ph-tabs .active .link {
    height: 26px;
    margin-bottom: -3px;
    background: url(/images/common/dark.jpg) repeat 0 100% #373941;
    color: #FFF;
    cursor: default;
}

/* Phone */
.ph-phone {
    float: left;
    margin: 10px 0 0 15px;
    font-size: 13px;
    line-height: 15px;
    color: #555;
}
.ph-phone .code {
    color: #777;
}

/* Language */
.ph-lang {
    float: left;
    margin: 10px 0 0 30px;
    font-size: 13px;
    line-height: 15px;
}

/* User */
.ph-user {
    position: relative;
    float: left;
    margin-left: 20px;
}
.phu-link {
    position: relative;
    padding: 10px 15px;
    font-size: 13px;
    line-height: 15px;
    text-decoration: underline;
    cursor: pointer;
}
.phul-bar {
    display: none;
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 50px;
    background: #989455;
    clip: rect(10px 160px 46px -10px);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: -1;
}
.phu-popup {
    display: none;
    position: absolute;
    top: 36px;
    left: 0;
    background: #989455;
    box-shadow: 0 2px 12px rgba(0,0,0,0.6);
    z-index: -2;
    color: #e0dfd3;
    font-size: 12px;
    line-height: 14px;
}
.phu-section {
    padding: 13px 15px 15px;
}
.phus-title {
    margin: 0 0 13px;
    font-size: 13px;
    line-height: 15px;
    color: #FFF;    
}
.phu-field {
    margin: 0 0 10px;
}
.phuf-placeholder {
    position: absolute;
    display: none;
    margin: 6px 0 0 11px;
    font-size: 14px;
    line-height: 16px;
    color: #999;
}
.phuf-input {
    margin: 0;
    width: 210px;
    padding: 6px 10px;
    border: none;
}
.phu-submit {
    margin: 10px 0 0;
}
.phu-button {
    margin: 0;
    padding: 8px 10px;
    border: none;
    border-radius: 2px;
    background: #D5D5D5;
    background: -webkit-linear-gradient(top, #FFFFFF, #B0B0B0);
    background: -moz-linear-gradient(top, #FFFFFF, #B0B0B0);
    background: -ms-linear-gradient(top, #FFFFFF, #B0B0B0);
    background: -o-linear-gradient(top, #FFFFFF, #B0B0B0);
    background: linear-gradient(top, #FFFFFF, #B0B0B0);
    box-shadow: 1px 1px 0 rgba(0,0,0,0.4);
    font-size: 13px;
    line-height: 15px;    
}
.phu-forgot {
    margin-top: 10px;
    float: right;
    color: #e0dfd3;
}
.phu-forgot:hover {
    color: #FFF;
}
.phu-active .phu-link {
    color: #FFF;
    text-decoration: none;
}
.phu-active .phul-bar,
.phu-active .phu-popup {
    display: block;
}


/* Share icons */
.ph-share {
    display: none;
    position: relative;
    float: right;
    width: 426px;
}
.phs-item {
    position: absolute;
    top: 7px;
}
#phs-vk{
    left: 37px;
} 
#phs-facebook {
    left: 141px;
}
#phs-twitter {
    left: 240px;
}
#phs-google {
    left: 355px;
}
