/* Header */
#page-header {
    position: absolute;
    top: 0; left: 0;
    z-index: 15;
    width: 100%; height: 33px;
    border-bottom: 3px solid #929292;
    background: #f2f2f2;
}
.ipad #page-header {
    position: absolute;
    min-width: 1024px;
}
.ph-content {
    position: relative;
    width: 960px;
    margin: 0 auto;
}
.ph-placeholder {
    height: 36px;
}
#page-header.fixed {
    position: fixed;
}

/* Logo */
.ph-logo {
    position: absolute;
    top: 0; left: -900px;
    width: 1000px; height: 33px;
    border-bottom: 3px solid #961f51;
    background: #f90a6f;
    text-align: right;
}

/* Teaser */
#ph-teaser {
    float: left;
    margin-left: 100px;
    padding: 10px 0 0 15px;
    font-size: 13px;
    line-height: 15px;
    color: #555;
}
.pht-wrapper {
    display: inline;
    position: relative;
}
.pht-why {
    color: #F90A6F;
}
.pht-popup {
    display: none;
    position: absolute;
    top: -20px;
    left: -15px;
    z-index: 10;
    width: 200px;
    padding: 20px 15px 12px;
    background: #f1b346;
    color: #333;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.phtp-close {
    float: right;
    margin: -2px -4px 0 0;
    padding: 0 2px;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
}
.phtp-title {
    margin: 0 0 10px;
    font-weight: bold;
}
.phtp-text {
    margin: 10px 0 0;
}

/* Phone */
.ph-phone {
    float: right;
    margin: 10px 0 0;
    font-size: 13px;
    line-height: 15px;
    color: #555;
}
.ph-phone .code {
    color: #777;
}

/* Language */
.ph-lang {
    float: left;
    margin: 10px 0 0 25px;
    font-size: 13px;
    line-height: 15px;
}

/* User */
.ph-user {
    position: relative;
    float: left;
    margin-left: 10px;
}
.phu-control {
    position: relative;
    padding: 10px 15px;
    font-size: 13px;
    line-height: 15px;
    text-decoration: underline;
    cursor: pointer;
}
.phuc-bar {
    display: none;
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 50px;
    background: #989455;
    clip: rect(10px 160px 46px -10px);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: -1;
}

/* Popup */
.phu-popup {
    display: none;
    position: absolute;
    top: 36px;
    left: 0;
    background: #989455;
    box-shadow: 0 2px 12px rgba(0,0,0,0.6);
    z-index: -2;
    color: #e0dfd3;
    font-size: 12px;
    line-height: 14px;
}
.phu-stator {
    width: 260px;
    overflow: hidden;
    border-bottom: 1px solid #ada977;
}
.phu-slider {
    position: relative;
    width: 520px;
    overflow: hidden;
}
.phu-section {
    padding: 13px 15px 15px;
}
.phu-slider .phu-section {
    float: left;
    width: 230px;
}
.phu-signup,
.phu-forgot {
    display: none;
}
.phus-title {
    margin: 0 0 13px;
    font-size: 13px;
    line-height: 15px;
    color: #FFF;    
}
.phust-link {
    color: #FFF;
}
.phu-field {
    margin: 0 0 10px;
}
.phuf-placeholder {
    position: absolute;
    display: none;
    margin: 6px 0 0 11px;
    font-size: 14px;
    line-height: 16px;
    color: #999;
}
.phuf-input {
    margin: 0;
    width: 210px;
    padding: 6px 10px;
    border: none;
}
.phu-submit {
    margin: 10px 0 0;
}
.phu-button {
    margin: 0;
    padding: 8px 10px;
    border: none;
    border-radius: 2px;
    background: #D5D5D5;
    background: -webkit-linear-gradient(top, #FFFFFF, #B0B0B0);
    background: -moz-linear-gradient(top, #FFFFFF, #B0B0B0);
    background: -ms-linear-gradient(top, #FFFFFF, #B0B0B0);
    background: -o-linear-gradient(top, #FFFFFF, #B0B0B0);
    background: linear-gradient(top, #FFFFFF, #B0B0B0);
    box-shadow: 1px 1px 0 rgba(0,0,0,0.4);
    font-size: 13px;
    line-height: 15px;    
}
.phu-forgot-link,
.phu-remember-link {
    margin-top: 10px;
    float: right;
    color: #e0dfd3;
}
.phu-forgot-link:hover,
.phu-remember-link:hover {
    color: #FFF;
}
.phu-signup-link:hover {
    color: #FFF;
}
.phu-active .phu-control {
    color: #FFF;
    text-decoration: none;
}
.phu-active .phuc-bar,
.phu-active .phu-popup {
    display: block;
}

/* User */
.phu-link {
    padding: 10px 15px;
    font-size: 13px;
    line-height: 15px;
}
.phu-logout {
    display: none;
}
.phul-logout {
    padding: 0 3px;
    cursor: pointer;
}
.phul-icon {
    vertical-align: -2px;
}

/* Social icons */
.ph-social {
    float: right;
    margin: 9px 0 0 10px;
}
.phs-icon {
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    background: url(/images/common/social-header.png) no-repeat;
    text-decoration: none;
}
.phs-facebook {
    background-position: 0 -34px;
}
.phs-twitter {
    background-position: 0 -17px;
}
.phs-google {
    background-position: 0 -51px;
}
