
/* модификация .l-canvas*/

.l-canvas-booking {
    padding-top: 15px;

    letter-spacing: -0.03em;
}

.l-canvas-booking #search-transcript {
    margin: 0 15px 0;
}

.l-canvas-booking #search-transcript h5 {
    font-size: 81.25%;

    margin: .3em 0 0 0;

    letter-spacing: -0.01em;

    color: #777;
}

.l-canvas-booking #search-transcript h5 a {
    color: #777;
}

.l-canvas-booking #search-transcript h5 a:hover {
    color: #000;
}

/* Выделение формы бронирования */

.active-booking {
    position: relative;
    z-index: 3;
}

/* Разметка страницы бронирования на шаги */

.booking {
    border-top:1px solid #D0D0D0;
}

.booking h3 {
    font: bold 22px Arial, sans-serif;

    margin: 15px 15px 8px;

    color: #333;
}

.booking .section {
    margin: 3px;
    padding: 12px 0;

    background: #fff8ce;
    
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;    
}

.booking .ready {
    background: #e5ffd2;
}

/* Текстовые поля - общие свойства */

    .booking .text {
        padding: 3px 4px;

        color: #aaa;
        border: 1px solid #909090;
        background: #f8f8f8;

        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        -o-border-radius: 3px;
    }

    .booking .text:hover {
        z-index: 2;
        -webkit-transition: border-color linear .2s;

        background: #fff;
    }

    .booking .text:focus {
        z-index: 3;

        color: #333;
        background: #fff;
        outline: none;

        box-shadow: 0 0 6px rgba(0, 0, 0, .15);
        -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .15);
        -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .15);
        -o-box-shadow: 0 0 6px rgba(0, 0, 0, .15);

        -moz-transition: color linear .2s;
        -moz-transition: -moz-box-shadow linear .2s;
        
        -webkit-transition: color linear .2s;
        -webkit-transition: -webkit-box-shadow linear .2s;

        -o-transition: color linear .2s;
        -o-transition: -o-box-shadow linear .2s;
    }

    .booking .text-value {
        color: #333;
        border: 1px solid #4eb700;
        background: #fff;
    }

    .booking .text-value:focus {
        border: 1px solid #909090;
    }

    .booking .text-invalid {
        border: 1px dashed red;
    }

    .booking .text-upper .text-value {
        text-transform: uppercase;
    }

    .booking .text-disabled,
    .booking .text-disabled:hover,
    .booking .text-disabled:focus {
        cursor: not-allowed;
        
        color: transparent;
        border: 1px solid #aaa;
        background: transparent;
    }


/* Подписи к полям */

    .booking td.sub {
        padding-top: 4px;

        color: #777;
    }

    .booking td.sub p {
        display: none;

        margin: 2px 0 0 0;
    }

    .booking label.label-disabled {
        cursor: not-allowed;
        
        color: #aaa;
    }


/* Прочее - общие свойства */
    .booking fieldset legend {
        display: none;
    }

    .booking .b-pseudo {

        color: inherit;
    }

    .booking .a-button {
        font-weight: bold;

        margin: 0 0 0 .25em;
        padding: 4px 10px;
        
        color: #FFF;
    }


.booking .tip-popup {
    margin: 4px 0 0 -10px;
    background: rgba(204, 15, 22, .3);
}

.booking .tip-popup i {
    color: red;
}

/* Тариф */

.book-v {
    margin: 0 15px 15px;
}

.book-v .tarif h3 {
    font-weight: bold;
    
    margin-left: 0;
    
    color: #333;
}

.book-v .tarif ul {
    margin: .2em 0 .6em 15px;

    list-style: disc;
}

.book-v .tarif pre {
    font: normal 65% Courier, monospace;

    display: none;

    height: 18em;
    margin: .5em 0;
    padding: 5px;
    overflow: auto;

    color: #333;
    background: #fff;
    border: 1px solid #777;
}

.book-v .tarif a:hover {
    color: red;
}


.book-v .agree {
    color: #333;

    margin: .6em 0 .4em 0;

    text-align: right;
}

.book-v .agree input {
    margin: 0 .3em 0 0;
}

.book-v .agree label {
    font-weight: bold;

    cursor: pointer;
}

.book-v .agree label:hover {
    color: #000;
}



/******* БЛОК 2: ДАННЫЕ ПАССАЖИРОВ *******/


.booking .book-p {
    padding-right:  12px;
}

/* таблица */

.book-p table td {
    padding: 0 0 0 12px;

    vertical-align: top;
}

.book-p table tr.label td {
    padding-top: 6px;
}

/* метки */

.book-p label.bold {
    font-weight: bold;

    line-height: 160%;

    color: #333;
}

.book-p label {
    cursor: pointer;
}

.book-p label:hover {
    color: #000;
}

/* радиокнопки с подписями */

.book-p label.bp-sex-label {
    float: left;
    display: inline-block;

    margin: 0 .5em;

    height: 32px;
    line-height: 32px;

    cursor: default;
}

.book-p label.bp-sex {
    font-weight: normal;

    float: left;
    display: inline-block;

    width: 30px;
    margin: 0;
    padding: 3px 4px;

    text-align: center;
    white-space: nowrap;

    color: #555;
    background: #fff;

    border: 1px solid #ccc;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
}

.book-p label.bp-sex-m {
    border-right: none;

    border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    -o-border-radius: 6px 0 0 6px;
}

.book-p label.bp-sex-f {
    border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    -o-border-radius: 0 6px 6px 0;
}

.book-p label.bp-sex:hover {
    color: #000;

    border-color: #bbb;
}

.book-p label.bp-sex-pressed,
.book-p label.bp-sex-pressed:hover {
    font-weight: bold;
    
    cursor: default;

    text-transform: uppercase;
    vertical-align: .2em;

    color: green;
}

.book-p label.bp-sex input {
    display: none;
}

.book-p label.bp-sex-invalid {
    border: 1px dashed red;
}


/* чекбоксы */

.book-p input.bonus {
    vertical-align: middle;
}

/* списки выбора */

.book-p select {
    width: 214px;
}

/* конкретные поля */

.book-p input.text {
    width: 204px;
}

.book-p input.text-dd {
    position: relative;

    width: 62px;

    border-right-color: #aaa;

    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
}

.book-p input.text-mm {
    position: relative;

    width: 62px;
    margin-left: -1px;

    border-left-color: #aaa;
    border-right-color: #aaa;

    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
}

.book-p input.text-yyyy {
    position: relative;

    width: 62px;
    margin-left: -1px;

    border-left-color: #aaa;

    border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
}

.book-p input.input-bonus {
    width: 197px;
}

.book-p select.select-bonus {
    width: 207px;
}

/* номер пассажира */
.booking dd.book-p-num {
    font: normal 18px Arial,s;

    float: left;

    margin: .3em 0 0 30px;
    padding: 2px 10px;

    color: #cb388f;

    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;

    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
}


/******* БЛОК 3: БАНКОВСКАЯ КАРТОЧКА *******/

.bankcard {
    overflow: hidden;
    
    margin: 0 12px;

    zoom: 1;
}

.bankcard li {
    position: relative;

    width: 316px;
    height: 192px;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;

    background: #bbb;
    
    background-image: -moz-linear-gradient(top, #f3f3f3, #999);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3f3f3), to(#aaa));
}

.bankcard li.bc-front {
    float: left;
}

.bankcard li.bc-back {
    float: right;
}

/* логотипы Виза и МастерКард */

.bankcard .bc-type {
    padding: 0;
    margin: 9px 0 0;

    height: 54px;
    line-height: 54px;
    text-align: center;

    color: #777;
}

    .bankcard .bc-type i {
        display: inline-block;

        height: 54px;

        padding: 0;
        margin: 0;
        
        vertical-align: top;
    }

    .bankcard .bc-type i.bc-visa {
        width: 92px;

        background: url(/img/offers/booking-visa.png);
    }

    .bankcard .bc-type i.bc-master {
        width: 89px;

        background: url(/img/offers/booking-master.png);
    }
    
    .bankcard .bc-type b {
        font-size: 14px;
        
        padding: 0 10px;
    }

    .bankcard .bc-type-visa i.bc-master,
    .bankcard .bc-type-master i.bc-visa,
    .bankcard .bc-type-visa b,
    .bankcard .bc-type-master b
    {
        display: none;
    }

    .bankcard .bc-type-none
    {
        opacity: 0.5;
    }

.bankcard label {
    font-weight: bold;

    display: block;

    margin: 0 0 2px 0;

    letter-spacing: -.03em;

    color: #333;
}

.bankcard .text {
    width: 52px;
    padding: 1px 4px;

    background: #e8e8e8;
}

.bankcard .text-value {
    text-shadow: -1px 1px 0 rgba(180, 180, 180, 1);
}

    /* Лицевая сторона */

    .bankcard .bc-num {
        position: absolute;

        top: 35%;
        left: 10px;

        white-space: nowrap;
    }

    .bankcard .bc-num .text {
        font: bold 140% Courier,monospace;

        margin: 0 10px 0 0;

        letter-spacing: -.1em;
    }

    .bankcard .bankcardname {
        position: absolute;

        bottom: 10px;
        left: 10px;
    }

    .bankcard .bankcardname .text {
        width: 180px;

        padding: 2px 2px;

        letter-spacing: -.03em;
    }

    .bankcard .bc-exp {
        position: absolute;

        bottom: 10px;
        right: 10px;
    }

    .bankcard .bc-exp i {
        font: normal 140% Courier,monospace;
    }

    .bankcard .bc-exp .text
    {
        width: 30px;

        padding: 2px 4px;
    }

    /* оборотная сторона */

    .bankcard .magneticstrip
    {
        height: 42px;
        margin: 15px 0 0 0;

        background: #2b2b2b;
    }

    .bankcard .bccvv {
        position: absolute;

        top: 35%;
        right: 10px;

        white-space: nowrap;
    }

    .bankcard .bccvv label.cvv {
        text-align: right;
        letter-spacing: 0;
    }

    .bankcard .bccvv label.num4 {
        font: bold 140% Courier,monospace;

        display: inline;

        margin: 0 8px 0 0;

        letter-spacing: -.1em;
    }

    .bankcard .bccvv label.novalue {
        color: #777;
    }

    .bankcard .bccvv .text {
        font: bold 140% Courier,monospace;

        width: 2em;

        letter-spacing: -.1em;
        text-shadow: none;
    }

    .bankcard .bankcardbankname {
        position: absolute;

        bottom: 10px;
        left: 10px;
    }

    .bankcard .bankcardbankname .text {
        width: 286px;

        padding: 2px 4px;

        text-shadow: none;
    }

/* раскладка цены */

.book-bc table.bc-bill {
    width: 645px;
    margin: 1em 0 0 12px;
}

    .book-bc .bc-bill td, .book-bc .bc-bill th {
    }

    .book-bc .bc-bill th {
        font: bold 100% Arial,a;

        vertical-align: middle;
        white-space: nowrap;

        color: #333;
    }

    .book-bc .bc-bill th i {
        font: bold 70px/40px Arial,a;

        display: inline-block;
        overflow: hidden;

        margin: 0 12px;

        color: #6e6e6e;
    }

    .book-bc .bc-bill td {
        white-space: nowrap;
    }

    .book-bc .bc-bill td u,
    .book-bc .bc-bill td b {
        font: bold 157.143%/85% Arial,a;

        margin: 0 .1em 0 0;

        color: #cb388f;
    }

    .book-bc .bc-bill td b {
        color: #3d7c00;
    }

    .book-bc .bc-bill td i {
        font-size: 85.714%;
        font-size: 78.571%;

        color: #6e6e6e;
    }

    .book-bc .bc-bill tfoot td {
        padding: .5em 0 0 0;

        white-space: normal;

        color: #777;
    }


/******* БЛОК 4: КОНТАКТЫ *******/

.booking .book-c table td {
    padding: 0 0 0 12px;
    vertical-align: top;
}

.booking .book-c .text {
    width: 306px;
}

#booking-contacts-email {
    width: 307px;
}


/******* БЛОК 5: САБМИТ *******/


.booking .book-s {
    overflow: hidden;
    zoom: 1;

    padding: 30px 15px;
}

.book-s .control {
    text-align: center;
}

.book-s .control strong {
    font-weight: bold;

    padding-right: 0.25em;
}

/* список причин */

.book-s .blocker {
    position: relative;
    float: left;

    margin: 25px 0 10px 125px;
    padding: 10px 25px;

    color: #333;
    background: #fff;

    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

    .book-s .blocker s {
        display: block;
        position: absolute;
        left: 265px;
        top: -25px;

        width: 0;
        height: 0;

        border-style: solid;
        border-color: transparent #fff transparent transparent;
        border-width: 25px 20px 0 0 ;
    }

    .book-s .blocker p {
        margin: 0 0 .4em 0;
    }

    .book-s .blocker ul {
    }

    .book-s .blocker li {
        list-style: disc;

        margin: 0 0 .2em 0;
    }

.book-s .notice {
    clear: both;

    color: #333;    
}

