/* Filters */
#results-filters {
    position: relative;
    z-index: 2;
    width: 960px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.014em;
}
#results-filters.empty {
    display: none;
}
#results-filters th {
    width: 130px;
    font-weight: bold;
    vertical-align: top;
    color: #ed1192;
}
#results-filters td {
    width: 175px;
    padding: 0 15px 15px 15px;
    vertical-align: top;
}
#results-filters .rfreset {
    color: #ED1192;
}
#results-filters .rfhide-cell {
    padding-bottom: 19px;
    vertical-align: bottom;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
}
#results-filters .rfhide {
    display: none;
    cursor: pointer;
}
#results-filters .rfshow {
    font-weight: bold;
    color: #ED1192;
}
#results-filters .rf-control {
    display: none;
    height: 30px;
}
#results-filters .rf-control .rfreset {
    float: right;
}
.fixed #results-filters.hidden {
    height: 30px;
    overflow: hidden;
}
.fixed #results-filters.hidden .rf-control {
    display: block;
}
.fixed #results-filters .rfhide {
    display: inline;
}

/* Left column */
#results-filters .rfleft {
    width: 130px;
}
#results-filters .rfleft .bar {
    padding-right: 8px;
    background: #FFF;
}

/* Line */
.rf-stroke {
    position: absolute;
    z-index: -1;
    width: 800px;
    margin-top: 10px;
    border-top: 1px solid #cfd4d6;
    cursor: default;
}

/* Filters group */
#results-filters h5 {
    margin: 0 0 3px;
    font-weight: bold;
}
#results-filters h5 .bar {
    position: relative;
    left: -8px;
    padding: 0 8px;
    background: #FFF;
}
#results-filters .filter {
    display: block;
    clear: left;
    margin: 0 0 3px;
}
#results-filters .latent {
    display: none;
}
#results-filters .dropdown {
    margin-top: -6px;
    font-size: 16px;
    line-height: 19px;
}

/* Layovers */
#results-filters #layovers-filter {
    margin-bottom: 0;
}
#layovers-filter .control {
    display: none;
}
#layovers-filter .values {
    position: absolute;
    height: 0;
    overflow: hidden;
}
#layovers-filter .vlist {
    position: relative;
    left: -3px;
    zoom: 1;
}
#layovers-filter .vlist dt {
    display: none;
}
#layovers-filter .vlist dd {
    position: relative;
    display: inline;
    float: left;
    clear: left;
    margin: 0 3px 3px;
    white-space: nowrap;
    text-decoration: underline;
    cursor: pointer;
}
#layovers-filter .vlist dd.selected {
    margin: 0 0 3px;
    padding: 0 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;    
    background: #ED1192;
    color: #FFF;
    text-decoration: none;
}
.lf-icon {
    position: absolute;
    top: 4px;
    left: -20px;
    width: 13px;
    height: 12px;
    background: url(/img/controls/layovers.png) no-repeat;
}
.lf-icon-1 {
    background-position: 0 -21px;
}
.lf-icon-2 {
    background-position: 0 -42px;
}
.selected .lf-icon {
    left: -17px;
}

/* Disabled filters */
#results-filters .rf-overlay {
    display: none;
    position: absolute;
    top: 0; left: 0; bottom: 0;
    width: 960px;
    cursor: default;
}
.msie6 #results-filters .rfoverlay {
    height: 300px;
}
#results-filters.disabled {
    overflow: hidden;
    color: #999;
}
#results-filters.disabled .rf-overlay {
    display: block;
}
#results-filters.disabled .vlist dd.selected {
    background: #AAA;
} 
#results-filters.disabled th,
#results-filters.disabled .link {
    color: #999;
}
