/* Matrix */
.rm-prices {
    padding: 0 22px 12px;
}
.rmp-table th {
    height: 25px;
    padding: 7px 8px;
}
.rmp-date1,
.rmp-date2 {
    font-size: 13px;
    line-height: 13px;
}
.rmp-date1 {
    width: 105px;
    color: #81AA00;
}
.rmp-date2 {
    width: 119px;
    color: #DB7100;
}
.rmp-weekday {
    font-size: 11px;
    line-height: 12px;
    color: #777;
}
.rm-source {
    display: none;
}
.rmpt-ow .rmpt-rt {
    display: none;
}

/* Matrix item */
.rmp-item {
    padding: 7px 14px 7px 8px;
    cursor: pointer;
}
.rmp-cost {
    margin: 0 0 3px;
    font-size: 16px;
    line-height: 18px;
    color: #777;
}
.rmp-sum {
    font-weight: bold;
}

/* Matrix bars */
.rmv-bar {
    margin: 2px 0 0;
    height: 2px;
}
.rmvb-flight,
.rmvb-layover {
    float: left;
    height: 1px;
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
}
.segment1 .rmvb-flight {
    background: #86a900;
    border-color: #9db930;
}
.segment2 .rmvb-flight {
    background: #cc6900;
    border-color: #e58217;
}
.segment3 .rmvb-flight {
    background: #0498bd;
    border-color: #11abd1;
}
.rmvb-layover {
    background: #e0e0e0;
}

/* Selected price */
.rmp-item:hover {
    background: #dee2e6;
}
.rmp-selected,
.rmp-selected:hover {
    background: #FFF;
}
