/* Matrix */
.rm-prices {
    border-top: 1px solid #D8D8D8;
    padding: 10px 6px 12px;
}
.rmp-table {
    width: 973px;
}
.rmp-table th {
    height: 25px;
    padding: 7px 8px;
}
.rmp-date1,
.rmp-date2 {
    font-size: 13px;
    line-height: 13px;
}
.rmp-date1 {
    width: 100px;
    color: #81AA00;
}
.rmp-date2 {
    width: 145px;
    color: #DB7100;
}
.rmp-weekday {
    font-size: 11px;
    line-height: 12px;
    color: #777;
}
.rm-source {
    display: none;
}

/* Matrix item */
.rmp-item {
    padding: 7px 8px;
    cursor: pointer;
}
.rmp-cost {
    margin: 0 0 3px;
    font-size: 16px;
    line-height: 18px;
    color: #777;
}
.rmp-sum {
    font-weight: bold;
}

/* Matrix bars */
.rmv-bar {
    margin: 2px 0 0;
    height: 1px;
}
.rmvb-flight,
.rmvb-layover {
    float: left;
    height: 1px;
    overflow: hidden;
}
.segment1 .rmvb-flight {
    background: #81aa00;
}
.segment2 .rmvb-flight {
    background: #db7100;
}
.rmvb-layover {
    background: #D0D0D0;
}

/* Selected price */
.rmp-selected {
    padding: 5px 6px;
    border: 2px solid #F90A6F;
    border-color: #950643 #FB4793 #FB60A1 #AE074D;    
    background: #F90A6F;
}
.rmp-item:hover {
    background: #F90A6F;
}
.rmp-selected .rmp-cost,
.rmp-item:hover .rmp-cost {
    color: #FFF;
}
.rmp-selected .rmvb-flight,
.rmp-item:hover .rmvb-flight {
    background: #fdcee2;
}
.rmp-selected .rmvb-layover,
.rmp-item:hover .rmvb-layover {
    background: #fc9dc5;
}