/* Common */
#results-message {
    display: none;
    position: relative;
    height: 100%;
    margin-top: -106px;
}
.rm-half {
    height: 47%;
}
.rm-content {
    padding: 20px 0;
    margin: 0 auto;
    font-size: 13px;    
    line-height: 16px;
    color: #777;
}
.rm-title {
    margin: 0 0 5px;
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    letter-spacing: -0.04em;
    white-space: nowrap;
    color: #333;
}

/* Loading */
.rml-progress {
    margin-right: 2px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.04em;
    background: url(/images/results/progress.gif) no-repeat 100% 2px;
}
.safari .rml-progress,
.chrome .rml-progress {
    letter-spacing: -0.055em;
}
.rml-features {
    margin: 18px 0 21px;
}
.rml-features li {
    margin: 0 0 3px;
}
.rml-advice {
    border-top: 1px solid #DADADA;
    padding-top: 18px;
}
.rmla-prefix {
    color: #F90A6F;
}

/* Empty */
#rm-empty {
    display: none;
}
.rme-title {
    margin-top: 14px;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.04em;
}
.rme-reasons {
    margin: 6px 0 0;
}
.rme-reasons li {
    margin: 0 0 6px;
}