/* Offer */
.offer {
    margin: 0 0 25px;
}
.o-variants,
.o-comments {
    display: none;
}

/* Book */
.o-book {
    position: relative;
    background: #FFF;
    margin-left: 16px;    
    padding: 8px 20px 8px 8px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.03em;
}
.ob-button {
    float: left;
    position: relative;
    margin-right: 12px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.obb-side {
    height: 42px;
    background: url(/images/results/book.png) no-repeat;
}
.obb-left {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    padding-right: 6px;
    background-position: 100% 0;    
}
.obb-right {
    margin-right: 19px;
}
.obb-title {
    position: relative;
    z-index: 1;
    padding: 8px 17px 8px 18px;
    border-radius: 18px;
    font-weight: bold;
    color: #FFF;
    text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0;    
    cursor: pointer;
}
.ob-state {
    margin-right: 200px;
    padding: 8px 0;
}
.obs-hint {
    position: absolute;
    margin: 1px 0 0 10px;
    font-size: 12px;
}
.ob-sum {
    font-weight: bold;
    color: #f90a6f;
}

/* Prebooking */
.ob-progress {
    padding-right: 26px;
    background: url(/images/booking/progress-w.gif) no-repeat 100% 5px;
}
.ob-disabled .obb-left {
    background-position: 100% -45px;
}
.ob-disabled .obb-right {
    background-position: 0 -45px;
}
.ob-disabled .obb-title {
    color: #b8b8b8;
    text-shadow: none;
    cursor: default;
}

/* Fixed price */
.ob-placeholder {
    position: relative;
    height: 52px;
    margin-left: 16px;
    background: #F8F8F6;
}
.ob-placeholder .o-book {
    margin-left: 0;
}
.ob-placeholder .o-book .ob-line {
    display: none;
}
.ob-shadow {
    display: none;
    position: absolute;
    top: -12px;
    left: 0; 
    width: 988px;
    height: 12px;
    background: url(/images/results/pshadow.png) no-repeat;
}
.ob-fixed .o-book {
    position: fixed;
    left: 50%;
    width: 960px;
    margin-left: -494px;
    z-index: 1;
}
.ob-tfixed .o-book {
    top: 128px;
}
.ob-bfixed .o-book {
    bottom: 30px;
}
.ob-fixed .ob-shadow, 
.ob-fixed .ob-shadow {
    display: block;
}
.ob-tfixed .ob-shadow {
    top: 52px;
    background-position: 0 -13px;
} 

/* Details control */
.od-control {
    position: absolute;
    top: 20px;
    left: 785px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0;
    color: #777;
    cursor: pointer;
}
.od-hide {
    display: none;
}

/* Segments */
.o-segments {
    overflow: hidden;
}
.o-segment {
    position: relative;
    margin-left: 16px;
    border-top: 1px solid #bec2c8;
    padding: 0 0 5px;
}
.o-complex .o-segment {
    border-top: none;
    margin-bottom: 20px;
    padding: 0;
}

/* Segment title */
.os-title {
    margin: 0 0 2px;
    font-size: 12px;
    line-height: 14px;
    color: #5A5A5A;
}
.ost-item {
    float: left;
    padding: 2px 0;
}
.ost-name {
    width: 200px;
}
.ost-dpt {
    width: 190px;
}
.ost-duration {
    width: 366px;
    padding: 0 14px 4px;
}
.ostn-text {
    padding: 2px 14px;
    font-weight: bold;
    color: #FFF;
}
.segment1 .ostn-text {
    background: #81AA00;
}
.segment2 .ostn-text {
    background: #DB7100;
}
.segment3 .ostn-text {
    background: #0AA0C6;
}

/* Segment summary */
.os-summary {
    position: relative;
    margin: 0 0 1px;
    background: #dcdfe1;
    cursor: pointer;
    font-size: 13px;
    line-height: 13px;    
}
.oss-wrap {
    margin-left: 200px;
    padding: 4px 0 8px;
}
.oss-dpt,
.oss-arv {
    float: left;
    width: 190px;
    overflow: hidden;
}

/* Carrier */
.oss-carrier {
    position: absolute;
    top: 12px;
    left: 44px;
    width: 135px;
}
.ossc-icon {
    position: absolute;
    top: -6px;
    left: -32px;
    width: 27px;
    height: 23px;
    opacity: 0.4;
}
.ossc-title {
    height: 13px;
    overflow: hidden;
}
.ossct-text {
    float: left;
    white-space: nowrap;
}
.ossct-overlay {
    float: right;
    width: 20px;
    height: 13px;
    margin: -13px 0 0 -18px;
    background: url(/images/results/coverlay.png) no-repeat 100% 0;
}
.oss-different .ossc-title {
    display: none;
}

/* Price */
.oss-price {
    position: absolute;
    top: 12px; left: 46px;
    padding-left: 12px;
    background: url(/images/results/parrows.png) no-repeat;
}
.ossp-same {
    background: none;
}
.ossp-rise {
    background-position: 0 -26px;
}
.ossp-fall {
    background-position: 0 -86px;
}

/* Time and airport */
.oss-time {
    float: left;
    padding: 4px 6px 0 0;    
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
}
.segment1 .oss-time {
    color: #81aa00;
}
.segment2 .oss-time {
    color: #db7100;
}
.segment3 .oss-time {
    color: #0aa0c6;
}
.osst-date {
    float: left;
    margin: 8px 0 0 5px;
    font-size: 11px;
    line-height: 13px;
}
.oss-airport {
    float: left;
    margin-right: -100px;
    padding-top: 8px;
}
.ossa-term {
    color: #777;
}

/* Parts */
.oss-parts {
    float: left;
    width: 366px;
    height: 16px;
    overflow: hidden;
    margin: 8px 14px 0;
}
.oss-bar {
    float: left;
    padding: 3px 8px 4px 0;
}
.ossb-flight,
.ossb-layover {
    float: left;
    overflow: hidden;
    height: 4px;
    border-bottom: 4px solid #e7e7e7;    
}
.segment1 .ossb-flight {
    background: #86a900;
    border-color: #9db930;
}
.segment2 .ossb-flight {
    background: #cc6900;
    border-color: #e58217;
}
.segment3 .ossb-flight {
    background: #0aa0c6;
    background: #0498bd;
    border-color: #11abd1;
}
.ossb-layover {
    background: #e0e0e0;
}
.oss-duration {
    margin-right: 10px;
    margin-bottom: 4px;
    float: left;
}
.ossi-m {
    float: left;
    height: 16px;
    margin-bottom: -16px;
    color: #777;
}
.ossi-l {
    float: left;
    color: #777;
    padding-right: 20px;
    margin-right: -20px;
    background: #dcdfe1;
}

/* Layovers */
.oss-layovers {
    display: none;
    position: absolute;
    top: 0;
    left: 778px;
    z-index: 1;
    width: 190px;
    padding: 12px 10px 12px;
    background: url(/images/results/layovers.png) repeat-x 0 100%;
    color: #777;
}
.ossl-durations {
    display: none;
    padding-top: 12px;
    font-size: 11px;
    line-height: 13px;
}
.ossl-more {
    display: none;
    margin-top: 6px;
    font-size: 11px;
    line-height: 13px;
}
.ossl-link {
    text-decoration: underline;
    cursor: pointer;
}
.o-complex .ossl-durations,
.o-complex .ossl-more {
    display: block;
}

/* Different segments */
.oss-incompatible {
    display: none;
    float: left;
    color: #777;
    margin-right: -150px;
}
.segment1 .ossi-segment {
    color: #db7100;
}
.segment2 .ossi-segment {
    color: #81aa00;
}

/* Hover */
.os-summary:hover {
    background: #e9eaec;
}
.os-disabled:hover {
    color: #606060;
}
.os-disabled:hover .oss-time {
    color: #8A8A8A;
}
.os-summary:hover .ossp-rise {
    background-position: 0 4px;
}
.os-summary:hover .ossp-fall {
    background-position: 0 -56px;
}
.os-summary:hover .ossc-icon {
    opacity: 0.6;
}
.os-summary:hover .other-segments {
    display: block;
}
.os-summary:hover .ossct-overlay {
    background-position: 0 -20px;
}
.os-summary:hover .ossi-l {
    background: #e9eaec;
}

/* Selected */
.os-selected {
    cursor: default;
    background: #FFF;
}
.os-selected:hover {
    background: #FFF;
}
.os-selected .ossc-icon,
.os-selected:hover .ossc-icon {
    opacity: 1;
}
.os-selected .oss-tip,
.os-selected .ossc-title,
.os-selected .oss-layovers {
    display: block;
}
.os-selected .ossc-title .ossct-overlay {
    background-position: 0 -40px;
}
.os-selected .ossi-l,
.os-selected:hover .ossi-l {
    background: #FFF;
}

/* Hidden */
.os-hidden {
    display: none;
}

/* Disabled */
.os-disabled {
    color: #777;
}
.os-disabled .oss-time {
    color: #999;
}
.os-disabled .ossb-flight {
    background: #C0C0C0;
    border-color: #D0D0D0;
}
.os-disabled:hover .ossi-m,
.os-disabled:hover .ossi-l {
    display: none;
}
.os-disabled:hover .oss-incompatible {
    display: block;
}

/* Lines */
.oss-line {
    display: none;
}
.os-selected .oss-line {
    display: block;
    position: absolute;
    top: 18px;
    left: -16px;
    width: 15px;
    height: 2000px;
    border: 1px solid #FFF;
    border-width: 1px 0 0 1px;
}
.ob-line {
    position: absolute;
    top: 0;
    left: -16px;
    width: 15px;
    height: 26px;
    border: 1px solid #FFF;
    border-width: 0 0 1px 1px;
}
.ob-overlay {
    position: absolute;
    top: 27px;
    left: -16px;
    width: 16px;
    height: 26px;
    background: url(/images/common/dgrey.png) #bfc4c8;  
}

/* Excess variants */
.os-more {
    display: none;
    padding: 5px 0 8px 200px;
    background: #dcdfe1;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}
.os-more:hover {
    background: #e9eaec;
}
.hide-excess .os-excess {
    display: none;
}
.hide-excess .os-more {
    display: block;
}
.segment1 .os-more {
    color: #81aa00;
}
.segment2 .os-more {
    color: #db7100;
}
.segment3 .os-more {
    color: #0aa0c6;
}

/* Segment details */
.os-details {
    display: none;
    font-size: 12px;
    line-height: 14px;
}
.osd-title {
    margin: 0 14px 7px 200px;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.03em;    
    color: #777;
}
.osd-flight {
    padding: 8px 0 2px;
}
.osd-dpt,
.osd-arv {
    position: relative;
    float: left;
    width: 435px;
}
.osd-dpt {
    margin-right: 30px;
    margin-left: 68px;
}
.osd-time {
    float: left;
    width: 120px;
    text-align: right;
    font-weight: bold;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: -0.03em;    
}
.osd-action {
    margin: 5px 0 11px 132px;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.03em;
}
.osd-features dt {
    float: left;
    width: 120px;
    text-align: right;
    color: #777;
}
.osd-features dd {
    margin: 0 0 3px 132px;
}
.osd-carrier {
    position: relative;
}
.osdc-icon {
    position: absolute;
    left: -188px;
    top: -5px;
}
.osd-notice {
    margin: 10px 0 0 128px; 
}
.osdn-item {
    margin-top: 6px;
}
.osdn-hl {
    padding: 2px 4px;
    background: #e2ea5f;
} 

/* Segment colors */
.segment1 .osd-time,
.segment1 .osdt-main {
    color: #81aa00;
}
.segment2 .osd-time,
.segment2 .osdt-main {
    color: #db7100;
}
.segment3 .osd-time,
.segment3 .osdt-main {
    color: #0aa0c6;
}

/* Offer details */
.o-details {
    margin-left: 16px;
    background: #F8F8F6;
}
.od-segments {
    border-top: 1px solid #EDEDED;
    padding: 6px 0 2px;
}
.od-segments .os-details {
    margin: 18px 0;
    display: block;
}
.od-comments {
    margin: 0 20px 0 200px;
    padding: 0 0 16px;
    font-size: 12px;
    line-height: 14px;
}
.od-comment {
    margin: 0 0 8px;
}
.od-alliance {
    text-decoration: underline;
    cursor: pointer;
}
.odc-hl {
    margin-left: -4px;
    padding: 2px 4px;
    background: #e2ea5f;
}
