<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <%= render 'shared/head_common', {:title => 'контактная информация'} %>
    <link rel="stylesheet" type="text/css" href="/css/static.css">
    <script type="text/javascript" src="/js/static.js"></script>
</head>
<body>
<%= render 'shared/header' %>
<div class="l-wrapper" id="page-wrapper">
<div class="l-canvas">
    <div class="l-content">
    <div id="back2search">
        <a href="/">Вернуться к поиску</a>
    </div>
    <div class="article">

<div class="asection">    
    <h4>Телефон</h4>
    <p>+7 (495) 660-35-20</p>
</div>

<div class="asection">
    <h4>Электронная почта</h4>
    <p><a href="mailto:ticket@eviterra.com">ticket@eviterra.com</a> — по всем вопросам бронирования<br>
    <a href="mailto:support@eviterra.com">support@eviterra.com</a> — по вопросам работы сайта<br>
    <a href="mailto:hello@eviterra.com">hello@eviterra.com</a> — по любым остальным вопросам</p>
</div>

<div class="asection">
    <h4>Адрес</h4>
    <p>Бизнес-центр «Магистраль Плаза», 4-й этаж<br>
    1-й Магистральный тупик, дом 5А<br>
    Москва, 123290<br>
    Россия</p>
</div>

    </div>
    </div>
    <div class="l-footer">
        <%= render 'shared/footer' %>
    </div>
</div>
</div>
</body>
</html>    