<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <%= render 'shared/head_common', {:title => 'вопросы и ответы'} %>
    <link rel="stylesheet" type="text/css" href="/css/static.css">
    <%= javascript_include_tag "main", "static" %>
</head>
<body>
<%= render 'shared/header' %>
<div class="l-wrapper" id="page-wrapper">
<div class="l-canvas">
    <div class="l-content">
    <div id="back2search">
        <a href="/">Вернуться к поиску</a>
    </div>
    <div class="faq-contents">
        <div class="fc-fixed">
        <ul>
            <li><a href="#service">Работа сайта и наши услуги</a></li>
            <li><a href="#booking">Бронирование и выписка билетов</a></li>
            <li><a href="#payment">Оплата</a></li>
            <li><a href="#tech">Технические вопросы</a></li>
        </ul>
        <p>Не нашли ответа на свой вопрос? <a href="mailto:hello@eviterra.com">Напишите нам</a>.</p>
        </div>
    </div>
    <div class="article faq">

<div class="asection" id="service">
    <h2>Работа сайта и наши услуги</h2>
    <dl>
        <dt>Я точно знаю, что есть авиакомпания, которая летает по выбранному мной направлению. У вас ее рейсы не отображаются. Почему?</dt>
        <dd>Мы постоянно работаем над расширением списка авиакомпаний. Подключить даже одну авиакомпанию — не так-то просто. Если вы не нашли того что искали по какому-то направлению — расскажите нам об этом. Это поможет расставить приоритеты.</dd>
        <dt>Когда появятся отели? А аренда автомобилей?</dt>
        <dd>Отели и прокат авто у нас в планах как раз после авиабилетов. То есть именно сейчас мы работаем над тем, чтобы это появилось как можно быстрее.</dd>
        <dt>Почему я не нашел у вас рейсы бюджетных авиаперевозчиков?</dt>
        <dd>Пока их нет, но скоро они появятся.</dd>
        <dt>У меня есть карточка мильной бонусной программы. Как сделать так, чтобы мне начислили мили за полет, купленный у вас?</dt>
        <dd>При вводе данных пассажира можно выбрать нужную бонусную программу и ввести номер карточки. Соответствующее количество миль будет начислено вам после совершения полета.</dd>
    </dl>
</div>
<div class="asection" id="booking">
    <h2>Бронирование и выписка билетов</h2>
    <dl>
        <dt>Можно ли вернуть авиабилеты или обменять их на другие?</dt>
        <dd>Это полностью зависит от правил тарифа, с которыми вы можете ознакомиться перед тем, как забронировать билет. В целом, все устроено так, что самые дешевые варианты иностранных авиакомпаний практически всегда невозвратные, а те, что дороже (и бизнес-класс конечно же) — можно и обменивать и аннулировать практически без штрафов. Правила тарифов отображаются в том виде, в котором их передают нам авиакомпании - чаще всего на английском языке. Если вы не можете самостоятельно разобраться с правилами выбранного тарифа - позвоните нам или напишите письмо, мы вам обязательно поможем.</dd>
        <dt>Я ошибся при вводе данных — неправильно ввел фамилию. Меня посадят на рейс?</dt>
        <dd>При вводе имени и фамилии можно сделать до трех опечаток (если они полностью не меняют звучание имени или фамилии). Так что как правило — ничего страшного. Но в любом случае, если вы ошиблись при вводе каких-либо данных, лучше связаться с нами и мы вам поможем.</dd>
        <dt>Если на момент полета туда моему ребенку еще 11 лет, а на момент обратного полета уже 12, как забронировать билет?</dt>
        <dd>Если на момент обратного полета ребенку будет уже 12 лет, то он уже считается взрослым пассажиром.</dd>
    </dl>
</div>
<div class="asection" id="payment">
    <h2>Оплата</h2>
    <dl>
        <dt>Как я могу оплатить авиабилеты?</dt>
        <dd>Лучше всего — банковской картой на сайте. Это быстро и удобно. Если это вам не подходит, можно вызвать курьера, который примет наличные. Или можно приехать к нам в офис и заплатить. Скоро появится возможность оплаты электронными деньгами и через платежные терминалы.</dd>
        <dt>Вам вообще можно доверять? Откуда мне знать, что вы сделаете с данными моей карты.</dt>
        <dd>Мы — юридическое лицо (ООО «Эвитерра Трэвел»), зарегистрированное и работающее в соответствии с нормами российского законодательства. У нас есть офис и все соответствующие разрешения и аккредитации. Нам незачем заниматься мошенничеством по отношению к нашим пользователям. Данные банковской карты вы вводите на сайте, защищенном 256-битным ключом шифрования, который невозможно взломать. К тому же мы передаем данные вашей карты (в зашифрованном виде, естественно) только банку и не сохраняем их после этого. Безопасность нашего сайта подтверждена сертификатом PCI DSS Compliance (если бы мы ее не подтвердили, нам бы вообще не разрешили принимать карты).</dd>
        <dt>Что произойдет, после того, как я куплю билет у вас на сайте?</dt>
        <dd>После нажатия кнопки «Купить», при наличии на вашей карте необходимой суммы, мы забронируем выбранный вами вариант перелета и пришлем на указанный вами адрес электронной почты данные вашего билета. Там будет все, что нужно: время, номер рейса и данные пассажиров. Кстати, сейчас уже не обязательно распечатывать электронный билет — достаточно показать паспорт на стойке регистрации в аэропорту.</dd>
        <dd>Очень редко, но так бывает, что авиакомпания не может подтвердить возможность бронирования того или иного варианта перелета. В таком случае мы с вами свяжемся, извинимся, моментально вернем деньги и предложим другие варианты перелета.</dd>
        <dt>Мне не пришло письмо с электронным билетом. Как быть?</dt>
        <dd>Прежде всего проверьте папку «Спам» в вашем почтовом ящике. Иногда бывает, что письма попадают туда. Также убедитесь, в том, что вы правильно указали свой электронный адрес и в том, что ваш почтовый ящик не переполнен. Если в течение 15-20 минут вы не получили письмо, свяжитесь с нами — мы отправим вам ваш билет еще раз или перешлем его на другой адрес, который вы укажете.</dd>
        <dt>При покупке билета ваш сайт перенаправляет меня на какой-то 3DSecure. Что это вообще такое?</dt>
        <dd>Это означает, что ваша банковская карта имеет дополнительную защиту от незаконных операций. В этом случае мы перенаправляем вас на страницу вашего банка, где нужно ввести одноразовый пароль, который придет вам в SMS на мобильный телефон. Если вы до этого ни разу не платили в интернете с использованием 3DSecure, банк предложит пройти простую процедуру регистрации.</dd>
        <dt>Я представляю юридическое лицо. Можем ли мы оплатить билеты по безналичному расчету?</dt>
        <dd>Можно, свяжитесь с нами и мы расскажем как это можно сделать.</dd>
        <dt>При оплате на сайте нужно ввести CVC-код банковской карты. Что это такое? А если на моей карте его нет?</dt>
        <dd>Обычно CVC-код указан на обратной стороне карты (это последние три цифры рядом с подписью). А на карточках Visa Electron и Maestro этого кода нет, так как такие карты не предназначены для оплаты в интернете.</dd>
        <dt>На моей карте есть достаточная сумма, но платеж не принимается. В чем дело?</dt>
        <dd>Скорее всего, ваш банк в целях безопасности выставил лимит для оплаты картой в интернете или полностью запретил оплату без подтверждения. Вам нужно связаться с банком и сообщить им о том, что вы хотите оплатить покупку в интернете — сотрудники банка вам помогут.</dd>
        <dt>Счет моей банковской карты — не в рублях. По какому курсу произойдет списание денег?</dt>
        <dd>Деньги будут списаны по внутреннему курсу вашего банка.</dd>
    </dl>
</div>
<div class="asection" id="tech">
    <h2>Технические вопросы</h2>
    <dl>
        <dt>Почему вы используете карты Bing, а не Google или Яндекс?</dt>
        <dd>Microsoft Bing - это единственное картографическое решение, которое может работать через безопасное HTTPS-соединение. Поскольку весь наш сайт целиком (а не некоторые его элементы) работает таким образом, других вариантов у нас не было.</dd>
    </dl>
</div>

    </div>
    </div>
    <div class="l-footer">
        <%= render 'shared/footer' %>
    </div>
</div>
</div>
<script type="text/javascript">
$('.fc-fixed li a').click(function(event) {
    var section = $($(this).attr('href'));
    if (section) {
        event.preventDefault();
        $.animateScrollTop(section.find('h2').position().top - $('#header').height() - 15);
    }
});
</script>
</body>
</html>
