<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <%= render 'shared/head_common', {:title => 'о проекте'} %>
    <link rel="stylesheet" type="text/css" href="/css/static.css">
    <script type="text/javascript" src="/js/static.js"></script>
</head>
<body>
<%= render 'shared/header' %>
<div class="l-wrapper" id="page-wrapper">
<div class="l-canvas">
    <div class="l-content">
    <div id="back2search">
        <a href="/">Вернуться к поиску</a>
    </div>
    <div class="article">

<div class="asection">
    <h2>Пара слов о проекте</h2>
    <p>Eviterra.com&nbsp;&mdash; это, на&nbsp;наш взгляд, самый простой, удобный и&nbsp;красивый способ поиска и&nbsp;покупки авиабилетов (а&nbsp;в&nbsp;будущем появятся отели, прокат авто, билеты на&nbsp;поезд, страховки и&nbsp;так далее). Мы&nbsp;постоянно работаем над развитием и&nbsp;улучшением сервиса&nbsp;&mdash; как в&nbsp;онлайне, так и&nbsp;в&nbsp;офлайне.</p>
    <p>Помимо сайта у&nbsp;нас есть собственная служба бронирования, которая находится в&nbsp;нашем офисе. Всегда можно позвонить и&nbsp;вам помогут и&nbsp;ответят на&nbsp;все вопросы.</p>
</div>
<div class="asection">
    <h2>Как выбрать и купить</h2>
    <p>Нужно просто написать в&nbsp;поле поиска куда вам нужно, выбрать даты путешествия, количество пассажиров и&nbsp;класс обслуживания. Нажмите &laquo;Искать&raquo;: наш сайт некоторое время подумает, свяжется с&nbsp;авиакомпаниями и&nbsp;покажет вам возможные варианты. Их&nbsp;можно различными способами сортировать и&nbsp;фильтровать. Также можно посмотреть минимальные цены на&nbsp;соседние дни вылета или&nbsp;в&nbsp;соседние города&nbsp;&mdash; зачастую может оказаться дешевле.</p>
    <p>Пункт назначения можно вводить в&nbsp;любом формате: город, аэропорт или код. Помимо этого можно ввести название страны, если вам не&nbsp;принципиально, в&nbsp;какой конкретно город прилететь&nbsp;&mdash; мы&nbsp;подберем наиболее выгодные и&nbsp;удобные варианты.</p>
    <p>После того, как нашелся подходящий вам вариант, нажмите &laquo;Выбрать&raquo; рядом с&nbsp;ним. Вам будет предложено ввести данные пассажиров, данные банковской карты и&nbsp;данные того, кто покупает билет. После того, как всё введено, нужно нажать кнопку &laquo;Купить&raquo;. Если что-то не&nbsp;введено или введено неправильно, кнопка &laquo;Купить&raquo; будет недоступна. Внимательно вводите данные&nbsp;&mdash; особенно имена и&nbsp;данные паспорта. Если при&nbsp;покупке вы&nbsp;пользуетесь банковской картой, принадлежащей не&nbsp;вам, убедитесь в&nbsp;согласии владельца карты на&nbsp;эту&nbsp;покупку.</p>
    <p>Если всё в&nbsp;порядке и&nbsp;на&nbsp;вашей банковской карте есть необходимая сумма, то&nbsp;она спишется, билет будет автоматически оформлен и&nbsp;вы&nbsp;получите подтверждение покупки&nbsp;&mdash; электронную маршрут-квитанцию. Ее&nbsp;можно будет увидеть на&nbsp;сайте и&nbsp;она будет отправлена на&nbsp;электронный адрес покупателя. В&nbsp;маршрут-квитанции указаны все&nbsp;данные о&nbsp;пассажирах и&nbsp;о&nbsp;путешествии. Кстати, уже совсем не&nbsp;обязательно распечатывать ее&nbsp;&mdash; информация о&nbsp;вас сразу попадает в&nbsp;систему бронирования и&nbsp;для того, чтобы зарегистрироваться на&nbsp;рейс в&nbsp;аэропорту, достаточно лишь паспорта.</p>
    <p>В&nbsp;данный момент мы&nbsp;принимаем только карты Visa и&nbsp;MasterCard, но&nbsp;работаем над расширением набора платежных средств. Оплата наличными в&nbsp;офисе тоже возможна.</p>
</div>
<div class="asection">
    <h2>Это безопасно?</h2>
    <p>Конечно. Наш сайт сертифицирован по&nbsp;стандарту PCI&nbsp;DSS и&nbsp;оборудован <nobr>128-битным</nobr> ключом шифрования. Также, мы&nbsp;не&nbsp;храним и&nbsp;не&nbsp;передаем ваши данные никуда, кроме авиакомпании и&nbsp;платежного банка.</p>
    <p>Тем не&nbsp;менее, нужно внимательно отнестись к&nbsp;вводу данных банковской карты, если вы&nbsp;подозреваете, что кто-нибудь может их&nbsp;увидеть у&nbsp;вас&nbsp;же на&nbsp;экране. О&nbsp;безопасности в&nbsp;этом вопросе вам нужно позаботиться самостоятельно.</p>
</div>
<div class="asection">
    <h2>Почему нужно покупать на <strong>eviterra.com</strong>?</h2>
    <p>Наш сайт подключен сразу ко&nbsp;многим авиакомпаниям и&nbsp;при этом мы&nbsp;являемся полноценным билетным агентством&nbsp;&mdash; то&nbsp;есть&nbsp;то, что мы&nbsp;вам предложим, можно сразу&nbsp;же у&nbsp;нас&nbsp;же и&nbsp;купить. Никакой сайт отдельной авиакомпании не&nbsp;даст вам того разнообразия вариантов (а&nbsp;также простоты и&nbsp;удобства), которое предложим&nbsp;мы. Мы&nbsp;постоянно следим за&nbsp;тем, чтобы наши цены не&nbsp;критично отличались от&nbsp;цен, которые можно увидеть на&nbsp;сайтах авиакомпаний.</p>
    <p>Летайте с&nbsp;нами!</p>
</div>

    </div>
    </div>
    <div class="l-footer">
        <%= render 'shared/footer' %>
    </div>
</div>
</div>
</body>
</html>
