<% content_for :title do %>Регистрация<% end %>
<div class="up-form">
<div class="upf-header">
    <h3 class="upf-title">Регистрация</h3>
    <div>
        <p class="upf-description">Подтверждение отправлено на&nbsp;ваш электронный адрес. Прочитайте письмо, чтобы завершить регистрацию.</p>
        <p class="upf-description" style="padding-bottom: 18px;"><%= link_to "Что делать, если ничего не пришло?", new_confirmation_path(resource_name) %></p>
    </div>
</div>
</div>
