<% content_for :title do %>Личный кабинет <%= current_customer.email.downcase %><% end %>
<% content_for :tabs do %>
<div id="profile-tabs">
<ul class="pt-content wrap">
    <li class="pt-item pt-selected">Заказы <span id="pt-amount"></span></li>
    <li class="pt-item">Пассажиры</li>
    <li class="pt-item">Подписки</li>
</ul>
</div>
<% end %>

<div id="orders" data-customer="<%= current_customer.id %>">
    <p class="orders-loading"><br></p>
</div>

<%= javascript_include_tag 'profile/orders' %>
