#offers-diagram .odpage {
    position: relative;
    margin-top: 30px;
}
#offers-diagram .segment {
    position: relative;
    margin: 0 0 10px;
}

#offers-diagram a.a-button {
    display: block;
    width: 60px;
    border-color: #7b8e12;
    padding: 0 4px;
    font-size: 14px;
}


#offers-diagram .bar {
    position: absolute;
    top: 3px;
    z-index: 1;
    font-size: 11px;
}
#offers-diagram .dpt,
#offers-diagram .arv,
#offers-diagram .flight,
#offers-diagram .layover {
    float: left;
}

#offers-diagram .dpt,
#offers-diagram .arv {
    visibility: hidden;
    width: 60px;
    padding-top: 2px;
    color: #666;
    cursor: default;
}
#offers-diagram .dpt {
    padding-right: 5px;
    text-align: right;
}
#offers-diagram .arv {
    padding-left: 5px;
}
#offers-diagram .bar:hover .dpt,
#offers-diagram .bar:hover .arv {
    visibility: inherit;
}


#offers-diagram .flight,
#offers-diagram .layover {
    overflow: hidden;
    border-top: 1px solid #E7ECEE;
    border-bottom: 1px solid #E7ECEE;
    padding: 0 4px;
    white-space: nowrap;
    cursor: pointer;
}
#offers-diagram .flight {
    background: #bcc3cc;
}
#offers-diagram .layover {
    background: #FFF;
}

/* Grid */
#offers-diagram .grid {
    position: absolute;
    top: -10px;
    height: 100%;
    padding-bottom: 10px;
    border-left: 1px solid #cfd4d6;
}
#offers-diagram .midnight {
    border-left: 1px solid #a1a5a6;
}
#offers-diagram .grid .time {
    position: absolute;
    left: -15px;
    top: -20px;
    width: 30px;
    font-size: 11px;
    text-align: center;
}