#offers-diagram .odpage {
    position: relative;
    margin-top: 10px;
}
.odcontent .segment {
    position: relative;
    z-index: 1;
    padding: 5px 15px;
    margin: 0 -15px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.odcontent a.a-button {
    display: block;
    width: 80px;
    border-color: #7b8e12;
    padding: 0 4px;
    font-size: 14px;
    text-align: center;
}

/* Bar */
.odcontent .bar {
    position: absolute;
    top: 8px;
    font-size: 11px;
}
.odcontent .dpt,
.odcontent .arv,
.odcontent .flight,
.odcontent .layover {
    float: left;
}

.odcontent .dpt,
.odcontent .arv {
    visibility: hidden;
    width: 60px;
    padding-top: 2px;
    color: #666;
}
.odcontent .dpt {
    padding-right: 5px;
    text-align: right;
}
.odcontent .arv {
    padding-left: 5px;
}


.odcontent .flight,
.odcontent .layover {
    overflow: hidden;
    border-top: 1px solid #E7ECEE;
    border-bottom: 1px solid #E7ECEE;
    padding: 0 4px;
    white-space: nowrap;
    cursor: pointer;
}
.odcontent .flight {
    background: #bcc3cc;
}
.odcontent .layover {
    background: #FFF;
}

/* Mouseover */
.odcontent .segment:hover {
    background: #f3f6f7;
    background: rgba(255, 255, 255, 0.5);
}
.odcontent .segment:hover .dpt,
.odcontent .segment:hover .arv {
    visibility: inherit;
}
.odcontent .segment:hover .flight,
.odcontent .segment:hover .layover {
    border-color: #f3f6f7;
}

/* Grid */
.odcontent .grid {
    position: absolute;
    top: 0;
    height: 100%;
    padding-bottom: 10px;
    border-left: 1px solid #cfd4d6;
}
.odcontent .midnight {
    border-left: 1px solid #a1a5a6;
}
.odcontent .times {
    position: absolute;
    left: -15px;
    top: 0;
    width: 30px;
    padding-bottom: 5px;
    background: #E7ECEE;
    font-size: 11px;
    text-align: center;
}

/* Cities */
.odcontent .locations {
    font-size: 11px;
    padding-bottom: 15px;    
}

/* Selected variant */
#offers-diagram .offer {
    width: 675px;
}