<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
	<meta charset="utf-8">
    <title>Eviterra — ваш электронный билет</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/favicon.png">
    <style type="text/css">
        html, body {margin: 0; padding: 0;}
        body {min-width: 976px;}
        #canvas {width: 916px; margin: 0 auto; padding: 40px 0;}
        #term {margin: 50px 0;}
    </style>
    <style type="text/css" media="print">
        #canvas {padding: 0;}
        #term {display: none;}
        #comment {display: none;}
        a {text-decoration: none;}
    </style>
</head>
<body>
<div id="canvas">

<% if @comment %>
    <p id="comment"><font color="#444"><%= simple_format(@comment) %></font></p>
<% end %>

<%= yield %>

</div>
<script type="text/javascript">
//window.print();
</script>
</body>
</html>
