/* ================ */
/*  правая панель   */
/* ================ */

.media {
    float: right;
    
    overflow: hidden;

    width: 240px;
    margin: 15px 15px 15px 0;

    background: transparent;
}

.media li {
    margin: 0 0 1em 0;

    background: #fff;
}

.media dl {
}

.media dt {
    padding: .3em .5em;

    color: #444;
    border-bottom: 1px solid #DDDDB1;
    background: #FFFFDB;
}

.media dd {
    padding: .3em .5em;
}

.media dd h3 {
    font-size: 75%;
    font-weight: bold;

    padding: .2em 0 0 0;
}
.media dd p {
    font-size: 75%;

    letter-spacing: -.01em;

    padding: .2em 0;

}

.media dd s {
    text-decoration: line-through;
    color: #333;
}

.media dd a {
    color: #6990B5;
}

.media dd a:hover {
    color: blue;
}
